$clr-1: rgb(100, 100, 255);
$clr-2: rgb(240, 240, 255);
$clr-3: rgb(220, 220, 255);
$clr-4: rgb(220, 220, 220);
$clr-5: rgb(230, 230, 230);
$clr-6: rgb(120, 120, 120);
$nav-bar-hght: 8vmax;
$transition-1: all 0.5s ease-out;
$fnt-1: Arial, Helvetica, sans-serif;

.bgd-clr-1 {
  background-color: $clr-1;
}

/* -------------------------------
TEXT
------------------------------- */

.hdng-1 {
  font-family: $fnt-1;
  font-size: 2vmax;
  margin: 0;
}

.hdng-2 {
  font-family: $fnt-1;
  font-size: 2.6vmax;
  margin: 0;
  letter-spacing: 0.3vmax;
}

.txt-1 {
  font-family: $fnt-1;
  font-size: 2vmax;
  line-height: 1.4;
  margin: 0;
}

.txt-2 {
  font-family: $fnt-1;
  font-size: 4.5vmax;
  letter-spacing: 0.3vmax;
  margin: 0;
}

.txt-3 {
  font-family: $fnt-1;
  font-size: 2.4vmax;
  letter-spacing: 0.2vmax;
  margin: 0;
}

.sbtl-1 {
  font-family: $fnt-1;
  font-size: 1.8vmax;
}

/* -------------------------------
TEXT-COLOR
------------------------------- */

.txt-clr-1 {
  color: rgb(60, 60, 60);
}

.txt-clr-2 {
  color: $clr-6;
}

.rmv-link-css {
  text-decoration: none;
}

body {
  margin: 0;
  height: 100vh;
}

* {
  box-sizing: border-box;
  transition: $transition-1;
}

.icn-1 {
  height: 8vmax;
  width: 8vmax;
  border-radius: 4vmax;
  background-color: $clr-2;
}

.nav-bar {
  height: $nav-bar-hght;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  overflow: hidden;
}

.nav-bar-hide {
  height: 0;
}

.nav-bar-top {
  position: fixed;
  top: 0;
  padding: 1vmax;
}

.nav-bar-btm {
  position: fixed;
  bottom: 0;
}

.nav-btn {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $clr-2;
  color: $clr-1;
  transition: $transition-1;
}

.nav-btn-untgl {
  background-color: $clr-1;
  color: $clr-2;
}

.nav-icn {
  height: 3.5vmax;
  width: 3.5vmax;
  background-color: rgb(200, 200, 200);
}

.nav-txt {
  padding: 0.5vmax 0 0 0;
  letter-spacing: 0.05vmax;
}

.user-menu-btn {
  height: 5vmax;
  width: 5vmax;
  border-radius: 2.5vmax;
  background-color: $clr-4;
}

.menu-btn {
  height: 6vmax;
  width: 6vmax;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 1vmax;
}

.menu-dash {
  height: 0.4vmax;
  border-radius: 0.2vmax;
  border-width: 0vmax;
  background-color: $clr-4;
  transition: $transition-1;
}

.menu-dash-1 {
  width: 40%;
}

.menu-dash-2 {
  width: 80%;
}

.menu-dash-3 {
  width: 60%;
}

.menu-dash-tgl {
  width: 100%;
}

.content {
  height: 100%;
  padding: $nav-bar-hght 0;
}

.msgs {
  background-color: $clr-2;
  opacity: 1;
}

.user-menu {
  background-color: $clr-3;
  opacity: 1;
  padding: 3vmax;
}

.user-menu-opts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
}

.user-menu-opt {
  padding: 3vmax;
}

.user-menu-opts-hide {
  height: 0;
}

.sd-bar {
  height: calc(100% - 16vmax);
  width: 100%;
  top: $nav-bar-hght;
  position: fixed;
  overflow-y: scroll;
  transition: $transition-1;
  z-index: 4;
}

.sd-bar-nav-bar-hide {
  height: calc(100% - 8vmax);
}

.cntt-untgl-lft {
  transform: translateX(-100%);
  z-index: 3;
  opacity: 0;
}

.cntt-untgl-rght {
  transform: translateX(100%);
  z-index: 3;
  opacity: 0;
}

.cntt-untgl-bot {
  transform: translateY(100%);
  z-index: 3;
  opacity: 0;
}

.page {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  z-index: 1;
}

/* -------------------------------
MESSAGES
------------------------------- */

.msgs-hdr {
  width: 100%;
  display: flex;
  padding: 1vw 4vw;
  justify-content: space-between;
  align-items: center;
  border-style: none none solid none;
  border-color: $clr-4;
}

@media only screen and (min-width: 850px) {
}
