<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <form id="admin-file-upload">
      <input type="file" name="file" id="file" />
    </form>
    <button onclick="upload();">Upload</button>
  </body>
  <script>
    const upload = async () => {
      const file = new FormData(document.querySelector("#admin-file-upload"));
      let data;
      try {
        data = (await axios.post("/admin/file/upload", file))["data"];
      } catch (error) {
        console.log(error);
        return;
      }
      console.log(data);
    };
  </script>
</html>
