<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin • Make • CreateBase</title>
  <!--===================================================
    CSS and JavaScript
    ====================================================-->
  <!-----------------------------------------------------
    Sourced
    ------------------------------------------------------>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-----------------------------------------------------
    Local
    ------------------------------------------------------>
  <link rel="stylesheet" href="/admin/stylesheets/make.css" />
  <script src="/admin/javascripts/make.js"></script>
</head>

<body onload="make.initialise();">
  <div id="makes"></div>
</body>

</html>