@import "global";

.page{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.unsubscribed-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;    
  color: $darker;
  padding: 0 2em;
  text-align: center;
  h1{
    font-size: 2em;
    padding-bottom: 0.5em;
  }
  .resubscribe-container{
    padding-bottom: 2em;
    a{
      color: $purple-logo;
      transition: color ease 0.3s;
      &:hover{
        color: $magenta-dark;
      }
    }
  }
  .home-btn{
    border-radius: 999px;
    background-color: $blue-mid;
    padding: 15px 35px;
    color: $lightest;
    transition: background-color ease 0.2s;
    cursor: pointer;
    &:hover{
      background-color: $blue-dark;
    }
  }
}