body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#discount-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(2px + 0.2vmax) 0;
  input, select {
    height: calc(12px + 1.2vmax);
    width: calc(100px + 10vmax);
    display: flex;
    align-items: center;
    padding: 0 calc(2px + 0.2vmax);
    margin: calc(6px + 0.6vmax) 0;
  }
}

button {
  height: calc(15px + 1.5vmax);
  width: calc(50px + 5vmax);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: calc(10px + 1vmax);
}

@media only screen and (min-width: 850px) {

}