body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#discount-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(2px + 0.2vmax) 0;
  input, select {
    height: calc(12px + 1.2vmax);
    width: calc(100px + 10vmax);
    display: flex;
    align-items: center;
    padding: 0 calc(2px + 0.2vmax);
    margin: calc(6px + 0.6vmax) 0;
  }
}

button {
  height: calc(15px + 1.5vmax);
  width: calc(50px + 5vmax);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: calc(10px + 1vmax);
}

#discounts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discount {
  width: calc(150px + 15vmax);
  display: flex;
  flex-direction: column;
  padding: calc(6px + 0.6vmax) 0;
}

.field {
  display: flex;
  h3, p {
    width: 50%;
    display: flex;
    font-family: sans-serif;
    font-size: calc(8px + 0.8vmax);
    font-weight: normal;
    margin: calc(2px + 0.2vmax) calc(6px + 0.6vmax);
  }
  h3 {
    justify-content: flex-end;
    font-weight: bold;
  }
}

@media only screen and (min-width: 850px) {

}