* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
}

input, input:before, input:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

nav,.mobile-notif-wrap,.notification-wrap,.main-page,.footer-section{
  &.hide {
    display: none;
  }
}

$logo-1: rgb(130, 88, 220); //#8258dc
$logo-2: rgb(104, 83, 217); //#6853d9
$logo-3: rgb(78, 78, 214); //#4e4ed6

$highlight: rgb(75, 240, 234); //#4bf0ea

$dark-3: rgb(45, 40, 60); //#2d283c
$dark-2: rgb(50, 45, 65); //#322d41
$dark-1: rgb(135, 125, 169); //#877da9

$light-1: rgb(255, 255, 255); //#ffffff
$light-2: rgb(248, 248, 248); //#f8f8f8
$light-3: rgb(199, 194, 213); //#c7c2d5

$montserrat: "Montserrat", sans-serif;
$poppins: "Poppins", sans-serif;
$didact: "Didact Gothic", sans-serif;
$quest: "Questrial", sans-serif;

$diamond: 10vmax;

$height-mobile: 7vmax;
$height-desktop: 3.5vmax;

.input-one {
  position: relative;
  display: inline-block;
  border-bottom: thin solid $light-2;
  height: calc(28px + 2.8vmax);

  input {
    border: none;
    width: 100%;
    font-family: $poppins;
    font-size: calc(8.4px + 0.84vmax);
    margin-top: calc(12.6px + 1.26vmax);
    background: transparent;

    &:focus {
      outline: none;
      padding-left: calc(7px + 0.7vmax);
    }
  }

  label {
    position: absolute;
    pointer-events: none;
    top: calc(10.5px + 1.05vmax);
    left: calc(3.5px + 0.35vmax);
    color: $dark-1;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 100;
    background: transparent;
    transition: all 0.2s ease-out;
  }

  input:focus ~ label,
  input:not(:focus):valid ~ label {
    top: 0px;
    font-size: 8px;
    color: $highlight;
  }

  input:not(:focus):valid ~ label {
    color: $dark-1;
  }

  input:hover ~ label {
    color: $highlight;
  }

  p {
    position: absolute;
    bottom: -15px;
    right: 0;
    font-size: 8px;
    color: red;
  }

  &::after,
  &:focus-within::after {
    content: "";
    border-bottom: thin solid $highlight;
    position: absolute;
    width: 0%;
    top: 100%;
    left: 0%;
    transition: all 0.5s ease-out;
  }

  &:focus-within::after {
    width: 100%;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    box-shadow: 0 0 0 30px white inset;
  }
}

@media only screen and (min-width: 850px) and (orientation: landscape) {

  .input-decor {
    height: 50px;

    input {
      margin-top: 22px;
      font-size: 16px;
    }

    label {
      left: 10px;
      top: 25px;
      font-size: 16px;
    }

    input:focus ~ label,
    input:not(:focus):valid ~ label {
      font-size: 10px;
    }

    p {
      bottom: -17px;
      font-size: 10px;
    }
  }
}
