<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="google-site-verification" content="jCLW2oztBuZES0mxGJLZjEslZAPCwbbN47Gw09AYwWM" />
  <link rel="icon" href="/public/images/logo-icon.png" />
  <title>CreateBase</title>
  <meta name="description"
    content="Our vision is a world where everybody has the skills and the confidence to bring their own ideas to life, where everybody can actively contribute towards solving the world’s problems. &#169; 2020 CreateBase.">
  <link rel="canonical" href="https://createbase.co.nz">
  <!-- =========================CSS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
  <!-- ------------------------CUSTOM------------------------ -->
  <link rel="stylesheet" href="/public/stylesheets/nav.min.css">
  <link rel="stylesheet" href="/public/stylesheets/contact.min.css">
</head>

<body onload="global.init.init(); contact.init.init();">

  <nav>
    <a href="/" class="nav-logo">
      <img src="/public/images/logo_full_svg.svg" class="long" alt="CreateBase">
      <img src="/public/images/logo-icon.png" class="small" alt="CreateBase">
    </a>
    <div class="hamburger hamburger-spin" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </div>
    <div class="nav-menu">
      <!-- <a href="/kits" class="nav-item">Kits</a> -->
      <!-- <a href="/story" class="nav-item">Our Story</a> -->
      <!-- <a href="/team" class="nav-item">The Team</a> -->
      <!-- <a href="/contact" class="nav-item">Contact Us</a> -->
      <a href="/contact" class="special-btn">Contact Us</a>
    </div>
  </nav>

  <div class="page">

    <h1>Let's touch base</h1>
    <h2>Contact us directly or use the form below and we'll get in touch as soon as we can</h2>

    <div class="bg-shape yellow">
      <img src="/public/images/contact/yellow.svg" alt="">
    </div>
    <div class="bg-shape teal">
      <img src="/public/images/contact/teal.svg" alt="">
    </div>
    <div class="bg-line left">
      <img src="/public/images/contact/left-line.svg" alt="">
    </div>
    <div class="bg-line right">
      <img src="/public/images/contact/right-line.svg" alt="">
    </div>

    <div class="form-container">
      <input type="text" id="name" maxlength="100" placeholder="Name*" />
      <div class="error-message name-error"></div>
      <input type="email" id="email" maxlength="100" placeholder="Email address*" />
      <div class="error-message email-error"></div>
      <input type="text" id="subject" maxlength="200" placeholder="Subject*" />
      <div class="error-message subject-error"></div>
      <textarea id="message" maxlength="1000" placeholder="Message*"></textarea>
      <div class="error-message message-error"></div>
      <div class="send-btn">Send</div>
    </div>

    <div class="blue-container">
      <img src="/public/images/contact/plane.svg" alt="Plane">
      <div class="address-container">
        <h3>CreateBase</h3>
        <div>24 York Street</div>
        <div>Parnell</div>
        <div>Auckland 1052</div>
        <div>New Zealand</div>
      </div>
      <div class="connect-container">
        <a href="tel:+64-211-543-805" target="_blank"><i class="material-icons-outlined">call</i>+64 211 543 805</a>
        <a href="mailto:admin@createbase.co.nz" target="_blank"><i
            class="material-icons-outlined">email</i>admin@createbase.co.nz</a>
      </div>
    </div>

  </div>

  <footer>
    <div class="footer-container prop">
      <div class="value-prop">Gain the skills, tools, and confidence to unleash your innder creator.</div>
      <div class="brand-prop">Create your awesome.</div>
    </div>
    <div class="footer-container subscribe">
      <h5>Be the first to know</h5>
      <div class="footer-subscribe">
        <input id="footer-input" type="text" placeholder="Email" maxlength="100">
        <i class="footer-btn material-icons-round">send</i>
      </div>
      <div class="footer-error"></div>
    </div>
    <div class="footer-container quick-links">
      <h5>Quick Links</h5>
      <a href="/kits">Kits</a>
      <a href="/story">Our Story</a>
      <a href="/team">The Team</a>
    </div>
    <div class="footer-container policies">
      <h5>Policies</h5>
      <a href="/terms">Terms</a>
      <a href="/privacy">Privacy</a>
    </div>
    <div class="footer-container contact">
      <h5>We'd love to hear from you</h5>
      <a href="tel:+64-211-543-805" target="_blank"><i class="material-icons-outlined">call</i>+64 211 543 805</a>
      <a href="mailto:admin@createbase.co.nz" target="_blank"><i
          class="material-icons-outlined">email</i>admin@createbase.co.nz</a>
      <a href="https://goo.gl/maps/BCFTQTpLg4MXqg3aA" target="_blank"><i class="material-icons-outlined">map</i>24 York
        Street, AKL, NZ</a>
      <div class="footer-socials">
        <a href="https://www.facebook.com/CreateBaseNZ" class="fab fa-facebook-square" target="_blank"></a>
        <a class="fab fa-instagram" href="https://www.instagram.com/createbasenz/" target="_blank"></a>
        <a class="fab fa-twitter" href="https://twitter.com/CreateBaseNZ" target="_blank"></a>
        <a class="fab fa-youtube"
          href="https://www.youtube.com/channel/UClLBwFvHpGrRpxyRg1IOB0g/featured?view_as=subscriber"
          target="_blank"></a>
      </div>
    </div>
    <div class="copyright">
      &#169; 2020 CreateBase. All rights reserved.
    </div>
  </footer>

  <div class="notif-wrapper">
    <div class="popup"></div>
  </div>

  <!-- ==========================JS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <script async src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script async src="https://kit.fontawesome.com/b382730141.js" crossorigin="anonymous"></script>
  <!-- ------------------------CUSTOM------------------------ -->
  <script async src="/public/javascripts/nav.js"></script>
  <script async src="/public/javascripts/footer.js"></script>
  <script async src="/public/javascripts/notification.js"></script>
  <script async src="/public/javascripts/global.js"></script>
  <script async src="/public/javascripts/contact.js"></script>
</body>

</html>