<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="google-site-verification" content="jCLW2oztBuZES0mxGJLZjEslZAPCwbbN47Gw09AYwWM" />
  <link rel="icon" href="/public/images/logo-icon.png" />
  <title>Home • CreateBase</title>
  <meta name="description"
    content="Our vision is a world where everybody has the skills and the confidence to bring their own ideas to life, where everybody can actively contribute towards solving the world’s problems. &#169; 2020 CreateBase.">
  <link rel="canonical" href="https://createbase.co.nz">
  <!-- =========================CSS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <!-- ------------------------CUSTOM------------------------ -->
  <link rel="stylesheet" href="/public/stylesheets/nav.min.css">
  <link rel="stylesheet" href="/public/stylesheets/home.min.css">

  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1149429065520266');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1149429065520266&ev=PageView&noscript=1"
  /></noscript>
</head>

<body onload="global.init.init(); home.init.init();">

  <nav>
    <a href="/" class="nav-logo">
      <img src="/public/images/logo_full_svg.svg" class="long" alt="CreateBase">
      <img src="/public/images/logo-icon.png" class="small" alt="CreateBase">
    </a>
    <div class="hamburger hamburger-spin" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </div>
    <div class="nav-menu">
      <!-- <a href="/kits" class="nav-item">Kits</a> -->
      <!-- <a href="/story" class="nav-item">Our Story</a> -->
      <!-- <a href="/team" class="nav-item">The Team</a> -->
      <!-- <a href="/contact" class="nav-item">Contact Us</a> -->
      <a href="/contact" class="special-btn">Contact Us</a>
    </div>
  </nav>

  <div class="page">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide-1">
          <h2>Unleash your inner creator</h2>
          <div class="slide-caption">Learn the creation process from the initial idea to final outcome with engaging <span>Projects</span>, cutting-edge <span>Simulations</span>, and frequent <span>Challenges</span></div>
          <img src="/public/images/home/slide-1-shape.svg" class="line" alt="">
          <img src="/public/images/home/slide-1-desk.png" class="slide-img desk" alt="Robotic Arm">
          <img src="/public/images/home/slide-1-arm.png" class="slide-img arm" alt="Robotic Arm">
          <img src="/public/images/home/slide-1-motor.png" class="slide-img motor" alt="Robotic Arm">
          <img src="/public/images/home/slide-1-arduino.png" class="slide-img arduino" alt="Robotic Arm">
          <img src="/public/images/home/slide-1-wires.png" class="slide-img wires" alt="Robotic Arm">
        </div>
        <div class="swiper-slide slide-2">
          <h2>Kickstarter coming soon!</h2>
          <div class="slide-caption">Be the first to hear about our <span>Kickstarter launch</span> and snag exclusive early-bird deals</div>
          <a href="/contact" class="slide-btn">Learn More</a>
          <img src="/public/images/home/slide-2-shape-1.svg" class="line-1" alt="">
          <img src="/public/images/home/slide-2-shape-2.svg" class="line-2" alt="">
          <img src="/public/images/home/slide-2-cb.svg" class="slide-img cb" alt="CreateBase">
          <img src="/public/images/home/slide-2-ks.svg" class="slide-img ks" alt="Kickstarter">
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <div class="how-section">
      <h2>How it works</h2>
      <div class="how-subsection learn">
        <img src="/public/images/home/side-shape-1.svg" class="side-img-left" alt="">
        <img src="/public/images/home/learn.png" alt="learn" class="how-section-img">
        <div class="how-section-title">
          <h3>Learn.</h3>
          <h4>Projects</h4>
        </div>
        <div class="how-section-caption">Learn how to bring your ideas to life by completing Projects. You will be guided through the process of creating real-world, authentic solutions to problems using our 5-step Creation Process.</div>
      </div>
      <div class="dotted-lines odd">
        <div class="upper-curve"></div>
        <div class="lower-curve"></div>
      </div>
      <div class="how-subsection create">
        <img src="/public/images/home/create.png" alt="create" class="how-section-img">
        <div class="how-section-title">
          <h3>Create.</h3>
          <h4>Simulations</h4>
        </div>
        <div class="how-section-caption">Build, program, and explore realistic solutions within a simulated environment. See your Project solutions come to life and build robotic systems that you would never have access to in the real world.</div>
      </div>
      <div class="dotted-lines even">
        <div class="upper-curve"></div>
        <div class="lower-curve"></div>
      </div>
      <div class="how-subsection apply">
        <img src="/public/images/home/side-shape-2.svg" class="side-img-right" alt="">
        <img src="/public/images/home/apply.png" alt="apply" class="how-section-img">
        <div class="how-section-title">
          <h3>Apply.</h3>
          <h4>Challenges</h4>
        </div>
        <div class="how-section-caption">Test your problem-solving abilities, apply the skills that you have learnt and compete with others by completing periodically-released Challenges.
          <br>
        Become your own technology creator: take all the skills, tools, and processes that you have learnt and apply them in your own life.
        </div>
      </div>
    </div>

    <div class="ecosystem-section">
      <div class="img-wrapper">
        <div class="img-container create">
          <img src="/public/images/home/ecosystem-create.png" alt="Create">
        </div>
        <div class="img-container learn">
          <img src="/public/images/home/ecosystem-learn.png" alt="Learn">
        </div>
        <div class="img-container apply">
          <img src="/public/images/home/ecosystem-apply.png" alt="Apply">
        </div>
        <img src="/public/images/home/ecosystem-game.png" class="ecosystem-main" alt="Ecosystem">
      </div>
      <h2>One integrated <span>Ecosystem</span></h2>
      <div id="subscribe-anchor" class="ecosystem-caption">All of our offerings are delivered via one integrated experience. Story content and a virtual world makes it more fun than ever to learn how to create!</div>
    </div>

    <div class="subscribe-section">
      <div class="subscribe-subsection">
        <h2>Subscribe to our newsletter</h2>
        <div class="subscribe-caption">Keep up with the latest projects, updates, and events from us!</div>
      </div>
      <div class="subscribe-subsection input-subsection">
        <div class="home-subscribe-container">
          <input type="email" name="email" id="home-subscribe" maxlength="100" placeholder="Enter your email address"/>
          <div class="home-subscribe-btn"></div>
        </div>
        <div class="home-subscribe-error"></div>
      </div>
    </div>

    <div class="people-section">
      <h2>People we've worked with</h2>
      <div class="people-container">
        <a href="https://www.redbull.com/nz-en/Red-Bull-Basement-University-NZ" class="people-logo" target="_blank">
          <img src="/public/images/home/redbull.png" alt="Red Bull Basement" />
        </a>
        <a href="https://www.hatch.nz/" target="_blank">
          <img src="/public/images/home/hatch.png" alt="Hatch" />
        </a>
        <a href="https://www.velocity.auckland.ac.nz/" target="_blank">
          <img src="/public/images/home/velocity.png" alt="Velocity" />
        </a>
        <a href="https://www.cie.auckland.ac.nz/unleash-space/" target="_blank">
          <img src="/public/images/home/unleash.png" alt="Unleash Space" />
        </a>
        <a href="https://www.auckland.ac.nz/en/engineering.html" target="_blank">
          <img src="/public/images/home/uoa.png" alt="The University of Auckland" />
        </a>
        <a href="https://www.yoobee.ac.nz/" target="_blank">
          <img src="/public/images/home/yoobee.png" alt="Yoobee" />
        </a>
        <a href="https://www.gettinglost.co.nz/" target="_blank">
          <img src="/public/images/home/getting-lost.png" alt="Getting Lost" />
        </a>
          
      </div>
    </div>
  </div>

  <footer>
    <div class="footer-container prop">
      <div class="value-prop">Gain the skills, tools, and confidence to unleash your inner technology creator.</div>
      <div class="brand-prop">Create your awesome.</div>
    </div>
    <div class="footer-container subscribe">
      <h5>Be the first to know</h5>
      <div class="footer-subscribe">
        <input id="footer-input" type="text" placeholder="Email" maxlength="100">
        <i class="footer-btn material-icons-round">send</i>
      </div>
      <div class="footer-error"></div>
    </div>
    <div class="footer-container quick-links">
      <h5>Quick Links</h5>
      <a href="/kits">Kits</a>
      <a href="/story">Our Story</a>
      <a href="/team">The Team</a>
    </div>
    <div class="footer-container policies">
      <h5>Policies</h5>
      <a href="/terms">Terms</a>
      <a href="/privacy">Privacy</a>
    </div>
    <div class="footer-container contact">
      <h5>We'd love to hear from you</h5>
      <a href="tel:+64-211-543-805" target="_blank"><i class="material-icons-outlined">call</i>+64 211 543 805</a>
      <a href="mailto:admin@createbase.co.nz" target="_blank"><i class="material-icons-outlined">email</i>admin@createbase.co.nz</a>
      <a href="https://goo.gl/maps/d4GkA1aeSiZWztcVA" target="_blank"><i class="material-icons-outlined">map</i>24 York Street, AKL, NZ</a>
      <div class="footer-socials">
        <a href="/https://www.facebook.com/CreateBaseNZ" class="fab fa-facebook-square" target="_blank"></a>
        <a class="fab fa-instagram" href="https://www.instagram.com/createbasenz/" target="_blank"></a>
        <a class="fab fa-twitter" href="https://twitter.com/CreateBaseNZ" target="_blank"></a>
        <a class="fab fa-youtube" href="https://www.youtube.com/channel/UClLBwFvHpGrRpxyRg1IOB0g/featured?view_as=subscriber" target="_blank"></a>
      </div>
    </div>
    <div class="copyright">
      &#169; 2020 CreateBase. All rights reserved.
    </div>
  </footer>

  <div class="notif-wrapper">
    <div class="popup"></div>
  </div>

  <!-- ==========================JS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <script async src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script async src="https://kit.fontawesome.com/b382730141.js" crossorigin="anonymous"></script>
  <script async src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <!-- ------------------------CUSTOM------------------------ -->
  <script async src="/public/javascripts/nav.js"></script>
  <script async src="/public/javascripts/footer.js"></script>
  <script async src="/public/javascripts/notification.js"></script>
  <script async src="/public/javascripts/global.js"></script>
  <script async src="/public/javascripts/home.js"></script>
</body>

</html>