<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="/public/images/logo-icon.png" />
  <title>Make • CreateBase</title>
  <!-- =========================CSS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Poppins:wght@300;400;600;700&display=swap"
    rel="stylesheet">
  <!-- ------------------------CUSTOM------------------------ -->
  <link rel="stylesheet" href="/public/stylesheets/make.css" />
</head>

<body onload="make.initialise();">

  <nav class="hide">
    <div class="nav-darken-overlay" onclick="navigation.exitModal();"></div>
    <div class="nav-top-bar">
      <button class="hamburger hamburger-spin" onclick="navigation.toggleLeftMenu();" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <a class="nav-home-btn" href="/" id="nav-home-btn"></a>
      <div class="nav-in" id="nav-in" onclick="navigation.toggleRightMenu();"></div>
      <div class="nav-mobile-out" id="nav-mobile-out" onclick="navigation.toggleRightMenu();"></div>
      <div class="nav-desktop-out">
        <a href="/login" id="nav-user-login">LOG IN</a>
        <a class="grad-btn" href="/signup" id="nav-user-signup">SIGN UP</a>
      </div>
    </div>
    <div class="nav-side-menus">
      <div class="nav-left-menu-wrap">
        <div class="nav-left-menu">
          <div class="nav-side-menu-links">
            <p class="nav-side-header">CREATEBASE</p>
            <a class="nav-side-item" href="/make">MAKE</a>
            <a class="nav-side-item" href="/products/engkits">KITS</a>
            <a class="nav-side-item" href="/services/marketplace">SHOP</a>
            <p class="nav-side-header">INFO</p>
            <a class="nav-side-item" href="/services/3d-printing">3D PRINTING</a>
            <a class="nav-side-item" href="/products/engkits">ENGINEERING KITS</a>
            <a class="nav-side-item" href="/services/marketplace">MARKETPLACE</a>
            <a class="nav-side-item" href="/faq">FAQ</a>
            <p class="nav-side-header">ABOUT</p>
            <a class="nav-side-item" href="/story">OUR STORY</a>
            <a class="nav-side-item" href="/team">THE TEAM</a>
            <a class="nav-side-item" href="/contact">CONTACT US</a>
          </div>
          <div class="nav-side-socials">
            <a class="fab fa-facebook-square" href="https://www.facebook.com/CreateBase-110365053954978/?view_public_for=110365053954978" target="_blank"></a>
            <a class="fab fa-instagram" href="https://www.instagram.com/createbasenz/" target="_blank"></a>
            <a class="fab fa-twitter" href="https://twitter.com/CreateBaseNZ" target="_blank"></a>
            <a class="fab fa-youtube" href="https://www.youtube.com/channel/UClLBwFvHpGrRpxyRg1IOB0g/featured?view_as=subscriber" target="_blank"></a>
          </div>
        </div>
      </div>
      <div class="nav-right-menu-out">
        <div class="nav-right-menu">
          <p class="nav-side-header">WELCOME BACK</p>
          <a class="nav-side-item" href="/login">LOG IN</a>
          <p class="nav-side-header">FIRST TIME?</p>
          <a class="nav-side-item" href="/signup">SIGN UP</a>
        </div>
      </div>
      <div class="nav-right-menu-in">
        <div class="nav-right-menu" id="nav-right-menu">
          <p class="nav-side-header" id="nav-right-greeting"></p>
          <a class="nav-side-item" href="/profile">DASHBOARD</a>
          <a class="nav-side-item" href="/profile/projects">MY PROJECTS</a>
          <a class="nav-side-item" href="/profile/orders">MY ORDERS</a>
          <a class="nav-side-item" href="/profile/settings">SETTINGS</a>
          <a class="nav-side-signout" href="/logout">SIGN OUT</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="hide" id="mobile-notif-wrap">
  </div>

  <div class="hide" id="notification-wrap">
    <div id="cookie-container" class="hide">
      <div class="cookie-message-container">
        <p>We use cookies and similar technologies in order to offer you a personalised online experience and to analyse
          our traffic.</p>
      </div>
      <div class="btn-group">
        <button id="cancel" onclick="session.cancel();">DON'T ALLOW</button>
        <button id="submit" class="grad-btn" onclick="session.allow();">ALLOW ALL</button>
      </div>
    </div>
  </div>

  <div class="full-page-loading">
    <div class="loading-icon">
      <div class="layer layer-1"></div>
      <div class="layer layer-2"></div>
      <div class="layer layer-3"></div>
    </div>
    <p>Setting up Base</p>
  </div>

  <div class="main-page hide">
    <!--INPUTS-->
    <form id="make-inputs" class="hide-element">
      <input type="file" name="file" id="make-file" accept=".stl, .obj, .3mf"
        onchange="make.upload.change(); make.viewerUpload(event);" />
      <input type="radio" name="build" id="make-quick-build" value="quick"
        onchange="make.buildType.change(this.value, this.checked); make.buildType.validation.validate();" />
      <input type="radio" name="build" id="make-custom-build" value="custom"
        onchange="make.buildType.change(this.value, this.checked); make.buildType.validation.validate();" />
      <input type="radio" name="quick" id="make-prototype-build" value="prototype"
        onchange="make.buildType.validation.validate();" />
      <input type="radio" name="quick" id="make-mechanical-build" value="mechanical"
        onchange="make.buildType.validation.validate();" />
      <input type="radio" name="material" id="make-fdm-pla-material" value="fdm-pla"
        onchange="make.buildOptions.material.select('fdm', 'pla');" />
      <input type="radio" name="material" id="make-fdm-abs-material" value="fdm-abs"
        onchange="make.buildOptions.material.select('fdm', 'abs');" />
      <input type="radio" name="material" id="make-fdm-petg-material" value="fdm-petg"
        onchange="make.buildOptions.material.select('fdm', 'petg');" />
      <input type="radio" name="quality" id="make-draft-quality" value="draft"
        onchange="make.buildOptions.quality.select('draft');" />
      <input type="radio" name="quality" id="make-normal-quality" value="normal"
        onchange="make.buildOptions.quality.select('normal');" />
      <input type="radio" name="quality" id="make-high-quality" value="high"
        onchange="make.buildOptions.quality.select('high');" />
      <input type="radio" name="strength" id="make-normal-strength" value="normal"
        onchange="make.buildOptions.strength.select('normal');" />
      <input type="radio" name="strength" id="make-strong-strength" value="strong"
        onchange="make.buildOptions.strength.select('strong');" />
      <input type="radio" name="strength" id="make-solid-strength" value="solid"
        onchange="make.buildOptions.strength.select('solid');" />
      <input type="radio" name="colour" id="make-pla-any-colour" value="any"
        onchange="make.orderDetails.colour.select('fdm','pla','any');" />
      <input type="radio" name="colour" id="make-pla-white-colour" value="white"
        onchange="make.orderDetails.colour.select('fdm','pla','white');" />
      <input type="radio" name="colour" id="make-pla-black-colour" value="black"
        onchange="make.orderDetails.colour.select('fdm','pla','black');" />
      <input type="radio" name="colour" id="make-abs-any-colour" value="any"
        onchange="make.orderDetails.colour.select('fdm','abs','any');" />
      <input type="radio" name="colour" id="make-abs-white-colour" value="white"
        onchange="make.orderDetails.colour.select('fdm','abs','white');" />
      <input type="radio" name="colour" id="make-abs-black-colour" value="black"
        onchange="make.orderDetails.colour.select('fdm','abs','black');" />
      <input type="radio" name="colour" id="make-petg-any-colour" value="any"
        onchange="make.orderDetails.colour.select('fdm','petg','any');" />
      <input type="radio" name="colour" id="make-petg-white-colour" value="white"
        onchange="make.orderDetails.colour.select('fdm','petg','white');" />
      <input type="radio" name="colour" id="make-petg-black-colour" value="black"
        onchange="make.orderDetails.colour.select('fdm','petg','black');" />
    </form>
    <!--UPLOAD FILE-->

    <div class="make-page upload" id="make-upload">
      <h1 class="rmv-h-css heading" id="make-upload-heading">
        Upload a File
      </h1>
      <div class="make-file-upload-button">
        <label for="make-file">Upload</label>
      </div>
      <div class="make-file-input">
        <h3 class="rmv-h-css" id="make-file-name">No File Uploaded</h3>
        <p class="rmv-p-css" id="make-file-error"></p>
      </div>
      <div class="button">
        <div class="button-5">
          <button class="rmv-btn-css button-5-back hide">
            <div class="button-5-back-icon"></div>
          </button>
          <button id="make-upload-next" class="rmv-btn-css button-5-next disable">
            <div class="button-5-next-message">Continue</div>
            <div class="button-5-next-icon">
              <div class="right"></div>
            </div>
          </button>
        </div>
      </div>
    </div>

    <!--BUILD TYPE-->
    <div class="make-page build-type disable hide-right" id="make-build-type">
      <h1 class="rmv-h-css heading" id="make-build-type-heading">
        Choose Build Type
      </h1>
      <div class="make-build-type-inputs">
        <label for="make-quick-build" id="make-quick-build-input">Quick</label>
        <label for="make-custom-build" id="make-custom-build-input">Custom</label>
      </div>
      <div class="make-quick-build-options" id="make-quick-build-options">
        <label for="make-prototype-build" id="make-prototype-build-input">Prototype</label>
        <label for="make-mechanical-build" id="make-mechanical-build-input">Mechanical</label>
      </div>
      <div class="button">
        <div class="button-5">
          <button class="rmv-btn-css button-5-back" onclick="make.upload.show();">
            <div class="button-5-back-icon"></div>
          </button>
          <button id="make-build-type-next" class="rmv-btn-css button-5-next disable">
            <div class="button-5-next-message">
              Continue
            </div>
            <div class="button-5-next-icon">
              <div class="right"></div>
            </div>
          </button>
        </div>
      </div>
    </div>

    <!--BUILD OPTIONS-->

    <div class="make-page build-options disable hide-right" id="make-build-options">
      <h1 class="rmv-h-css heading" id="make-build-options-heading">
        Set Build Options
      </h1>
      <div class="make-build-option">
        <h2 class="rmv-h-css">Material</h2>
        <h3 class="rmv-h-css">FDM</h3>
        <div class="make-build-option-inputs">
          <label for="make-fdm-pla-material" id="make-fdm-pla-material-input">PLA</label>
          <label for="make-fdm-abs-material" id="make-fdm-abs-material-input">ABS</label>
          <label for="make-fdm-petg-material" id="make-fdm-petg-material-input">PETG</label>
        </div>
      </div>
      <div class="make-build-option">
        <h2 class="rmv-h-css">Quality</h2>
        <div class="make-build-option-inputs">
          <label for="make-draft-quality" id="make-draft-quality-input">Draft</label>
          <label for="make-normal-quality" id="make-normal-quality-input">Normal</label>
          <label for="make-high-quality" id="make-high-quality-input">High</label>
        </div>
      </div>
      <div class="make-build-option">
        <h2 class="rmv-h-css">Strength</h2>
        <div class="make-build-option-inputs">
          <label for="make-normal-strength" id="make-normal-strength-input">Normal</label>
          <label for="make-strong-strength" id="make-strong-strength-input">Strong</label>
          <label for="make-solid-strength" id="make-solid-strength-input">Solid</label>
        </div>
      </div>
      <div class="button">
        <div class="button-5">
          <button class="rmv-btn-css button-5-back" onclick="make.buildType.show();">
            <div class="button-5-back-icon"></div>
          </button>
          <button id="make-build-options-next" class="rmv-btn-css button-5-next disable">
            <div class="button-5-next-message">Continue</div>
            <div class="button-5-next-icon">
              <div class="right"></div>
            </div>
          </button>
        </div>
      </div>
    </div>

    <!--ORDER DETAILS-->

    <div class="make-page order-details disable hide-right" id="make-order-details">
      <h1 class="rmv-h-css heading" id="make-order-details-heading">
        Set Order Details
      </h1>
      <div class="make-order-detail">
        <h2 class="rmv-h-css">Colour</h2>
        <div class="make-order-detail-inputs hide-element" id="make-pla-colours">
          <label for="make-pla-any-colour" id="make-pla-any-colour-input">Any</label>
          <label for="make-pla-white-colour" id="make-pla-white-colour-input">White</label>
          <label for="make-pla-black-colour" id="make-pla-black-colour-input">Black</label>
        </div>
        <div class="make-order-detail-inputs hide-element" id="make-abs-colours">
          <label for="make-abs-any-colour" id="make-abs-any-colour-input">Any</label>
          <label for="make-abs-white-colour" id="make-abs-white-colour-input">White</label>
          <label for="make-abs-black-colour" id="make-abs-black-colour-input">Black</label>
        </div>
        <div class="make-order-detail-inputs hide-element" id="make-petg-colours">
          <label for="make-petg-any-colour" id="make-petg-any-colour-input">Any</label>
          <label for="make-petg-white-colour" id="make-petg-white-colour-input">White</label>
          <label for="make-petg-black-colour" id="make-petg-black-colour-input">Black</label>
        </div>
      </div>
      <div class="make-order-detail">
        <h2 class="rmv-h-css">Quantity</h2>
        <div class="make-order-detail-inputs">
          <div class="make-quantity-container">
            <button class="rmv-btn-css subtract disable" id="make-quantity-subtract"
              onclick="make.orderDetails.quantity.subtract();"></button>
            <input type="number" name="quantity" id="make-quantity" value="0"
              onchange="make.orderDetails.quantity.change(Number(this.value));" />
            <button class="rmv-btn-css add" onclick="make.orderDetails.quantity.add();"></button>
          </div>
        </div>
      </div>
      <div class="button">
        <div class="button-5">
          <button class="rmv-btn-css button-5-back" onclick="make.buildOptions.show();">
            <div class="button-5-back-icon"></div>
          </button>
          <button class="rmv-btn-css button-5-next disable" id="make-order-details-next">
            <div class="button-5-next-message">Continue</div>
            <div class="button-5-next-icon">
              <div class="right"></div>
            </div>
          </button>
        </div>
      </div>
    </div>

    <!--COMPLETE-->

    <div class="make-page complete disable hide-right" id="make-complete">
      <h1 class="rmv-h-css heading" id="make-complete-heading">Complete</h1>
      <div class="make-complete">
        <label for="make-note">Note</label>
        <textarea name="note" id="make-note"></textarea>
      </div>
      <div class="button">
        <div class="button-5">
          <button class="rmv-btn-css button-5-back" onclick="make.orderDetails.show();">
            <div class="button-5-back-icon"></div>
          </button>
          <button class="rmv-btn-css button-5-next" id="make-complete-next">
            <div class="button-5-next-message" id="make-complete-submit-message">
              Add to Cart
            </div>
            <div class="button-5-next-icon" id="make-complete-submit-icon">
              <div class="right"></div>
            </div>
            <div class="button-5-next-message idle" id="make-complete-processing-message">
              Processing
            </div>
            <div class="button-5-next-icon idle" id="make-complete-processing-icon">
              <div class="load-2">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div class="button-5-next-message idle" id="make-complete-success-message">
              Success
            </div>
            <div class="button-5-next-icon idle" id="make-complete-success-icon"></div>
          </button>
        </div>
      </div>
    </div>

    <!--VALIDATION-->

    <div id="make-validations">
      <div id="make-validation-hover" class="upload"></div>
      <div id="make-upload-validation" class="make-validation select">
        <div id="make-upload-validation-icon" class="icon">1</div>
        <div class="message">Upload a File</div>
      </div>
      <div id="make-build-type-validation" class="make-validation disable">
        <div id="make-build-type-validation-icon" class="icon">2</div>
        <div class="message">Choose Build Type</div>
      </div>
      <div id="make-build-options-validation" class="make-validation disable">
        <div id="make-build-options-validation-icon" class="icon">3</div>
        <div class="message">Set Build Options</div>
      </div>
      <div id="make-order-details-validation" class="make-validation disable">
        <div id="make-order-details-validation-icon" class="icon">4</div>
        <div class="message">Set Order Details</div>
      </div>
      <div id="make-complete-validation" class="make-validation disable">
        <div id="make-complete-validation-icon" class="icon">5</div>
        <div class="message">Add to Cart</div>
      </div>
    </div>

    <!--SUMMARY-->

    <div id="make-summary">
      <div id="make-summary-file-container" class="make-summary-container">
        <h3 class="rmv-h-css">File:</h3>
        <p id="make-summary-file" class="rmv-p-css"></p>
      </div>
      <div id="make-summary-build-type-container" class="make-summary-container">
        <h3 class="rmv-h-css">Build:</h3>
        <p id="make-summary-build-type" class="rmv-p-css"></p>
      </div>
      <div id="make-summary-quick-build-container" class="make-summary-container">
        <h3 class="rmv-h-css">Quick:</h3>
        <p id="make-summary-quick-build" class="rmv-p-css"></p>
      </div>
      <div id="make-summary-process-container" class="make-summary-container">
        <h3 class="rmv-h-css">Process:</h3>
        <p id="make-summary-process" class="rmv-p-css"></p>
      </div>
      <div id="make-summary-material-container" class="make-summary-container">
        <h3 class="rmv-h-css">Material:</h3>
        <p id="make-summary-material" class="rmv-p-css"></p>
      </div>
      <div id="make-summary-quality-container" class="make-summary-container">
        <h3 class="rmv-h-css">Quality:</h3>
        <p id="make-summary-quality" class="rmv-p-css"></p>
      </div>
      <div id="make-summary-strength-container" class="make-summary-container">
        <h3 class="rmv-h-css">Strength:</h3>
        <p id="make-summary-strength" class="rmv-p-css"></p>
      </div>
      <div id="make-summary-colour-container" class="make-summary-container">
        <h3 class="rmv-h-css">Colour:</h3>
        <p id="make-summary-colour" class="rmv-p-css"></p>
      </div>
      <div id="make-summary-quantity-container" class="make-summary-container">
        <h3 class="rmv-h-css">Quantity:</h3>
        <p id="make-summary-quantity" class="rmv-p-css">0</p>
      </div>
    </div>

    <!-- VIEWER -->
    <div id="make-viewer"></div>

  </div>
  <!-- ==========================JS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <script async src="https://js.stripe.com/v3/"></script>
  <script async src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script async src="https://kit.fontawesome.com/b382730141.js" crossorigin="anonymous"></script>
  <script defer src="/public/javascripts/viewer/three.min.js"></script>
  <script defer src="/public/javascripts/viewer/STLLoader.js"></script>
  <script defer src="/public/javascripts/viewer/OrbitControls.js"></script>
  <!-- ------------------------CUSTOM------------------------ -->
  <script async src="/public/javascripts/global/footer.js"></script>
  <script async src="/public/javascripts/global/nav.js"></script>
  <script async src="/public/javascripts/global/session.js"></script>
  <script async src="/public/javascripts/global/notification.js"></script>
  <script async src="/public/javascripts/global.js"></script>
  <script defer src="/public/javascripts/make.js"></script>
</body>

</html>