<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="/public/images/logo-icon.png" />
  <title>Privacy Policy • CreateBase</title>
  <meta name="description"
    content="Learn about how we keep your data safe with us, including how we use it, what it's used for, who we share it with, and opting out. &#169; 2021 CreateBase.">
  <link rel="canonical" href="https://createbase.co.nz">
  <!-- =========================CSS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
  <!-- ------------------------CUSTOM------------------------ -->
  <link rel="stylesheet" href="/public/stylesheets/nav.min.css" />
  <link rel="stylesheet" href="/public/stylesheets/privacy.min.css" />
</head>

<body onload="global.init.init(); priv.init.init();">

  <nav>
    <a href="/" class="nav-logo">
      <img src="/public/images/logo_full_svg.svg" class="long" alt="CreateBase">
      <img src="/public/images/logo-icon.png" class="small" alt="CreateBase">
    </a>
    <div class="hamburger hamburger-spin" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </div>
    <div class="nav-menu">
      <!-- <a href="/kits" class="nav-item">Kits</a> -->
      <!-- <a href="/story" class="nav-item">Our Story</a> -->
      <!-- <a href="/team" class="nav-item">The Team</a> -->
      <!-- <a href="/contact" class="nav-item">Contact Us</a> -->
      <a href="/contact" class="special-btn">Contact Us</a>
    </div>
  </nav>

  <div class="page">
    <ol class="priv-menu-list">
      <li class="priv-selected" onclick='window.location.href="#priv-1"'>What we collect</li>
      <li onclick='window.location.href="#priv-2"'>What it's used for</li>
      <li onclick='window.location.href="#priv-3"'>Who we share with</li>
      <li onclick='window.location.href="#priv-4"'>Opting out</li>
      <li onclick='window.location.href="#priv-5"'>Additional info</li>
    </ol>
    <div class="priv-body-wrap">
      <div id="priv-1" class="title-container">
        <h4></h4>
        <h1>Privacy Policy</h1>
      </div>
      <div class="content-wrap">
        <div class="content-section">
          <h2>What we collect</h2>
          <p>We collect personal information from you, including information about your:</p>
          <ul>
            <li>Name</li>
            <li>Contact information</li>
            <li>Interactions with us</li>
            <li>Billing or purchasing information</li>
          </ul>
        </div>
        <div id="priv-2" class="content-section">
          <h2>What it's used for</h2>
          <p>We collect your personal information in order to:</p>
          <ul>
            <li>Create and process orders</li>
            <li>Send orders for shipping</li>
            <li>Process transactions</li>
            <li>Personalise the user experience</li>
            <li>Personalise product recommendation</li>
            <li>Evaluate business performance</li>
            <li>Understand our customer segments</li>
          </ul>
        </div>
        <div id="priv-3" class="content-section">
          <h2>Who we share with</h2>
          <p>Besides our staff, we share this information with:</p>
          <ul>
            <li>Shippers in order to send orders for shipping</li>
          </ul>
        </div>
        <div id="priv-4" class="content-section">
          <h2>Opting out</h2>
          <p>Providing some information is optional. If you choose not to:</p>
          <ul>
            <li>Enter a shipping address, we'll be unable to send orders for shipping</li>
            <li>Enter billing information we'll be unable to process orders and transactions</li>
            <li>Enter email address we'll be unable to create an account for users, and allow them to use our services
            </li>
            <li>Enter email address we'll be unable to send customers email notifications, and newsletters</li>
          </ul>
        </div>
        <div id="priv-5" class="content-section">
          <h2>Additional info</h2>
          <p>We keep your information safe by having security protocols for creating, reading, updating and deleting
            data and only allowing staff to access the data. You have the right to ask for a copy of any personal
            information we hold about you, and to ask for it to be corrected if you think it is wrong. If you’d like to
            ask for a copy of your information, or to have it corrected, please contact us at admin@createbase.co.nz, or
            +64 211 543 805, or 16 Dapple Place, Flat Bush, Auckland, 2019, New Zealand.</p>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="footer-container prop">
      <div class="value-prop">Gain the skills, tools, and confidence to unleash your innder creator.</div>
      <div class="brand-prop">Create your awesome.</div>
    </div>
    <div class="footer-container subscribe">
      <h5>Be the first to know</h5>
      <div class="footer-subscribe">
        <input id="footer-input" type="text" placeholder="Email" maxlength="100">
        <i class="footer-btn material-icons-round">send</i>
      </div>
      <div class="footer-error"></div>
    </div>
    <div class="footer-container quick-links">
      <h5>Quick Links</h5>
      <a href="/kits">Kits</a>
      <a href="/story">Our Story</a>
      <a href="/team">The Team</a>
    </div>
    <div class="footer-container policies">
      <h5>Policies</h5>
      <a href="/terms">Terms</a>
      <a href="/privacy">Privacy</a>
    </div>
    <div class="footer-container contact">
      <h5>We'd love to hear from you</h5>
      <a href="tel:+64-211-543-805" target="_blank"><i class="material-icons-outlined">call</i>+64 211 543 805</a>
      <a href="mailto:admin@createbase.co.nz" target="_blank"><i
          class="material-icons-outlined">email</i>admin@createbase.co.nz</a>
      <a href="https://goo.gl/maps/BCFTQTpLg4MXqg3aA" target="_blank"><i class="material-icons-outlined">map</i>24 York
        Street, AKL, NZ</a>
      <div class="footer-socials">
        <a href="https://www.facebook.com/CreateBaseNZ" class="fab fa-facebook-square" target="_blank"></a>
        <a class="fab fa-instagram" href="https://www.instagram.com/createbasenz/" target="_blank"></a>
        <a class="fab fa-twitter" href="https://twitter.com/CreateBaseNZ" target="_blank"></a>
        <a class="fab fa-youtube"
          href="https://www.youtube.com/channel/UClLBwFvHpGrRpxyRg1IOB0g/featured?view_as=subscriber"
          target="_blank"></a>
      </div>
    </div>
    <div class="copyright">
      &#169; 2021 CreateBase. All rights reserved.
    </div>
  </footer>

  <div class="notif-wrapper"></div>

  <!-- ==========================JS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <script async src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script async src="https://kit.fontawesome.com/b382730141.js" crossorigin="anonymous"></script>
  <!-- ------------------------CUSTOM------------------------ -->
  <script async src="/public/javascripts/nav.js"></script>
  <script async src="/public/javascripts/footer.js"></script>
  <script async src="/public/javascripts/notification.js"></script>
  <script async src="/public/javascripts/global.js"></script>
  <script async src="/public/javascripts/privacy.js"></script>
</body>

</html>