<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="/public/images/logo-icon.png" />
  <title>Privacy Policy • CreateBase</title>
  <meta name="description"
    content="Learn about how we keep your data safe with us, including how we use it, what it's used for, who we share it with, and opting out. &#169; 2021 CreateBase.">
  <link rel="canonical" href="https://createbase.co.nz">
  <!-- =========================CSS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
  <!-- ------------------------CUSTOM------------------------ -->
  <link rel="stylesheet" href="/public/stylesheets/nav.min.css" />
  <link rel="stylesheet" href="/public/stylesheets/privacy.min.css" />
</head>

<body onload="global.init.init(); priv.init.init();">

  <nav>
    <a href="/" class="nav-logo">
      <img src="/public/images/logo_full_svg.svg" class="long cb-logo-dark" alt="CreateBase">
      <img src="/public/images/logo_full_white_text.svg" class="long cb-logo-light hide" alt="CreateBase">
      <img src="/public/images/logo-icon.png" class="small" alt="CreateBase">
    </a>
    <div class="hamburger hamburger-spin" type="button">
      <a href="https://app.createbase.co.nz/" class="cta-btn special-btn">Free project</a>
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </div>
    <div class="nav-menu">
      <!-- <a href="/kits" class="nav-item">Kits</a> -->
      <!-- <a href="/story" class="nav-item">Our Story</a> -->
      <a href="/about" class="nav-item">About</a>
      <a href="/latest" class="nav-item">Latest</a>
      <a href="/release-notes" class="nav-item">Release Notes</a>
      <a href="/team" class="nav-item">The Team</a>
      <a href="/contact" class="nav-item">Contact Us</a>
      <!-- <a href="/contact" class="nav-item">Contact Us</a> -->
      <a href="https://app.createbase.co.nz/" class="cta-btn special-btn" id="request-demo-btn">Sign Up for Free</a>
    </div>
  </nav>

  <div class="page">
    <ol class="priv-menu-list">
      <li class="priv-selected" onclick='window.location.href="#priv-1"'>What we collect</li>
      <li onclick='window.location.href="#priv-2"'>What it's used for</li>
      <li onclick='window.location.href="#priv-3"'>Who we share with</li>
      <li onclick='window.location.href="#priv-4"'>Opting out</li>
      <li onclick='window.location.href="#priv-5"'>Additional info</li>
    </ol>
    <div class="priv-body-wrap">
      <div id="priv-1" class="title-container">
        <h4></h4>
        <h1>Privacy Policy</h1>
      </div>
      <div class="content-wrap">
        <div class="content-section">
          <h2>What we collect</h2>
          <p>As a student using our platform, we collect personal information from you, including information about your:</p>
          <ul>
            <li>First and last names during sign up</li>
            <li>Email address during sign up</li>
            <li>The name of your school when joining a school group</li>
            <li>The name of your class when you join or a teacher adds you to a class in your school group</li>
            <li>Progress (for example, recording which tasks you have completed in a Project)</li>
            <li>Performance (for example, recording your answers to tasks completed in a Project)</li>
            <li>Engagement (for example, usage statistics like when you log in and how much time you spend on the platform)</li>
            <li>Device (for example, your internet (IP) address, your location and the type of browser that you use, and its identity in the form of a "cookie")</li>
            <li>Usage (for example, the content and features that you interact with the most)</li>
            <li>Billing or purchasing information if you purchase an individual license</li>
          </ul>
          <br>
          <p>As a teacher using our platform, we collect personal information from you, including information about your:</p>
          <ul>
            <li>First and last names during sign up</li>
            <li>Email address during sign up</li>
            <li>Information about your school, including the name, when you join or create a school group</li>
            <li>The name of your class when you join or create a class in your school group</li>
            <li>Progress (for example, recording which tasks you have completed in a Project)</li>
            <li>Performance (for example, recording your answers to tasks completed in a Project)</li>
            <li>Engagement (for example, usage statistics like when you log in and how much time you spend on the platform)</li>
            <li>Device (for example, your internet (IP) address, your location and the type of browser that you use, and its identity in the form of a "cookie")</li>
            <li>Usage (for example, the content and features that you interact with the most)</li>
            <li>Billing or purchasing information if you purchase an individual licence or a license on behalf of your school</li>
          </ul>
          <br>
          <p>As any user of our website, we collect personal information from you, including information about your:</p>
          <ul>
            <li>Email address if you sign up to our mailing list</li>
          </ul>
        </div>
        <div id="priv-2" class="content-section">
          <h2>What it's used for</h2>
          <p>We only collect your personal information in order to either process transactions, personalise the user experience, 
            enable certain features, evaluate business performance or understand our customer segments. See below for more information 
            about what we use specific personal information for.
          </p>  
          <br>
          <p>As a student using our platform, we collect your:</p>
          <ul>
            <li>First and last names so that you, your teacher(s) and your peers can identify your account</li>
            <li>Email address so that you can recover your account</li>
            <li>School name so that we can pair you with the correct school</li>
            <li>Class name so that we can pair you with the correct class</li>
            <li>Progress so that your teacher(s) can track what work you are completing and so that you can resume where you left off</li>
            <li>Performance so that your teacher(s) can track how well you are completing your work</li>
            <li>Engagement so that your teacher(s) can track how engaged you are with your work and the platform</li>
            <li>Device information so that we can optimise the content that we display to you</li>
            <li>Usage to help us develop and improve our platform</li>
            <li>Billing or purchasing information if you purchase an individual license so that we can process your transaction</li>
          </ul>
          <br>
          <p>As a teacher using our platform, we collect your:</p>
          <ul>
            <li>First and last names so that you and your peers can identify your account</li>
            <li>Email address so that you can recover your account</li>
            <li>School information so that we can confirm that you are a member of the school that you are trying to join or create a group for</li>
            <li>Class name so that we can create a class for you inside your school group</li>
            <li>Progress so that you can track what work you are completing and resume where you left off</li>
            <li>Performance so that you can compare with your students</li>
            <li>Engagement so that you can track your platform usage</li>
            <li>Device information so that we can optimise the content that we display to you</li>
            <li>Usage to help us develop and improve our platform</li>
            <li>Billing or purchasing information if you purchase an individual licence or a license on behalf of your school so that we can process your transaction</li>
          </ul>
        </div>
        <div id="priv-3" class="content-section">
          <h2>Cookies</h2>
          <p>To collect some of the data described above, our platform may use cookies. A cookie is a small piece of information 
            that is sent to your browser and stored on your computer’s hard drive, mobile phone or other devices. Cookies allow 
            us to recognise our website users, although any user may disable the setting of cookies using a corresponding setting 
            in their internet browser. Additionally, already set cookies may be deleted at any time via an Internet browser or 
            other software programs. Unfortunately, some of our services may not function properly if your cookies are disabled, 
            as cookies are necessary for the performance of some of our features.</p>
        </div>
        <div id="priv-4" class="content-section">
          <h2>External links</h2>
          <p>Our platform might contain links to external websites. Although we would never intentionally link to an external website 
            that contains malicious content or poses a risk to data security, it is important to note that we have no control over
             these external parties. Please be careful to protect your privacy when visiting these websites. </p>
        </div>
        <div id="priv-5" class="content-section">
          <h2>Who we share with</h2>
          <p>We do not share your personal information with anyone other than in the rare circumstances where we are required to
             do so by law or to protect ourselves from criminals or fraudsters. We do not disclose personal information for business 
             purposes to other third parties. We do not sell personal information. We will endeavour to keep your personal information 
             safe.</p>
        </div>
        <div id="priv-6" class="content-section">
          <h2>Opting out</h2>
          <p>Providing some information is optional. If you choose not to:</p>
          <ul>
            <li>Enter a first name, last name and email address you’ll be unable to create an account on our platform. 
              You can, however, continue as a guest to access limited content</li>
            <li>Enter billing information we'll be unable to process orders and transactions</li>
            <li>Provide accurate information about your school you’ll be unable to create a school group
            </li>
            <li>Enter an email address on our website we'll be unable to send you email notifications, and newsletters</li>
          </ul>
          <br>
          <p>If you do not think that we are doing a satisfactory job with your information, then please contact us with your 
            concerns and we will determine what actions need to be taken. See below for more information about how to contact 
            us for any inquiry.</p>
        </div>
        <div id="priv-7" class="content-section">
          <h2>Additional info</h2>
          <p>We keep your information safe by having security protocols for creating, reading, updating and deleting data 
            and only allowing staff to access the data. You have the right to ask for a copy of any personal information we
             hold about you, ask for it to be corrected if you think it is wrong, or ask us to remove it from our data records. 
             If you’d like to ask for a copy of your information or have it corrected or removed, please contact us at 
             admin@createbase.co.nz, or +64 211 543 805, or 24 York Street Parnell, Auckland, 1052, New Zealand.</p>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="footer-container prop">
      <div class="value-prop">Gain the skills, tools, and confidence to unleash your inner technology creator.</div>
      <div class="brand-prop">Create your awesome.</div>
    </div>
    <div class="footer-container subscribe">
      <h5>Be the first to know</h5>
      <div class="footer-subscribe">
        <input id="footer-input" type="text" placeholder="Email" maxlength="100">
        <i class="footer-btn material-icons-round">send</i>
      </div>
      <div class="footer-error"></div>
    </div>
    <div class="footer-container quick-links">
      <h5>Quick Links</h5>
      <a href="/kits">Kits</a>
      <a href="/story">Our Story</a>
      <a href="/team">The Team</a>
    </div>
    <div class="footer-container policies">
      <h5>Policies</h5>
      <a href="/terms">Terms</a>
      <a href="/privacy">Privacy</a>
    </div>
    <div class="footer-container contact">
      <h5>We'd love to hear from you</h5>
      <a href="tel:+64-211-543-805" target="_blank"><i class="material-icons-outlined">call</i>+64 211 543 805</a>
      <a href="mailto:admin@createbase.co.nz" target="_blank"><i
          class="material-icons-outlined">email</i>admin@createbase.co.nz</a>
      <a href="https://goo.gl/maps/BCFTQTpLg4MXqg3aA" target="_blank"><i class="material-icons-outlined">map</i>24 York
        Street, AKL, NZ</a>
      <div class="footer-socials">
        <a href="https://www.facebook.com/CreateBaseNZ" class="fab fa-facebook-square" target="_blank"></a>
        <a class="fab fa-instagram" href="https://www.instagram.com/createbasenz/" target="_blank"></a>
        <a class="fab fa-twitter" href="https://twitter.com/CreateBaseNZ" target="_blank"></a>
        <a class="fab fa-youtube"
          href="https://www.youtube.com/channel/UClLBwFvHpGrRpxyRg1IOB0g/featured?view_as=subscriber"
          target="_blank"></a>
      </div>
    </div>
    <div class="copyright">
      &#169; 2021 CreateBase. All rights reserved.
    </div>
  </footer>

  <div class="notif-wrapper">
    <!-- <div class="popup"></div> -->
  </div>

  <!-- ==========================JS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <script async src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script async src="https://kit.fontawesome.com/b382730141.js" crossorigin="anonymous"></script>
  <!-- ------------------------CUSTOM------------------------ -->
  <script async src="/public/javascripts/nav.js"></script>
  <script async src="/public/javascripts/footer.js"></script>
  <script async src="/public/javascripts/notification.js"></script>
  <script async src="/public/javascripts/global.js"></script>
  <script async src="/public/javascripts/privacy.js"></script>
</body>

</html>