<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="/public/images/logo-icon.png" />
  <title>Our Team • CreateBase</title>
  <!-- =========================CSS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Poppins:wght@300;400;600;700&display=swap"
    rel="stylesheet">
  <!-- ------------------------CUSTOM------------------------ -->
  <link rel="stylesheet" href="/public/stylesheets/team.css" />
</head>

<body onload="team.initialise();">

  <nav class="hide">
    <div class="nav-darken-overlay" onclick="navigation.exitModal();"></div>
    <div class="nav-top-bar">
      <button class="hamburger hamburger-spin" onclick="navigation.toggleLeftMenu();" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <a class="nav-home-btn" href="/" id="nav-home-btn"></a>
      <div class="nav-in" id="nav-in" onclick="navigation.toggleRightMenu();"></div>
      <div class="nav-mobile-out" id="nav-mobile-out" onclick="navigation.toggleRightMenu();"></div>
      <div class="nav-desktop-out">
        <a href="/login" id="nav-user-login">LOG IN</a>
        <a class="grad-btn" href="/signup" id="nav-user-signup">SIGN UP</a>
      </div>
    </div>
    <div class="nav-side-menus">
      <div class="nav-left-menu-wrap">
        <div class="nav-left-menu">
          <div class="nav-side-menu-links">
            <p class="nav-side-header">CREATEBASE</p>
            <a class="nav-side-item" href="/make">MAKE</a>
            <a class="nav-side-item" href="/products/engkits">KITS</a>
            <a class="nav-side-item" href="/services/marketplace">SHOP</a>
            <p class="nav-side-header">INFO</p>
            <a class="nav-side-item" href="/services/3d-printing">3D PRINTING</a>
            <a class="nav-side-item" href="/products/engkits">ENGINEERING KITS</a>
            <a class="nav-side-item" href="/services/marketplace">MARKETPLACE</a>
            <a class="nav-side-item" href="/faq">FAQ</a>
            <p class="nav-side-header">ABOUT</p>
            <a class="nav-side-item" href="/story">OUR STORY</a>
            <a class="nav-side-item" href="/team">OUR TEAM</a>
            <a class="nav-side-item" href="/contact">CONTACT US</a>
          </div>
          <div class="nav-side-socials">
            <a class="fab fa-facebook-square" href="https://www.facebook.com/CreateBase-110365053954978/?view_public_for=110365053954978" target="_blank"></a>
            <a class="fab fa-instagram" href="https://www.instagram.com/createbasenz/" target="_blank"></a>
            <a class="fab fa-twitter" href="https://twitter.com/CreateBaseNZ" target="_blank"></a>
            <a class="fab fa-youtube" href="https://www.youtube.com/channel/UClLBwFvHpGrRpxyRg1IOB0g/featured?view_as=subscriber" target="_blank"></a>
          </div>
        </div>
      </div>
      <div class="nav-right-menu-out">
        <div class="nav-right-menu">
          <p class="nav-side-header">WELCOME BACK</p>
          <a class="nav-side-item" href="/login">LOG IN</a>
          <p class="nav-side-header">FIRST TIME?</p>
          <a class="nav-side-item" href="/signup">SIGN UP</a>
        </div>
      </div>
      <div class="nav-right-menu-in">
        <div class="nav-right-menu" id="nav-right-menu">
          <p class="nav-side-header" id="nav-right-greeting"></p>
          <a class="nav-side-item" href="/profile">DASHBOARD</a>
          <a class="nav-side-item" href="/profile/projects">MY PROJECTS</a>
          <a class="nav-side-item" href="/profile/orders">MY ORDERS</a>
          <a class="nav-side-item" href="/profile/settings">SETTINGS</a>
          <a class="nav-side-signout" href="/logout">SIGN OUT</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="hide" id="mobile-notif-wrap">
  </div>

  <div class="hide" id="notification-wrap">
    <div id="cookie-container" class="hide">
      <div class="cookie-message-container">
        <p>We use cookies and similar technologies in order to offer you a personalised online experience and to analyse
          our traffic.</p>
      </div>
      <div class="btn-group">
        <button id="cancel" onclick="session.cancel();">DON'T ALLOW</button>
        <button id="submit" class="grad-btn" onclick="session.allow();">ALLOW ALL</button>
      </div>
    </div>
  </div>

  <div class="full-page-loading">
    <div class="loading-icon">
      <div class="layer layer-1"></div>
      <div class="layer layer-2"></div>
      <div class="layer layer-3"></div>
    </div>
    <p>Setting up Base</p>
  </div>

  <div class="main-page hide">
    <div class="landing-section">
      <img class="team-photo" src="/public/images/team/props.jpg" alt="Team">
      <p class="team-title"><span>By creators.</span><span>For creators.</span></p>
      <div class="team-desc">
        <p id="team-desc-top">Hey, nice to meet you. </p>
        <div id="team-desc-mid"></div>
        <p id="team-desc-bot-1">We're CreateBase, a team of students accelerating towards a future where 3D printing is
          accessible, affordable, and reliable for all. </p>
        <p id="team-desc-bot-2">We believe everyone has the capacity to be creators. </p>
      </div>
    </div>

    <div class="profile-section">

      <a class="team-profile team-top-left" href="https://www.linkedin.com/in/carl-velasco/" target="_blank">
        <div class="indiv-photo" id="indiv-photo-carl-default">
          <img decoding="async" src="/public/images/team/carl.png" class="indiv-photo" id="" alt="">
        </div>
        <div class="indiv-overlay"></div>
        <div class="indiv-overlay-2">
          <div class="indiv-nickname">Carl <span>The Elder</span> Velasco</div>
          <div class="indiv-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam eius illum saepe accusantium deserunt.</div>
        </div>
        <div class="indiv-name">Carl</div>
        <div class="indiv-title">
          <p class="indiv-role">CEO</p>
          <i class="fab fa-linkedin"></i>
        </div>
      </a>

      <a class="team-profile" href="https://www.linkedin.com/in/carlos-aguilera-cortes-17204616b/" target="_blank">
        <div class="indiv-photo" id="indiv-photo-carlos-default">
          <img decoding="async" src="/public/images/team/carlos.png" class="indiv-photo" id="" alt="">
        </div>
        <div class="indiv-overlay"></div>
        <div class="indiv-overlay-2">
          <div class="indiv-nickname">Carlos <span>The Negotiatior</span> Aguilera</div>
          <div class="indiv-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam eius illum saepe accusantium deserunt. Rem officiis minima esse animi aspernatur.</div>
        </div>
        <div class="indiv-name">Carlos</div>
        <div class="indiv-title">
          <p class="indiv-role">Kit Engineer</p>
          <i class="fab fa-linkedin"></i>
        </div>
      </a>

      <a class="team-profile team-top-right" href="https://www.linkedin.com/in/louiscflin/" target="_blank">
        <div class="indiv-photo" id="indiv-photo-louis-default">
          <img decoding="async" src="/public/images/team/louis.png" class="indiv-photo" id="" alt="">
        </div>
        <div class="indiv-overlay"></div>
        <div class="indiv-overlay-2">
          <div class="indiv-nickname">Louis <span>No Sleep</span> Lin</div>
          <div class="indiv-desc">Louis is in his fourth year of studying Engineering Science at the UoA. His interest include space exploration, AI, and videography. He works best under pressure, especially the night before deadlines.</div>
        </div>
        <div class="indiv-name">Louis</div>
        <div class="indiv-title">
          <p class="indiv-role">Designer</p>
          <i class="fab fa-linkedin"></i>
        </div>
      </a>

      <div class="line-break"></div>

      <a id="brydon" class="team-profile" href="https://www.linkedin.com/in/brydon-burnett-3368861b6/" target="_blank">
        <div class="indiv-photo" id="indiv-photo-brydon-default">
          <img decoding="async" src="/public/images/team/brydon.png" class="indiv-photo" id="" alt="">
        </div>
        <div class="indiv-overlay"></div>
        <div class="indiv-overlay-2">
          <div class="indiv-nickname">Brydon <span>The Bearded</span> Burnett</div>
          <div class="indiv-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam eius illum saepe accusantium deserunt. Rem officiis minima esse animi aspernatur.</div>
        </div>
        <div class="indiv-name">Brydon</div>
        <div class="indiv-title">
          <p class="indiv-role">Market Engagement</p>
          <i class="fab fa-linkedin"></i>
        </div>
      </a>

      <a class="team-profile" href="https://www.linkedin.com/in/bradley-young-56bbb218a/" target="_blank">
        <div class="indiv-photo" id="indiv-photo-brad-default">
          <img decoding="async" src="/public/images/team/brad.png" class="indiv-photo" id="" alt="">
        </div>
        <div class="indiv-overlay"></div>
        <div class="indiv-overlay-2">
          <div class="indiv-nickname">Brad <span>DM-17</span> Young</div>
          <div class="indiv-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam eius illum saepe accusantium deserunt. Rem officiis minima esse animi aspernatur.</div>
        </div>
        <div class="indiv-name">Brad</div>
        <div class="indiv-title">
          <p class="indiv-role">Designer</p>
          <i class="fab fa-linkedin"></i>
        </div>
      </a>

      <a class="team-profile" href="https://www.linkedin.com/in/todd-broadhurst-4314a5149/" target="_blank">
        <div class="indiv-photo" id="indiv-photo-todd-default">
          <img decoding="async" src="/public/images/team/todd.png" class="indiv-photo" id="" alt="">
        </div>
        <div class="indiv-overlay"></div>
        <div class="indiv-overlay-2">
          <div class="indiv-nickname">Todd <span>Tall Todd</span> Broadhurst</div>
          <div class="indiv-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam eius illum saepe accusantium deserunt. Rem officiis minima esse animi aspernatur.</div>
        </div>
        <div class="indiv-name">Todd</div>
        <div class="indiv-title">
          <p class="indiv-role">CFO</p>
          <i class="fab fa-linkedin"></i>
        </div>
      </a>

      <a class="team-profile" href="https://www.linkedin.com/in/craig-vaz-2bb27b134/" target="_blank">
        <div class="indiv-photo" id="indiv-photo-craig-default">
          <img decoding="async" src="/public/images/team/craig.png" class="indiv-photo" id="" alt="">
        </div>
        <div class="indiv-overlay"></div>
        <div class="indiv-overlay-2">
          <div class="indiv-nickname">Craig <span>Jarvis</span> Vaz</div>
          <div class="indiv-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam eius illum saepe accusantium deserunt. Rem officiis minima esse animi aspernatur.</div>
        </div>
        <div class="indiv-name">Craig</div>
        <div class="indiv-title">
          <p class="indiv-role">Kit Designer</p>
          <i class="fab fa-linkedin"></i>
        </div>
      </a>

    </div>

  <footer class="footer-section hide">
    <div class="footer-content">
      <div class="footer-legal-section">
        <h4>INFO</h4>
        <div class="footer-legal-content">
          <ul class="list-section-left">
            <li><a href="/shipping-info">Shipping Info</a></li>
            <li><a href="/shipping-info">Returns / Exchanges</a></li>
          </ul>
          <ul class="list-section-desktop">
            <li><a href="/services/3d-printing">3D Printing</a></li>
            <li><a href="/services/marketplace">Marketplace</a></li>
            <li><a href="/products/engkits">Engineering Kits</a></li>
          </ul>

          <div class="list-section-divider"></div>

          <ul class="list-section-right">
            <li><a href="/terms-and-conditions">Terms &amp; Conditions</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
          </ul>
        </div>
      </div>

      <div class="footer-contact-section">
        <h4>CONTACT</h4>
        <div class="footer-contact-content">
          <div class="contact-email"><a href="mailto:admin@createbase.co.nz">admin@createbase.co.nz</a></div>

          <div class="btn-subscribe">
            <button class="reg-btn" id="footer-subscribe">SUBSCRIBE TO NEWSLETTER</button>
          </div>

          <div class="contact-socials">
            <a class="fab fa-facebook-square" href="https://www.facebook.com/CreateBase-110365053954978/?view_public_for=110365053954978" target="_blank"></a>
            <a class="fab fa-instagram" href="https://www.instagram.com/createbasenz/" target="_blank"></a>
            <a class="fab fa-twitter" href="https://twitter.com/CreateBaseNZ" target="_blank"></a>
            <a class="fab fa-youtube" href="https://www.youtube.com/channel/UClLBwFvHpGrRpxyRg1IOB0g/featured?view_as=subscriber" target="_blank"></a>
          </div>
          <div class="contact-legal">
            <a href="/terms-and-conditions" id="tac">Terms &amp; Conditions</a>
            <a href="/privacy-policy" id="privpol">Privacy Policy</a>
          </div>
        </div>
      </div>

      <div class="footer-sitemap-section">
        <h4>EXPLORE</h4>
        <div class="footer-sitemap-content">
          <ul>
            <li><a href="/make">3D Printing</a></li>
            <li><a href="/services/marketplace">Marketplace</a></li>
            <li><a href="/products/engkits">Engineering Kits</a></li>
            <li><a href="/story">Our Story</a></li>
            <li><a href="/team">Our Team</a></li>
          </ul>
        </div>
      </div>

      <div class="footer-copyright-section">
        <h3>&#169; 2020 CREATEBASE. ALL RIGHTS RESERVED</h3>
      </div>
    </div>
  </footer>

  <!-- ==========================JS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <script async src="https://js.stripe.com/v3/"></script>
  <script async src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script async src="https://kit.fontawesome.com/b382730141.js" crossorigin="anonymous"></script>
  <!-- ------------------------CUSTOM------------------------ -->
  <script async src="/public/javascripts/global/footer.js"></script>
  <script async src="/public/javascripts/global/nav.js"></script>
  <script async src="/public/javascripts/global/session.js"></script>
  <script async src="/public/javascripts/global/notification.js"></script>
  <script async src="/public/javascripts/global.js"></script>
  <script defer src="/public/javascripts/team.js"></script>
</body>

</html>