<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="google-site-verification" content="jCLW2oztBuZES0mxGJLZjEslZAPCwbbN47Gw09AYwWM" />
  <link rel="icon" href="/public/images/logo-icon.png" />
  <title>Team • CreateBase</title>
  <meta name="description"
    content="Meet the team at CreateBase.">
  <link rel="canonical" href="https://createbase.co.nz">
  <!-- =========================CSS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <!-- ------------------------CUSTOM------------------------ -->
  <link rel="stylesheet" href="/public/stylesheets/nav.min.css">
  <link rel="stylesheet" href="/public/stylesheets/team.min.css">

  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1149429065520266');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1149429065520266&ev=PageView&noscript=1" /></noscript>
</head>

<!-- <body onload="global.init.init(); home.init.init();"> -->
<body onload="global.init.init();">

  <nav>
    <a href="/" class="nav-logo">
      <img src="/public/images/logo_full_svg.svg" class="long" alt="CreateBase">
      <img src="/public/images/logo-icon.png" class="small" alt="CreateBase">
    </a>
    <div class="hamburger hamburger-spin" type="button">
      <a href="/contact" class="special-btn">Request a Demo</a>
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </div>
    <div class="nav-menu">
      <!-- <a href="/kits" class="nav-item">Kits</a> -->
      <!-- <a href="/story" class="nav-item">Our Story</a> -->
      <a href="/about" class="nav-item">About</a>
      <a href="/latest" class="nav-item">Latest</a>
      <a href="/team" class="nav-item">The Team</a>
      <!-- <a href="/contact" class="nav-item">Contact Us</a> -->
      <a href="/contact" class="special-btn" id="request-demo-btn">Request a Demo</a>
    </div>
  </nav>

  <div class="page">
      <div class="team-section">
        <div class="team-title">
            <h1>Meet the Team</h1>
            <div class="title-background-shape">
                <img src="/public/images/team/title-shape.png" alt="title-shape">
            </div>
        </div>
        <div class="team-grid">
            <div class="team-member-container">
                <div class="team-member-img">
                    <img src="/public/images/team/cropped/carl.png" alt="team member" class="member-img-og">
                    <img src="/public/images/team/cropped/carl2.png" alt="team member" class="member-transition">
                </div>
                <div class="member-title-container">
                    <p class="member-name">Carl Velasco</p>
                    <p class="member-title">Company Direction | External Engagement</p>
                </div>
            </div>
            <div class="team-member-container">
                <div class="team-member-img">
                    <img src="/public/images/team/cropped/brydon.png" alt="team member">
                    <img src="/public/images/team/cropped/brydon2.png" alt="team member" class="member-transition">
                </div>
                <div class="member-title-container">
                    <p class="member-name">Brydon Burnett</p>
                    <p class="member-title">Operations | Product</p>
                </div>
            </div>
            <div class="team-member-container">
                <div class="team-member-img">
                    <img src="/public/images/team/cropped/todd.png" alt="team member">
                    <img src="/public/images/team/cropped/todd2.png" alt="team member" class="member-transition">
                </div>
                <div class="member-title-container">
                    <p class="member-name">Todd Broadhurst</p>
                    <p class="member-title">Finance | Business Administrator</p>
                </div>
            </div>
            <div class="team-member-container">
                <div class="team-member-img">
                    <img src="/public/images/team/cropped/weiwei.png" alt="team member">
                    <img src="/public/images/team/cropped/weiwei2.png" alt="team member" class="member-transition">
                </div>
                <div class="member-title-container">
                    <p class="member-name">Weiwei Wu</p>
                    <p class="member-title">Marketing | International Relations</p>
                </div>
            </div>
            <div class="team-member-container">
                <div class="team-member-img">
                    <img src="/public/images/team/cropped/louis.png" alt="team member">
                    <img src="/public/images/team/cropped/louis2.png" alt="team member" class="member-transition">
                </div>
                <div class="member-title-container">
                    <p class="member-name">Louis Lin</p>
                    <p class="member-title">Lead Platform Developer</p>
                </div>
            </div>
            <div class="team-member-container">
                <div class="team-member-img">
                    <img src="/public/images/team/cropped/craig.png" alt="team member">
                    <img src="/public/images/team/cropped/craig2.png" alt="team member" class="member-transition">
                </div>
                <div class="member-title-container">
                    <p class="member-name">Craig Vaz</p>
                    <p class="member-title">Lead Simulation Developer</p>
                </div>
            </div>
            <div class="team-member-container">
                <div class="team-member-img">
                    <img src="/public/images/team/cropped/brad.png" alt="team member">
                    <img src="/public/images/team/cropped/brad2.png" alt="team member" class="member-transition">
                </div>
                <div class="member-title-container">
                    <p class="member-name">Brad Young</p>
                    <p class="member-title">Lead UX/UI Designer</p>
                </div>
            </div>
            <div class="team-member-container">
                <div class="team-member-img">
                    <img src="/public/images/team/cropped/salim.png" alt="team member">
                    <img src="/public/images/team/cropped/salim2.png" alt="team member" class="member-transition">
                </div>
                <div class="member-title-container">
                    <p class="member-name">Salim Alzubaidi</p>
                    <p class="member-title">Lead Programming Tools Developer</p>
                </div>
            </div>
        </div>
      </div>
    <img src="/public/images/team/bg-shape-1.svg" alt="background-img" class="bg-shape bg-left-shape">
    <img src="/public/images/team/bg-shape-2.svg" alt="background-img-2" class="bg-shape  bg-right-shape">
  </div>

  <footer>
    <div class="footer-container prop">
      <div class="value-prop">Gain the skills, tools, and confidence to unleash your inner technology creator.</div>
      <div class="brand-prop">Create your awesome.</div>
    </div>
    <div class="footer-container subscribe">
      <h5>Be the first to know</h5>
      <div class="footer-subscribe">
        <input id="footer-input" type="text" placeholder="Email" maxlength="100">
        <i class="footer-btn material-icons-round">send</i>
      </div>
      <div class="footer-error"></div>
    </div>
    <div class="footer-container quick-links">
      <h5>Quick Links</h5>
      <a href="/kits">Kits</a>
      <a href="/story">Our Story</a>
      <a href="/team">The Team</a>
    </div>
    <div class="footer-container policies">
      <h5>Policies</h5>
      <a href="/terms">Terms</a>
      <a href="/privacy">Privacy</a>
    </div>
    <div class="footer-container contact">
      <h5>We'd love to hear from you</h5>
      <a href="tel:+64-211-543-805" target="_blank"><i class="material-icons-outlined">call</i>+64 211 543 805</a>
      <a href="mailto:admin@createbase.co.nz" target="_blank"><i
          class="material-icons-outlined">email</i>admin@createbase.co.nz</a>
      <a href="https://goo.gl/maps/BCFTQTpLg4MXqg3aA" target="_blank"><i class="material-icons-outlined">map</i>24 York
        Street, AKL, NZ</a>
      <div class="footer-socials">
        <a href="https://www.facebook.com/CreateBaseNZ" class="fab fa-facebook-square" target="_blank"></a>
        <a class="fab fa-instagram" href="https://www.instagram.com/createbasenz/" target="_blank"></a>
        <a class="fab fa-twitter" href="https://twitter.com/CreateBaseNZ" target="_blank"></a>
        <a class="fab fa-youtube"
          href="https://www.youtube.com/channel/UClLBwFvHpGrRpxyRg1IOB0g/featured?view_as=subscriber"
          target="_blank"></a>
      </div>
    </div>
    <div class="copyright">
      &#169; 2021 CreateBase. All rights reserved.
    </div>
  </footer>

  <div class="notif-wrapper">
    <div class="popup"></div>
  </div>

  <!-- ==========================JS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <script async src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script async src="https://kit.fontawesome.com/b382730141.js" crossorigin="anonymous"></script>
  <script async src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <!-- ------------------------CUSTOM------------------------ -->
  <script async src="/public/javascripts/nav.js"></script>
  <script async src="/public/javascripts/footer.js"></script>
  <script async src="/public/javascripts/notification.js"></script>
  <script async src="/public/javascripts/global.js"></script>
  <!-- <script async src="/public/javascripts/home.js"></script> -->
</body>

</html>