<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="/public/images/logo-icon.png" />
  <title id="profile-title">Test • CreateBase</title>
</head>

<body>
  <div id="model" style="width: 500px; height: 500px; overflow: hidden;">
  </div>

  <footer class="footer-section">
    <div class="footer-content">
      <div class="footer-legal-section">
        <h4>INFO</h4>
        <div class="footer-legal-content">
          <ul class="list-section-left">
            <li><a href="#">Shipping Info</a></li>
            <li><a href="#">Returns / Exchanges</a></li>
          </ul>
          <ul class="list-section-desktop">
            <li><a href="/services/3d-printing">3D Printing</a></li>
            <li><a href="/services/marketplace">Marketplace</a></li>
            <li><a href="/products/engkits">Engineering Kits</a></li>
          </ul>

          <div class="list-section-divider"></div>

          <ul class="list-section-right">
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>

      <div class="footer-contact-section">
        <h4>CONTACT</h4>
        <div class="footer-contact-content">
          <div class="contact-email"><a href="mailto:createbase@gmail.com">createbase@gmail.com</a></div>

          <div class="btn-subscribe">
            <button class="reg-btn" id="footer-subscribe">SUBSCRIBE TO NEWSLETTER</button>
          </div>

          <div class="contact-socials">
            <a class="fab fa-facebook-square"
              href="https://www.facebook.com/CreateBase-110365053954978/?view_public_for=110365053954978"
              target="_blank"></a>
            <a class="fab fa-instagram" href="https://www.instagram.com/createbase_nz/" target="_blank"></a>
            <a class="fab fa-twitter" href="https://twitter.com/CreateBaseNZ" target="_blank"></a>
            <a class="fab fa-youtube" href="https://www.youtube.com/user/LouiiL" target="_blank"></a>
          </div>
          <div class="contact-legal">
            <a href="#" id="tac">Terms &amp; Conditions</a>
            <a href="#" id="privpol">Privacy Policy</a>
          </div>
        </div>
      </div>

      <div class="footer-sitemap-section">
        <h4>EXPLORE</h4>
        <div class="footer-sitemap-content">
          <ul>
            <li><a href="/make">3D Printing</a></li>
            <li><a href="/services/marketplace">Marketplace</a></li>
            <li><a href="/services/engkits">Engineering Kits</a></li>
            <li><a href="/story">Our Story</a></li>
            <li><a href="/team">Our Team</a></li>
          </ul>
        </div>
      </div>

      <div class="footer-copyright-section">
        <h3>&#169; 2020 CREATEBASE. ALL RIGHTS RESERVED</h3>
      </div>
    </div>
  </footer>

  <input type="file" name="file" id="file" onchange="upload(event);">

  <script defer src="/public/javascripts/viewer/three.min.js"></script>
  <script async src="/public/javascripts/viewer/STLLoader.js"></script>
  <script async src="/public/javascripts/viewer/OrbitControls.js"></script>

  <script>
    // https://tonybox.net/posts/simple-stl-viewer/
    const STLViewer = async (model, elementID) => {
      /* Now we can actually start writing JavaScript. We’ll be defining a simple
      function to act as the STL viewer, given the path to the STL file, and the
      ID of the element that it takes. */
      var elem = document.getElementById(elementID);

      /* Then, we create the camera using three.js. We use information about the
      element’s size to determine the aspect ratio, and we use arguments 1 and
      1000 to indicate that the camera should clip things closer than 1 unit away
      and further than 1000 units away. */
      var camera = new THREE.PerspectiveCamera(70, elem.clientWidth / elem.clientHeight, 1, 1000);

      /* Now, we can create the renderer object. I set alpha to true, so that it
      would have no background, and just use the page’s background. We also set
      the size of the renderer to the element’s size, and add the renderer’s object
      to our element with addChild. */
      var renderer = new THREE.WebGLRenderer({ antialias: true, alpha: true });
      renderer.setSize(elem.clientWidth, elem.clientHeight);
      elem.appendChild(renderer.domElement);

      /* We want it to be able to handle the page being resized, since this blog
      is designed to be responsive, so we add an event listener that resets the
      renderer’s size as needed. */
      window.addEventListener('resize', function () {
        renderer.setSize(elem.clientWidth, elem.clientHeight);
        camera.aspect = elem.clientWidth / elem.clientHeight;
        camera.updateProjectionMatrix();
      }, false);

      /* Next, we’ll configure the controls using OrbitControls. */
      var controls = new THREE.OrbitControls(camera, renderer.domElement);
      controls.enableDamping = true;
      controls.rotateSpeed = 0.6;
      controls.dampingFactor = 0.2;
      controls.enableZoom = true;
      // controls.autoRotate = true;
      // controls.autoRotateSpeed = .75;

      /* Finally, we can start to set the scene. We’ll start with some simple lighting
      - in this case, a hemisphere light from above. It won’t light the bottom of the
      model, but it is easy enough to add additional lights here if that is an issue. */
      var scene = new THREE.Scene();
      scene.add(new THREE.HemisphereLight(0xffffff, 0x787878, 0.8));

      /* Next, we can load our STL file using three.js’s STL loader. The loader only
      returns a geometry, so we also need to generate a material for it - in this case,
      it is a somewhat shiny orange, since I like to 3D print in orange PLA. */
      const loader = new THREE.STLLoader();
      loader.load(model, (geometry) => {
        process(camera, renderer, controls, scene, geometry);
      });
    }
    window.onload = function () {
      STLViewer("/files/retrieve/5ef7e631867c9d4fa0f8f614/Waist_v2.STL", "model");
    }

    const process = (camera, renderer, controls, scene, geometry) => {
      var material = new THREE.MeshPhongMaterial({
        color: 0xf0f0f0,
        specular: 0xf8f8f8,
        shininess: 0,
        reflectivity: 0
      });
      var mesh = new THREE.Mesh(geometry, material);
      scene.add(mesh);
      /* Now our mesh is loaded, but we need to figure out a way to center it. I used
      three.js’s computeBoundingBox and getCenter helper functions to find the center
      of the mesh’s bounding box, and then just translated it’s position there: */
      var middle = new THREE.Vector3();
      geometry.computeBoundingBox();
      geometry.boundingBox.getCenter(middle);
      mesh.geometry.applyMatrix4(new THREE.Matrix4().makeTranslation(
        -middle.x, -middle.y, -middle.z));
      mesh.geometry.rotateY(-Math.PI / 5);
      /* We also want to pull the camera away so that it is a reasonable size. Again
      I used the element’s bounding box, picked the largest dimension, and pulled the
      camera away by 1.5 times that. This may not be ideal, but it seems to work well
      enough so far. */
      var largestDimension = Math.max(geometry.boundingBox.max.x,
        geometry.boundingBox.max.y,
        geometry.boundingBox.max.z)
      camera.position.z = largestDimension * 2.5;
      var animate = function () {
        requestAnimationFrame(animate);
        controls.update();
        renderer.render(scene, camera);
      };
      animate();
    }

    const upload = (event) => {
      const elementID = "model";
      document.querySelector("#model").innerHTML = "";
      var file = event.target.files[0];
      var reader = new FileReader();
      reader.onload = function (e) {
        /* Now we can actually start writing JavaScript. We’ll be defining a simple
        function to act as the STL viewer, given the path to the STL file, and the
        ID of the element that it takes. */
        var elem = document.getElementById(elementID);

        /* Then, we create the camera using three.js. We use information about the
        element’s size to determine the aspect ratio, and we use arguments 1 and
        1000 to indicate that the camera should clip things closer than 1 unit away
        and further than 1000 units away. */
        var camera = new THREE.PerspectiveCamera(70, elem.clientWidth / elem.clientHeight, 1, 1000);

        /* Now, we can create the renderer object. I set alpha to true, so that it
        would have no background, and just use the page’s background. We also set
        the size of the renderer to the element’s size, and add the renderer’s object
        to our element with addChild. */
        var renderer = new THREE.WebGLRenderer({ antialias: true, alpha: true });
        renderer.setSize(elem.clientWidth, elem.clientHeight);
        elem.appendChild(renderer.domElement);

        /* We want it to be able to handle the page being resized, since this blog
        is designed to be responsive, so we add an event listener that resets the
        renderer’s size as needed. */
        window.addEventListener('resize', function () {
          renderer.setSize(elem.clientWidth, elem.clientHeight);
          camera.aspect = elem.clientWidth / elem.clientHeight;
          camera.updateProjectionMatrix();
        }, false);

        /* Next, we’ll configure the controls using OrbitControls. */
        var controls = new THREE.OrbitControls(camera, renderer.domElement);
        controls.enableDamping = true;
        controls.rotateSpeed = 0.6;
        controls.dampingFactor = 0.2;
        controls.enableZoom = true;
        // controls.autoRotate = true;
        // controls.autoRotateSpeed = .75;

        /* Finally, we can start to set the scene. We’ll start with some simple lighting
        - in this case, a hemisphere light from above. It won’t light the bottom of the
        model, but it is easy enough to add additional lights here if that is an issue. */
        var scene = new THREE.Scene();
        scene.add(new THREE.HemisphereLight(0xffffff, 0x787878, 0.8));

        /* Next, we can load our STL file using three.js’s STL loader. The loader only
        returns a geometry, so we also need to generate a material for it - in this case,
        it is a somewhat shiny orange, since I like to 3D print in orange PLA. */
        const loader = new THREE.STLLoader();
        let geometry = loader.parse(e.target.result);
        process(camera, renderer, controls, scene, geometry);
      };
      reader.readAsBinaryString(file);
    }
  </script>
</body>

</html>

<!-- TEST ORDER
<div class="order-item active-item">
  <div class="order-title-container">
    <p class="order-name">
      Order #<span id="order-num">8014</span>
    </p>
    <div class="order-item-notif">10</div>
    <div class="expand-logo">
      <?xml version="1.0" encoding="utf-8"?>
      Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 300"
        style="enable-background:new 0 0 300 300;" xml:space="preserve">
        <rect x="145.9" y="-29.7" transform="matrix(-5.439820e-011 -1 1 -5.439820e-011 120.3603 196.6731)"
          width="25.3" height="135.8" />
        <rect x="201.1" y="42.9" width="25.3" height="135.8" />
        <rect x="133.2" y="190.3" transform="matrix(1.442240e-010 1 -1 1.442240e-010 404.0674 112.3467)"
          width="25.3" height="135.8" />
        <rect x="78" y="122.4" transform="matrix(-1 1.891366e-010 -1.891366e-010 -1 181.2541 380.6348)"
          width="25.3" height="135.8" />
      </svg>
    </div>
  </div>
  <div id="order-content-container">
    <div class="order-info-wrap">
      <div class="transit-container order-info">
        <i class="fas fa-truck"></i>
        <p class="order-info-text">
          In transit, <span id="delivery-method">DHL</span>
        </p>
      </div>
      <div class="payment-container order-info">
        <i class="fas fa-credit-card"></i>
        <p class="order-info-text">
          April 20, 2020
        </p>
      </div>
      <div class="location-container order-info">
        <i class="fas fa-map-marker-alt"></i>
        <p class="order-info-text">
          Auckland, New Zealand
        </p>
      </div>
    </div>
    <div class="order-total">
      <p class="total-title">Total</p>
      <p class="order-total">$53.80</p>
    </div>
  </div>
  <div class="active-div">
  </div>
</div>
-->

<!-- TEST ORDER
<div class="order-detail-wrap hide">
  <p class="orderdetails" id="order-details-title">Order Details</p>
  <div class="order-detail-container">
    <div class="exit-icon">
      <img src="/public/images/user-x.png" alt="X">
    </div>
    <div class="order-tracking-container">
      <p id="order-details-name">
        Order #<span id="order-details-num">8014</span>
      </p>
      <div class="progress-bar-container">
        <div class="progress-container full-tracking">
          <div class="status-circle"></div>
          <div class="status-line"></div>
        </div>
        <div class="progress-bar full-tracking"></div>
        <div class="progress-container">
          <div class="status-circle"></div>
          <div class="status-line"></div>
        </div>
        <div class="progress-bar"></div>
        <div class="progress-container middle-container">
          <div class="status-circle status-circle-current">
            <div class="status-circle-current-inner"></div>
          </div>
          <div class="status-line"></div>
        </div>
        <div class="progress-bar next-progress"></div>
        <div class="progress-container">
          <div class="status-circle next-circle"></div>
          <div class="status-line"></div>
        </div>
        <div class="progress-bar next-progress full-tracking"></div>
        <div class="progress-container full-tracking">
          <div class="status-circle next-circle"></div>
          <div class="status-line"></div>
        </div>
      </div>
      <div class="progress-caption-container">
        <div class="status-label-container full-tracking">
          <p class="status-label">
            Order Created 2
          </p>
        </div>
        <div class="status-label-container">
          <p class="status-label">
            Order Created
          </p>
        </div>
        <div class="status-label-container">
          <p class="status-label">
            Waiting for confirmation
          </p>
        </div>
        <div class="status-label-container">
          <p class="status-label">
            Order Confirmed
          </p>
        </div>
        <div class="status-label-container full-tracking">
          <p class="status-label">
            Order Confirmed 2
          </p>
        </div>
      </div>

      <div class="status-detail-container">
        <p class="status-detail-title">Tracking Details</p>
        <div class="status-container">
          <p class="status-text">Package shipped</p>
        </div>
        <div class="status-description-container">
          <p class="status-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In commodo
            hendrerit leo vitae vestibulum. </p>
        </div>
      </div>
    </div>

    <div class="divider-container">
      <div class="divider"></div>
    </div>

    <div class="order-summary">
      <p class="order-summary-title">Order Summary</p>
      <div class="order-detail-content-container">
        <div class="order-info-wrap">
          <div class="transit-container order-info">
            <i class="fas fa-truck"></i>
            <p class="order-info-text">
              In transit, <span id="delivery-method">DHL</span>
            </p>
          </div>
          <div class="payment-container order-info">
            <i class="fas fa-credit-card"></i>
            <p class="order-info-text">
              April 20, 2020
            </p>
          </div>
          <div class="location-container order-info">
            <i class="fas fa-map-marker-alt"></i>
            <p class="order-info-text">
              Auckland, New Zealand
            </p>
          </div>
          <div class="change-location">
            Change location
          </div>
        </div>
        <div class="order-item-list-container">
          <div class="order-item-detailed">
            <div class="item-img-container">
              <img src="/public/images/profile/trunk.png" alt="stl file">
            </div>
            <div class="item-name-container">Pen Holder Pen Holder Pen Holder Pen Holder</div>
            <div class="item-type-list-container">PLA, draft, solid, white</div>
            <div class="item-quantity-container">
              <p class="qty-title">Qty</p>
              <div class="order-item-quantity">2/10</div>
            </div>
            <div class="order-item-price">$37.00</div>
          </div>
          <div class="order-item-detailed">
            <div class="item-img-container">
              <img src="/public/images/profile/trunk.png" alt="stl file">
            </div>
            <div class="item-name-container">Pen Holder Pen Holder Pen Holder Pen Holder</div>
            <div class="item-type-list-container">PLA, draft, solid, white</div>
            <div class="item-quantity-container">
              <p class="qty-title">Qty</p>
              <div class="order-item-quantity">2/10</div>
            </div>
            <div class="order-item-price">$37.00</div>
          </div>
          <div class="order-item-detailed">
            <div class="item-img-container">
              <img src="/public/images/profile/trunk.png" alt="stl file">
            </div>
            <div class="item-name-container">Pen Holder Pen Holder Pen Holder Pen Holder</div>
            <div class="item-type-list-container">PLA, draft, solid, white</div>
            <div class="item-quantity-container">
              <p class="qty-title">Qty</p>
              <div class="order-item-quantity">2/10</div>
            </div>
            <div class="order-item-price">$37.00</div>
          </div>
        </div>

        <div class="price-breakdown-container">
          <div class="divider-container">
            <div class="divider-subtotal"></div>
          </div>
          <div class="price-breakdown">
            <div class="subtotal-container">
              <div class="subtotal-title">
                Sub-total
              </div>
              <div class="subtotal-price">
                $<span class="subtotal-price">37.00</span>
              </div>
            </div>
            <div class="subtotal-container">
              <div class="subtotal-title">
                GST
              </div>
              <div class="subtotal-price">
                $<span class="subtotal-price">37.00</span>
              </div>
            </div>
            <div class="subtotal-container">
              <div class="subtotal-title">
                Shipping
              </div>
              <div class="subtotal-price">
                $<span class="subtotal-price">37.00</span>
              </div>
            </div>
            <div class="subtotal-container">
              <div class="subtotal-title">
                Discount
              </div>
              <div class="subtotal-price">
                <span class="discount">(20%)</span>
                $<span class="subtotal-price">37.00</span>
              </div>
            </div>
            <div class="divider-container2">
              <div class="divider-subtotal totalprice"></div>
            </div>
            <div class="order-detail-total">
              <p class="subtotal-title">Total</p>
              <p class="detail-order-total">$53.80</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="order-preview">
      <p class="preview-title">
        Preview
      </p>
      <div class="preview-photo-container">
        <div class="preview-photo">
          <img src="" alt="">
        </div>
        <div class="preview-photo">
          <img src="" alt="">
        </div>
        <div class="preview-photo">
          <img src="" alt="">
        </div>
        <div class="preview-photo">
          <img src="" alt="">
        </div>
        <div class="preview-photo">
          <img src="" alt="">
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="comment-wrap">
      <p class="comment-title">Comments</p>
      <div class="comment-container">
        <div class="customer-comment">
          <div class="profile-pic-container">
            <img src="/public/images/default-profile.png" alt="user">
          </div>
          <div class="message">
            <div class="msg-date-container">
              12:34pm 12/12/2020
            </div>
            <div class="msg-container">
              asdsadsads
            </div>
          </div>
        </div>
        <div class="admin-comment">
          <div class="profile-pic-container">
            <img src="/public/images/logo-icon.png" alt="user">
          </div>
          <div class="message">
            <div class="msg-date-container">
              12:34pm 12/12/2020
            </div>
            <div class="msg-container">
              asdsadsads
            </div>
          </div>
        </div>
        <div class="customer-comment">
          <div class="profile-pic-container">
            <img src="/public/images/default-profile.png" alt="user">
          </div>
          <div class="message">
            <div class="msg-date-container">
              12:34pm 12/12/2020
            </div>
            <div class="msg-container">
              asdsadsads
            </div>
          </div>
        </div>
        <div class="admin-comment">
          <div class="profile-pic-container">
            <img src="/public/images/logo-icon.png" alt="user">
          </div>
          <div class="message">
            <div class="msg-date-container">
              12:34pm 12/12/2020
            </div>
            <div class="msg-container">
              asdsadsads
            </div>
          </div>
        </div>
      </div>
      <div class="comment-form-container">
        <div class="profile-pic-container">
          <img src="/public/images/default-profile.png" alt="user">
        </div>
        <input type="text" name="messageSubmit" class="messageSubmit" placeholder="Post a comment...">
        <div class="submit-comment-container">
          <?xml version="1.0" encoding="iso-8859-1"?>
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 471.641 471.641"
            style="enable-background:new 0 0 471.641 471.641;" xml:space="preserve">
            <g>
              <g>
                <path d="M431.666,49.412c-51.692-50.578-134.33-50.567-186.009,0.025L28.911,266.184c-39.192,40.116-38.443,104.407,1.673,143.599
                c39.456,38.548,102.47,38.548,141.926,0l196.267-196.267c25.515-25.515,25.515-66.884,0-92.399
                c-25.515-25.515-66.884-25.515-92.399,0L88.644,308.85c-6.548,6.78-6.36,17.584,0.42,24.132c6.614,6.388,17.099,6.388,23.713,0
                L300.51,145.249c12.449-11.926,32.209-11.501,44.134,0.948c11.565,12.073,11.565,31.114,0,43.187L148.378,385.65
                c-26.514,26.137-69.197,25.831-95.334-0.683c-25.873-26.246-25.873-68.405,0-94.651L269.79,73.569
                c38.608-38.622,101.214-38.633,139.836-0.026c38.622,38.607,38.633,101.214,0.026,139.836L192.905,430.126
                c-7.159,6.131-7.993,16.905-1.862,24.064c6.131,7.159,16.905,7.993,24.064,1.862c0.668-0.572,1.29-1.194,1.862-1.862
                l216.747-216.747C485.073,184.954,484.156,100.769,431.666,49.412z" />
              </g>
          </svg>
        </div>
      </div>
    </div>
  </div>

</div>
-->