@import "../global/all_webapp";
// @import "../global/all";

#db-area {
  flex-direction: column;  
  align-items: flex-start;
  background: $light-1;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#db-grid-area {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#db-header {
  margin: calc(20px + 2vmax) 0;
  padding: 0 calc(30px + 3vmax);
  width: 100%;
  
  h1 {
    height: calc(30px + 3vmax);
    font-family: $montserrat;
    font-size: 2em;
    font-weight: 600;
    color: $dark-3;
    position: relative;
    display: flex;
    &::after {
      content: '';
      position: absolute;
      margin-top: 1em;
      width: 4.5em;
      border-bottom: 0.1em solid $dark-2;
      bottom: 0;
    }
  }
}

.db-profile-wrapper {
  flex-grow: 1;
  width: 100%;
  padding: 10vw 10vw 0 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  #profile-today {
    display: none;
  }
  
  .db-profile-container {
    align-self: center;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: calc(100% - 10vw - 20px);
    padding: 0 10%;
    background: $light-1;
    border-radius: 25px;
    box-shadow: 0 3px 15px -7px $dark-1;
  
    #profile-edit-btn-dsktp {
      display: none;
    }
  
    #profile-pic {
      margin-top: -20vw;
      position: relative;
      justify-self: center;
      width: calc(100px + 20vw);
      height: calc(100px + 20vw);
      border-radius: 50%;
      box-shadow: 0 0 15px -10px $dark-1;
  
      #profile-preview {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
  
      input {
        display: none;
      }
  
      label {
        display: none;
      }
    }
  
    #profile-name {
      width: 100%;
      margin-top: 4vh;
      font-size: calc(16px + 1vmax);
      font-family: $montserrat;
      text-align: center;
    }
  
    #profile-location {
      margin-top: 1vh;
      text-transform: uppercase;
      font-family: $poppins;
      font-weight: 600;
      font-size: calc(8px + 0.2vmax);
      letter-spacing: 1.5px;
      color: $light-3;
      text-align: center;
    }
  
    .sep {
      width: 70%;
      border-bottom: thin solid $light-2;
      margin: 3vh 0;
    }
  
    #profile-bio {
      width: calc(100% - 8px);
      flex-grow: 1;
      text-align: center;
      font-size: calc(10px + 0.2vmax);
      line-height: 150%;
      overflow-wrap: break-word;
      overflow-x: hidden;
      overflow-y: auto;
      padding-right: 8px;
      margin-left: 8px;

      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        background: rgba(0,0,0,0);
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background: $light-3;
        width: 5px;
      }
      &::-webkit-scrollbar-thumb:hover,
      &::-webkit-scrollbar-thumb:active {
        background: $dark-1;
      }

      &:focus {
        &::-webkit-scrollbar-thumb {
          background: $highlight;
        }
      }
    }
  
    #profile-edit {
      display: flex;
      margin: 4vh 0;
      width: 100%;
      align-items: center;
      justify-content: space-around;
      font-size: calc(10px + 0.2vw);

      #profile-edit-btn-mobile {
        padding: 0.75em 3.5em;
        box-shadow: 0 5px 10px -8px $dark-3;
      }

      #profile-save-btn {
        padding: 1em 2.5em;
        box-shadow: 0 5px 10px -8px $dark-3;
      }

      #profile-save-btn,
      #profile-cancel-btn {
        display: none;
      }
    }
  }

  #profile-since {
    align-self: flex-end;
    font-size: calc(8px + 0.1vmax);
    margin-top: 1vh;
    margin-right: 5vw;
    color: $light-3;
  }
}

.db-profile-wrapper-edit {
  .db-profile-container {
    height: calc(100%);
    #profile-pic {
      label {
        cursor: pointer;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: box-shadow 0.2s ease-out;
        
        i {
          position: absolute;
          right: 0vw;
          bottom: 0vw;
          width: 25%;
          height: 25%;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $dark-1;
          background: $light-1;
          box-shadow: 0 0 10px -5px $dark-3;
          transition: color 0.2s ease-out, background-color 0.2s ease-out;
        }
  
        &:hover ~ #profile-preview {
          box-shadow: 0 0 10px -2px $highlight;
        }
        
        &:hover > i {
          color: $dark-3;
          background: $light-2;
        }
      }
    }
  
    #profile-name,
    #profile-bio {
      -webkit-user-modify: read-write;
      -moz-user-modify: read-write;
      border: thin solid $light-3;
      padding: 5px;
      cursor: text;
  
      &:empty::before {
        content: attr(data-placeholder);
        color: $light-3;
        font-weight: 300;
      }
  
      &:focus {
        outline: none;
        border-color: $highlight;
      }
    }
  
    #profile-name {
      margin-top: 5vh;
    }
  
    #profile-location {
      margin: 2vh 0;
  
      &::after {
        display: block;
        width: 100%;
        text-align: center;
        content: attr(data-info);
        font-size: calc(10px + 0.1vw);
        color: $light-3;
        font-weight: 400;
        letter-spacing: 0;
        text-transform: none;
        line-height: 100%;
        margin-top: 0.5vh;
      }
    }
  
    #profile-bio {
      flex-grow: 1;
    }
  
    .sep {
      display: none;
    }

    #profile-edit {
      display: flex;
      margin-top: 4vh;
      width: 100%;
      align-items: center;
      justify-content: space-around;
      font-size: calc(10px + 0.2vw);
      
      #profile-edit-btn-mobile {
        display: none;
      }

      #profile-save-btn,
      #profile-cancel-btn {
        display: block;
      }
    }
  }

  #profile-since {
    display: none;
  }
}

#db-settings-wrapper,
#db-orders-wrapper,
#db-proj-wrapper {
  display: none;
}

// #############################################################################
// MEDIA QUERY
// #############################################################################

@media only screen and (min-width: 850px) {

#db-area{
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

#db-grid-area {
  display: grid;
  grid-template-areas: 
  'header header orders'
  'settings prof orders'
  'proj proj proj';
  grid-template-rows: auto minmax(0, 1.65fr) minmax(0, 1fr);
  grid-template-columns: 15% 45% 40%;
}

#db-header {
  margin: calc(15px + 1.5vmax) 0 0 0;
  padding: 0 calc(30px + 3vmax);
  grid-area: header;
  
  h1 {
    height: calc(20px + 2vmax);
    color: $dark-2;
    font-size: 2em;
    font-weight: 600;
    font-family: $montserrat;
    position: relative;
    display: flex;
    &::after {
      content: '';
      position: absolute;
      margin-top: 1em;
      width: 4.5em;
      border-bottom: 0.1em solid $dark-2;
      bottom: 0;
    }
  }
}


#db-settings-wrapper {
  grid-area: settings;
  padding-bottom: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  #db-settings-container {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    .db-settings-item {
      cursor: pointer;
      color: $light-3;
      padding: 5px;
      transition: color 0.2s ease-out;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      i {
        width: 25px;
        text-align: center;
      }

      p {
        display: inline-block;
        overflow: hidden;
        width: 0;
        text-transform: uppercase;
        font-weight: 600;
        font-size: calc(8px + 0.3vmax);
        padding-left: 0px;
        white-space: nowrap;
        transition: width 0.2s ease-out, padding 0.2s ease-out;
      }
      
      &:hover {
        color: $logo-2;
        
        p {
          width: 100%;
          padding-left: 10px;
        }
      }
    }
  }
}

.db-profile-wrapper {
  padding: 0 3vw;
  grid-area: prof;
  justify-content: flex-end;
  #profile-today {
    display: block;
    margin-right: 1vw;
    align-self: flex-end;
    font-size: calc(8px + 0.1vmax);
    color: $light-3;
  }
  .db-profile-container {
    border-radius: 15px;
    padding: 0 15%;
    box-shadow: 0 3px 15px -8px $dark-1;
    max-height: 90%;
    margin-top: 0.5vh;
    #profile-edit-btn-dsktp {
      display: block;
      position: absolute;
      border: none;
      background: transparent;
      cursor: pointer;
      top: 15px;
      right: 15px;
      font-size: calc(10px + 1vmax);
      color: $light-3;
      transition: color 0.2s ease-out;
      &:hover {
        color: $logo-3;
      }
    }
    #profile-pic {
      margin-top: -5vmax;
      width: 10vmax;
      height: 10vmax;
      box-shadow: 0 3px 10px -5px $dark-1;
      flex-shrink: 0;
    }
    #profile-name {
      margin-top: 3vh;
      font-size: calc(16px + 0.5vmax);
    }
    #profile-location {
      margin-top: 0.5vh;
      &::after {
        font-size: calc(6px + 0.2vmax);
      }
    }
    .sep {
      width: 60%;
      margin: 2vh 0;
    }
    #profile-bio {
      font-size: calc(8px + 0.2vmax);
      line-height: 165%;
      letter-spacing: 1px;
    }
    #profile-edit {
      height: 0;
      margin: 2.5vh 0;
      #profile-edit-btn-mobile {
        display: none;
      }
      #profile-save-btn {
        padding: 1em 2.5em;
        box-shadow: 0 5px 10px -8px $dark-3;
      }
    }
  }
  #profile-since {
    margin-right: 1vw;
    margin-bottom: 2vh;
  }
}

.db-profile-wrapper-edit {
  padding-bottom: 2vh;
  #profile-today,
  #profile-since {
    display: none;
  }
  .db-profile-container {
    margin-top: 0;
    max-height: none;
    height: calc(100% - 5vmax);
    padding: 0 5%;
    #profile-edit-btn-dsktp {
      display: none;
    }
    #profile-pic {
      label {
        height: 10vmax;
        width: 10vmax;
        i {
          width: 2vmax;
          height: 2vmax;
          font-size: calc(6px + 0.4vmax);
        }
        &:hover > i {
          color: $logo-2;
        }
      }
    }
    #profile-name {
      margin-top: 2vh;
    }
    #profile-location {
      margin: 1.5vh 0;
      &::after {
        margin-top: 0;
      }
    }
    #profile-bio {
      line-height: 120%;
      margin-left: 0;
      width: 100%;
    }
    #profile-edit {
      justify-content: flex-end;
      height: auto;
      font-size: calc(6px + 0.4vmax);
      margin: 2vh 0;
      #profile-save-btn {
        padding: 0.8em 2em;
        box-shadow: 0 5px 10px -8px $dark-3;
        margin-left: 10%;
        letter-spacing: 1px;
      }
    }
  }
}

#db-orders-wrapper {
  grid-area: orders;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding-top: calc(15px + 1.5vmax);
  padding-left: 1vw;
  padding-right: 4vw;
  padding-bottom: 2vh;

  #db-order-container {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background: rgba(199, 194, 213, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 2vmax;
    position: relative;

    & > * {
      width: 100%;
    }

    #db-order-header {
      font-size: calc(8px + 0.3vmax);
      color: $dark-3;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 0.75vmax;
      font-weight: 600;
      #db-order-view {
        color: $logo-2;
        cursor: pointer;
        i { 
          width: 20px;
          padding-left: 5px; 
          transition: padding 0.2s ease-out;
        }
        &:hover {
          i {
            padding-left: 7px;
          }
        }
      }
    }

    .db-order-item {
      background: $light-1;
      border-radius: 20px;
      height: 25%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      color: $dark-3;
      padding: calc(6px + 0.8vmax) 1.5vmax;
      cursor: pointer;
      transition: box-shadow 0.2s ease-out;
      position: relative;
      .db-order-go {
        font-size: calc(4px + 0.4vmax);
        color: $light-2;
        position: absolute;
        top: calc(6px + 0.8vmax);
        right: 1.5vmax;
        transition: color 0.2s ease-out, right 0.2s ease-out;
      }
      .db-order-number {
        font-size: calc(8px + 0.4vmax);
        font-weight: 600;
        font-family: $montserrat;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 25%;
        transition: color 0.2s ease-out;
        .db-order-notif-circle {
          margin-left: 10px;
          height: 1.6em;
          width: 1.6em;
          border-radius: 0.8em;
          background: $logo-2;
          color: $light-1;
          font-family: $poppins;
          font-size: calc(4px + 0.4vmax);
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color 0.2s ease-out;
          display: none;
          .db-order-notif {
            line-height: 1.6em;
          }
        }
      }
      .db-order-wrap {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .db-order-details {
          flex-shrink: 0;
          margin-right: 1vw;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
          font-size: calc(4px + 0.4vmax);
          transition: color 0.2s ease-out;
          i {
            width: 25px;
            color: $light-3;
            transition: color 0.2s ease-out;
          }
        }
        .db-order-total {
          margin-left: auto;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: flex-end;
          p {
            font-size: calc(4px + 0.4vmax);
            color: $light-3;
            transition: color 0.2s ease-out;
          }
          .db-order-amount {
            font-weight: 600;
            font-size: calc(10px + 0.4vmax);
            transition: color 0.2s ease-out;
          }
        }
      }

      &:hover {
        box-shadow: 0 4px 15px -12px $dark-2;
        .db-order-go {
          color: $logo-2;
          right: calc(1.5vmax - 2px);
        }
        .db-order-number {
          color: $logo-2;
          .db-order-notif-circle {
            background: $logo-2;
          }
        }
        .db-order-details {
          color: $logo-2;
          i {
            color: $dark-1;
          }
        }
        .db-order-total {
          p {
            color: $dark-1;
          }
          .db-order-amount {
            color: $logo-2;
          }
        }
      }
    }
    .db-order-past {
      & > * {
        color: $light-3;
      }
      .db-order-number > .db-order-notif-circle {
        background: $light-3;
      }
    }
  }
}

#db-proj-wrapper {
  grid-area: proj;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-top: 2vh;
  padding-left: calc(30px + 3vmax);
  padding-right: 4vw;
  padding-bottom: calc(15px + 1.5vmax);

  #db-proj-container {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background: rgba(199, 194, 213, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1vmax 2vmax;
    position: relative;

    #db-proj-header {
      font-size: calc(8px + 0.3vmax);
      color: $dark-3;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 0.75vmax;
      font-weight: 600;
      width: 100%;
      #db-proj-view {
        color: $logo-2;
        cursor: pointer;
        i { 
          width: 20px;
          padding-left: 5px; 
          transition: padding 0.2s ease-out;
        }
        &:hover {
          i {
            padding-left: 7px;
          }
        }
      }
    }

    .db-proj-item {
      background: $light-1;
      border-radius: 20px;
      width: 31%;
      height: 70%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 1vh 0 2vh;
      cursor: pointer;
      visibility: hidden;
      transition: box-shadow 0.2s ease-out;

      .db-proj-img {
        height: 11vh;
        width: 11vh;
        object-fit: cover;
        border-radius: 20px;
      }

      .db-proj-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 2vh;
        padding-top: 2.5vh;
        height: 100%;
        color: $dark-3;
        flex-grow: 1;
        transition: color 0.2s ease-out;
        overflow: hidden;

        .db-proj-name {
          width: 100%;
          font-weight: 600;
          font-size: calc(6px + 0.4vmax);
          font-family: $montserrat;
          line-height: 2.5em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .db-proj-makes {
          font-size: calc(4px + 0.4vmax);
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;  
          overflow: hidden;
        }
      }

      .db-proj-go {
        align-self: flex-end;
        width: 10px;
        padding-left: 0px;
        margin-left: 2vh;
        margin-bottom: 2vh;
        color: $light-2;
        flex-shrink: 0;
        font-size: calc(4px + 0.4vmax);
        transition: padding-left 0.2s ease-out, color 0.2s ease-out;
      }

      &:hover {
        box-shadow: 0 4px 15px -12px $dark-2;

        .db-proj-content {
          color: $logo-2;
        }
        .db-proj-go {
          color: $logo-2;
          padding-left: 2px;
        }
      }
    }
  }
}

.db-none {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  font-style: italic;
  font-size: calc(8px + 0.4vmax);
  color: $light-3;
  width: 100%;
  text-align: center;
}

}

@media only screen and (min-width: 1250px) {
  #db-area{

  }
}