@import "../global/all";

h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: $dark-2;
    font-size: calc(20px + 1vmax);
}

h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: $dark-1;
    font-size: calc(10px + 1vmax);
    margin-bottom: 1em;
}

h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: $dark-1;
    font-size: calc(7px + 1vmax);
    margin-bottom: 1em;
}

#settings-area{
    display: flex;
    flex-direction: column;
    padding: 2em 13vw 0 13vw;
    font-family: $poppins;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#settings-content-wrap{
    padding-top:1.5em;
}

#email-container, #address-container, #password-container, #subscription-container, #removeAccount-container{
    margin-bottom: 2em;
    max-width: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input{
    padding: 0.5em;
    font-size: 1em;
}

input:placeholder{
    color: $dark-1;
}

input:focus{
    outline: none;
    border: thin solid $logo-3;
    border-radius: 2px;
}


/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
    background-color: $light-1 !important;
}

#current-email, #newEmail-container, #emailPassword-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    label{
        flex: 0 0 100%;
        margin: 1em 0;
    }
    input{
        flex: 0 0 80%;
        margin-left: 1em;
    }
    .editSetting{
        flex: 0 0 10%;
        margin-left: 2vmin;
    }
}

#email-container{
    h2{
        margin: 0.5em;
    }
}

.errorMessage{
    color: red;
    font-size: 0.8em;
    margin: 2em;
    text-align: center;
}

.email-btn-group{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 10em;
    align-self: center;
    .grad-btn{
        margin-bottom: 2em;
    }
}

.divider{
    margin-top: 1em;
    border-bottom: thin solid $light-2;
    height: 0.3em;
}

#address-container{
    h2{
        margin-bottom: 1em;
    }
}

#address-item-wrap, #password-item-wrap{
    margin-bottom: 1em;
}


.address-item, .password-item{
    display: flex;
    flex-wrap: wrap;
    max-width: 30em;
    // border:thin red solid;
    input{
        flex: 0 0 80%;
        margin-bottom: 1em;
        padding: 0.5em;
        margin-left: 1em;
    }
    label{
        flex: 1 0 100%;
    }
}

.editSetting{
    color: $logo-2;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
    button{
        border: none;
        color:$logo-3;
        font-size: 1.5em;
        cursor: pointer;
        // margin-right: 1em;
        color: #C7C2D5;
        transition: all ease 0.2s;
        background-color: transparent;
        width: 1em;
        &:hover{
            color: $logo-1;
        }
    }
}

.editTitle{
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    .editSetting{
        flex: 0 0 10%;
        margin-left: 2vmin;
        // margin-bottom: 1em;
    }
    label{
        flex: 1 0 100%;
    }
}

#address-field-name{
    margin-bottom: 0;
}

#password-container{
    h2{
        margin: 0;
    }
}

#c1{
    margin-right: 0.5em;
}

#subscription-checkbox{
    margin-top: 1em;
    display: flex;
    align-items: center;
    h3{
        margin: 0;
    }
    label{
        flex: 0 0 50%;
        p{
            color: $dark-2;
            font-size: 0.8em;
        }
    }

}

// #password-edit-btn{
//     border: none;
//     color:$logo-3;
//     font-size: 1.5em;
//     cursor: pointer;
//     margin-right: 1em;
//     color: #C7C2D5;
// }

.hide {
    // -webkit-transition: ease-out 0.5s;
    // transition: ease-out 0.5s;
    height: 0em;
    overflow: hidden;
    opacity: 0;
    padding: 0;
    border: none;
    display: none;
}

.current{
    h2{
        margin: 0;
    }
    h3{
        margin: 0;
    }
    input{
        border: none;
        outline: none;
        background-color: $light-1;
        color: $dark-2;
        margin-bottom: 0;
        padding-left: 0 0 0 0.5em;
        margin-left: 1em;
    }
}

// #############################################################################
// MEDIA QUERY
// #############################################################################

@media only screen and (min-width: 850px) and (orientation: landscape) {
    h1{
        font-size: 1.8em;
    }
    
    h2{
        font-size: 1.2em;
    }
    h3{

        font-size: 0.8em;
    }


    
}