@import "../global/all_webapp";
// @import "../global/all";
// @import "dashboard";
@import "projects";
@import "orders";
@import "settings";

body {
  background: $light-1;
  max-width: 100%;
  overflow-x: hidden; 
  overflow-y: auto;
  height: 100%;
  max-height: 100%;
}

#profile-page {
  margin-top: $top-bar-height;
  height: calc(100vh - #{$top-bar-height});
  max-height: calc(100vh - #{$top-bar-height});
  font-family: $poppins;
}

.main-area {
  display: none;
  max-height: 100%;
  // width: 100%;
}

// #############################################################################
// MEDIA QUERY
// #############################################################################

@media only screen and (min-width: 850px) and (orientation: landscape) {
  #profile-page {
    margin-top: $top-bar-height;
    max-height: calc(100vh - #{$top-bar-height});
    height: calc(100vh - #{$top-bar-height});
    width: 100%;
    font-family: $poppins;
    flex-direction: row-reverse;
  }
}