@import "../global/all_webapp";

body{
  background: $light-1;
  max-width: 100%;
  overflow-x: hidden;
  font-family: $poppins;
}

.main-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: $top-bar-height;
}