// =============== C O L O U R S ===============
$logo-1: rgb(130, 88, 220);
$logo-2: rgb(104, 83, 217);
$logo-3: rgb(78, 78, 214);

$highlight: rgb(75, 240, 234);

$dark-3: rgb(45, 40, 60);
$dark-2: rgb(50, 45, 65);
$dark-1: rgb(135, 125, 169);

$light-1: rgb(255, 255, 255);
$light-2: rgb(248, 248, 248);
$light-3: rgb(199, 194, 213);

// ================= F O N T S =================
$montserrat: "Montserrat", sans-serif;
$poppins: "Poppins", sans-serif;
$raleway: "Raleway", sans-serif;

// ======== G E N E R A L   S T Y L E S ========
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

button {
  outline: none;
}

// =============== I M P O R T S ===============

@import "btn";
@import "../nav/hamburger";
@import "../nav/navbar";
@import "../nav/navigation";
@import "../other/menu";
@import "../other/message";
@import "../other/notification";
@import "../other/loading";
@import "../other/services";
@import "../other/sideBar";
@import "../other/userMenu";

// =============== C L A S S E S ===============
.loading-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  .layer {
    height: $diamond;
    width: $diamond;
    opacity: 0.3;
    position: absolute;
    border-radius: 1vw;
  }

  .layer-1 {
    animation: load-1 5s forwards infinite;
  }
  .layer-2 {
    margin-top: 0;
    margin-left: 0;
    animation: load-2 5s forwards infinite;
  }
  .layer-3 {
    animation: load-3 5s forwards infinite;
  }
}

.input-decor {
  position: relative;
  display: inline-block;
  border-bottom: 1.2px dotted $dark-3;

  input {
    border: none;
    padding: 0.5vw 1vw;
    width: 20vw;
    font-family: $poppins;
    height: 32px;

    &:focus {
      outline: none;
    }
  }


  label {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0.5vh;
    margin-left: 1vw;
    color: $light-3;
    letter-spacing: 1.5px;
    font-size: 1vw;
    font-weight: 100;
    transition: all 0.2s ease-out;
    pointer-events: none;
  }

  input:focus ~ label {
    margin-top: -2vh;
    font-size: 0.75vw;
    color: $highlight;
  }

  input:not(:focus):valid ~ label {
    margin-top: -2vh;
    font-size: 0.75vw;
    color: $light-3;
  }

  &::after,
  &:focus-within::after {
    content: "";
    border-bottom: 1.2px solid $highlight;
    position: absolute;
    width: 0%;
    top: 100%;
    left: 0%;
    transition: 0.5s ease-in-out;
  }

  &:focus-within::after {
    width: 100%;
  }
}

// ============ A N I M A T I O N S ============
@keyframes load-1 {
  0%,
  100% {
    background: $logo-3;
    margin-top: calc(#{$diamond} * -1 / 4);
    margin-left: 0;
    transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
  }
  25% {
    background: $logo-2;
    margin-top: 0;
    margin-left: $diamond;
    transform: perspective(75vw) rotateX(0deg) rotateY(-75deg) rotateZ(0deg);
    animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
  }
  50% {
    background: $logo-3;
    margin-top: calc(#{$diamond} * 1 / 4);
    margin-left: 0;
    transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg);
    animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
  }
  75% {
    background: $logo-2;
    margin-top: 0;
    margin-left: -$diamond;
    transform: perspective(75vw) rotateX(0deg) rotateY(75deg) rotateZ(-90deg);
    animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
  }
}

@keyframes load-2 {
  0%,
  100% {
    background: $logo-2;
    transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
  }
  25% {
    background: $logo-2;
    transform: perspective(75vw) rotateZ(0deg) rotateX(0deg) rotateY(-90deg);
    animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
  }
  50% {
    background: $logo-2;
    transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg);
    animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
  }
  75% {
    background: $logo-2;
    transform: perspective(75vw) rotateX(0deg) rotateY(90deg) rotateZ(-90deg);
    animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
  }
}

@keyframes load-3 {
  0%,
  100% {
    background: $logo-1;
    margin-top: calc(#{$diamond} * 1 / 4);
    margin-left: 0;
    transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
  }
  25% {
    background: $logo-2;
    margin-top: 0;
    margin-left: -$diamond;
    transform: perspective(75vw) rotateX(0deg) rotateY(-105deg) rotateZ(0deg);
    animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
  }
  50% {
    background: $logo-3;
    margin-top: calc(#{$diamond} * -1 / 4);
    margin-left: 0;
    transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg);
    animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
  }
  75% {
    background: $logo-2;
    margin-top: 0;
    margin-left: $diamond;
    transform: perspective(75vw) rotateX(0deg) rotateY(105deg) rotateZ(-90deg);
    animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
  }
}
