.reg-btn {
  cursor: pointer;
  font-family: $poppins;
  color: $logo-2;
  border: 1px solid $logo-2;
  background: transparent;
  
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 8px 40px;

  &:hover {
    border: none;
    background: linear-gradient(60deg, $logo-1, $logo-3);
    color: $light-1;
  }
}

@media only screen and (min-width: 850px) {

  .reg-btn {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 10px 30px;
  }

}