$poppins: "Poppins", sans-serif;
$montserrat: "Montserrat", sans-serif;


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
  background: transparent;
  font-family: $poppins;
}

input, input:before, input:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

nav,.mobile-notif-wrap,.notification-wrap,.main-page,.footer-section{
  &.hide {
    display: none;
  }
}

.hide {
  height: 0em;
  overflow: hidden;
  opacity: 0;
  padding: 0;
  margin: 0;
  border: none;
  display: none;
}

$logo-1: #8258DC;
$logo-2: #6853D9;
$logo-3: #4E4ED6;

$highlight: rgb(75, 240, 234); //#4bf0ea

$dark-3: rgb(45, 40, 60); //#2d283c
$dark-2: rgb(50, 45, 65); //#322d41
$dark-1: rgb(135, 125, 169); //#877da9

$light-1: rgb(255, 255, 255); //#ffffff
$light-2: rgb(248, 248, 248); //#f8f8f8
$light-3: rgb(199, 194, 213); //#c7c2d5

$height-mobile: 7vmax;
$height-desktop: 3.5vmax;

$menu-width: 100vw;

$top-bar-height: 80px;




$darkest: #050505;
$darker: #1A1039;
$dark: #786D97;

$light: #ABABAB;
$lighter: #F4F4F4;
$lightest: #FFFFFF;

$logo-mid: #6854d9;
$bg-grey: #FDFDFD;

