* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
}

$logo-1: rgb(130, 88, 220); //#8258dc
$logo-2: rgb(104, 83, 217); //#6853d9
$logo-3: rgb(78, 78, 214); //#4e4ed6

$highlight: rgb(75, 240, 234); //#4bf0ea

$dark-3: rgb(45, 40, 60); //#2d283c
$dark-2: rgb(50, 45, 65); //#322d41
$dark-1: rgb(135, 125, 169); //#877da9

$light-1: rgb(255, 255, 255); //#ffffff
$light-2: rgb(248, 248, 248); //#f8f8f8
$light-3: rgb(199, 194, 213); //#c7c2d5

$montserrat: "Montserrat", sans-serif;
$poppins: "Poppins", sans-serif;
$didact: "Didact Gothic", sans-serif;
$quest: "Questrial", sans-serif;

<<<<<<< Updated upstream
$diamond: 10vmax;
=======
$diamond: 5vmax;
>>>>>>> Stashed changes

$height-mobile: 7vmax;
$height-desktop: 3.5vmax;
