$input-width: 75vmin;

.input-decor {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid $light-2;
  height: 40px;

  input {
    border: none;
    width: $input-width;
    font-family: $poppins;
    font-size: 12px;
    margin-top: 18px;
    background: transparent;

    &:focus {
      outline: none;
    }
  }

  .input-label {
    position: absolute;
    top: 15px;
    left: 5px;
    color: $dark-1;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 100;
    pointer-events: none;
    background: transparent;
    transition: all 0.2s ease-out;
  }

  input:focus ~ .input-label,
  input:not(:focus):valid ~ .input-label {
    top: 0px;
    font-size: 8px;
    color: $highlight;
  }

  input:not(:focus):valid ~ .input-label {
    color: $dark-1;
  }

  .input-error {
    position: absolute;
    bottom: -15px;
    right: 0;
    font-size: 8px;
    color: red;
  }

  &::after,
  &:focus-within::after {
    content: "";
    border-bottom: 1px solid $highlight;
    position: absolute;
    width: 0%;
    top: 100%;
    left: 0%;
    transition: all 0.5s ease-out;
  }

  &:focus-within::after {
    width: 100%;
  }
}

@media only screen and (min-width: 850px) {

$input-width: 20vmax;

.input-decor {
  height: 50px;

  input {
    width: $input-width;
    margin-top: 22px;
    font-size: 16px;
  }

  .input-label {
    left: 10px;
    top: 25px;
    font-size: 16px;
  }

  input:focus ~ .input-label,
  input:not(:focus):valid ~ .input-label {
    font-size: 10px;
  }

  .input-error {
    bottom: -17px;
    font-size: 10px;
  }
}

}
