$input-width: 60vmin;

.input-decor {
  position: relative;
  display: inline-block;
  border-bottom: thin solid $light-2;
  height: 40px;

  input {
    border: none;
    width: $input-width;
    font-family: $poppins;
    font-size: 12px;
    margin-top: 18px;
    background: transparent;

    &:focus {
      outline: none;
      padding-left: 10px;
    }
  }

  .input-label {
    position: absolute;
    pointer-events: none;
    top: 15px;
    left: 5px;
    color: $dark-1;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 100;
    background: transparent;
    transition: all 0.2s ease-out;
  }

  input:focus ~ .input-label,
  input:not(:focus):valid ~ .input-label {
    top: 0px;
    font-size: 8px;
    color: $highlight;
  }

  input:not(:focus):valid ~ .input-label {
    color: $dark-1;
  }

  input:hover ~ .input-label {
    color: $highlight;
  }

  .input-error {
    position: absolute;
    bottom: -15px;
    right: 0;
    font-size: 8px;
    color: red;
  }

  &::after,
  &:focus-within::after {
    content: "";
    border-bottom: thin solid $highlight;
    position: absolute;
    width: 0%;
    top: 100%;
    left: 0%;
    transition: all 0.5s ease-out;
  }

  &:focus-within::after {
    width: 100%;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    box-shadow: 0 0 0 30px white inset;
  }
}

/* ----------------------------------------------------------------------------------------
INPUT ONE
---------------------------------------------------------------------------------------- */

.input-one {
  position: relative;
  display: inline-block;
  height: calc(34px + 3.4vmax);

  input {
    height: calc(13.2px + 1.32vmax);
    border: none;
    width: 100%;
    font-family: $poppins;
    font-size: calc(7.2px + 0.72vmax);
    padding-left: calc(6px + 0.6vmax);
    margin-top: calc(10.8px + 1.08vmax);
    background: transparent;
    border-bottom: thin solid $light-3;
    border-radius: 0;

    &:focus {
      outline: none;
    }

    &:disabled {
      
    }
  }

  label {
    position: absolute;
    pointer-events: none;
    top: calc(9px + 0.9vmax);
    left: calc(3px + 0.3vmax);
    color: $dark-1;
    letter-spacing: calc(0.6px + 0.06vmax);
    font-family: $poppins;
    font-size: calc(7.2px + 0.72vmax);
    font-weight: 100;
    background: transparent;
    transition: all 0.2s ease-out;
  }

  input:focus ~ label,
  input:not(:focus):valid ~ label {
    top: 0px;
    font-size: calc(4.8px + 0.48vmax);
    color: $highlight;
  }

  input:not(:focus):valid ~ label {
    color: $dark-1;
  }

  input:hover ~ label {
    color: $highlight;
  }

  p {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    font-family: $poppins;
    font-size: calc(4.8px + 0.48vmax);
    color: red;
    height: calc(10px + 1vmax);
  }

  &::after,
  &:focus-within::after {
    content: "";
    border-bottom: thin solid $highlight;
    position: absolute;
    width: 0%;
    left: 0%;
    bottom: calc(10px + 1vmax);
    transition: all 0.5s ease-out;
  }

  &:focus-within::after {
    width: 100%;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 calc(18px + 1.8vmax) white inset;
    box-shadow: 0 0 0 calc(18px + 1.8vmax) white inset;
  }
}

@media only screen and (min-width: 850px) and (orientation: landscape) {

  $input-width: 27em;

  .input-decor {
    height: 50px;

    input {
      width: $input-width;
      margin-top: 22px;
      font-size: 16px;
    }

    .input-label {
      left: 10px;
      top: 25px;
      font-size: 16px;
    }

    input:focus ~ .input-label,
    input:not(:focus):valid ~ .input-label {
      font-size: 10px;
    }

    .input-error {
      bottom: -17px;
      font-size: 10px;
    }
  }

  /* --------------------------------------------------------------------------------------
  INPUT ONE
  -------------------------------------------------------------------------------------- */

  .input-one {
    height: calc(28px + 2.8vmax);

    input {
    margin-top: calc(8.8px + 0.88vmax);
    padding-left: calc(5.2px + 0.52vmax);
    font-size: calc(6.4px + 0.64vmax);
    height: calc(11.2px + 1.12vmax);
  }

    label {
      left: calc(4px + 0.4vmax);
      top: calc(10px + 1vmax);
      font-size: calc(6.4px + 0.64vmax);
    }

    input:focus ~ label,
    input:not(:focus):valid ~ label {
      font-size: calc(4px + 0.4vmax);
    }

    &::after,
    &:focus-within::after {
      bottom: calc(8px + 0.8vmax);
    }

    p {
      font-size: calc(4px + 0.4vmax);
      height: calc(8px + 0.8vmax);
    }
  }
}
