/*======================================================================
REMOVE DEFAULT CSS
======================================================================*/

.rmv-h-css {
  display: inline;
  margin: 0;
  font-weight: normal;
}

.rmv-p-css {
  display: inline;
  margin: 0;
}

.rmv-link-css {
  text-decoration: none;
  color: black;
}

.rmv-file-css {
  height: 0;
  width: 0;
  overflow: hidden;
}

.rmv-btn-css {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  text-align: inherit;
  outline: none;
}
