// =============== C O L O U R S ===============
$logo-1: rgb(130, 88, 220);
$logo-2: rgb(104, 83, 217);
$logo-3: rgb(78, 78, 214);

$highlight: rgb(75, 240, 234);

$dark-3: rgb(45, 40, 60);
$dark-2: rgb(50, 45, 65);
$dark-1: rgb(135, 125, 169);

$light-1: rgb(255, 255, 255);
$light-2: rgb(248, 248, 248);
$light-3: rgb(199, 194, 213);

// ================= F O N T S =================
$montserrat: "Montserrat", sans-serif;
$poppins: "Poppins", sans-serif;

@import "hamburger";

@import "navigation";
@import "sideBar";
@import "notification";
@import "message";
@import "menu";
@import "userMenu";
@import "services";
@import "loading";

// ======== G E N E R A L   S T Y L E S ========
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: opacity 0.6s ease-in;
}

.nav-global {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  background: $light-1;
  font-family: $montserrat;

  .nav-wiper {
    width: 50px;
    height: 100vh;
    left: 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background: $light-1;
    border-right: 1.1px solid $light-2;
    position: absolute;
    transition: left 0.6s cubic-bezier(0.21, 0.65, 0.44, 0.99);

    #nav-logo {
      cursor: default;

      img {
        cursor: pointer;
        padding: 12.5px;
        width: 50px;
        margin-top: 3vh;
        margin-left: 0px;
        transition: margin-left 0.6s cubic-bezier(0.21, 0.65, 0.44, 0.99);
      }
    }
  }

  .nav-sidebar {
    width: 25px;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background: $light-1;
    position: absolute;
    transition: width 0.6s cubic-bezier(0.21, 0.65, 0.44, 0.99);
    overflow: hidden;

    .nav-services,
    .nav-createbase,
    .nav-socials {
      display: flex;
      flex-direction: column;
    }

    .nav-header {
      font-family: $poppins;
      font-weight: 900;
      font-size: 10px;
      letter-spacing: 1px;
      color: $dark-1;
      margin-bottom: 3vh;
      padding-left: 0px;
      transition: padding-left 0.6s cubic-bezier(0.21, 0.65, 0.44, 0.99);
    }

    .nav-item {
      padding-top: 0.75vh;
      padding-bottom: 0.75vh;
      padding-left: 0px;
      color: $dark-3;
      transition: padding-left 0.6s cubic-bezier(0.21, 0.65, 0.44, 0.99);

      &:hover {
        background: $light-2;
        color: $logo-2;
      }
    }

    .nav-socials {
      margin-left: -25px;
      transition: margin-left 0.6s cubic-bezier(0.21, 0.65, 0.44, 0.99);

      .fab {
        font-size: 25px;
        margin-left: 100px;
        margin-top: 1vh;
        width: 25px;
        cursor: pointer;
        color: $dark-3;

        &:hover {
          color: $logo-2;
        }
      }
    }
  }

  .nav-darken-filter {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: black;
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.21, 0.65, 0.44, 0.99);
    pointer-events: none;
  }

  &:hover {
    .nav-wiper {
      left: 200px;

      #nav-logo > img {
        margin-left: -187.5px;
      }
    }
    .nav-sidebar {
      width: 225px;

      .nav-item,
      .nav-header {
        padding-left: 25px;
      }

      .nav-socials {
        margin-left: 0;
      }
    }
    .nav-darken-filter {
      opacity: 0.05;
    }
  }
}

button {
  outline: none;
}

// =============== C L A S S E S ===============
.btn {
  border: $dark-3 solid 1px;
  color: $dark-3;
  background: $light-1;
  width: 10vw;
  font-size: 1vw;
  font-weight: 100;
  height: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.25vw;
  position: relative;
  cursor: pointer;
  outline: none;

  &:before,
  &:after {
    content: attr(data-text);
    border: $dark-3 solid 1px;
    color: $dark-3;
    background: $light-1;
    width: 10vw;
    font-size: 1vw;
    font-weight: 100;
    height: 2.5vw;
    letter-spacing: 0.25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    outline: none;
    pointer-events: none;
    visibility: hidden;

    left: 1px;
    text-shadow: -2px 2px greenyellow;
    box-shadow: inset -2px 0px greenyellow;
    z-index: 3;
    animation: btn-twitch 12s alternate-reverse infinite;
  }

  &:before {
    left: -1px;
    text-shadow: 2px 0 magenta;
    box-shadow: inset 1px 0 magenta;
    z-index: 2;
    animation: btn-twitch 10s infinite;
  }

  &:hover,
  &:hover:after,
  &:hover:before {
    color: $light-1;
    border: none;
    background-image: linear-gradient(to right, $logo-1, $logo-3);
  }

  &:hover:after,
  &:hover:before {
    content: attr(data-text);
    width: 10vw;
    height: 2.5vw;
    top: -0.2vw;
    font-size: 1vw;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
  }
  &:hover:after {
    left: 0.2vw;
    text-shadow: -1px 0 greenyellow;
    animation: btn-hover 1.5s linear alternate-reverse;
    border: none;
  }
  &:hover:before {
    left: -0.2vw;
    text-shadow: 1px 0 magenta;
    animation: btn-hover 2s linear alternate;
    border: none;
  }
}

.loading-icon {
  position: absolute;
  display: flex;
  align-items: center;
  height: inherit;
  width: 100%;
  // transform: translateX(0);
  // transition: transform 0.6s ease-in-out;

  .layer {
    height: $diamond;
    width: $diamond;
    opacity: 0.3;
    position: absolute;
    border-radius: 1vw;
    margin-top: $diamond/2 * -1;
    margin-left: $diamond/2 * -1;
  }

  .layer-1 {
    animation: load-1 5s forwards infinite;
  }
  .layer-2 {
    animation: load-2 5s forwards infinite;
  }
  .layer-3 {
    animation: load-3 5s forwards infinite;
  }
}

.input-decor {
  position: relative;
  display: inline-block;
  border-bottom: 1.1px dotted $dark-3;

  input {
    border: none;
    padding: 0.5vw 1vw;
    width: 20vw;

    &:focus {
      outline: none;
    }
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0.5vh;
    margin-left: 1vw;
    color: $light-3;
    letter-spacing: 1.5px;
    font-size: 1vw;
    font-weight: 100;
    transition: all 0.2s ease-out;
    pointer-events: none;
  }

  input:focus ~ label {
    margin-top: -2vh;
    font-size: 0.75vw;
    color: $highlight;
  }

  input:not(:focus):valid ~ label {
    margin-top: -2vh;
    font-size: 0.75vw;
    color: $light-3;
  }

  &::after,
  &:focus-within::after {
    content: "";
    border-bottom: 1.1px solid $highlight;
    position: absolute;
    width: 0%;
    top: 100%;
    left: 0%;
    transition: 0.5s ease-in-out;
  }

  &:focus-within::after {
    width: 100%;
  }
}

// ============ A N I M A T I O N S ============
@keyframes btn-hover {
  0% {
    clip: rect(-3px, 600px, 0px, 0px);
    visibility: visible;
  }
  2% {
    clip: rect(0px, 600px, 0px, 0px);
  }
  5% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  9% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  17% {
    clip: rect(100px, 600px, 100px, 0px);
  }
  29% {
    clip: rect(0px, 600px, 600px, 0px);
  }
  35% {
    clip: rect(100px, 600px, 0px, 0px);
  }
  41% {
    clip: rect(0px, 600px, 600px, 0px);
  }
  47% {
    clip: rect(100px, 600px, 0px, 0px);
  }
  52% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  58% {
    clip: rect(100px, 450px, 100px, 0px);
  }
  64% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  70% {
    clip: rect(100px, 450px, 100px, 0px);
  }
  76% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  82% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  88% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  94% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  100% {
    clip: rect(0px, 450px, 0px, 0px);
  }
}

@keyframes btn-twitch {
  0% {
    clip-path: inset(100% 100% 100% 100%);
  }

  18% {
    clip-path: inset(100% 100% 100% 100%);
    visibility: visible;
  }
  18.5% {
    clip-path: inset(53% 0 42% 0);
  }
  19% {
    clip-path: inset(53% 0 42% 0);
  }
  19.5% {
    clip-path: inset(100% 100% 100% 100%);
  }

  58% {
    clip-path: inset(100% 100% 100% 100%);
  }
  58.5% {
    clip-path: inset(22% 0 67% 0);
  }
  59% {
    clip-path: inset(22% 0 67% 0);
  }
  59.5% {
    clip-path: inset(100% 100% 100% 100%);
  }
  60% {
    clip-path: inset(43% 0 48% 0);
  }
  60.5% {
    clip-path: inset(43% 0 48% 0);
  }
  61% {
    clip-path: inset(100% 100% 100% 100%);
  }

  83% {
    clip-path: inset(100% 100% 100% 100%);
  }
  83.5% {
    clip-path: inset(68% 0 19% 0);
  }
  84% {
    clip-path: inset(68% 0 19% 0);
  }
  84.5% {
    clip-path: inset(100% 100% 100% 100%);
  }
  85% {
    clip-path: inset(19% 0 68% 0);
  }
  85.5% {
    clip-path: inset(19% 0 68% 0);
  }
  86% {
    clip-path: inset(100% 100% 100% 100%);
  }

  100% {
    clip-path: inset(100% 100% 100% 100%);
  }
}

@keyframes load-1 {
  0%,
  100% {
    background: $logo-3;
    top: calc(50% - 10vw);
    left: 50%;
    transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
  }
  25% {
    background: $logo-2;
    top: 50%;
    left: 80%;
    transform: perspective(75vw) rotateX(0deg) rotateY(-75deg) rotateZ(0deg);
    animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
  }
  50% {
    background: $logo-3;
    top: calc(50% + 10vw);
    left: 50%;
    transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg);
    animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
  }
  75% {
    background: $logo-2;
    top: 50%;
    left: 20%;
    transform: perspective(75vw) rotateX(0deg) rotateY(75deg) rotateZ(-90deg);
    animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
  }
}

@keyframes load-2 {
  0%,
  100% {
    background: $logo-2;
    top: 50%;
    left: 50%;
    transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
  }
  25% {
    background: $logo-2;
    top: 50%;
    left: 50%;
    transform: perspective(75vw) rotateZ(0deg) rotateX(0deg) rotateY(-90deg);
    animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
  }
  50% {
    background: $logo-2;
    top: 50%;
    left: 50%;
    transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg);
    animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
  }
  75% {
    background: $logo-2;
    top: 50%;
    left: 50%;
    transform: perspective(75vw) rotateX(0deg) rotateY(90deg) rotateZ(-90deg);
    animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
  }
}

@keyframes load-3 {
  0%,
  100% {
    background: $logo-1;
    top: calc(50% + 10vw);
    left: 50%;
    transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
  }
  25% {
    background: $logo-2;
    top: 50%;
    left: 20%;
    transform: perspective(75vw) rotateX(0deg) rotateY(-105deg) rotateZ(0deg);
    animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
  }
  50% {
    background: $logo-3;
    top: calc(50% - 10vw);
    left: 50%;
    transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg);
    animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
  }
  75% {
    background: $logo-2;
    top: 50%;
    left: 80%;
    transform: perspective(75vw) rotateX(0deg) rotateY(105deg) rotateZ(-90deg);
    animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
  }
}
