$poppins: "Poppins", sans-serif;

$darkest: #050505;
$darker: #1A1039;
$dark: #786D97;

$light: #ABABAB;
$lighter: #F4F4F4;
$lightest: #FFFFFF;

$purple-logo: #6854d9;
$bg-grey: #FDFDFD;

$blue-light: #36C4E8;
$blue-mid: #209ce2;
$blue-dark: #0A73DC;

$red: #FA6F6F;
$orange: #FFB649;
$green: #18DBAC;

$nav-height: 8rem;

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
  background: transparent;
  font-family: $poppins;
  color: $darker;
  font-size: 1rem;
}

.hide {
  height: 0em;
  overflow: hidden;
  opacity: 0;
  padding: 0;
  margin: 0;
  border: none;
  display: none;
}

body {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
}

.page {
  margin-top: $nav-height;
  width: 100%;
}