// Settings
// ==================================================
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 25px;
$hamburger-layer-height: 1px;
$hamburger-layer-spacing: 5px;
$hamburger-active-layer-color: $dark-3;
$hamburger-layer-color: $dark-3;

// Base Hamburger
// ==================================================
.hamburger {
  padding: $hamburger-padding-y $hamburger-padding-x;
  display: inline-block;
  // cursor: pointer;

  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;

  // Normalize (<button>)
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  &.is-active {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $hamburger-active-layer-color;
    }
  }
}

.hamburger-box {
  width: $hamburger-layer-width;
  height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: $hamburger-layer-height / -2;

  &,
  &::before,
  &::after {
    width: $hamburger-layer-width;
    height: $hamburger-layer-height;
    background-color: $hamburger-layer-color;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }

  &::after {
    bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }
}



.hamburger-screen-mode {

  &.is-active {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $light-1;
    }
  }
  
  .hamburger-inner {
    &,
    &::before,
    &::after {
      background-color: $light-1;
    }
  }
}



// Arrow Effect
// ==================================================
.hamburger-arrow {
  .hamburger-inner {
    &::before {
      transition: top 0.1s 0.1s ease,
                  transform 0.1s cubic-bezier(.21,.65,.44,.99);
    }

    &::after {
      transition: bottom 0.1s 0.1s ease,
                  transform 0.1s cubic-bezier(.21,.65,.44,.99);
    }
  }

  &.is-active {
    .hamburger-inner {
      &::before {
        top: 0;
        transform: translate3d($hamburger-layer-width * -0.25, $hamburger-layer-width * -0.25, 0) rotate(-45deg) scale(0.7, 1);
        transition: top 0.1s ease,
                    transform 0.1s 0.1s cubic-bezier(.21,.65,.44,.99);
      }

      &::after {
        bottom: 0;
        transform: translate3d($hamburger-layer-width * -0.25, $hamburger-layer-width * 0.25, 0) rotate(45deg) scale(0.7, 1);
        transition: bottom 0.1s ease,
                    transform 0.1s 0.1s cubic-bezier(.21,.65,.44,.99);
      }
    }
  }
}