@import "global/all_webapp";

body {
  width: 100%;
  overflow-x: hidden;
}

.main-page {
  width: inherit;
  padding-top: 60px;
  height: 100vh;
  position: relative;
}

.change-password-page {
  top: 0;
  left: 0;
  position: absolute;
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
  &.right {
    transform: translateX(100%);
  }
  &.left {
    transform: translateX(-100%);
  }
  .input-one {
    width: calc(120px + 12vmax);
  }
  h2 {
    margin-bottom: calc(30px + 3vmax);
    font-family: $poppins;
    font-size: calc(12px + 1.2vmax);
    font-weight: 600;
    letter-spacing: calc(0.8px + 0.08vmax);
    color: $dark-3;
  }
}

.change-password-buttons {
  height: calc(70px + 7vmax);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: calc(20px + 2vmax);
  button {
    height: calc(30px + 3vmax);
    width: calc(120px + 12vmax);
    padding: 0;
    font-size: calc(8px + 0.8vmax);
  }

  #change-password-resend-code {
    height: auto;
    cursor: pointer;
    border: none;
    background: none;
    font-family: $poppins;
    color: $logo-2;
    position: relative;
    overflow: hidden;
    transition: color 0.2s ease-out;
    &::after {
      pointer-events: none;
      content: '';
      position: absolute;
      left: -50%;
      bottom: 0;
      height: 1px;
      width: 50%;
      background: $logo-2;
      transition: left 0.4s ease-out;
    }
    &:hover {
      color: $highlight;
      &::after {
        left: 100%;
        background: $highlight;
      }
    }
  }
}

@media only screen and (min-width: 850px) and (orientation: landscape) {
  .change-password-page {
    .input-one {
      width: calc(100px + 10vmax);
    }
    h2 {
      font-size: calc(10px + 1vmax);
      font-weight: 400;
      letter-spacing: calc(0.6px + 0.06vmax);
    }
  }
  
  .change-password-buttons {
    height: calc(60px + 6vmax);
    button {
      height: calc(20px + 2.5vmax);
      width: calc(80px + 6vmax);
      font-size: calc(6px + 0.6vmax);
    }
  }
}