$diamond: 20vw;
@import "all";

/*=========================================================================================
VARIABLES
=========================================================================================*/

// Colours
$clr-vlt-1: rgb(130, 88, 220);
$clr-vlt-2: rgb(104, 83, 217);
$clr-vlt-3: rgb(78, 78, 214);
$clr-blk-1: rgb(45, 40, 60);
$clr-blk-2: rgb(50, 45, 65);
$clr-blk-3: #877da9;
$clr-wht-1: rgb(255, 255, 255);
$clr-wht-2: rgb(248, 248, 248);
$clr-wht-3: #c7c2d5;
// Font Families
$fnt-fml-1: "Montserrat", sans-serif;
$fnt-fml-2: "Poppins", sans-serif;

/*=========================================================================================
MOBILE CSS
=========================================================================================*/

/*-----------------------------------------------------------------------------------------
CHECKOUT
-----------------------------------------------------------------------------------------*/

.checkout-sub-pg {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.checkout-sub-hdng {
  height: 10vmax;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2vmax;
}

.checkout-sub-sub-pgs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 14vmax 0 4vmax;
}

.checkout-sub-sub-pg {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.checkout-sub-sub-hdng {
  width: 100%;
  display: flex;
  letter-spacing: 0.1vmax;
  border-bottom-style: solid;
  border-width: 0.3vmax;
  padding: 1vmax 2vmax;
  margin: 2vmax 0;
}

/*-----------------------------------------------------------------------------------------
CART
-----------------------------------------------------------------------------------------*/

.checkout-cart-loading-container {
  height: 16vmax;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-cart-loading {
  height: 4vmax;
  width: 4vmax;
}

.checkout-cart-cnts {
  width: 100%;
  height: 16vmax;
  transition: height 0.5s ease;
  overflow: hidden;
}

.checkout-prnt-cnt {
  height: 16vmax;
  width: 100%;
  display: flex;
  overflow: hidden;
  padding: 2vmax 0;
}

.checkout-prnt-cnt-cntn-1 {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-prnt-cnt-img {
  height: 8vmax;
  width: 8vmax;
}

.checkout-prnt-cnt-cntn-2 {
  height: 100%;
  width: 40%;
}

.checkout-prnt-cnt-file-name {
  height: 3vmax;
  width: 100%;
  display: flex;
  align-items: center;
}

.checkout-prnt-cnt-bld-type {
  height: 3vmax;
  width: 100%;
  display: flex;
  align-items: center;
}

.checkout-prnt-cnt-clr {
  height: 3vmax;
  width: 100%;
  display: flex;
  align-items: center;
}

.checkout-prnt-cnt-qnty-cntn {
  height: 3vmax;
  width: 100%;
  display: flex;
  align-items: center;
}

.checkout-prnt-cnt-qnty {
  width: 6vmax;
  margin: 0 1vmax;
}

.checkout-prnt-cnt-cntn-3 {
  height: 100%;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-end;
}

.checkout-prnt-cnt-cncl {
  height: 3vmax;
  width: 3vmax;
  background-color: $clr-blk-1;
}

.checkout-prnt-cnt-prc {
  height: 3vmax;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.checkout-mkpl-cnt {
  height: 16vmax;
  width: 100%;
  display: flex;
  overflow: hidden;
  padding: 2vmax 0;
}

.checkout-mkpl-cnt-cntn-1 {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-mkpl-cnt-img {
  height: 8vmax;
  width: 8vmax;
}

.checkout-mkpl-cnt-cntn-2 {
  height: 100%;
  width: 40%;
}

.checkout-mkpl-cnt-item-name {
  height: 4vmax;
  width: 100%;
  display: flex;
  align-items: center;
}

.checkout-mkpl-cnt-shop {
  height: 4vmax;
  width: 100%;
  display: flex;
  align-items: center;
}

.checkout-mkpl-cnt-qnty-cntn {
  height: 4vmax;
  width: 100%;
  display: flex;
  align-items: center;
}

.checkout-mkpl-cnt-qnty {
  width: 6vmax;
  margin: 0 1vmax;
}

.checkout-mkpl-cnt-cntn-3 {
  height: 100%;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-end;
}

.checkout-mkpl-cnt-cncl {
  height: 3vmax;
  width: 3vmax;
  background-color: $clr-blk-1;
}

.checkout-mkpl-cnt-prc {
  height: 3vmax;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.checkout-dsct-inp-cntn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vmax 0;
}

.checkout-dsct-inp {
  width: 70%;
}

.checkout-dsct-inp-btn {
  width: 25%;
  letter-spacing: 0.2vmax;
}

.checkout-dsct-inp-err {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  padding: 0.5vmax 0;
  letter-spacing: 0.1vmax;
}

.checkout-dsct-list-cntn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1vmax 0;
}

.checkout-dsct {
  width: 100%;
  letter-spacing: 0.2vmax;
  padding: 0.5vmax 0;
}

.checkout-mnft-spd-opts {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2vmax 0;
}

.checkout-mnft-spd-opt {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.checkout-mnft-spd-opt-inp {
  width: 100%;
}

.checkout-mnft-spd-opt-lbl {
  text-align: center;
  padding: 1vmax 0;
  line-height: 1.4;
  letter-spacing: 0.2vmax;
}

.checkout-cart-prcs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 2vmax 0;
}

.checkout-cart-prc-cntn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1vmax 0;
}

.checkout-cart-prc-lbl {
  letter-spacing: 0.1vmax;
}

.checkout-cart-prc {
  letter-spacing: 0.1vmax;
}

.checkout-cart-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4vmax 0;
}

.checkout-cart-btn {
  width: 14vmax;
  letter-spacing: 0.2vmax;
}

/*-----------------------------------------------------------------------------------------
SHIPPING
-----------------------------------------------------------------------------------------*/

.checkout-shpg-adrs-inp-cntn {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2vmax 0;
}

.checkout-shpg-adrs-cntn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2vmax 0;
}

.checkout-shpg-adrs-inp {
  margin: 0;
}

.checkout-shpg-adrs-svd-inp-lbl {
  letter-spacing: 0.1vmax;
  padding: 0 0 0 1.6vmax;
}

.checkout-shpg-adrs-svd-line {
  width: 100%;
  padding: 0.5vmax 0 0.5vmax 4vmax;
}

.checkout-shpg-adrs-new-lbl {
  width: 100%;
  padding: 1vmax 1vmax 0.5vmax 0;
}

.checkout-shpg-adrs-new-inp {
  width: 100%;
}

#checkout-shpg-adrs-new-unit-lbl {
  width: 70%;
}

#checkout-shpg-adrs-new-st-num-lbl {
  width: 25%;
}

#checkout-shpg-adrs-new-unit {
  width: 70%;
}

#checkout-shpg-adrs-new-st-num {
  width: 25%;
}

#checkout-shpg-adrs-new-zp-cd-lbl {
  width: 60%;
}

#checkout-shpg-adrs-new-zp-cd {
  width: 60%;
}

.checkout-shpg-mthd-cntn {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2vmax 0;
}

.checkout-shpg-mthd-inp {
  margin: 0;
}

.checkout-shpg-mthd-inp-lbl {
  letter-spacing: 0.1vmax;
  padding: 0 0 0 1.6vmax;
}

.checkout-shpg-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4vmax 0;
}

.checkout-shpg-btn {
  width: 14vmax;
  letter-spacing: 0.2vmax;
}

/*-----------------------------------------------------------------------------------------
PAYMENT
-----------------------------------------------------------------------------------------*/

.checkout-pymt-mthd-inp {
  margin: 0;
}

.checkout-pymt-mthd-inp-lbl {
  letter-spacing: 0.1vmax;
  padding: 0 0 0 1.6vmax;
}

#checkout-pymt-card-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2vmax 0;
}

.checkout-pymt-lbl {
  width: 100%;
  padding: 1vmax 1vmax 0.5vmax 0;
}

#checkout-card-num {
  width: 100%;
}

#checkout-pymt-card-exp-lbl {
  width: 40%;
}

#checkout-pymt-card-cvc-lbl {
  width: 40%;
}

#checkout-card-exp {
  width: 40%;
}

#checkout-card-cvc {
  width: 40%;
}

.checkout-pymt-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4vmax 0;
}

.checkout-pymt-btn {
  width: 14vmax;
  letter-spacing: 0.2vmax;
}

#checkout-pymt-card {
  width: 100%;
}

#checkout-pymt-card-cntn {
  width: 100%;
}

/*=========================================================================================
DESKTOP CSS
=========================================================================================*/

@media only screen and (min-width: 850px) {
}

/*=========================================================================================
END
=========================================================================================*/
.StripeElement {
  height: 4.8vmax;
  width: 100%;
  // Border
  border-width: 0.1vmax;
  border-style: none none solid none;
  border-bottom-color: $clr-blk-3;
  border-radius: 0vmax;
  appearance: none;
  // Spacing
  padding: 1.5vmax 1vmax;
  // Text
  font-family: $fnt-fml-1;
  font-size: 1.8vmax;
  // Text Colour
  color: $clr-blk-2;
}
