@import "global/all";

/*=========================================================================================
VARIABLES
=========================================================================================*/
$diamond: 5vw;

// Colours
$clr-vlt-1: rgb(130, 88, 220);
$clr-vlt-2: rgb(104, 83, 217);
$clr-vlt-3: rgb(78, 78, 214);
$clr-blk-1: rgb(45, 40, 60);
$clr-blk-2: rgb(50, 45, 65);
$clr-blk-3: #877da9;
$clr-wht-1: rgb(255, 255, 255);
$clr-wht-2: rgb(248, 248, 248);
$clr-wht-3: #c7c2d5;
$clr-ext-1: #4bf0ea;
// Font Families
$fnt-fml-2: "Montserrat", sans-serif;
$fnt-fml-2: "Poppins", sans-serif;

/*=========================================================================================
MOBILE CSS
=========================================================================================*/

/*-----------------------------------------------------------------------------------------
SUMMARY
-----------------------------------------------------------------------------------------*/

#checkout-sub-pg-summary {
  margin: 0;
  border: 0;
  padding: 0;
  height: 0;
  overflow: hidden;
}

/*-----------------------------------------------------------------------------------------
CHECKOUT
-----------------------------------------------------------------------------------------*/

.checkout-sub-pg {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.checkout-heading {
  height: 14vmax;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 4vmax;
  letter-spacing: 0.2vmax;
  color: $clr-wht-3;
  cursor: default;
}

.checkout-heading-valid {
  color: $clr-blk-1;
  cursor: pointer;
}

.checkout-sub-sub-pgs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 14vmax 0 4vmax;
}

.checkout-sub-sub-pg {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.checkout-sub-sub-hdng {
  height: 14vmax;
  width: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 0.1vmax;
}

/*-----------------------------------------------------------------------------------------
CART
-----------------------------------------------------------------------------------------*/

.checkout-cart-loading-container {
  height: 16vmax;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-cart-loading {
  height: 16vmax;
  width: 16vmax;
}

.checkout-cart-cnts {
  width: 100%;
  height: 16vmax;
  transition: height 0.5s ease;
  overflow: hidden;
}

.checkout-cart-cnts p {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $fnt-fml-2;
  letter-spacing: 0.2vmax;
  font-size: 2.4vmax;
  color: $clr-wht-3;
}

.checkout-prnt-cnt {
  height: 16vmax;
  width: 100%;
  display: flex;
  overflow: hidden;
  padding: 2vmax 0;
}

.checkout-prnt-cnt-cntn-1 {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-prnt-cnt-img {
  height: 8vmax;
  width: 8vmax;
}

.checkout-prnt-cnt-cntn-2 {
  height: 100%;
  width: 40%;
}

.checkout-prnt-cnt-file-name {
  height: 3vmax;
  width: 100%;
  display: flex;
  align-items: center;
}

.checkout-prnt-cnt-bld-type {
  height: 3vmax;
  width: 100%;
  display: flex;
  align-items: center;
}

.checkout-prnt-cnt-clr {
  height: 3vmax;
  width: 100%;
  display: flex;
  align-items: center;
}

.checkout-prnt-cnt-qnty-cntn {
  height: 3vmax;
  width: 100%;
  display: flex;
  align-items: center;
}

.checkout-prnt-cnt-qnty {
  width: 6vmax;
  margin: 0 1vmax;
}

.checkout-prnt-cnt-cntn-3 {
  height: 100%;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-end;
}

.checkout-prnt-cnt-prc {
  height: 3vmax;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.checkout-mkpl-cnt {
  height: 16vmax;
  width: 100%;
  display: flex;
  overflow: hidden;
  padding: 2vmax 0;
}

.checkout-mkpl-cnt-cntn-1 {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-mkpl-cnt-img {
  height: 8vmax;
  width: 8vmax;
}

.checkout-mkpl-cnt-cntn-2 {
  height: 100%;
  width: 40%;
}

.checkout-mkpl-cnt-item-name {
  height: 4vmax;
  width: 100%;
  display: flex;
  align-items: center;
}

.checkout-mkpl-cnt-shop {
  height: 4vmax;
  width: 100%;
  display: flex;
  align-items: center;
}

.checkout-mkpl-cnt-qnty-cntn {
  height: 4vmax;
  width: 100%;
  display: flex;
  align-items: center;
}

.checkout-mkpl-cnt-qnty {
  width: 6vmax;
  margin: 0 1vmax;
}

.checkout-mkpl-cnt-cntn-3 {
  height: 100%;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-end;
}

.checkout-mkpl-cnt-prc {
  height: 3vmax;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.checkout-dsct-inp-cntn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vmax 0;
}

#checkout-dsct-inp {
  width: 70%;
}

#checkout-dsct-inp-btn {
  width: 25%;
  letter-spacing: 0.2vmax;
}

#checkout-dsct-inp-err {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  padding: 0.5vmax 0;
  letter-spacing: 0.1vmax;
}

.checkout-dsct-list-cntn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1vmax 0;
}

.checkout-dsct {
  width: 100%;
  letter-spacing: 0.2vmax;
  padding: 0.5vmax 0;
}

.checkout-cart-prcs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 2vmax 0;
}

.checkout-pricing-container {
  height: 6vmax;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkout-pricing-container.total {
  height: 10vmax;
}

.checkout-cart-prc-cntn {
  height: 6vmax;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkout-cart-prc-lbl {
  letter-spacing: 0.1vmax;
}

.checkout-cart-prc {
  letter-spacing: 0.1vmax;
}

/*-----------------------------------------------------------------------------------------
SHIPPING
-----------------------------------------------------------------------------------------*/

// CLASSES

.checkout-shpg-adrs-cntn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  padding: 2vmax 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.checkout-shpg-adrs-cntn-new {
  height: 70vmax;
}

.checkout-shpg-adrs-cntn-svd {
  height: 16vmax;
  padding: 2vmax 0;
}

#checkout-shpg-adrs-cntn-svd p {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $fnt-fml-2;
  letter-spacing: 0.2vmax;
  font-size: 2.4vmax;
  color: $clr-wht-3;
}

.checkout-saved-address-line {
  height: 3vmax;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 0 6.2vmax;
  // TEXT
  font-family: $fnt-fml-2;
  font-size: 1.6vmax;
  letter-spacing: 0.2vmax;
  color: $clr-wht-3;
}

.checkout-shpg-adrs-new-lbl {
  width: 100%;
  padding: 1vmax 1vmax 0.5vmax 0;
}

.checkout-shpg-adrs-new-inp {
  width: 100%;
}

.checkout-shpg-mthd-cntn {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2vmax 0;
}

.checkout-shpg-mthd-inp {
  margin: 0;
}

.checkout-shpg-mthd-inp-lbl {
  letter-spacing: 0.1vmax;
  padding: 0 0 0 1.6vmax;
}

// IDS

#checkout-shpg-adrs-new-unit-lbl {
  width: 60%;
}

#checkout-shpg-adrs-new-st-num-lbl {
  width: 35%;
}

#checkout-shpg-adrs-new-unit {
  width: 60%;
}

#checkout-shpg-adrs-new-st-num {
  width: 35%;
}

#checkout-shpg-adrs-new-zp-cd-lbl {
  width: 60%;
}

#checkout-shpg-adrs-new-zp-cd {
  width: 60%;
}

#checkout-shipping-unit-error {
  width: 60%;
}

#checkout-shipping-street-number-error {
  width: 35%;
}

#checkout-shipping-postcode-error {
  width: 60%;
}

/*-----------------------------------------------------------------------------------------
PAYMENT
-----------------------------------------------------------------------------------------*/

// CARD - START

#checkout-pymt-card {
  width: 100%;
}

#checkout-pymt-card-cntn {
  width: 100%;
}

.checkout-payment-card-container {
  height: 47.6vmax;
  overflow: hidden;
  transition: all 0.5s ease;
}

#checkout-pymt-card-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.checkout-payment-card-input-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1vmax;
  label {
    height: 3vmax;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: $fnt-fml-2;
    font-size: 1.6vmax;
    letter-spacing: 0.2vmax;
    color: $clr-blk-3;
  }
  div {
    width: 100%;
  }
}

#checkout-card-number-container {
  width: 100%;
}

#checkout-card-expiry-container,
#checkout-card-cvc-container {
  width: 50%;
}

// CARD - END
// BANK TRANSFER - START

.checkout-payment-bank-transfer-container {
  height: 68vmax;
  overflow: hidden;
  transition: all 0.5s ease;
}

#checkout-payment-bank-transfer-instruction {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 3vmax 0;
}

.checkout-bank-transfer-instruction-line {
  height: 5vmax;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  h4 {
    display: flex;
    justify-content: flex-end;
  }
  h4,
  p {
    width: 50%;
    padding-left: 1vmax;
    font-family: $fnt-fml-2;
    font-size: 1.6vmax;
    letter-spacing: 0.2vmax;
  }
}

#checkout-bank-transfer-instruction-comment {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  div {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 3vmax;
    h3 {
      height: 3vmax;
      width: 100%;
      display: flex;
      align-items: center;
      font-family: $fnt-fml-2;
      font-size: 1.6vmax;
      letter-spacing: 0.2vmax;
    }
  }
}

// BANK TRANSFER - END

.checkout-complete-container {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-top: 60px;
  background-color: $clr-wht-1;
  opacity: 1;
  z-index: 100;
  #checkout-complete-loading-icon {
    height: 16vmax;
    width: 16vmax;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p {
    height: 4vmax;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $fnt-fml-2;
    font-size: 2vmax;
    letter-spacing: 0.2vmax;
    color: $clr-wht-3;
  }
}

#checkout-pymt-sub-sub-pg {
  padding: 4vmax 14vmax 4vmax 4vmax;
}

/*-----------------------------------------------------------------------------------------
NAVIGATION
-----------------------------------------------------------------------------------------*/

// CLASSES

.checkout-sub-pg {
  position: fixed;
  height: 100%;
  align-content: flex-start;
  padding-top: 60px;
  overflow-y: scroll;
  transition: all 0.5s ease;
  opacity: 1;
}

.checkout-sub-pg-left {
  transform: translateX(-100%);
  opacity: 0;
}

.checkout-sub-pg-right {
  transform: translateX(100%);
  opacity: 0;
}

.checkout-navigation-icon-container {
  width: 6vmax;
  height: 6vmax;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 3.5vmax;
  border-style: solid;
  border-width: 0.3vmax;
  transition: all 0.5s ease;
  .checkout-navigation-icon {
    width: 60%;
    height: 60%;
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease;
  }
}

.checkout-navigation-icon-container-selected {
  background-color: $clr-blk-1;
  border-color: $clr-blk-1;
  .checkout-navigation-icon-white {
    opacity: 1;
  }
}

.checkout-navigation-icon-container-deselected {
  background-color: $clr-wht-1;
  border-color: $clr-blk-1;
  .checkout-navigation-icon-black {
    opacity: 1;
  }
}

.checkout-navigation-icon-container-selected.valid {
  background-color: #008000;
  border-color: #008000;
  .checkout-navigation-icon-white {
    opacity: 1;
  }
}

.checkout-navigation-icon-container-deselected.valid {
  background-color: $clr-wht-1;
  border-color: #008000;
  .checkout-navigation-icon-green {
    opacity: 1;
  }
}

.checkout-navigation-icon-container-deselected.unavailable {
  background-color: $clr-wht-1;
  border-color: $clr-wht-3;
  .checkout-navigation-icon-grey {
    opacity: 1;
  }
}

// IDS

#checkout-navigation-container {
  width: 14vmax;
  height: calc(100% - 16vmax);
  position: fixed;
  top: 8vmax;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 26vh 0;
}

/*-----------------------------------------------------------------------------------------
GLOBAL
-----------------------------------------------------------------------------------------*/

// CLOSE BUTTON

.checkout-delete {
  position: relative;
  display: inline-block;
  width: 2.8vmax;
  height: 2.8vmax;
  cursor: pointer;
  &:hover {
    &::before,
    &::after {
      background: $clr-ext-1;
    }
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 50%;
    background: $clr-blk-3;
    height: 0.24vmax;
    border-radius: 0.12vmax;
    transition: all 0.1s ease;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.checkout-buttons {
  height: 24vmax;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 3vmax 6vmax;
}

.checkout-button {
  height: 6vmax;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1vmax;
  background-color: $clr-wht-3;
  font-family: $fnt-fml-2;
  font-size: 2vmax;
  letter-spacing: 0.3vmax;
  color: $clr-blk-1;
}

.checkout-button-valid {
  border-color: $clr-vlt-3;
  background-color: $clr-vlt-3;
  color: $clr-wht-1;
  cursor: pointer;
}

.checkout-radio-container {
  height: 6vmax;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.checkout-radio {
  height: 1.6vmax;
  width: 1.6vmax;
  cursor: pointer;
}

.checkout-radio-label {
  height: 100%;
  display: flex;
  align-items: center;
  font-family: $fnt-fml-2;
  font-size: 1.6vmax;
  letter-spacing: 0.2vmax;
  padding-left: 2.6vmax;
  color: $clr-blk-2;
  cursor: pointer;
}

.checkout-radio-label-disabled {
  color: $clr-wht-3;
  cursor: default;
}

.checkout-radio-error,
.checkout-radio-valid {
  height: 3vmax;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 4.2vmax;
  font-family: $fnt-fml-2;
  font-size: 1.2vmax;
  letter-spacing: 0.2vmax;
  color: #bb0000;
}

.checkout-radio-error {
  color: #bb0000;
}

.checkout-radio-valid {
  color: #008000;
}

.checkout-input-error {
  height: 2vmax;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: $fnt-fml-2;
  font-size: 1.2vmax;
  letter-spacing: 0.2vmax;
  color: #bb0000;
}

#checkout-loading-display {
  height: 5vmax;
  width: 40vmax;
  position: fixed;
  left: calc(50vw - 20vmax);
  bottom: 0;
  display: flex;
  align-items: center;
  border-top-left-radius: 1vmax;
  border-top-right-radius: 1vmax;
  padding: 0 2vmax;
  background-color: $clr-vlt-3;
  z-index: 10;
  transition: all 0.5s ease;
  #checkout-loading-display-load {
    width: 5vmax;
    display: flex;
    justify-content: center;
  }
  p {
    width: 31vmax;
    padding: 0 4vmax;
    font-family: $fnt-fml-2;
    font-size: 1.6vmax;
    font-weight: bold;
    letter-spacing: 0.3vmax;
    color: $clr-wht-1;
  }
}

#checkout-loading-display.hide {
  transform: translateY(5vmax);
}

.checkout-element-hide {
  margin: 0;
  border: 0;
  padding: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
}

.StripeElement {
  height: 4.8vmax;
  width: 100%;
  // Border
  border-width: 0.1vmax;
  border-style: none none solid none;
  border-bottom-color: $clr-blk-3;
  border-radius: 0vmax;
  appearance: none;
  // Spacing
  padding: 1.5vmax 1vmax;
  // Text
  font-family: $fnt-fml-2;
  font-size: 1.8vmax;
  // Text Colour
  color: $clr-blk-2;
}

/*=========================================================================================
DESKTOP CSS
=========================================================================================*/

@media only screen and (min-width: 850px) {
  .checkout-sub-pg {
    width: 64vw;
    position: relative;
    display: flex;
    padding: 0 12vmax 0 6vmax;
    overflow: hidden;
    cursor: default;
  }

  .checkout-sub-pg-cart {
    height: 89vmax;
  }

  .checkout-sub-pg-shipping {
    height: 90vmax;
  }

  .checkout-sub-pg-payment {
    height: 45vmax;
  }

  .checkout-heading {
    height: 8vmax;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // Text CSS
    font-size: 2vmax;
  }

  .checkout-sub-sub-pgs {
    padding: 0;
  }

  .checkout-sub-sub-hdng {
    height: 8vmax;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    // Text CSS
    font-size: 1.2vmax;
  }

  .checkout-sub-pg-left {
    height: 8vmax;
    transform: translateX(0);
    opacity: 1;
  }
  .checkout-sub-pg-right {
    height: 8vmax;
    transform: translateX(0);
    opacity: 1;
  }

  .checkout-prnt-cnt {
    height: 10vmax;
    padding: 2vmax 0;
  }

  .checkout-prnt-cnt-file-name {
    color: $clr-ext-1;
  }

  .checkout-prnt-cnt-cntn-1,
  .checkout-prnt-cnt-cntn-3 {
    width: 25%;
  }

  .checkout-prnt-cnt-cntn-2 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }

  .checkout-prnt-cnt-cntn-2 div,
  .checkout-prnt-cnt-qnty-lbl,
  .checkout-prnt-cnt-qnty,
  .checkout-prnt-cnt-prc,
  .checkout-shpg-adrs-new-lbl {
    font-size: 0.8vmax;
  }

  .checkout-prnt-cnt-qnty {
    height: 1.8vmax;
    width: 4vmax;
    margin: 0 0.6vmax;
    padding: 0 0.5vmax;
    border-width: 0.05vmax;
    border-radius: 0.2vmax;
  }

  .checkout-prnt-cnt-img {
    height: 6vmax;
    width: 6vmax;
  }

  .checkout-prnt-cnt-file-name,
  .checkout-prnt-cnt-bld-type,
  .checkout-prnt-cnt-clr,
  .checkout-prnt-cnt-qnty-cntn,
  .checkout-prnt-cnt-prc {
    height: 2vmax;
  }

  .checkout-prnt-cnt-bld-type,
  .checkout-prnt-cnt-clr {
    width: 50%;
  }

  .checkout-cart-cnts {
    height: 10vmax;
  }

  .checkout-cart-cnts p {
    font-size: 1.4vmax;
    letter-spacing: 0.12vmax;
  }

  .checkout-dsct-inp-cntn {
    height: 9vmax;
    align-content: center;
    padding: 2vmax;
  }

  #checkout-dsct-inp-btn {
    cursor: pointer;
  }

  .checkout-dsct {
    height: 1.4vmax;
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 0.8vmax;
  }

  .checkout-navigation-icon-container {
    height: 3vmax;
    width: 3vmax;
    border-width: 0.1vmax;
  }

  .checkout-shpg-adrs-cntn {
    padding: 1vmax 2vmax;
  }

  .checkout-shpg-adrs-cntn-new {
    height: 38vmax;
  }

  .checkout-shpg-adrs-new-lbl {
    padding: 0.5vmax 0.5vmax 0.25vmax 0;
  }

  .checkout-shpg-mthd-cntn {
    padding: 1vmax 2vmax;
  }

  #checkout-pymt-sub-sub-pg {
    padding: 1vmax 2vmax;
  }

  #checkout-navigation-container {
    height: 30vh;
    width: 3vmax;
    top: 35vh;
    right: 4.5vmax;
    padding: 0;
  }

  #checkout-dsct-inp-err {
    height: 1vmax;
    align-items: center;
    padding: 0;
    font-size: 0.6vmax;
  }

  #checkout-dsct-list-cntn {
    width: 100%;
  }

  // TEMPORARY
  // #checkout-pg element is temporary
  // padding: The 4vmax is temporary while the old navigation system exist
  #checkout-pg {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 8vmax 0 4vmax 36vw;
    overflow-x: hidden;
    overflow-y: auto;
  }

  #cart-sub-pg-prc {
    margin: 0;
    border: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
  }

  #checkout-pymt-bank-tsfr,
  #checkout-pymt-card,
  #checkout-pymt-bank-tsfr-cntn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .checkout-cart-loading-container {
    height: 8vmax;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .checkout-cart-loading {
    height: 4vmax;
    width: 4vmax;
  }

  /*---------------------------------------------------------------------------------------
  SHIPPING
  ---------------------------------------------------------------------------------------*/

  .checkout-shpg-adrs-cntn-svd {
    height: 10vmax;
    padding: 1vmax 0;
  }

  #checkout-shpg-adrs-cntn-svd p {
    letter-spacing: 0.1vmax;
    font-size: 1.2vmax;
  }

  .checkout-saved-address-line {
    height: 2vmax;
    padding: 0 0 0 4.1vmax;
    // TEXT
    font-size: 1vmax;
    letter-spacing: 0.1vmax;
  }

  /*---------------------------------------------------------------------------------------
  SUMMARY
  ---------------------------------------------------------------------------------------*/

  // CLASSES

  .checkout-summary-group {
    height: 3vmax;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vmax;
  }

  .checkout-summary-label,
  .checkout-summary-value {
    font-family: $fnt-fml-2;
    font-size: 0.8vmax;
    letter-spacing: 0.1vmax;
    color: $clr-blk-3;
  }

  // IDS

  // TEMPORARY
  // padding: The 4vmax 0 0 5vmax is temporary while the old navigation system exist
  #checkout-sub-pg-summary {
    height: 100%;
    width: 36vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 8vmax 6vmax 6vmax 8vmax;
    background-color: $clr-wht-2;
    overflow: hidden;
  }

  #checkout-summary-heading-container {
    height: 4vmax;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 4vmax 0;
  }

  #checkout-summary-heading-container h1 {
    font-family: $fnt-fml-2;
    font-size: 2vmax;
    font-weight: bold;
    letter-spacing: 0.1vmax;
    color: $clr-blk-2;
  }

  #checkout-summary-group-total {
    margin-top: 1vmax;
    height: 5vmax;
    border-top: solid;
    border-color: $clr-blk-2;
    border-width: 0.1vmax;
  }

  #checkout-summary-label-total,
  #checkout-summary-value-total {
    font-size: 1vmax;
    font-weight: bold;
    color: $clr-blk-2;
  }

  /*---------------------------------------------------------------------------------------
  PAYMENT
  ---------------------------------------------------------------------------------------*/

  // CARD - START

  .checkout-payment-card-container {
    height: 19.5vmax;
  }

  .checkout-payment-card-input-container {
    padding: 1vmax;
    label {
      height: 1.5vmax;
      font-size: 0.8vmax;
      letter-spacing: 0.1vmax;
    }
  }

  #checkout-card-number-container {
    width: 50%;
  }

  #checkout-card-expiry-container,
  #checkout-card-cvc-container {
    width: 25%;
  }

  .StripeElement {
    height: 2.4vmax;
    // Border
    border-width: 0.05vmax;
    // Spacing
    padding: 0.75vmax 0.5vmax;
    // Text
    font-size: 0.9vmax;
  }

  // CARD - END
  // BANK TRANSFER - START

  .checkout-payment-bank-transfer-container {
    height: 38.5vmax;
  }

  #checkout-payment-bank-transfer-instruction {
    padding: 1.5vmax 0;
  }

  .checkout-bank-transfer-instruction-line {
    height: 3vmax;
    justify-content: center;
    h4,
    p {
      width: 40%;
      padding-right: 0.5vmax;
      font-size: 1vmax;
      letter-spacing: 0.1vmax;
    }
  }

  #checkout-bank-transfer-instruction-comment {
    div {
      width: 50%;
      padding-top: 1.5vmax;
      h3 {
        height: 2vmax;
        width: 100%;
        font-size: 1vmax;
        letter-spacing: 0.1vmax;
      }
    }
  }

  // BANK TRANSFER - END

  .checkout-complete-container {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    #checkout-complete-loading-icon {
      height: 8vmax;
      width: 8vmax;
    }
    p {
      height: 2vmax;
      font-size: 1vmax;
      letter-spacing: 0.1vmax;
    }
  }

  /*---------------------------------------------------------------------------------------
  GLOBAL
  ---------------------------------------------------------------------------------------*/

  .checkout-element-hide {
    margin: 0;
    border: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
  }

  .checkout-delete {
    width: 1.4vmax;
    height: 1.4vmax;
    &::before,
    &::after {
      height: 0.12vmax;
      border-radius: 0.06vmax;
    }
  }

  .checkout-buttons {
    height: 12vmax;
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
  }

  .checkout-button {
    height: 3vmax;
    width: 14vmax;
    border-radius: 0.5vmax;
    font-size: 1vmax;
    letter-spacing: 0.2vmax;
  }

  .checkout-radio-container {
    height: 3vmax;
  }

  .checkout-radio {
    height: 1vmax;
    width: 1vmax;
  }

  .checkout-radio-label {
    font-size: 1vmax;
    letter-spacing: 0.1vmax;
    padding-left: 1.6vmax;
  }

  .checkout-radio-error,
  .checkout-radio-valid {
    height: 2vmax;
    padding-left: 2.6vmax;
    font-size: 0.7vmax;
    letter-spacing: 0.1vmax;
  }

  .checkout-input-error {
    height: 1.6vmax;
    font-size: 0.7vmax;
    letter-spacing: 0.1vmax;
  }

  #checkout-loading-display {
    height: 2.5vmax;
    width: 20vmax;
    left: calc(50vw - 10vmax);
    border-top-left-radius: 0.5vmax;
    border-top-right-radius: 0.5vmax;
    padding: 0 1vmax;
    #checkout-loading-display-load {
      width: 2.5vmax;
    }
    p {
      width: 15.5vmax;
      padding: 0 2vmax;
      font-size: 0.8vmax;
      letter-spacing: 0.15vmax;
    }
  }

  #checkout-loading-display.hide {
    transform: translateY(2.5vmax);
  }
}

/*=========================================================================================
END
=========================================================================================*/
