@import "global/all";

body {
    background: $light-1;
    max-width: 100%;
    overflow-x: hidden;
    font-family: $poppins;
}

.main-page {
    margin-top: $top-bar-height;
}

.nav-top-desktop {
  .nav-top-contact-us {
    color: $dark-1;
  }
}

.content-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 130em;
    margin: 0 auto;
}

.input-decor {
    border-bottom: thin solid $light-3;
}


.contact-wrap{
    margin: 5vh 0 5vh;
    width: 75vw;
    padding: 2vw;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container{
    .input-decor{
        margin: 2vh 0;
        width: 100%;
        input{
            width: 100%;
        }
    }
}


.title-container{
    h1{
        color: $dark-2;
        font-size: 2.5em;
        text-transform: uppercase;
    }
    .sub-title-container{
        display: flex;
        align-items: center;
        .sub-title-line{
            width: 5vw;
            max-width: 3em;
            height: 0.2em;
            background-color: $logo-2;
            margin-right: 1vw;
        }
        h4{
            color: $logo-2;
        }
    }
}

textarea{
  height: 20vh;
  outline: none;
  resize: none;
  overflow: auto;
  padding: 1em;
  font-family: $poppins;
  border-radius: 0.2em;
  border-color: $light-3;
  width: 100%;
  margin-top: 1em;
  font-size: 0.75em;
  color: $dark-3;
  letter-spacing: 1px;
  font-weight: 100;
  transition: border-color 0.2s ease-out;
  &::placeholder {
    color: $light-3;
  }
  &:focus {
    border-color: $highlight;
  }
  &:focus {  
    &::-webkit-scrollbar-track {
      background: $light-2;
  }
    &::-webkit-scrollbar-thumb {
      background: $logo-2;
  }
  }
  &::-webkit-scrollbar {
    height: 100%;
    width: 5px;
  }
  &::-webkit-scrollbar-track {
      background: $light-1;
  }

  &::-webkit-scrollbar-thumb {
      background: $light-3;
  }

  &::-webkit-scrollbar-thumb:hover {
      filter: $logo-2;
  }
}

.btn-container{
    margin: 2em 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    #form-submit{
        width: 60%;
    }
}

.info-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #474747;
    // border-bottom: thin solid $light-1;
}

.info-container{
    color: $light-1;
    width: 75vw;
    padding: 2em;
    margin: 0 auto;
    .title-text{
        font-weight: 600;
        font-size: 1.2em;
        margin-bottom: 0.5em;
    }
    .info-text{
        font-weight: 400;
        line-height: 180%;
    }
}

.icon-container{
    margin: 1em 0;
    display: flex;
    align-items: center;
    i{
        padding-right: 1em;
    }
}

.info-content-container{
    position: relative;
    width: 100%;
}

.background-texture{
    display: none;
}

@media only screen and (min-width: 850px){
    .main-page {
      height: calc(100vh - #{$top-bar-height});
    }
    .content-wrap {
      height: 100%;
    }
    .contact-wrap, .info-wrap{
        width: 25vw;
        min-width: 22em;
        margin: 5vh 2vh 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info-wrap{
        background-color: $light-1;
    }

    .info-content-container{
        position: relative;
    }

    .info-container{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        background-color: #474747;
        max-width: 20em;
        z-index: 100;
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/contact.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .icon-wrap{
        margin-top: 1em;
    }

    .icon-container{
        margin: 0.1em 0;
    }

    textarea{
        font-size: 0.9em;
    }

    .btn-container{
        justify-content: flex-start;
        #form-submit{
            max-width: 15em;
        }
    }

    .background-texture{
        display: block;
        overflow: visible;
        position: absolute;
        top: 0;
        transform: translateY(-80%);
        svg{
            max-width: 20em;
            fill: $logo-1;
            opacity: 0.5;
        }
    }
}

@media only screen and (min-width: 1000px){
    .contact-wrap, .info-wrap{
        width: 25vw;
        min-width: 22em;
        margin: 5vh 6vh 5vh;
    }

    .info-container{
        max-width: 23em;
        height: 23em;
    }

    .info-container{
        padding:3em;
    }

    .background-texture{
        display: block;
        margin-left: 3vw;
        margin-top: 15%;
        svg{
            max-width: 23em;
            height: 23em;
        }
    }

    .title-container{
        h1{
            color: $dark-2;
            font-size: 2.5em;
        }
        .sub-title-container{
            display: flex;
            align-items: center;
            .sub-title-line{
                margin-right: 1em;
            }
            h4{
                color: $logo-2;
            }
        }
    }
}