@import "global/all_webapp";

body {
  background: $light-1;
  max-width: 100%;
  overflow-x: hidden;
  font-family: $poppins;
}

.main-page {
  height: 100vh;
  width: inherit;
  padding-top: $top-bar-height;
  font-family: $poppins;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .error-img {
    object-fit: contain;
    height: 40%;
    width: 80%;
  }

  .error-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: calc(50px + 5vw);
    color: $dark-3;
  }
  h2 {
    margin-top: 2vh;
    font-size: calc(10px + 0.8vw);
    color: $light-3;
  }
  .error-msg {
    margin-top: 0.5vh;
    text-align: center;
    font-size: calc(8px + 0.4vw);
    color: $light-3;
  }
  #error-home {
    display: block;
    flex: 0 auto;
    padding: 1em 2em;
    border-radius: 2em;
    font-size: calc(10px + 0.4vw);
    margin-top: 6vh;
  }

}

@media only screen and (min-width: 850px){

  .main-page {
    flex-direction: row;
    justify-content: flex-end;
  
    .error-img {
      height: 75%;
      width: auto;
      max-width: 55%;
      padding-right: 10vw;
    }
  
    .error-container {
      position: absolute;
      top: 25%;
      left: 15%;
      width: 30%;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .error-msg {
      margin-top: 2vh;
      text-align: left;
    }
    #error-home {
      margin-top: 6vh;
    }
  }

}