/*======================================================================
VARIABLES
======================================================================*/
/*======================================================================
MOBILE CSS
======================================================================*/
/*======================================================================
DEFAULT ELEMENTS
======================================================================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

/*======================================================================
BASE ELEMENT
======================================================================*/
.content {
  height: 100%;
  padding: 8vmax 0;
}

.page {
  position: fixed;
  height: calc(100% - 16vmax);
  width: 100%;
  overflow-y: scroll;
  z-index: 1;
}

.page-nav-bar-hide {
  height: calc(100% - 8vmax);
}

/*======================================================================
REMOVE DEFAULT CSS
======================================================================*/
.rmv-h-css {
  display: inline;
  margin: 0;
  font-weight: normal;
}

.rmv-p-css {
  display: inline;
  margin: 0;
}

.rmv-link-css {
  text-decoration: none;
  color: black;
}

.rmv-file-css {
  height: 0;
  width: 0;
  overflow: hidden;
}

.rmv-btn-css {
  border: none;
  outline: none;
}

/*======================================================================
BACKGROUND COLOURS
======================================================================*/
.bgd-clr-1 {
  background-color: #4e4ed6;
}

.bgd-clr-vlt-1 {
  background-color: #8258dc;
}

.bgd-clr-vlt-2 {
  background-color: #6853d9;
}

.bgd-clr-vlt-3 {
  background-color: #4e4ed6;
}

.bgd-clr-blk-1 {
  background-color: #2d283c;
}

.bgd-clr-blk-2 {
  background-color: #322d41;
}

.bgd-clr-blk-3 {
  background-color: #877da9;
}

.bgd-clr-wht-1 {
  background-color: white;
}

.bgd-clr-wht-2 {
  background-color: #f8f8f8;
}

.bgd-clr-wht-3 {
  background-color: #c7c2d5;
}

/*======================================================================
TEXT COLOURS
======================================================================*/
.txt-clr-1 {
  color: #3c3c3c;
}

.txt-clr-2 {
  color: #877da9;
}

.txt-clr-3 {
  color: #f8f8f8;
}

.txt-clr-blk-1 {
  color: #2d283c;
}

.txt-clr-blk-2 {
  color: #322d41;
}

.txt-clr-blk-3 {
  color: #877da9;
}

.txt-clr-wht-1 {
  color: white;
}

.txt-clr-wht-2 {
  color: #f8f8f8;
}

.txt-clr-wht-3 {
  color: #c7c2d5;
}

/*======================================================================
INPUT FIELDS
======================================================================*/
.inp-txt-1 {
  height: 4.8vmax;
  border-width: 0.1vmax;
  border-style: none none solid none;
  border-bottom-color: #877da9;
  border-radius: 0vmax;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 1vmax;
  letter-spacing: 0.2vmax;
}

.inp-txt-1:focus {
  outline: none;
  border-bottom-color: #2d283c;
  color: #2d283c;
}

.inp-txt-1::-webkit-input-placeholder {
  color: #877da9;
}

.inp-txt-1:-ms-input-placeholder {
  color: #877da9;
}

.inp-txt-1::-ms-input-placeholder {
  color: #877da9;
}

.inp-txt-1::placeholder {
  color: #877da9;
}

.inp-txt-2 {
  height: 2.8vmax;
  border-width: 0.1vmax;
  border-style: solid;
  border-color: #877da9;
  border-radius: 0.3vmax;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 0.5vmax;
  letter-spacing: 0.2vmax;
}

.inp-txt-2:focus {
  outline: none;
  border-color: #2d283c;
  color: #2d283c;
}

.inp-txt-2::-webkit-input-placeholder {
  color: #877da9;
}

.inp-txt-2:-ms-input-placeholder {
  color: #877da9;
}

.inp-txt-2::-ms-input-placeholder {
  color: #877da9;
}

.inp-txt-2::placeholder {
  color: #877da9;
}

.inp-slct-1 {
  height: 4.8vmax;
  border-width: 0.1vmax;
  border-style: none none solid none;
  border-bottom-color: #877da9;
  border-radius: 0vmax;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 1vmax;
  letter-spacing: 0.2vmax;
}

.inp-slct-1:focus {
  outline: none;
  border-bottom-color: #2d283c;
  color: #2d283c;
}

.inp-slct-1 option {
  height: 4.8vmax;
  border-width: 0.1vmax;
  border-style: none none solid none;
  border-bottom-color: #877da9;
  border-radius: 0vmax;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 1vmax;
  letter-spacing: 0.2vmax;
}

/*======================================================================
TEXTS
======================================================================*/
.hdng-1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.2vmax;
  font-weight: bold;
}

.hdng-2 {
  font-family: "Poppins", sans-serif;
  font-size: 3.4vmax;
  font-weight: bold;
}

.hdng-3 {
  font-family: "Poppins", sans-serif;
  font-size: 4.6vmax;
  font-weight: bold;
}

.txt-1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8vmax;
}

.txt-2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.6vmax;
}

.txt-3 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.2vmax;
}

.sbtl-1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4vmax;
}

.sbtl-2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8vmax;
}

.sbtl-3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2vmax;
}

/*======================================================================
BUTTONS
======================================================================*/
.btn-1 {
  height: 4.8vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2.4vmax;
  letter-spacing: 0.2vmax;
}

/*======================================================================
TRANSITION SPEED
======================================================================*/
.trst-0 {
  -webkit-transition: none;
  transition: none;
}

/*======================================================================
TEMPORARY
======================================================================*/
.icn-1 {
  height: 8vmax;
  width: 8vmax;
  border-radius: 4vmax;
  background-color: #f8f8f8;
}

/*======================================================================
DESKTOP CSS
======================================================================*/
@media only screen and (min-width: 850px) {
  /*======================================================================
  BASE ELEMENT
  ======================================================================*/
  .content {
    padding: 4vmax 0 0 5vmax;
  }
  /*======================================================================
  INPUT FIELDS
  ======================================================================*/
  .inp-txt-1 {
    height: 2.4vmax;
    border-width: 0.05vmax;
    padding: 0 0.5vmax;
    letter-spacing: 0.1vmax;
  }
  .inp-slct-1 {
    height: 2.4vmax;
    border-width: 0.05vmax;
    padding: 0 0.5vmax;
    letter-spacing: 0.1vmax;
  }
  .inp-slct-1 option {
    height: 2.4vmax;
    border-width: 0.05vmax;
    padding: 0 0.5vmax;
    letter-spacing: 0.1vmax;
  }
  /*======================================================================
  TEXTS
  ======================================================================*/
  .hdng-1 {
    font-size: 1vmax;
  }
  .hdng-2 {
    font-size: 1.3vmax;
    letter-spacing: 0.15vmax;
  }
  .hdng-3 {
    font-size: 1.6vmax;
  }
  .txt-1 {
    font-size: 1vmax;
  }
  .txt-2 {
    font-size: 2.25vmax;
    letter-spacing: 0.15vmax;
  }
  .txt-3 {
    font-size: 1.2vmax;
    letter-spacing: 0.1vmax;
  }
  .sbtl-1 {
    font-size: 0.9vmax;
  }
  /*======================================================================
  BUTTONS
  ======================================================================*/
  .btn-1 {
    height: 2.5vmax;
    border-radius: 1.25vmax;
    letter-spacing: 0.1vmax;
  }
  /*======================================================================
  TEMPORARY
  ======================================================================*/
  .icn-1 {
    height: 3vmax;
    width: 3vmax;
    border-radius: 1.5vmax;
  }
}

/*======================================================================
END
======================================================================*/
