/*======================================================================
VARIABLES
======================================================================*/

// Temporary
$nav-bar-hght: 8vmax;
$nav-bar-hght-dktp: 4vmax;
$transition-1: all 0.5s ease-out;

// Official Colours
$logo-1: rgb(130, 88, 220);
$logo-2: rgb(104, 83, 217);
$logo-3: rgb(78, 78, 214);
$highlight: rgb(75, 240, 234);
$dark-1: rgb(45, 40, 60);
$dark-2: rgb(50, 45, 65);
$dark-3: rgb(135, 125, 169);
$light-1: rgb(255, 255, 255);
$light-2: rgb(248, 248, 248);
$light-3: rgb(199, 194, 213);

// Font Families
$montserrat: "Montserrat", sans-serif;
$poppins: "Poppins", sans-serif;

/*======================================================================
MOBILE CSS
======================================================================*/

/*======================================================================
DEFAULT ELEMENTS
======================================================================*/

* {
  box-sizing: border-box;
  transition: $transition-1;
}

body {
  margin: 0;
}

/*======================================================================
BASE ELEMENT
======================================================================*/

.content {
  height: 100%;
  padding: $nav-bar-hght 0;
}

.page {
  position: fixed;
  height: calc(100% - 16vmax);
  width: 100%;
  overflow-y: scroll;
  z-index: 1;
}

.page-nav-bar-hide {
  height: calc(100% - 8vmax);
}

/*======================================================================
REMOVE DEFAULT CSS
======================================================================*/

.rmv-h-css {
  display: inline;
  margin: 0;
  font-weight: normal;
}

.rmv-p-css {
  display: inline;
  margin: 0;
}

.rmv-link-css {
  text-decoration: none;
  color: black;
}

.rmv-file-css {
  height: 0;
  width: 0;
  overflow: hidden;
}

.rmv-btn-css {
  border: none;
  outline: none;
}

/*======================================================================
BACKGROUND COLOURS
======================================================================*/
// TEMPORARY
.bgd-clr-1 {
  background-color: $clr-vlt-3;
}

.bgd-clr-vlt-1 {
  background-color: $clr-vlt-1;
}

.bgd-clr-vlt-2 {
  background-color: $clr-vlt-2;
}

.bgd-clr-vlt-3 {
  background-color: $clr-vlt-3;
}

.bgd-clr-blk-1 {
  background-color: $clr-blk-1;
}

.bgd-clr-blk-2 {
  background-color: $clr-blk-2;
}

.bgd-clr-blk-3 {
  background-color: $clr-blk-3;
}

.bgd-clr-wht-1 {
  background-color: $clr-wht-1;
}

.bgd-clr-wht-2 {
  background-color: $clr-wht-2;
}

.bgd-clr-wht-3 {
  background-color: $clr-wht-3;
}

/*======================================================================
TEXT COLOURS
======================================================================*/

.txt-clr-1 {
  // TEMPORARY
  color: rgb(60, 60, 60);
}

.txt-clr-2 {
  // TEMPORARY
  color: $clr-6;
}

.txt-clr-3 {
  // TEMPORARY
  color: $clr-2;
}

.txt-clr-blk-1 {
  color: $clr-blk-1;
}

.txt-clr-blk-2 {
  color: $clr-blk-2;
}

.txt-clr-blk-3 {
  color: $clr-blk-3;
}

.txt-clr-wht-1 {
  color: $clr-wht-1;
}

.txt-clr-wht-2 {
  color: $clr-wht-2;
}

.txt-clr-wht-3 {
  color: $clr-wht-3;
}

/*======================================================================
INPUT FIELDS
======================================================================*/

.inp-txt-1 {
  height: 4.8vmax;
  // Border
  border-width: 0.1vmax;
  border-style: none none solid none;
  border-bottom-color: $clr-blk-3;
  border-radius: 0vmax;
  appearance: none;
  // Spacing
  padding: 0 1vmax;
  letter-spacing: 0.2vmax;
}

.inp-txt-1:focus {
  outline: none;
  border-bottom-color: $clr-blk-1;
  color: $clr-blk-1;
}

.inp-txt-1::placeholder {
  color: $clr-blk-3;
}

.inp-txt-2 {
  height: 2.8vmax;
  // Border
  border-width: 0.1vmax;
  border-style: solid;
  border-color: $clr-blk-3;
  border-radius: 0.3vmax;
  appearance: none;
  // Spacing
  padding: 0 0.5vmax;
  letter-spacing: 0.2vmax;
}

.inp-txt-2:focus {
  outline: none;
  border-color: $clr-blk-1;
  color: $clr-blk-1;
}

.inp-txt-2::placeholder {
  color: $clr-blk-3;
}

.inp-slct-1 {
  height: 4.8vmax;
  // Border
  border-width: 0.1vmax;
  border-style: none none solid none;
  border-bottom-color: $clr-blk-3;
  border-radius: 0vmax;
  appearance: none;
  // Spacing
  padding: 0 1vmax;
  letter-spacing: 0.2vmax;
}

.inp-slct-1:focus {
  outline: none;
  border-bottom-color: $clr-blk-1;
  color: $clr-blk-1;
}

.inp-slct-1 option {
  height: 4.8vmax;
  // Border
  border-width: 0.1vmax;
  border-style: none none solid none;
  border-bottom-color: $clr-blk-3;
  border-radius: 0vmax;
  appearance: none;
  // Spacing
  padding: 0 1vmax;
  letter-spacing: 0.2vmax;
}

/*======================================================================
TEXTS
======================================================================*/

.hdng-1 {
  font-family: $fnt-fml-2;
  font-size: 2.2vmax;
  font-weight: bold;
}

.hdng-2 {
  font-family: $fnt-fml-2;
  font-size: 3.4vmax;
  font-weight: bold;
}

.hdng-3 {
  font-family: $fnt-fml-2;
  font-size: 4.6vmax;
  font-weight: bold;
}

.txt-1 {
  font-family: $fnt-fml-1;
  font-size: 1.8vmax;
}

.txt-2 {
  font-family: $fnt-fml-1;
  font-size: 2.6vmax;
}

.txt-3 {
  font-family: $fnt-fml-1;
  font-size: 3.2vmax;
}

.sbtl-1 {
  font-family: $fnt-fml-1;
  font-size: 1.4vmax;
}

.sbtl-2 {
  font-family: $fnt-fml-1;
  font-size: 1.8vmax;
}

.sbtl-3 {
  font-family: $fnt-fml-1;
  font-size: 2.2vmax;
}

/*======================================================================
BUTTONS
======================================================================*/

.btn-1 {
  height: 4.8vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.4vmax;
  letter-spacing: 0.2vmax;
}

/*======================================================================
TRANSITION SPEED
======================================================================*/

.trst-0 {
  transition: none;
}

/*======================================================================
TEMPORARY
======================================================================*/

.icn-1 {
  height: 8vmax;
  width: 8vmax;
  border-radius: 4vmax;
  background-color: $clr-2;
}

/*======================================================================
DESKTOP CSS
======================================================================*/

@media only screen and (min-width: 850px) {
  /*======================================================================
  BASE ELEMENT
  ======================================================================*/

  .content {
    padding: 4vmax 0 0 5vmax;
  }

  /*======================================================================
  INPUT FIELDS
  ======================================================================*/

  .inp-txt-1 {
    height: 2.4vmax;
    // Border
    border-width: 0.05vmax;
    // Spacing
    padding: 0 0.5vmax;
    letter-spacing: 0.1vmax;
  }

  .inp-slct-1 {
    height: 2.4vmax;
    // Border
    border-width: 0.05vmax;
    // Spacing
    padding: 0 0.5vmax;
    letter-spacing: 0.1vmax;
  }

  .inp-slct-1 option {
    height: 2.4vmax;
    // Border
    border-width: 0.05vmax;
    // Spacing
    padding: 0 0.5vmax;
    letter-spacing: 0.1vmax;
  }

  /*======================================================================
  TEXTS
  ======================================================================*/

  .hdng-1 {
    font-size: 1vmax;
  }

  .hdng-2 {
    font-size: 1.3vmax;
    letter-spacing: 0.15vmax;
  }

  .hdng-3 {
    font-size: 1.6vmax;
  }

  .txt-1 {
    font-size: 1vmax;
  }

  .txt-2 {
    font-size: 2.25vmax;
    letter-spacing: 0.15vmax;
  }

  .txt-3 {
    font-size: 1.2vmax;
    letter-spacing: 0.1vmax;
  }

  .sbtl-1 {
    font-size: 0.9vmax;
  }

  /*======================================================================
  BUTTONS
  ======================================================================*/

  .btn-1 {
    height: 2.5vmax;
    border-radius: 1.25vmax;
    letter-spacing: 0.1vmax;
  }

  /*======================================================================
  TEMPORARY
  ======================================================================*/

  .icn-1 {
    height: 3vmax;
    width: 3vmax;
    border-radius: 1.5vmax;
  }
}

/*======================================================================
END
======================================================================*/
