/*=========================================================================================
VARIABLES
=========================================================================================*/

// Temporary

$clr-1: rgb(100, 100, 255);
$clr-2: rgb(240, 240, 255);
$clr-3: rgb(220, 220, 255);
$clr-4: rgb(220, 220, 220);
$clr-5: rgb(230, 230, 230);
$clr-6: rgb(120, 120, 120);
$nav-bar-hght: 8vmax;
$nav-bar-hght-dktp: 4vmax;
$transition-1: all 0.5s ease-out;
$fnt-1: Arial, Helvetica, sans-serif;

// Official
// Colours
$clr-vlt-1: rgb(130, 88, 220);
$clr-vlt-2: rgb(104, 83, 217);
$clr-vlt-3: rgb(78, 78, 214);
$clr-blk-1: rgb(45, 40, 60);
$clr-blk-2: rgb(50, 45, 65);
$clr-blk-3: rgb(165, 160, 180); // TEMPORARY
$clr-wht-1: rgb(255, 255, 255);
$clr-wht-2: rgb(248, 248, 248);
$clr-wht-3: rgb(160, 160, 160); // TEMPORARY
// Font Families
$fnt-fml-1: "Montserrat", sans-serif;
$fnt-fml-2: "Poppins", sans-serif;

/*-========================================================================================
MOBILE CSS
=========================================================================================*/

/*-----------------------------------------------------------------------------------------
RESET DEFAULT CSS
-----------------------------------------------------------------------------------------*/

.rmv-h-css {
  display: inline;
  margin: 0;
  font-weight: normal;
}

.rmv-p-css {
  display: inline;
  margin: 0;
}

.rmv-link-css {
  text-decoration: none;
  color: black;
}

/*-----------------------------------------------------------------------------------------
COLOURS
-----------------------------------------------------------------------------------------*/
// TEMPORARY
.bgd-clr-1 {
  background-color: $clr-vlt-3;
}

.bgd-clr-vlt-1 {
  background-color: $clr-vlt-1;
}

.bgd-clr-vlt-2 {
  background-color: $clr-vlt-2;
}

.bgd-clr-vlt-3 {
  background-color: $clr-vlt-3;
}

.bgd-clr-blk-1 {
  background-color: $clr-blk-1;
}

.bgd-clr-blk-2 {
  background-color: $clr-blk-2;
}

.bgd-clr-blk-3 {
  background-color: $clr-blk-3;
}

.bgd-clr-wht-1 {
  background-color: $clr-wht-1;
}

.bgd-clr-wht-2 {
  background-color: $clr-wht-2;
}

.bgd-clr-wht-3 {
  background-color: $clr-wht-3;
}

.txt-clr-1 {
  // TEMPORARY
  color: rgb(60, 60, 60);
}

.txt-clr-2 {
  // TEMPORARY
  color: $clr-6;
}

.txt-clr-3 {
  // TEMPORARY
  color: $clr-2;
}

.txt-clr-blk-1 {
  color: $clr-blk-1;
}

.txt-clr-blk-2 {
  color: $clr-blk-2;
}

.txt-clr-blk-3 {
  color: $clr-blk-3;
}

.txt-clr-wht-1 {
  color: $clr-wht-1;
}

.txt-clr-wht-2 {
  color: $clr-wht-2;
}

.txt-clr-wht-3 {
  color: $clr-wht-3;
}

/*-----------------------------------------------------------------------------------------
INPUT FIELDS
-----------------------------------------------------------------------------------------*/

.inp-txt-1 {
  height: 4.8vmax;
  // Border
  border-width: 0.1vmax;
  border-style: none none solid none;
  border-bottom-color: $clr-blk-3;
  // Spacing
  padding: 0 1vmax;
  letter-spacing: 0.2vmax;
}

.inp-txt-1:focus {
  outline: none;
  border-bottom-color: $clr-blk-1;
  color: $clr-blk-1;
}

.inp-txt-1::placeholder {
  color: $clr-blk-3;
}

.inp-slct-1 {
  height: 4.8vmax;
  // Border
  border-width: 0.1vmax;
  border-style: none none solid none;
  border-bottom-color: $clr-blk-3;
  // Spacing
  padding: 0 1vmax;
  letter-spacing: 0.2vmax;
}

.inp-slct-1:focus {
  outline: none;
  border-bottom-color: $clr-blk-1;
  color: $clr-blk-1;
}

.inp-slct-1 option {
  height: 4.8vmax;
  // Border
  border-width: 0.1vmax;
  border-style: none none solid none;
  border-bottom-color: $clr-blk-3;
  // Spacing
  padding: 0 1vmax;
  letter-spacing: 0.2vmax;
}

/*-----------------------------------------------------------------------------------------
TEXTS
-----------------------------------------------------------------------------------------*/

.hdng-1 {
  font-family: $fnt-fml-2;
  font-size: 2vmax;
  font-weight: bold;
}

.hdng-2 {
  font-family: $fnt-fml-2;
  font-size: 2.6vmax;
  font-weight: bold;
  letter-spacing: 0.3vmax;
}

.hdng-3 {
  font-family: $fnt-fml-2;
  font-size: 3.2vmax;
  font-weight: bold;
}

.txt-1 {
  font-family: $fnt-fml-1;
  font-size: 2vmax;
}

.txt-2 {
  font-family: $fnt-fml-1;
  font-size: 4.5vmax;
  letter-spacing: 0.3vmax;
  margin: 0;
}

.txt-3 {
  font-family: $fnt-fml-1;
  font-size: 2.4vmax;
  letter-spacing: 0.2vmax;
  margin: 0;
}

.sbtl-1 {
  font-family: $fnt-fml-1;
  font-size: 1.8vmax;
}

/* -------------------------------
TEXT-COLOR
------------------------------- */

body {
  margin: 0;
  height: 100vh;
}

* {
  box-sizing: border-box;
  transition: $transition-1;
}

.icn-1 {
  height: 8vmax;
  width: 8vmax;
  border-radius: 4vmax;
  background-color: $clr-2;
}

.content {
  height: 100%;
  padding: $nav-bar-hght 0;
}

.page {
  position: fixed;
  height: calc(100% - 16vmax);
  width: 100%;
  overflow-y: scroll;
  z-index: 1;
}

.page-nav-bar-hide {
  height: calc(100% - 8vmax);
}

@media only screen and (min-width: 850px) {
  .content {
    padding: 4vmax 0 0 5vmax;
  }

  /*-----------------------------------------------------------------------------------------
  INPUT FIELDS
  -----------------------------------------------------------------------------------------*/

  .inp-txt-1 {
    height: 2.4vmax;
    // Border
    border-width: 0.05vmax;
    // Spacing
    padding: 0 0.5vmax;
    letter-spacing: 0.1vmax;
  }

  .inp-slct-1 {
    height: 2.4vmax;
    // Border
    border-width: 0.05vmax;
    // Spacing
    padding: 0 0.5vmax;
    letter-spacing: 0.1vmax;
  }

  .inp-slct-1 option {
    height: 2.4vmax;
    // Border
    border-width: 0.05vmax;
    // Spacing
    padding: 0 0.5vmax;
    letter-spacing: 0.1vmax;
  }

  /*-----------------------------------------------------------------------------------------
  TEXTS
  -----------------------------------------------------------------------------------------*/

  .hdng-1 {
    font-size: 1vmax;
  }

  .hdng-2 {
    font-size: 1.3vmax;
    letter-spacing: 0.15vmax;
  }

  .txt-1 {
    font-size: 1vmax;
  }

  .txt-2 {
    font-size: 2.25vmax;
    letter-spacing: 0.15vmax;
  }

  .txt-3 {
    font-size: 1.2vmax;
    letter-spacing: 0.1vmax;
  }

  .sbtl-1 {
    font-size: 0.9vmax;
  }

  .icn-1 {
    height: 3vmax;
    width: 3vmax;
    border-radius: 1.5vmax;
  }
}
