$diamond: 35vw; /* _all.scss uses $diamond so it must be declared first */
@import "all";

body {
  background: black;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;

  .home-topbar {
    .btn-reg {
      width: 8vw;
      height: 35px;
      background: transparent;
      border: $light-1 solid 1px;
      font-size: 15px;
      letter-spacing: 2px;
      color: $light-1;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      outline: none;
    }

    #nav-top-login {
      border: none;
    }
  }

  .home-sidebar {
    position: absolute;
  }

  .main-page {
    display: flex;
    flex-direction: column;
  }
}

.landing-page-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .landing-slide {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .landing-vid {
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
  }

  .landing-msg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-family: $montserrat;
      font-weight: bolder;
      font-size: 5rem;
    }
  }

  .slide-1 {
    position: absolute;
    left: 0;
    opacity: 0;
    animation: landing-fade-in 0.1s linear 0.6s forwards;
    
    #landing-msg-1 {
      color: $light-1;

      p {
        font-family: $poppins;
        font-size: 1rem;
        font-weight: 100;
        letter-spacing: 10px;
      }
    }
  }
  
  .slide-2 {
    position: absolute;
    left: 0;
    animation: landing-fade-in 0.5s ease-in-out forwards;

    #landing-msg-2 {
      width: 30%;
      left: 15vw !important;
      color: $light-3;
    }
  }

  .slide-right-active {
    animation: landing-fade-out 0.5s ease-in-out forwards;
  }

  .landing-nav-btn {
    position: absolute;
    width: 100vw;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    .landing-nav-wrapper,
    .landing-nav-hitbox {
      height: 20px;
      width: 50px;
      border-radius: 10px;
      border: 2px solid $light-3;
      transition: all 0.3s ease-out;
    }

    .landing-nav-switch {
      position: absolute;
      height: 12px;
      border-radius: 12px;
      animation: toggle-slide-left 0.5s ease-out forwards;
    }

    .landing-nav-hitbox {
      position: absolute;
      border: none;
      cursor: pointer;
    }

    .right-wrapper-active {
      border: 2px solid $light-1;
    }

    .right-switch-active {
      animation: toggle-slide-right 0.5s ease-out forwards;
    }
  }
}

.eng-kit-section {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: $light-1;
  display: flex;
  align-items: center;
  justify-content: center;

  .eng-kit-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      filter: blur(15px);
    }

    .eng-kit-text {
      z-index: 2;

      .eng-kit-code {
        font-family: $poppins;
        font-weight: 900;
        font-size: 1vmax;
        letter-spacing: 0.2vmax;
        color: $light-3;
      }
      
      .eng-kit-title {
        font-family: $montserrat;
        font-weight: 900;
        font-size: 6vmax;
        color: $dark-3;
        animation: all-title 0.6s ease-out forwards;
      }
      
      .eng-kit-desc {
        opacity: 0;
        font-family: $montserrat;
        font-weight: 100;
        font-size: 0.8vmax;
        padding-right: 2vmax;
        color: $dark-3;
      }
      
      .eng-kit-more {
        opacity: 0;
        font-family: $poppins;
        color: $dark-1;
        letter-spacing: 0.2vmax;
        font-weight: 900;
        font-size: 1vmax;

        &:hover {
          color: $highlight;
        }
      }

      .eng-kit-line {
        opacity: 0;
        display: inline-block;
        animation: all-line 0.3s ease-out 1.2s forwards;
      }

      .eng-kit-line-overlap {
        opacity: 0;
        display: inline-block;
        width: 0vmax;
        transition: 0.5s ease-out;
      }
    }
  }

  .eng-kit-brycep {
    img {
      margin-left: -5vmax;
      height: 40vmax;
    }
    .eng-kit-text {
      width: 30vmax;
      height: 30vmax;
      .eng-kit-code {
        margin-left: 10vmax;
        animation: brycep-code 0.3s ease-out forwards;
      }
      .eng-kit-title {
        margin-left: 6vmax;
      }
      .eng-kit-desc {
        margin-bottom: 4vmax;
        padding-right: 2vmax;
        animation: brycep-desc 0.6s ease-out 0.3s forwards;
      }
      .eng-kit-more {
        animation: brycep-more 0.6s ease-out 0.9s forwards;

        &:hover ~ .eng-kit-line-overlap {
          width: 7vmax;
        }
      }
      .eng-kit-line {
        margin-left: 1vmax;
        height: 0.4vmax;
        border-top: $light-3 solid 1px;
      }
      .eng-kit-line-overlap {
        margin-left: calc(-7vmax - 4px);
        height: 0.4vmax;
        border-top: $highlight solid 1px;
      }
    }
  }

  .eng-kit-hyelos {
    margin-top: -5vmax;
    margin-left: 20vmax;
    display: none;
    img {
      margin-top: 8vmax;
      margin-left: -85vmax;
      width: 50vmax;
    }
    .eng-kit-text {
      width: 30vmax;
      height: 30vmax;
      .eng-kit-code {
        margin-left: 0vmax;
        animation: hyelos-code 0.3s ease-out forwards;
      }
      .eng-kit-title {
        margin-left: -10vmax;
      }
      .eng-kit-desc {
        margin-left: 0vmax;
        margin-bottom: 3vmax;
        width: 26vmax;
        text-align: right;
        animation: hyelos-desc 0.6s ease-out 0.3s forwards;
      }
      .eng-kit-more {
        animation: hyelos-more 0.6s ease-out 0.9s forwards;

        &:hover ~ .eng-kit-line-overlap {
          width: 7vmax;
        }
      }
      .eng-kit-line {
        margin-left: 1vmax;
        height: 0.4vmax;
        border-top: $light-3 solid 1px;
      }
      .eng-kit-line-overlap {
        margin-left: calc(-7vmax - 4px);
        height: 0.4vmax;
        border-top: $highlight solid 1px;
      }
    }
  }

  .eng-kit-stc {
    margin-top: -5vmax;
    margin-left: 20vmax;
    display: none;
    img {
      margin-top: 8vmax;
      margin-left: -85vmax;
      width: 40vmax;
    }
    .eng-kit-text {
      width: 30vmax;
      height: 30vmax;
      .eng-kit-code {
        margin-left: 0vmax;
        animation: hyelos-code 0.3s ease-out forwards;
      }
      .eng-kit-title {
        margin-left: -10vmax;
      }
      .eng-kit-desc {
        margin-left: 0vmax;
        margin-bottom: 3vmax;
        width: 26vmax;
        text-align: right;
        animation: hyelos-desc 0.6s ease-out 0.3s forwards;
      }
      .eng-kit-more {
        animation: hyelos-more 0.6s ease-out 0.9s forwards;

        &:hover ~ .eng-kit-line-overlap {
          width: 7vmax;
        }
      }
      .eng-kit-line {
        margin-left: 1vmax;
        height: 0.4vmax;
        border-top: $light-3 solid 1px;
      }
      .eng-kit-line-overlap {
        margin-left: calc(-7vmax - 4px);
        height: 0.4vmax;
        border-top: $highlight solid 1px;
      }
    }
  }

  .eng-kit-hide {
    display: none;
  }

  .eng-kit-btn-container {
    transform: rotate(90deg);
    position: absolute;
    right: -10vmax;
    display: flex;
    flex-direction: row;
    
    .eng-kit-btn {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      margin: 0 3vmax;
      cursor: pointer;
      
      .eng-kit-btn-dot {
        opacity: 0;
        height: 0.4vmax;
        width: 0.4vmax;
        border-radius: 0.4vmax;
        background: $dark-1;
        margin-left: -0.4vmax;
        margin-top: 0.4vmax;
      }

      .eng-kit-btn-text {
        font-family: $poppins;
        color: $dark-1;
        font-size: 0.6vmax;
        letter-spacing: 0.4vmax;
        font-weight: 800;
      }

      &:hover > .eng-kit-btn-dot {
        opacity: 1;
      }
    }
  }
}

.test-section {
  position: relative;
  background: $light-1;
  height: 50vh;

  .test-header {
    p {
      padding-top: 8vmax;
      padding-bottom: 1vmax;
      text-align: center;
      font-family: $montserrat;
      font-size: 1vmax;
      color: $dark-1;
      letter-spacing: 2px;
    }
  }

  .test-logo-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    .test-box {
      position: relative;
      height: 10vmax; 
      width: 10vmax;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $light-1;
      transition: 0.3s ease-out;

      img {
        width: 5vmax;
        transition: 0.3s ease-out;
      }

      .test-corner {
        position: absolute;
        height: 0;
        width: 0;
        visibility: hidden;
        transition: 0.5s ease-out;
      }

      .top-left { 
        margin-top: -5vmax; 
        margin-left: calc(-5vmax - 0.5px); 
        border-top: 1px solid $dark-3;
        border-left: 1px solid $dark-3;
      }
      .top-right { 
        margin-top: -5vmax; 
        margin-left: calc(5vmax + 0.5px); 
        border-top: 1px solid $dark-3;
        border-right: 1px solid $dark-3;
      }
      .bottom-left { 
        margin-top: 5vw; 
        margin-left: calc(-5vmax - 0.5px); 
        border-bottom: 1px solid $dark-3;
        border-left: 1px solid $dark-3;
      }
      .bottom-right { 
        margin-top: 5vmax; 
        margin-left: calc(5vmax + 0.5px); 
        border-bottom: 1px solid $dark-3;
        border-right: 1px solid $dark-3;
      }

      &:hover {
        border: 0.8px solid $light-3;
        z-index: 2;
        
        .test-corner {
          z-index: 100;
          height: 1vmax;
          width: 1vmax;
          visibility: visible;
        }

        .top-left { 
          margin-top: -4.5vmax; 
          margin-left: calc(-4.5vmax - 0.5px) 
        }
        .top-right { 
          margin-top: -4.5vmax; 
          margin-left: calc(4.5vmax + 0.5px); 
        }
        .bottom-left { 
          margin-top: 4.5vmax; 
          margin-left: calc(-4.5vmax - 0.5px); 
        }
        .bottom-right { 
          margin-top: 4.5vmax; 
          margin-left: calc(4.5vmax + 0.5px); 
        }
      }
    }
  }
}

@keyframes toggle-slide-right {
  0% {
    width: 12px;
    margin-left: -15px;
    background: $light-3;
  }
  70% {
    width: 22px;
  }
  100% {
    width: 12px;
    margin-left: 14px;
    background: $light-1;
  }
}

@keyframes toggle-slide-left {
  0% {
    width: 12px;
    margin-left: 15px;
    background: $light-1;
  }
  70% {
    width: 22px;
  }
  100% {
    width: 12px;
    margin-left: -14px;
    background: $light-3;
  }
}

@keyframes landing-fade-in {
  0% { opacity: 0; visibility: hidden; }
  100% { opacity: 1; visibility: visible; }
}

@keyframes landing-fade-out {
  0% { opacity: 1; visibility: visible; }
  100% { opacity: 0; visibility: none; }
}

@keyframes all-title {
  0% { opacity: 0; margin-top: -1vmax; }
  100% { opacity: 1; margin-top: 0vmax; }
}
@keyframes all-line {
  0% { opacity: 0; width: 0vmax; }
  100% { opacity: 1; width: 7vmax; }
}

@keyframes brycep-code {
  0% { opacity: 0; margin-top: 5vmax; }
  100% { opacity: 1;  margin-top: 6vmax; }
}
@keyframes brycep-desc {
  0% { opacity: 0; margin-top: 4vmax; }
  100% { opacity: 1; margin-top: 6vmax; }
}
@keyframes brycep-more {
  0% { opacity: 0; margin-left: 2vmax; }
  100% { opacity: 1; margin-left: 4vmax; }
}

@keyframes hyelos-code {
  0% { opacity: 0; margin-top: 9vmax; }
  100% { opacity: 1; margin-top: 10vmax; }
}
@keyframes hyelos-desc {
  0% { opacity: 0; margin-top: 2vmax; }
  100% { opacity: 1; margin-top: 4vmax; }
}
@keyframes hyelos-more {
  0% { opacity: 0; margin-left: 6vmax; }
  100% { opacity: 1; margin-left: 8vmax; }
}

