@import "global/all";

:root {
  --swiper-pagination-color: #{$dark-1};
  --swiper-theme-color: #{$light-3};
}

body {
  background: $light-1;
  max-width: 100%;
  overflow-x: hidden; 
}

.main-page {
  margin-top: $top-bar-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.landing-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - #{$top-bar-height});

  .landing-slide {
    position: relative;
    margin: 2vmax 0;
    height: 20vh;
    width: 70vw;

    img {
      height: inherit;
      width: inherit;
      object-fit: cover;
      overflow: hidden;
      opacity: 1;
    }

    .landing-slide-text {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      z-index: 2;

      .landing-slide-title {
        display: none;
      }

      .landing-slide-text-sep {
        display: none;
      }
  
      .landing-slide-sub {
        margin-top: 0vh;
        font-family: $poppins;
        font-size: 2vmax;
        font-weight: 800;
        letter-spacing: 0.4vmax;
        color: $light-1;
        opacity: 0;
        text-align: center;
        align-self: center;
        animation: landing-slide-sub-anim 0.5s ease-out 1.2s forwards;
      }

      .landing-slide-text-sep-2 {
        margin-top: 2vh;
        height: 1px;
        width: 0vw;
        background: $light-1;
        opacity: 0;
        transition: all 0.3s ease-out;
        animation: landing-slide-sep-anim 0.4s cubic-bezier(.28,.6,.3,.98) 1.7s forwards;
      }

      &:hover {
        .landing-slide-text-sep-2 {
          opacity: 1;
          background: $highlight;
        }
      }
    }
  }

  #landing-1,
  #landing-2,
  #landing-3 {
    position: relative;

    &:before,
    &:after {
      content: '';
      z-index: 3;
      position: absolute;
      pointer-events: none;
      top: 0;
      width: 70vw;
      height: 20vh;
      background: $light-1;
    }

    &:after {
      background: $light-2;
    }
  }

  #landing-1 {
    &:before,
    &:after {
      right: 0;
      animation: landing-side-before-anim 0.8s ease-out 0.8s forwards;
    }
    &:after {
      width: 0vmax;
      animation: landing-side-after-anim 0.8s ease-out 0.8s forwards;
    }
  }

  #landing-2 {
    &:before,
    &:after {
      left: 0;
      animation: landing-mid-before-anim 0.8s ease-out 0.4s forwards;
    }
    &:after {
      height: 0vmax;
      animation: landing-mid-after-anim 0.8s ease-out 0.4s forwards;
    }
  }

  #landing-3 {
    &:before,
    &:after {
      left: 0;
      animation: landing-side-before-anim 0.8s ease-out 0.8s forwards;
    }
    &:after {
      width: 0vmax;
      animation: landing-side-after-anim 0.8s ease-out 0.8s forwards;
    }
  }
}

.landing-slide-nav-container {
  display: none;
}

.eng-kit-section {
  position: relative;  
  width: 100vw;
  height: 70vh;
  background: $light-2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .swiper-wrapper {
    width: 100vw;
  }
  
  .eng-kit-container {
    position: relative;
    height: 55vh;
    width: 100vw;

    img {
      position: absolute;
      filter: blur(10px);
      opacity: 0;
    }

    .eng-kit-text {
      position: absolute;
      z-index: 2;

      .eng-kit-code {
        position: absolute;
        font-family: $poppins;
        font-weight: 900;
        font-size: 4vw;
        letter-spacing: 0.5vw;
        color: $light-3;
        width: 50vw;
        opacity: 0;
      }
      
      .eng-kit-title {
        position: absolute;
        font-family: $montserrat;
        font-weight: 900;
        font-size: 10vw;
        color: $dark-3;
        opacity: 0;
      }
      
      .eng-kit-desc {
        display: none;
      }
      
      .eng-kit-more {
        position: absolute;
        opacity: 0;
        font-family: $poppins;
        color: $dark-1;
        letter-spacing: 0.5vw;
        font-weight: 900;
        font-size: 3vw;
        width: 30vw;

        &:hover {
          color: $highlight;
        }

        &:hover ~ .eng-kit-line-overlap {
          width: 15vw;
        }
      }

      .eng-kit-line {
        position: absolute;
        height: 1px;
        border-top: $light-3 solid 1px;
      }

      .eng-kit-line-overlap {
        position: absolute;
        width: 0vw;
        height: 1px;
        border-top: $highlight solid 1px;
        transition: width 0.5s ease-out;
      }
    }
  }

  .eng-kit-brycep {
    img {
      top: 5vh;
      left: 38vw;
      width: 50vw;
    }
    .eng-kit-text {
      .eng-kit-code {
        top: 13vh;
        left: 13vw;
      }
      .eng-kit-title {
        top: 16vh;
        left: 10vw;
      }
      .eng-kit-more {
        top: 33vh;
        left: 13vw;
      }
      .eng-kit-line,
      .eng-kit-line-overlap {
        top: 30vh;
        left: 13vw;
      }
    }
  }

  .eng-kit-hyelos {
    img {
      top: 6vh;
      left: 10vw;
      width: 70vw;
    }
    .eng-kit-text {
      .eng-kit-code {
        top: 34vh;
        left: 40vw;
      }
      .eng-kit-title {
        top: 26vh;
        left: 20vw;
      }
      .eng-kit-more {
        top: 43vh;
        left: 50vw;
      }
      .eng-kit-line,
      .eng-kit-line-overlap {
        top: 40vh;
        left: 50vw;
      }
    }
  }

  .eng-kit-stc {
    img {
      top: 11vh;
      left: 19vw;
      width: 70vw;
    }
    .eng-kit-text {
      .eng-kit-code {
        top: 3vh;
        left: 22vw;
      }
      .eng-kit-title {
        top: 6vh;
        left: 14vw;
      }
      .eng-kit-more {
        top: 42vh;
        left: 25vw;
      }
      .eng-kit-line,
      .eng-kit-line-overlap {
        top: 47vh;
        left: 25vw;
      }
    }
  }

  .eng-kit-load {
    img {
      animation: all-img 0.4s ease-out forwards;
    }
    .eng-kit-text {
      .eng-kit-code {
        animation: all-code 0.3s ease-out 0.2s forwards;
      }
      .eng-kit-title {
        animation: all-title 0.6s ease-out 0.2s forwards;
      }
      .eng-kit-more {
        animation: all-more 0.6s ease-out 0.9s forwards;
      }
      .eng-kit-line {
        animation: all-line 0.3s ease-out 1.2s forwards;
      }
    }
  }

  .eng-kit-coming-soon  {
    font-family: $poppins;
    font-size: 2vw;
    color: $dark-1;
    font-weight: 100;
    letter-spacing: 0.3vmax;
    margin-bottom: 1vh;
  }

  .eng-kit-btn-container {
    display: none;
  }
}

.test-section {
  position: relative;
  background: $light-1;
  height: 25vmax;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .test-header {
    width: 100%;
    p {
      padding-top: 5vmax;
      padding-bottom: 1vmax;
      text-align: center;
      font-family: $montserrat;
      font-size: 2vh;
      color: $dark-1;
      letter-spacing: 2px;
    }
  }

  .test-logo-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    .test-box {
      position: relative;
      height: 10vmax; 
      width: 10vmax;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgba(255, 255, 255, 0);
      transition: 0.3s ease-out;

      img {
        width: 5vmax;
      }

      .test-corner {
        position: absolute;
        height: 0;
        width: 0;
        visibility: hidden;
        transition: 1s ease-out;
      }

      .top-left { 
        margin-top: -5vmax; 
        margin-left: calc(-5vmax - 0.5px); 
        border-top: 1px solid $dark-3;
        border-left: 1px solid $dark-3;
      }
      .top-right { 
        margin-top: -5vmax; 
        margin-left: calc(5vmax + 0.5px); 
        border-top: 1px solid $dark-3;
        border-right: 1px solid $dark-3;
      }
      .bottom-left { 
        margin-top: 5vw; 
        margin-left: calc(-5vmax - 0.5px); 
        border-bottom: 1px solid $dark-3;
        border-left: 1px solid $dark-3;
      }
      .bottom-right { 
        margin-top: 5vmax; 
        margin-left: calc(5vmax + 0.5px); 
        border-bottom: 1px solid $dark-3;
        border-right: 1px solid $dark-3;
      }

      &:hover {
        border: 0.8px solid $light-3;
        transition: 0.6s ease-out;
        
        .test-corner {
          height: 1vmax;
          width: 1vmax;
          visibility: visible;
          transition: 0.3s ease-out;
        }

        .top-left { 
          margin-top: -4.5vmax; 
          margin-left: calc(-4.5vmax - 0.5px) 
        }
        .top-right { 
          margin-top: -4.5vmax; 
          margin-left: calc(4.5vmax + 0.5px); 
        }
        .bottom-left { 
          margin-top: 4.5vmax; 
          margin-left: calc(-4.5vmax - 0.5px); 
        }
        .bottom-right { 
          margin-top: 4.5vmax; 
          margin-left: calc(4.5vmax + 0.5px); 
        }
      }
    }
  }
}

@keyframes landing-slide-sub-anim {
  0% { margin-top: 0vh; opacity: 0; }
  100% { margin-top: 2vh; opacity: 1; }
}
@keyframes landing-slide-sep-anim {
  0% { width: 0vw; opacity: 0; }
  100% { width: 10vw; opacity: 0.75; }
}

@keyframes landing-side-before-anim {
  50% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes landing-side-after-anim {
  0% { width: 0vmax; opacity: 1; }
  50% { width: 70vw; opacity: 1; }
  100% { width: 70vw; opacity: 0; }
}

@keyframes landing-mid-before-anim {
  50% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes landing-mid-after-anim {
  0% { height: 0vmax; opacity: 1; }
  50% { height: 20vh; opacity: 1; }
  100% { height: 20vh; opacity: 0; }
}

@keyframes all-img {
  0% { opacity: 0; margin-top: -2vh;}
  100% { opacity: 1; margin-top: 0vh;}
}
@keyframes all-code {
  0% { opacity: 0; margin-top: -1vh; }
  100% { opacity: 1; margin-top: 0vh; }
}
@keyframes all-title {
  0% { opacity: 0; margin-top: -2vh; }
  100% { opacity: 1; margin-top: 0vh; }
}
@keyframes all-more {
  0% { opacity: 0; margin-left: -3vw; }
  100% { opacity: 1; margin-left: 0vw; }
}
@keyframes all-line {
  0% { width: 0vw; }
  100% { width: 15vw; }
}

@media only screen and (min-width: 850px) {

  .main-page {
    margin-top: 0vh;
  }
  
  .landing-section {
    height: 100vh;
    flex-direction: column;
  }
  
  .landing-carousel {
    flex-direction: row;
    width: 300vw;
    height: auto;
    transition: margin-left 0.5s cubic-bezier(.28,.6,.3,.98);
  
    .landing-slide {
      margin: auto 2vmax;
      height: 35vmax;
  
      .landing-slide-text {
        justify-content: flex-start;
  
        .landing-slide-title {
          display: block;
          padding-top: 17vmax;
          margin-top: -1vh;
          font-family: $poppins;
          font-weight: 800;
          font-size: 1.8vmax;
          letter-spacing: 0.4vmax;
          color: $light-1;
          z-index: 2;
          opacity: 0;
          animation: landing-slide-title-anim 0.6s cubic-bezier(.28,.6,.3,.98) 1s forwards;
        }
  
        .landing-slide-text-sep {
          display: block;
          margin: 4vmax 0;
          width: 0;
          height: 1px;
          opacity: 0;
          background: $light-1;
          animation: landing-slide-sep-anim 0.3s cubic-bezier(.28,.6,.3,.98) 1.7s forwards;
        }
    
        .landing-slide-sub {
          margin-top: -2vh;
          font-weight: 100;
          font-size: 1vmax;
          letter-spacing: 2px;
          color: $light-1;
          z-index: 2;
          animation: landing-slide-sub-anim 0.6s cubic-bezier(.28,.6,.3,.98) 1.2s forwards;
          transition: letter-spacing 0.3s ease-out;
    
          &:hover {
            color: $highlight;
            letter-spacing: 2.2px;
          }

          &:hover ~ .landing-slide-text-sep-2 {
            width: 5vw;
          }
        }
  
        .landing-slide-text-sep-2 {
          margin-top: 0;
          opacity: 1;
          width: 0vw;
          background: $highlight;
          transition: all 0.3s ease-out;
          animation: none;
        }
      }
    }
  
    #landing-1,
    #landing-2,
    #landing-3 {
      &:before,
      &:after {
        height: 35vmax;
      }
    }
  
    #landing-1 {
      &:before {
        animation: landing-side-before-anim 0.8s ease-out 1.3s forwards;
      }
      &:after {
        animation: landing-side-after-anim 0.8s ease-out 1.3s forwards;
      }
    }
  
    #landing-2 {
      &:before {
        animation: landing-mid-before-anim 0.8s ease-out 0.5s forwards;
      }
      &:after {
        height: 0vmax;
        animation: landing-mid-after-anim 0.8s ease-out 0.5s forwards;
      }
    }
  
    #landing-3 {
      &:before {
        animation: landing-side-before-anim 0.8s ease-out 1.3s forwards;
      }
      &:after {
        animation: landing-side-after-anim 0.8s ease-out 1.3s forwards;
      }
    }
  
    .landing-slide-right,
    .landing-slide-left {
      cursor: pointer;
  
      .landing-slide-btn::before,
      .landing-slide-btn::after {
        content: '';
        position: absolute;
        pointer-events: none;
        z-index: 2;
        width: 1px;
        height: 0.5vmax;
        background: $dark-3;
        transition: all 0.6s ease-out 0.7s;
      }
  
      &:hover > .landing-slide-btn:before {
        height: 2vmax;
        transition: all 0.15s ease-out;
      }
      &:hover > .landing-slide-btn:after {
        top: calc(50% - 1vmax);
        width: 4px;
        height: 2vmax;
        transition: all 0.15s ease-out 0.15s, width 0.15s ease-out 0.3s;
      }
    
      img {
        opacity: 0.4;
        transition: 0.3s ease-out;
      }
      &:hover {
        img {
          opacity: 0.8;
        }
      }
    }
  
    .landing-slide-left {
      .landing-slide-btn::before,
      .landing-slide-btn::after {
        top: calc(50% - 1vmax);
        right: 2vmax;
      }
      .landing-slide-btn::after {
        top: calc(50% + 1vmax);
        height: 0vmax;
        background: $highlight;
        transition: all 0.5s ease-out 0.2s, width 0.2s ease-out;
      }
    }
  
    .landing-slide-right {
      .landing-slide-btn::before,
      .landing-slide-btn::after {
        top: calc(50% - 1vmax);
        left: 2vmax;
      }
      .landing-slide-btn::after {
        top: calc(50% + 1vmax);
        height: 0vmax;
        background: $highlight;
        transition: all 0.5s ease-out 0.2s, width 0.2s ease-out;
      }
    }
  }
  
  .landing-slide-nav-container {
    margin-top: -2vmax;
    height: 2vmax;
    width: 100vw;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .landing-slide-nav-btn {
      cursor: pointer;
      height: 1vmax;
      width: 1.5vmax;
      display: flex;
      justify-content: center;
      align-items: center;
  
      &:hover > .landing-slide-nav-btn-box {
        opacity: 1;
      }
  
      .landing-slide-nav-btn-box {
        height: 1px;
        width: 1vmax;
        background: $light-1;
        opacity: 0.5;
      }
    }
  
    .landing-slide-nav-btn-focus {
      .landing-slide-nav-btn-box {
        background: $highlight;
        height: 2px;
        opacity: 1;
      }
    }
  }
  
  .eng-kit-section {
    height: 85vh;

    .eng-kit-coming-soon  {
      font-family: $poppins;
      font-size: 0.6vmax;
      color: $dark-1;
      font-weight: 100;
      letter-spacing: 0.3vmax;
      margin-top: 4vh;
      margin-bottom: 0vh;
    }
    
    .eng-kit-container {
      display: none;
      height: 80vh;
  
      img {
        filter: blur(15px);
        opacity: 0;
        animation: all-img 0.3s ease-out forwards;

        margin-top: -4vh;
      }
  
      .eng-kit-text {
  
        .eng-kit-code {
          font-size: 1vw;
          letter-spacing: 0.2vw;
          opacity: 0;
          animation: all-code 0.3s ease-out forwards;

          margin-top: -2vh;
        }
        
        .eng-kit-title {
          font-size: 6vw;
          opacity: 0;
          animation: all-title 0.6s ease-out forwards;

          margin-top: -2vh;
        }
        
        .eng-kit-desc {
          display: block;
          position: absolute;
          opacity: 0;
          font-family: $montserrat;
          font-weight: 100;
          font-size: 0.8vmax;
          color: $dark-3;
          animation: all-desc 0.6s ease-out 0.3s forwards;

          margin-left: -2vw;
        }
        
        .eng-kit-more {
          opacity: 0;
          font-size: 0.8vmax;
          letter-spacing: 0.2vmax;
          animation: all-more 0.6s ease-out 0.9s forwards;

          margin-left: -2vw;
          &:hover {
            color: $highlight;
          }
  
          &:hover ~ .eng-kit-line-overlap {
            width: 7vw;
          }
        }
  
        .eng-kit-line {
          background: $light-3;
          border-top: none;
          animation: all-line 0.3s ease-out 1.2s forwards;
        }
  
        .eng-kit-line-overlap {
          border-top: none;
          background: $highlight;
          transition: width 0.5s ease-out;
        }
      }
    }
  
    .eng-kit-brycep {
      img {
        left: 50vw;
        width: auto;
        height: 70vh;
      }
      .eng-kit-text {
        .eng-kit-code {
          top: 15vh;
          left: 37vw;
        }
        .eng-kit-title {
          top: 18vh;
          left: 32vw;
        }
        .eng-kit-desc {
          top: 50vh;
          left: 27vw;
          width: 30vw;
        }
        .eng-kit-more {
          top: 60vh;
          left: 32vw;
        }
        .eng-kit-line,
        .eng-kit-line-overlap {
          top: 61.2vh;
          left: 40vw;
        }
      }
    }
  
    .eng-kit-hyelos {
      img {
        top: 15vh;
        left: 12vw;
        width: 45vw;
      }
      .eng-kit-text {
        .eng-kit-code {
          top: 20vh;
          left: 64vw;
        }
        .eng-kit-title {
          top: 23vh;
          left: 55vw;
        }
        .eng-kit-desc {
          top: 47vh;
          left: 64vw;
          width: 22vw;
          text-align: right;
        }
        .eng-kit-more {
          top: 60vh;
          left: 71vw;
        }
        .eng-kit-line,
        .eng-kit-line-overlap {
          top: 61.2vh;
          left: 79vw;
        }
      }
    }
  
    .eng-kit-stc {
      img {
        top: 10vh;
        left: 50vw;
        width: 35vw;
      }
      .eng-kit-text {
        .eng-kit-code {
          top: 20vh;
          left: 10vw;
        }
        .eng-kit-title {
          top: 23vh;
          left: 10vw;
        }
        .eng-kit-desc {
          top: 47vh;
          left: 18vw;
          width: 22vw;
        }
        .eng-kit-more {
          top: 55vh;
          left: 18vw;
        }
        .eng-kit-line,
        .eng-kit-line-overlap {
          top: 56.2vh;
          left: 26vw;
        }
      }
    }
  
    .eng-kit-btn-container {
      transform: rotate(90deg);
      position: absolute;
      right: -6vmax;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      z-index: 2;
      
      .eng-kit-btn {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 2vmax;
        width: 9vmax;
        cursor: pointer;
        
        .eng-kit-btn-dot {
          opacity: 0;
          height: 0.4vmax;
          width: 0.4vmax;
          border-radius: 50%;
          background: $dark-1;
          margin-left: -0.4vmax;
          margin-top: 0.4vmax;
        }
  
        .eng-kit-btn-text {
          font-family: $poppins;
          color: $light-3;
          font-size: 0.6vmax;
          letter-spacing: 0.4vmax;
          font-weight: 800;
        }
  
        &:hover > .eng-kit-btn-text {
          color: $dark-1;
        }
  
        &:hover > .eng-kit-btn-dot {
          opacity: 1;
        }
      }
  
      .eng-kit-btn-focus {
        .eng-kit-btn-dot {
          opacity: 1;
          background: $highlight;
        }
        .eng-kit-btn-text {
          color: $highlight !important;
        }
      }
    }
  } 


  @keyframes landing-slide-title-anim {
    0% { margin-top: -1vh; opacity: 0; }
    100% { margin-top: 0vmax; opacity: 1; }
  }
  @keyframes landing-slide-sub-anim {
    0% { margin-top: -2vh; opacity: 0; }
    100% { margin-top: 0vh; opacity: 1; }
  }
  @keyframes landing-slide-sep-anim {
    0% { width: 0vw; opacity: 0; }
    100% { width: 5vw; opacity: 0.5; }
  }

  @keyframes landing-side-after-anim {
    0% { width: 0vmax; opacity: 1; }
    50% { width: 20vmax; opacity: 1; }
    100% { width: 20vmax; opacity: 0; }
  }

  @keyframes landing-mid-after-anim {
    0% { height: 0vmax; opacity: 1; }
    50% { height: 35vmax; opacity: 1; }
    100% { height: 35vmax; opacity: 0; }
  }
  
  
  @keyframes all-img {
    0% { opacity: 0; margin-top: -4vh;}
    100% { opacity: 1; margin-top: 0vh;}
  }
  @keyframes all-code {
    0% { opacity: 0; margin-top: -2vh; }
    100% { opacity: 1;  margin-top: 0vh; }
  }
  @keyframes all-title {
    0% { opacity: 0; margin-top: -2vh; }
    100% { opacity: 1; margin-top: 0vh; }
  }
  @keyframes all-desc {
    0% { opacity: 0; margin-left: -2vw; }
    100% { opacity: 1; margin-left: 0vw;}
  }
  @keyframes all-more {
    0% { opacity: 0; margin-left: -2vw; }
    100% { opacity: 1; margin-left: 0vw; }
  }
  @keyframes all-line {
    0% { width: 0vmax; }
    100% { width: 7vmax; }
  }
}