@import "global";

.swiper-container {
  width: 100%;
  background: $lightest;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: calc(#{$nav-height} - 40px + 6vh) 10vw 0 10vw;
  height: 100vh;
  min-height: 650px;
  max-height: 800px;
  overflow: hidden;
  h2 {
    font-size: 2rem;
    font-weight: 600;
    color: $darker;
    line-height: 1.5em;
  }
  .slide-caption {
    font-size: 0.875rem;
    color: $darker;
    line-height: 1.75em;
    margin: 1rem 0;
    span {
      font-size: inherit;
      font-weight: 600;
    }
  }
  img {
    z-index: -1;
  }
  .slide-btn {
    font-size: 0.875rem;
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    color: $lightest;
    font-weight: 500;
    transition: box-shadow 0.1s ease-out, transform 0.1s ease-out;
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 0.75rem 1rem -0.25rem rgba(0,0,0,0.25);
    }
  }
}

.slide-1 {
  .slide-caption {
    width: 90%;
    span {
      color: $blue-mid;
    }
  }
  .line {
    position: absolute;
    top: -1rem;
    left: -2rem;
    height: 60%;
    animation: slide-lines 22s linear infinite;
  }
  .slide-img {
    position: absolute;
    bottom: 1vh;
    left: 5vw;
    min-height: 60vh;
    min-width: 95vw;
    object-fit: cover;
    object-position: left bottom;
    transition: transform 0.2s ease-out;
  }
  .arm {
    transform: translate(1.25rem, -0.75rem);
  }
  .wires {
    transform: translate(0.75rem, -1.25rem);
  }
  .arduino {
    transform: translate(-0.75rem, -0.5rem);
  }
  .motor {
    transform: translate(-0.5rem, -0.5rem);
  }
  &.active {
    .wires {
      transform: translate(0, 0);
      transition: transform 1.2s ease-out;
    }
    .arm {
      transform: translate(0, 0);
      transition: transform 1.4s ease-out;
    }
    .arduino {
      transform: translate(0, 0);
      transition: transform 1.8s ease-out;
    }
    .motor {
      transform: translate(0, 0);
      transition: transform 1.6s ease-out;
    }
  }
}

.slide-2 {
  align-items: flex-end;
  h2 {
    text-align: right;
    width: 90%;
  }
  .slide-caption {
    text-align: right;
    width: 75%;
    span {
      color: #05CE78;
    }
  }
  .slide-btn {
    background: #05CE78;
  }
  .line-1 {
    position: absolute;
    height: 90%;
    top: 30%;
    left: -2rem;
    animation: slide-lines 22s linear 2s infinite;
  }
  .line-2 {
    position: absolute;
    height: 90%;
    top: 0;
    right: -1rem;
    animation: slide-lines 24s linear infinite;
  }
  .slide-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    min-height: 50vh;
    min-width: 105vw;
    object-fit: cover;
  }
  .cb {
    transform: translate(-50%, 2rem);
    transition: transform 0.2s ease-out;
  }
  .ks {
    transform: translate(-50%, 1rem);
    transition: transform 0.2s ease-out;
  }
  &.active {
    .cb {
      transform: translate(-50%, 0);
      transition: transform 1.8s ease-out;
    }
    .ks {
      transform: translate(-50%, 0);
      transition: transform 1.4s ease-out;
    }
  }
}

@keyframes slide-lines {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  11% {
    transform: translate(0.5rem, -0.4rem) rotate(2deg);
  }
  31% {
    transform: translate(1.3rem, 0.6rem) rotate(4deg);
  }
  57% {
    transform: translate(0.6rem, 1.1rem) rotate(1deg);
    
  }
  72% {
    transform: translate(0.2rem, 1.6rem) rotate(-2deg);
    
  }
  85% {
    transform: translate(-0.6rem, 0.9rem) rotate(-3deg);
  }
}

.how-section {
  width: 100%;
  padding: 4rem 10vw 2rem 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  h2 {
    font-size: 2rem;
    font-weight: 500;
    color: $darker;
    letter-spacing: 0.005em;
  }
}

.how-subsection {
  margin: 2rem 0;
  .how-section-title {
    border-left: medium solid $blue-dark;
    padding-left: 1rem;
    margin: 1rem 5vw;
    h3 {
      font-size: 1.75rem;
      font-weight: 600;
      color: $magenta-mid;
      line-height: 1em;
      margin-bottom: 0.5rem;
    }
    h4 {
      font-size: 0.875rem;
      font-weight: 600;
      letter-spacing: 0.1em;
      color: $blue-light;
      text-transform: uppercase;
      line-height: 1em;
    }
  }
  .how-section-caption {
    margin: 0 5vw;
    font-size: 0.875rem;
  }
  .how-section-img {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.dotted-lines {
  width: 75%;
  height: 10rem;
  position: relative;
  overflow: hidden;
  .upper-curve,
  .lower-curve {
    height: 100%;
    width: 50%;
    position: absolute;
    overflow: hidden;
    &::after {
      content: '';
      border-radius: 3rem;
      width: 200%;
      height: 100%;
      position: absolute;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='48' ry='48' stroke='%23A286CBFF' stroke-width='2' stroke-dasharray='8%2c 8' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    }
  }
  &.odd {
    .upper-curve {
      top: 0;
      left: 0;
      &::after {
        top: 0;
        left: 0;
        transform: translateY(-50%);
      }
    }
    .lower-curve {
      right: 0;
      bottom: 0;
      &::after {
        right: 0;
        bottom: 0;
        transform: translateY(calc(50% - 1px)) scaleY(-1);
      }
    }
  }
  &.even {
    .upper-curve {
      right: 0;
      top: 0;
      &::after {
        right: 0;
        top: 0;
        transform: translateY(-50%);
      }
    }
    .lower-curve {
      bottom: 0;
      left: 0;
      &::after {
        bottom: 0;
        left: 0;
        transform: translateY(calc(50% - 1px)) scaleY(-1);
      }
    }
  }
}

.side-img-left,
.side-img-right {
  display: none;
}

.subscribe-section {
  padding: 2.5rem 12vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #EBFAFD;
  width: 100%;
}

.subscribe-subsection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  h2 {
    font-size: 1.25rem;
    font-weight: 500;
  }
  .subscribe-caption {
    font-size: 0.75rem;
    text-align: center;
    margin-top: 0.75rem;
  }
  .home-subscribe-container {
    width: 100%;
    position: relative;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.1);
    margin-bottom: 0.5rem;
    overflow: hidden;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    input {
      font-size: 0.75rem;
      padding: 0.75rem 1rem;
      width: 100%;
      background: $lightest;
      font-weight: 500;
      flex: 1 1 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      opacity: 0.85;
      color: inherit;
      transition: opacity 0.1s ease-out;
      &::placeholder {
        color: $light;
        font-weight: 400;
        opacity: 0.75;
      }
      &:focus, &:hover {
        opacity: 1;
      }
    }
    .home-subscribe-btn {
      position: absolute;
      top: 0;
      right: 0;
      background: $logo-light;
      font-size: 0.75rem;
      color: $lightest;
      border-radius: 0 0 0 0.5rem;
      padding: 0 1.5rem;
      height: 100%;
      letter-spacing: 0.05em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transform: translateX(50%);
      transition: transform 0.2s ease-out, opacity 0.2s ease-out, border-radius 0.2s ease-out, padding 0.2s ease-out;
      &::after {
        content: 'Subscribe';
      }
      &:hover {
        border-radius: 0.5rem 0 0 0.5rem;
        padding: 0 1.75rem;
      }
      &.active {
        cursor: pointer;
        pointer-events: auto;
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
  .home-subscribe-error {
    padding-left: 0.5rem;
    align-self: flex-start;
    font-size: 0.625rem;
    color: $red;
    height: 1.5em;
  }
}

@keyframes home-shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    color: $darker;
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-6px, 0, 0);
    transform: translate3d(-6px, 0, 0);
    color: $red;
  }
  
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(6px, 0, 0);
    transform: translate3d(6px, 0, 0);
    color: $red;
  }
}

.people-section {
  padding: 2rem 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 2rem 0;
  }
  .people-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    a {
      margin: 1rem;
      opacity: 0.9;
      transition: opacity 0.1s ease-out;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 3rem;
        width: 3rem;
        object-fit: contain;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}

@media only screen and (min-width: 768px) {

.swiper-slide {
  padding-top: $nav-height;
  height: auto;
  max-height: none;
  min-height: 600px;
  .slide-btn {
    padding: 1rem 2rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}

.slide-1 {
  h2 {
    margin-top: 2rem;
  }
  .slide-caption {
    width: 35%;
  }
  .line {
    top: -2rem;
    left: -4rem;
    height: 80%;
  }
  .slide-img {
    min-height: 0;
    min-width: 0;
    width: 60%;
    left: auto;
    right: 0;
    object-fit: contain;
  }
}

.slide-2 {
  h2 {
    margin-top: 2.5rem;
  }
  .slide-caption {
    width: 45%;
  }
  .slide-img {
    left: 35%;
    min-height: 0;
    height: calc(100% - 2rem);
    min-width: 0;
    max-width: 50%;
    object-fit: contain;
    object-position: 50% 100%;
  }
  .slide-btn {
    margin-top: 2rem;
  }
}

.how-section {
  padding: 10rem 0 4rem 0;
  h2 {
    font-size: 2.5rem;
    align-self: flex-start;
    margin-left: 15vw;
  }
}

.how-subsection {
  margin: 0;
  padding: 0 0 0 10vw;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 30vw 50vw;
  grid-column-gap: 10vw;
  .how-section-title {
    margin: 4rem 0 1.5rem 0;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: flex-end;
    h3 {
      font-size: 2rem;
      margin-bottom: 0.75rem;
      opacity: 0;
      transform: translateX(-1vw);
      transition: opacity 0.4s ease-out 0.2s, transform 0.4s ease-out 0.2s;
    }
    h4 {
      font-size: 1rem;
      opacity: 0;
      transform: translateX(-1vw);
      transition: opacity 0.4s ease-out 0.4s, transform 0.4s ease-out 0.4s;
    }
  }
  .how-section-caption {
    margin: 0 0 4rem 0;
    font-size: 1rem;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: flex-start;
    line-height: 1.75em;
    opacity: 0;
    transform: translateX(-1.5vw);
    transition: opacity 0.6s ease-out 0.8s, transform 0.6s ease-out 0.8s;
  }
  .how-section-img {
    margin: 0;
    align-self: center;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    max-height: 350px;
    object-fit: contain;
    opacity: 0;
    transform: translateX(2vw);
    transition: opacity 0.6s ease-out 0.6s, transform 0.6s ease-out 0.6s;
  }
  &.transition-in {
    .how-section-title > h3,
    .how-section-title > h4,
    .how-section-caption,
    .how-section-img {
      opacity: 1;
      transform: translateX(0);
    }
  }
  &.program,
  &.apply {
    padding: 0 10vw 0 0;
    grid-template-columns: 50vw 30vw;
    .how-section-title {
      grid-column-start: 2;
      grid-column-end: 3;
    }
    .how-section-caption {
      grid-column-start: 2;
      grid-column-end: 3;
    }
    .how-section-img {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
}

.dotted-lines {
  height: 15rem;
}

.subscribe-section {
  padding: 5rem 15vw;
}

.subscribe-subsection {
  margin: 2rem 0;
  h2 {
    font-size: 1.75rem;
  }
  .subscribe-caption {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .home-subscribe-container {
    margin-bottom: 1rem;
    border-radius: 0.75rem;
    box-shadow: 0 0.75rem 1rem -0.25rem rgba(0,0,0,0.1);
    input {
      font-size: 1rem;
      padding: 1.25rem 1.5rem;
    }
    .home-subscribe-btn {
      font-size: 1rem;
      padding: 0 2rem;
      &:hover {
        border-radius: 0.75rem 0 0 0.75rem;
        padding: 0 2.25rem;
      }
    }
  }
  .home-subscribe-error {
    font-size: 0.865rem;
    padding-left: 1rem;
  }
  &.input-subsection {
    max-width: 600px;
  }
}

.people-section {
  padding: 4rem 10vw;
  h2 {
    font-size: 1.75rem;
    margin: 4rem 0;
  }
  .people-container {
    margin-bottom: 4rem;
    a {
      margin: 2rem;
      img {
        height: 5rem;
        width: 5rem;
      }
    }
  }
}

}

@media only screen and (min-width: 1200px) {

.swiper-slide {
  height: 90vh;
  min-height: 800px;
  .slide-caption {
    font-size: 1.25rem;
  }
  .slide-btn {
    font-size: 1.25rem;
    padding: 1.25rem 3rem;
  }
  h2 {
    font-size: 3rem;
  }
}

.slide-1 {
  h2 {
    margin-left: 2vw;
    margin-top: auto;
    width: 50%;
  }
  .slide-caption {
    padding-bottom: 10vh;
    margin-left: 2vw;
    margin-bottom: auto;
  }
  .slide-img {
    min-height: 0;
    height: 100%;
    width: 45%;
    left: 55%;
    right: auto;
    object-fit: cover;
  }
}

.slide-2 {
  h2 {
    margin-top: 8vh;
  }
  .slide-caption {
    width: 40%;
  }
  .slide-img {
    left: 35%;
  }
}

.how-section {
  padding: 20rem 0 10rem 0;
  h2 {
    font-size: 3.25rem;
  }
}

.how-subsection {
  position: relative;
  padding: 0 0 0 0;
  grid-column-gap: 0;
  grid-template-columns: auto 1fr;
  .how-section-title {
    border-left: thick solid $blue-dark;
    padding-left: 1.25rem;
    justify-self: flex-end;
    width: 30vw;
    max-width: 25rem;
    h3 {
      font-size: 3rem;
    }
    h4 {
      font-size: 1.25rem;
    }
  }
  .how-section-caption {
    justify-self: flex-end;
    font-size: 1.125rem;
    width: 30vw;
    max-width: 25rem;
  }
  &.program,
  &.apply {
    padding: 0 0 0 0;
    grid-template-columns: 1fr auto;
  }
}

.side-img-left {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  transform: translate(-130%, 30%) rotate(-30deg);
}

.side-img-right {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(110%, -75%) rotate(-60deg);
}

.dotted-lines {
  margin-right: 5vw;
  width: 40%;
  height: 20rem;
}

.subscribe-section {
  align-self: center;
  padding: 5rem 10vw;
  flex-direction: row;
}

.subscribe-subsection {
  align-items: flex-start;
  justify-content: center;
  flex: 0 1 auto;
  width: auto;
  h2 {
    font-size: 2.25rem;
  }
  .subscribe-caption {
    font-size: 1.25rem;
    text-align: left;
    justify-self: flex-end;
  }
  .home-subscribe-container {
    width: 70vw;
    max-width: 35rem;
  }
  .home-subscribe-error {
    font-size: 0.865rem;
    padding-left: 1rem;
  }
  &.input-subsection {
    margin-left: 6vw;
  }
}

}