$diamond: 35vw; /* _all.scss uses $diamond so it must be declared first */
@import "all";

body {
  background: $light-1;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;

  .home-topbar {
    grid-template-columns: calc(71.5vw + 50px) 8vw 8vw calc(12.5vw - 50px) !important;

    .btn-reg {
      width: 8vmax;
      height: 2vmax;
      background: transparent;
      border: $dark-3 solid 1px;
      font-size: 0.8vmax;
      letter-spacing: 2px;
      color: $dark-3;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      outline: none;
    }

    #nav-top-login {
      border: none;
    }
  }

  .home-sidebar {
    position: absolute;
  }

  .main-page {
    display: flex;
    flex-direction: column;
  }
}

.landing-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-carousel {
  width: 100vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0vmax;
  transition: margin-left 0.5s cubic-bezier(.28,.6,.3,.98);

  .landing-slide {
    position: relative;
    margin: auto 2vmax;
    height: 35vmax;
    width: 70vmax;

    img {
      height: inherit;
      width: inherit;
      object-fit: cover;
      overflow: hidden;
      opacity: 1;
    }

    .landing-slide-title {
      position: absolute;
      text-align: center;
      top: 45%;
      width: 100%;
      margin-top: -1vmax;
      font-family: $poppins;
      font-weight: 800;
      font-size: 1.8vmax;
      letter-spacing: 0.4vmax;
      color: $light-1;
      z-index: 2;
      opacity: 0;
      animation: landing-slide-title-anim 0.6s cubic-bezier(.28,.6,.3,.98) 1s forwards;
    }

    .landing-slide-sub {
      position: absolute;
      text-align: center;
      width: 20vmax;
      top: 60%;
      left: calc(50% - 10vmax);
      margin-top: -1vmax;
      font-family: $poppins;
      font-style: lighter;
      font-weight: 10;
      font-size: 1vmax;
      color: $light-1;
      z-index: 2;
      opacity: 0;
      animation: landing-slide-sub-anim 0.6s cubic-bezier(.28,.6,.3,.98) 1.2s forwards;

      &:hover {
        color: $highlight;
      }

      &::after {
        position: absolute;
        content: '';
        height: 1vmax;
        width: 0;
        top: 60%;
        left: 50%;
        margin-top: -0.5vmax;
        font-family: $poppins;
        font-size: 1vmax;
        z-index: 2;
        border-bottom: 1px solid $highlight;
        transition: all 0.8s cubic-bezier(.28,.6,.3,.98);
      }

      &:hover:after {
        width: 8vmax;
        left: calc(50% - 4vmax);
        transition: all 0.3s cubic-bezier(.28,.6,.3,.98);
      }
    }
  }

  #landing-1,
  #landing-2,
  #landing-3 {
    position: relative;

    &:before,
    &:after {
      content: '';
      z-index: 3;
      position: absolute;
      pointer-events: none;
      top: 0;
      width: 70vmax;
      height: 35vmax;
      background: $light-1;
    }
    &:after {
      background: $light-2;
    }
  }

  #landing-1 {
    &:before,
    &:after {
      right: 0;
      animation: landing-side-before-anim 0.8s ease-out 1.3s forwards;
    }
    &:after {
      width: 0vmax;
      animation: landing-side-after-anim 0.8s ease-out 1.3s forwards;
    }
  }

  #landing-2 {
    &:before,
    &:after {
      left: 0;
      animation: landing-mid-before-anim 0.8s ease-out 0.5s forwards;
    }
    &:after {
      height: 0vmax;
      animation: landing-mid-after-anim 0.8s ease-out 0.5s forwards;
    }
  }

  #landing-3 {
    &:before,
    &:after {
      left: 0;
      animation: landing-side-before-anim 0.8s ease-out 1.3s forwards;
    }
    &:after {
      width: 0vmax;
      animation: landing-side-after-anim 0.8s ease-out 1.3s forwards;
    }
  }

  .landing-slide-right,
  .landing-slide-left {
    cursor: pointer;

    .landing-slide-btn::before,
    .landing-slide-btn::after {
      content: '';
      position: absolute;
      pointer-events: none;
      z-index: 2;
      width: 1px;
      height: 0.5vmax;
      background: $dark-3;
      transition: all 0.6s ease-out 0.7s;
    }

    &:hover > .landing-slide-btn:before {
      height: 2vmax;
      transition: all 0.15s ease-out;
    }
    &:hover > .landing-slide-btn:after {
      top: calc(50% - 1vmax);
      width: 4px;
      height: 2vmax;
      transition: all 0.15s ease-out 0.15s, width 0.15s ease-out 0.3s;
    }
  
    img {
      opacity: 0.4;
      transition: 0.3s ease-out;
    }
    &:hover {
      img {
        opacity: 0.8;
      }
    }
  }

  .landing-slide-left {
    .landing-slide-btn::before,
    .landing-slide-btn::after {
      top: calc(50% - 1vmax);
      right: 2vmax;
    }
    .landing-slide-btn::after {
      top: calc(50% + 1vmax);
      height: 0vmax;
      background: $highlight;
      transition: all 0.5s ease-out 0.2s, width 0.2s ease-out;
    }
  }

  .landing-slide-right {
    .landing-slide-btn::before,
    .landing-slide-btn::after {
      top: calc(50% - 1vmax);
      left: 2vmax;
    }
    .landing-slide-btn::after {
      top: calc(50% + 1vmax);
      height: 0vmax;
      background: $highlight;
      transition: all 0.5s ease-out 0.2s, width 0.2s ease-out;
    }
  }
}

.landing-slide-nav-container {
  margin-top: -2vmax;
  height: 2vmax;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  .landing-slide-nav-btn {
    cursor: pointer;
    height: 1vmax;
    width: 1.5vmax;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover > .landing-slide-nav-btn-box {
      opacity: 1;
    }

    .landing-slide-nav-btn-box {
      height: 1px;
      width: 1vmax;
      background: $light-1;
      opacity: 0.5;
    }
  }

  .landing-slide-nav-btn-focus {
    .landing-slide-nav-btn-box {
      background: $highlight;
      height: 2px;
      opacity: 1;
    }
  }
}

.eng-kit-section {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: $light-1;
  display: flex;
  align-items: center;
  justify-content: center;

  .eng-kit-container {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;

    img {
      filter: blur(15px);
    }

    .eng-kit-text {
      z-index: 2;

      .eng-kit-code {
        font-family: $poppins;
        font-weight: 900;
        font-size: 1vmax;
        letter-spacing: 0.2vmax;
        color: $light-3;
      }
      
      .eng-kit-title {
        font-family: $montserrat;
        font-weight: 900;
        font-size: 6vmax;
        color: $dark-3;
        animation: all-title 0.6s ease-out forwards;
      }
      
      .eng-kit-desc {
        opacity: 0;
        font-family: $montserrat;
        font-weight: 100;
        font-size: 0.8vmax;
        padding-right: 2vmax;
        color: $dark-3;
      }
      
      .eng-kit-more {
        opacity: 0;
        font-family: $poppins;
        color: $dark-1;
        letter-spacing: 0.2vmax;
        font-weight: 900;
        font-size: 0.8vmax;

        &:hover {
          color: $highlight;
        }

        &:hover ~ .eng-kit-line-overlap {
          width: 7vmax;
        }
      }

      .eng-kit-line {
        display: inline-block;
        margin-left: 1vmax;
        height: 0.4vmax;
        border-top: $light-3 solid 1px;
        animation: all-line 0.3s ease-out 1.2s forwards;
      }

      .eng-kit-line-overlap {
        display: inline-block;
        width: 0vmax;
        margin-left: calc(-7vmax - 4px);
        height: 0.4vmax;
        border-top: $highlight solid 1px;
        transition: width 0.5s ease-out;
      }
    }
  }

  .eng-kit-brycep {
    img {
      margin-left: -5vmax;
      height: 40vmax;
      animation: brycep-img 0.3s ease-out forwards;
    }
    .eng-kit-text {
      width: 30vmax;
      height: 30vmax;
      .eng-kit-code {
        margin-left: 10vmax;
        animation: brycep-code 0.3s ease-out forwards;
      }
      .eng-kit-title {
        margin-left: 6vmax;
      }
      .eng-kit-desc {
        margin-top: 6vmax;
        margin-bottom: 4vmax;
        padding-right: 2vmax;
        animation: brycep-desc 0.6s ease-out 0.3s forwards;
      }
      .eng-kit-more {
        animation: brycep-more 0.6s ease-out 0.9s forwards;
      }
    }
  }

  .eng-kit-hyelos {
    margin-top: -5vmax;
    margin-left: 15vmax;
    img {
      margin-left: -85vmax;
      width: 50vmax;
      animation: hyelos-img 0.3s ease-out forwards;
    }
    .eng-kit-text {
      width: 30vmax;
      height: 30vmax;
      .eng-kit-code {
        margin-left: 0vmax;
        animation: hyelos-code 0.3s ease-out forwards;
      }
      .eng-kit-title {
        margin-left: -10vmax;
      }
      .eng-kit-desc {
        margin-top: 4vmax; 
        margin-bottom: 3vmax;
        width: 26vmax;
        text-align: right;
        animation: hyelos-desc 0.6s ease-out 0.3s forwards;
      }
      .eng-kit-more {
        animation: hyelos-more 0.6s ease-out 0.9s forwards;
      }
    }
  }

  .eng-kit-stc {
    margin-top: -5vmax;
    margin-left: 5vmax;
    img {
      margin-left: 0vmax;
      width: 40vmax;
      animation: stc-img 0.3s ease-out forwards;
    }
    .eng-kit-text {
      width: 30vmax;
      height: 30vmax;
      .eng-kit-code {
        margin-left: -10vmax;
        animation: stc-code 0.3s ease-out forwards;
      }
      .eng-kit-title {
        margin-left: -10vmax;
      }
      .eng-kit-desc {
        margin-top: 5vmax;
        margin-bottom: 3vmax;
        width: 25vmax;
        animation: stc-desc 0.6s ease-out 0.3s forwards;
      }
      .eng-kit-more {
        animation: stc-more 0.6s ease-out 0.9s forwards;
      }
    }
  }

  .eng-kit-btn-container {
    transform: rotate(90deg);
    position: absolute;
    right: -6vmax;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    
    .eng-kit-btn {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: 2vmax;
      width: 9vmax;
      cursor: pointer;
      
      .eng-kit-btn-dot {
        opacity: 0;
        height: 0.4vmax;
        width: 0.4vmax;
        border-radius: 50%;
        background: $dark-1;
        margin-left: -0.4vmax;
        margin-top: 0.4vmax;
      }

      .eng-kit-btn-text {
        font-family: $poppins;
        color: $light-3;
        font-size: 0.6vmax;
        letter-spacing: 0.4vmax;
        font-weight: 800;
      }

      &:hover > .eng-kit-btn-text {
        color: $dark-1;
      }

      &:hover > .eng-kit-btn-dot {
        opacity: 1;
      }
    }

    .eng-kit-btn-focus {
      .eng-kit-btn-dot {
        opacity: 1;
        background: $highlight;
      }
      .eng-kit-btn-text {
        color: $highlight !important;
      }
    }
  }

  .eng-kit-coming-soon  {
    position: absolute;
    left: 43.1vw;
    bottom: 0;
    font-family: $poppins;
    font-size: 0.6vmax;
    color: $dark-1;
    font-weight: 100;
    letter-spacing: 0.3vmax;
  }
}

.test-section {
  position: relative;
  background: $light-1;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .test-header {
    width: 100%;
    p {
      padding-top: 8vmax;
      padding-bottom: 1vmax;
      text-align: center;
      font-family: $montserrat;
      font-size: 1vmax;
      color: $dark-1;
      letter-spacing: 2px;
    }
  }

  .test-logo-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    .test-box {
      position: relative;
      height: 10vmax; 
      width: 10vmax;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgba(255, 255, 255, 0);
      transition: 0.3s ease-out;

      img {
        width: 5vmax;
      }

      .test-corner {
        position: absolute;
        height: 0;
        width: 0;
        visibility: hidden;
        transition: 1s ease-out;
      }

      .top-left { 
        margin-top: -5vmax; 
        margin-left: calc(-5vmax - 0.5px); 
        border-top: 1px solid $dark-3;
        border-left: 1px solid $dark-3;
      }
      .top-right { 
        margin-top: -5vmax; 
        margin-left: calc(5vmax + 0.5px); 
        border-top: 1px solid $dark-3;
        border-right: 1px solid $dark-3;
      }
      .bottom-left { 
        margin-top: 5vw; 
        margin-left: calc(-5vmax - 0.5px); 
        border-bottom: 1px solid $dark-3;
        border-left: 1px solid $dark-3;
      }
      .bottom-right { 
        margin-top: 5vmax; 
        margin-left: calc(5vmax + 0.5px); 
        border-bottom: 1px solid $dark-3;
        border-right: 1px solid $dark-3;
      }

      &:hover {
        border: 0.8px solid $light-3;
        transition: 0.6s ease-out;
        
        .test-corner {
          height: 1vmax;
          width: 1vmax;
          visibility: visible;
          transition: 0.3s ease-out;
        }

        .top-left { 
          margin-top: -4.5vmax; 
          margin-left: calc(-4.5vmax - 0.5px) 
        }
        .top-right { 
          margin-top: -4.5vmax; 
          margin-left: calc(4.5vmax + 0.5px); 
        }
        .bottom-left { 
          margin-top: 4.5vmax; 
          margin-left: calc(-4.5vmax - 0.5px); 
        }
        .bottom-right { 
          margin-top: 4.5vmax; 
          margin-left: calc(4.5vmax + 0.5px); 
        }
      }
    }
  }
}

@keyframes landing-mid-before-anim {
  50% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes landing-mid-after-anim {
  0% { height: 0vmax; opacity: 1; }
  50% { height: 35vmax; opacity: 1; }
  100% { height: 35vmax; opacity: 0; }
}

@keyframes landing-side-before-anim {
  50% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes landing-side-after-anim {
  0% { width: 0vmax; opacity: 1; }
  50% { width: 20vmax; opacity: 1; }
  100% { width: 20vmax; opacity: 0; }
}

@keyframes landing-slide-title-anim {
  0% { margin-top: -1vmax; opacity: 0; }
  100% { margin-top: 0vmax; opacity: 1; }
}
@keyframes landing-slide-sub-anim {
  0% { margin-top: -1vmax; opacity: 0; }
  100% { margin-top: 0vmax; opacity: 1; }
}

@keyframes all-title {
  0% { opacity: 0; margin-top: -1vmax; }
  100% { opacity: 1; margin-top: 0vmax; }
}
@keyframes all-line {
  0% { width: 0vmax; }
  100% { width: 7vmax; }
}

@keyframes brycep-img {
  0% { opacity: 0; margin-top: -2vmax;}
  100% { opacity: 1; margin-top: 0vmax;}
}
@keyframes brycep-code {
  0% { opacity: 0; margin-top: 5vmax; }
  100% { opacity: 1;  margin-top: 6vmax; }
}
@keyframes brycep-desc {
  0% { opacity: 0; margin-left: -2vmax; }
  100% { opacity: 1; margin-left: 0vmax;}
}
@keyframes brycep-more {
  0% { opacity: 0; margin-left: 2vmax; }
  100% { opacity: 1; margin-left: 4vmax; }
}

@keyframes hyelos-img {
  0% { opacity: 0; margin-top: 6vmax;}
  100% { opacity: 1; margin-top: 8vmax;}
}
@keyframes hyelos-code {
  0% { opacity: 0; margin-top: 9vmax; }
  100% { opacity: 1; margin-top: 10vmax; }
}
@keyframes hyelos-desc {
  0% { opacity: 0; margin-left: -2vmax; }
  100% { opacity: 1; margin-left: 0vmax; }
}
@keyframes hyelos-more {
  0% { opacity: 0; margin-left: 7vmax; }
  100% { opacity: 1; margin-left: 9vmax; }
}

@keyframes stc-img {
  0% { opacity: 0; margin-top: 6vmax;}
  100% { opacity: 1; margin-top: 8vmax;}
}
@keyframes stc-code {
  0% { opacity: 0; margin-top: 8vmax; }
  100% { opacity: 1; margin-top: 9vmax; }
}
@keyframes stc-desc {
  0% { opacity: 0; margin-left: -4vmax; }
  100% { opacity: 1; margin-left: -2vmax; }
}
@keyframes stc-more {
  0% { opacity: 0; margin-left: -4vmax; }
  100% { opacity: 1; margin-left: -2vmax; }
}

