@import "global";


.banner-slide{
  position: relative;
  .swiper-nav{
    position: absolute;
    bottom: -0.2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 0.6rem;
    border-radius: 1rem;
    background-color: $blue-mid;
    z-index: 20;
  }
}
.banner-video{
  width: 100%;
  height: 90vh;
  overflow: hidden;
  position: relative; /* or absolute or fixed */
  .banner-caption{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin-left: 13vw;
    top: 50%;
    width: 75vw;
    transform: translateY(-40%);
    h1{
      color: $lightest;
      font-size: 2rem;
    }
    p{
      padding: 1rem 0;
      color: $lightest;
      font-size: 1.2rem;
      span{
        // font-weight: 600;
        color: $lightest;
        font-size: 1.2rem;
      }
    }
  }
}

.special-btn{
  color: $lightest;
  background: $logo-mid;
  font-size: 1rem;
}

.inverse-btn{
  color: $logo-mid;
  background: $lightest;
  font-size: 0.8rem;
}

.cta-btn {
  padding: 1.3rem 1.8rem;
  border-radius: 1rem;
  letter-spacing: 0.05em;
  font-weight: 500;
  transition: filter 0.2s ease-out;
  text-align: center;
  &:hover {
    filter: brightness(0.9);
  }
  min-width: 8rem;
  max-width: 600px;
}

.coming-soon-cta{
  padding: 1.3rem 1.8rem;
  border-radius: 1rem;
  color: $light;
  // background: $light;
  border: thin solid $light;
  letter-spacing: 0.05em;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  min-width: 8rem;
  max-width: 600px;
}

.coming-soon-img{
  position: relative;
  z-index: 1;
  &::after{
    content: 'COMING SOON';
    text-align: center;
    color: $lightest;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    font-size: 1.5rem;
    font-weight: 500;
  }
  img{
    filter: brightness(0.6) blur(1px);
  }
}

video{
  width: 100%;
  filter: brightness(80%);
  height: 100%;
  width: 177.77777778vh; /* 100 * 16 / 9 */
  min-width: 100%;
  min-height: 56.25vw; /* 100 * 9 / 16 */
  position: absolute;
  left: 50%; /* % of surrounding element */
  top: 50%;
  transform: translate(-50%, -50%); /* % of current element */
}

// .how-section {
//   width: 100%;
//   padding: 4rem 10vw 2rem 10vw;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: flex-start;
//   h2 {
//     font-size: 2rem;
//     font-weight: 500;
//     color: $darker;
//     letter-spacing: 0.005em;
//   }
// }

.section{
  padding: 2rem 10vw 2rem 10vw;
}

.section-title{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  h3{
    text-align: center;
    font-size: 2rem;
    // padding-bottom: 5rem;
  }
  img{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 15rem;
  }
}

.lessplan-banner-section{
  background-color: #F6F6F6;
  position: relative;
  overflow: hidden;
  height: 8rem;
  z-index: 1;
  h2{
    width: 80vw;
    max-width: 50rem;
    font-size: 1.2rem;
    color: $darker;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  .less-plan-img-left{
    position: absolute;
    left: -5rem;
    top: 0;
    z-index: 0;
    img{
      width: 40vw;
    }
  }
  .less-plan-img-right{
    position: absolute;
    right: -6rem;
    top: 0;
    z-index: 5;
    img{
      width: 40vw;
    }
  }
}

.lessplan-detail-section{
  h3{
    text-align: center;
    // margin: 0 auto;
    font-size: 1.3rem;
    color: $dark;
    font-weight: 400;
  }
  .lessplan-feature-wrap{
    padding-top: 2rem;
    .lessplan-feature{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-bottom: 4rem;
      .icon-wrap{
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        height: 5rem;
        img{
          width: 3rem;
        }
      }
      .icon-text{
        width: 15rem;
        h4{
          font-size: 1.1rem;
          padding: 1rem 0;
        }
      }
    }
    .time-feature{
      .icon-wrap{
        background-color: #8CEDD6;
      }
      .icon-text{
        h4{
          color: $green;
        }
      }
    }
    .align-feature{
      .icon-wrap{
        background-color: #86DCF1;
      }
      .icon-text{
        h4{
          color: $blue-mid;
        }
      }
    }
    .exp-feature{
      .icon-wrap{
        background-color: #FEE386;
      }
      .icon-text{
        h4{
          color: $orange;
        }
      }
    }
  }
}

.cta-section{
  padding: 2rem 10vw 2rem 10vw;
  // width: 100%;
  .claim-btn{
    margin: 0 auto;
    font-size: 1.2rem;
    background-color: $blue-light;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    transition: background-color ease 0.3s;
    max-width: 800px;
    &:hover{
      background-color: $blue-mid;
    }
    p{
      color: $lightest;
      font-weight: 500;
    }
    span{
      padding-left: 1rem;
      display: none;
      color: $lightest;
    }
  }
}

.product-detail-section{
  .product-wrap{
    .product-container{
      &:first-child{
        padding-bottom: 3rem;
      }
      .title-text{
        h6{
          font-size: 1rem;
          color: $dark;
          font-weight: 500;
        }
        p{
          font-size: 2rem;
          font-weight: 500;
        }
      }
    }
  }
}

.project-preview-section{
  padding: 2rem 5vw;
  h3{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 3rem;
  }
  .project-wrap{
    padding-bottom: 2rem;
    .single-project-container{
      border-radius: 1rem;
      // position: relative;
      padding: 1rem;
      .mobile-project-image{
        width: 100%;
        border-radius: 1rem;
      }
    }
    .project-info-container{
      border-radius: 1rem;
      // padding: 1.5rem;
      // background: rgba(237, 237, 237, 0.7); 
      display: flex;
      flex-wrap: wrap;
      padding-top: 1.5rem;
      .project-title{
        padding-bottom: 0.5rem;
        h5{
          font-size: 2rem;
        }
      }
      .project-summary{
        .subjects-container{
          display: flex;
          flex-wrap: wrap;
        }
      }
    }

        // .send-it{
    //   background-image: url('../images/home/send-it.jpg');
    //   background-position: center;
    //   background-size: cover;
    // }

    .subject{
      padding: 0.3rem 0.8rem;
      margin: 0 0.5rem 0.5rem 0;
      border-radius: 0.3rem;
      border-width: 0.2rem;
      border-style: solid;
      font-weight: 500;
      font-size: 0.8rem;
    }

    .summary{
      padding: 1rem 0;
    }

    .ai{
      border-color:#8dcbee;
      color: #8dcbee;
    }
    .ethics{
      border-color:#7f21b3;
      color: #7f21b3;
    }
    .autom{
      border-color:#fdb554;
      color: #fdb554;
    }
    .tech{
      border-color:#36c4e8;
      color: #36c4e8;
    }
    .engin{
      border-color:#18dbac;
      color: #18dbac;
    }
    .cs{
      border-color:#fa6f6f;
      color: #fa6f6f;
    }
    .cs{
      border-color:#fa6f6f;
      color: #fa6f6f;
    }
    .maths{
      border-color:#EE92DA;
      color: #EE92DA;
    }
    .social-sci{
      border-color:#A2E483;
      color: #A2E483;
    }

    .project-details{
      .sub-text-container{
        padding-bottom: 1rem;
        .sub-title{
          font-weight: 600;
          padding-bottom: 0.8rem;
        }
        .sub-text{
          padding-bottom: 0.7rem;
          span{
            font-weight: 500;
          }
        }
      }
    }


  }
}

.pricing-section{
  .pricing-container{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    .pricing-card{
      border-radius: 1rem;
      padding: 3rem 3rem;
      display: flex;
      flex-direction: column;
      max-width: 25rem;
    }
    .selected-card{
      background-color: $blue-light;
      h4,h5,h6,p, span{
        color: $lightest;
      }
    }
    .coming-card{
      display: none;
    }
    .pricing-title{
      display: flex;
      flex-direction: column;
      align-items: center;
      h5{
        font-size: 1.3rem;
        font-weight: 500;
      }
      h4{
        font-size: 3rem;
        font-weight: 500;
      }
    }
    .price-list{
      display: flex;
      flex-direction: column;
      padding-bottom: 2rem;
      .list-item{
        span{
          padding-right: 1rem;
        }
        display: flex;
        padding:0.6rem 0;
      }
    }
  }
}

.about-us-section{
  .about-container{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    h4{
      font-size: 1.5rem;
      font-weight: 500;
    }
    h5{
      font-size: 1.5rem;
      font-weight: 500;
    }
    .about-img{
      padding: 2rem 0;
      img{
        width: 100%;
        border-radius: 1rem;
      }
    }
    .list-container{
      display: flex;
      flex-direction: column;
      .list-item{
        display: flex;
        align-items: center;
        padding-bottom: 2rem;
        p{
          font-size: 1.2rem;
          font-weight: 500;
          padding-left: 1rem;
          width: 100%;
        }
      }
      .icon{
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 3rem;
        padding:0.5rem;
        img{
          width: 100%;
          height: 2rem;
        }
      }
      .dream{
        background-color: #A5F8F5;
      }
      .learn{
        background-color: #90CEF1;
      }
      .engage{
        background-color: #85B9EE;
      }
    }
  }
}

.people-section {
  padding: 2rem 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 2rem 0;
  }
  .people-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    a {
      margin: 1rem;
      transition: opacity 0.1s ease-out;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      img {
        height: 3rem;
        width: 3rem;
        object-fit: contain;
      }
      &::after {
        content: '';
        position: absolute;
        bottom: -1rem;
        left: 50%;
        height: 0;
        width: 2rem;
        background: $light;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: height 0.2s ease-out;
        transition: height 0.2s ease-out;
      }
      &:hover::after {
        height: 2px;
      }
    }
  }
}



@media only screen and (min-width: 768px) {

  .cta-btn {
    padding: 1.3rem 1.8rem;
    border-radius: 1rem;
    letter-spacing: 0.05em;
    font-weight: 500;
    transition: filter 0.2s ease-out;
    text-align: center;
    &:hover {
      filter: brightness(0.9);
    }
    min-width: 10rem;
    max-width: 600px;
  }
  
  .coming-soon-cta{
    padding: 1.3rem 1.8rem;
    letter-spacing: 0.05em;
    font-size: 1rem;
    min-width: 10rem;
    max-width: 600px;
  }

  .coming-soon-img{
    position: relative;
    z-index: 1;
    &::after{
      content: 'COMING SOON';
      color: $lightest;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 50;
      font-size: 3rem;
      font-weight: 500;
      text-align: center;
      width: 80%;
    }
    img{
      filter: brightness(0.6) blur(1px);
    }
  }

  .banner-video{
    .banner-caption{
      width: 75vw;
      max-width: 35rem;
      margin-left: 10vw;
      h1{
        color: $lightest;
        font-size: 2.5rem;
      }
      p{
        font-size: 1.5rem;
        span{
          font-size: 1.5rem;
        }
      }
    }
  }

  .banner-slide{
    .swiper-nav{
      position: absolute;
      bottom: -0.35rem;
      left: 50%;
      transform: translateX(-50%);
      width: 20rem;
      height: 0.9rem;
      border-radius: 1rem;
      background-color: $blue-mid;
      z-index: 20;
    }
  }

  .lessplan-banner-section{
    overflow: hidden;
    height: 10rem;
    h2{
      width: 70vw;
      font-size: 1.5rem;
    }
    .less-plan-img-left{
      position: absolute;
      left: -5rem;
      top: 0;
      z-index: 0;
      img{
        width: 40vw;
        max-width: 20rem;
      }
    }
    .less-plan-img-right{
      position: absolute;
      right: -6rem;
      top: 0;
      z-index: 5;
      img{
        width: 40vw;
        max-width: 20rem;
      }
    }
  }

  .lessplan-detail-section{
    h3{
      font-size: 1.8rem;
      color: $dark;
    }
    .lessplan-feature-wrap{
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 2rem;
      .lessplan-feature{
        align-items: flex-start;
        text-align: left;
        padding: 0 1rem 4rem 1rem;
        width: 33%;
        .icon-text{
          width: 100%;
          h4{
            font-size: 1.1rem;
            padding: 1rem 0;
          }
        }
      }
    }
  }

  .cta-section{
    .claim-btn{
      border-radius: 1rem;
      padding: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: background-color ease 0.3s;
      &:hover{
        background-color: $blue-mid;
      }
      p{
        font-size: 1.2rem;
        color: $lightest;
        font-weight: 500;
      }
      span{
        display: block;
        font-size: 1.5rem;
      }
    }
  }

  .project-preview-section{
    h3{
      font-size: 2rem;
      padding-bottom: 2rem;
    }
    .project-wrap{
      padding-bottom: 2rem;
      .single-project-container{
        border-radius: 1rem;
        // position: relative;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .mobile-project-image{
          width: 100%;
          max-width: 700px;
        }
      }
      .project-info-container{
        // padding: 1.5rem;
        // background: rgba(237, 237, 237, 0.7); 
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1.5rem;
        width: 100%;
        max-width: 700px;
        .project-title{
          padding-bottom: 0.5rem;
          h5{
            font-size: 2rem;
          }
        }
        .project-summary{
          .subjects-container{
            display: flex;
            flex-wrap: wrap;
          }
        }
      }
  
      // .send-it{
      //   background-image: url('../images/home/send-it.jpg');
      //   background-position: center;
      //   background-size: cover;
      // }  
    }
  }

  .about-us-section{
    .about-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      // .about-content-container{
      //  display: flex;
      //  flex-direction: column;
      //  align-items: flex-start;
      // }
      .about-img{
        padding: 2rem 0;
        margin: 0 auto;
        img{

          max-width: 700px;
          width: 100%;
          border-radius: 1rem;
        }
      }
    }
  }
  
  .people-section {
    padding: 4rem 10vw;
    h2 {
      font-size: 1.75rem;
      margin: 4rem 0;
    }
    .people-container {
      margin-bottom: 4rem;
      a {
        margin: 2rem;
        img {
          height: 5rem;
          width: 5rem;
        }
      }
    }
  }

}

@media only screen and (min-width: 1200px) {

  .cta-btn {
    padding: 1.3rem 1.8rem;
    border-radius: 1rem;
    letter-spacing: 0.05em;
    min-width: 10rem;
    max-width: 600px;
  }
  
  .coming-soon-cta{
    padding: 1.3rem 1.8rem;
    letter-spacing: 0.05em;
    font-size: 1rem;
    min-width: 10rem;
    max-width: 600px;
  }

  .inverse-btn{
    padding: 1.3rem 1.8rem;
    border-radius: 1rem;
    letter-spacing: 0.05em;
    font-size: 1rem;
    min-width: 10rem;
    max-width: 600px;
  }

  .coming-soon-img{
    position: relative;
    z-index: 1;
    &::after{
      content: 'COMING SOON';
      color: $lightest;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 50;
      font-size: 3rem;
      font-weight: 500;
    }
    img{
      filter: brightness(0.6) blur(1px);
    }
  }


  .banner-video{
    .banner-caption{
      width: 75vw;
      max-width: 50rem;
      margin-left: 12vw;
      h1{
        font-size: 3rem;
      }
      p{
        font-size: 1.8rem;
        span{
          font-size: 1.8rem;
        }
      }
    }
  }

  .banner-slide{
    .swiper-nav{
      bottom: -0.4rem;
      width: 25rem;
      height: 1rem;
      border-radius: 1rem;
    }
  }

  .lessplan-banner-section{
    height: 15rem;
    h2{
      width: 70vw;
      font-size: 2.3rem;
    }
    .less-plan-img-left{
      left: -5rem;
      top: -5rem;
      img{
        width: 40vw;
        max-width: 35rem;
      }
    }
    .less-plan-img-right{
      right: -6rem;
      top: -5rem;
      img{
        width: 40vw;
        max-width: 35rem;
      }
    }
  }

  .lessplan-detail-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
      padding-top: 2rem;
      font-size: 2rem;
    }
    .lessplan-feature-wrap{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding-top: 4rem;
      width: 100%;
      // max-width: 80rem;
      .lessplan-feature{
        align-items: flex-start;
        text-align: left;
        padding: 0 3vw 4rem 3vw;
        width: 33.3333%;
        .icon-wrap{
          border-radius: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1rem 1.3rem;
          height: 6rem;
          img{
            width: 3.5rem;
          }
        }
        .icon-text{
          width: 100%;
          max-width: 20rem;
          h4{
            font-size: 1.5rem;
            padding: 1rem 0;
          }
        }
      }
    }
  }

  .cta-section{
    padding: 0;
    .claim-btn{
      border-radius: 0;
      padding: 2.5rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      max-width: none;
      width: 100%;
      p{
        font-size: 1.6rem;
      }
      span{
        display: block;
        font-size: 1.8rem;
      }
    }
  }

  .product-detail-section{
    padding:6rem 0;
    .product-wrap{
      display: flex;
      justify-content: center;
      .product-container{
        width: 40%;
        max-width: 700px;
        &:first-child{
          padding-right: 3rem;
          padding-bottom: 3rem;
        }
        .title-text{
          h6{
            font-size: 1.7rem;
            color: $dark;
            font-weight: 500;
            padding-bottom: 1rem;
          }
          p{
            font-size: 2.8rem;
            font-weight: 500;
            padding-right: 4rem;
          }
        }
      }
    }
  }

  .project-preview-section{
    h3{
      font-size: 2rem;
      padding-bottom: 2rem;
    }
    .project-wrap{
      padding-bottom: 2rem;
      .single-project-container{
        border-radius: 1rem;
        padding: 2rem 2vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .project-img-container{
          max-width: 700px;
        }
        .mobile-project-image{
          max-width: none;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .flex-reverse{
        flex-direction: row-reverse;
      }
      .project-info-container{
        padding: 0 3rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 1.5rem;
        width: 100%;
        max-width: 700px;
        .project-title{
          padding-bottom: 0.5rem;
          h5{
            font-size: 2rem;
          }
        }
        .project-summary{
          .subjects-container{
            display: flex;
            flex-wrap: wrap;
          }
        }
      }

      .summary{
        padding: 0.5rem 0;
      }
  
      .project-details{
        display: flex;
        padding: 1rem 0;
        .sub-text-container{
          padding: 0 0.5rem 1rem 0;
          .sub-title{
            font-weight: 600;
            padding-bottom: 1rem;
            font-size: 0.8rem;
          }
          .sub-text{
            font-size: 0.9rem;
            padding-bottom: 1rem;
            span{
              font-weight: 500;
            }
          }
        }
      }
  
    }
  }

  .pricing-section{
    // padding-bottom: 2rem;
    .pricing-container{
      padding: 5rem 0 2.5rem 0;
      display: flex;
      justify-content: center;
      .pricing-card{
        padding: 3rem 3rem;
        max-width: 25rem;
        margin: 0 1rem;
        width: 100%;
      }
      .selected-card{
        background-color: $blue-light;
        h4,h5,h6,p, span{
          color: $lightest;
        }
      }
      .coming-card{
        display: block;
        border: thin solid $blue-mid;
        h4,h5,h6,p, span{
          color: $blue-mid;
        }
        padding: 3rem;
      }
      .pricing-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
        h5{
          font-size: 1.3rem;
          font-weight: 500;
          width: 100%;
          text-align: center;
        }
        h4{
          text-align: center;
          font-size: 2rem;
          font-weight: 500;
        }
      }
      .price-list{
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
        .list-item{
          span{
            padding-right: 1rem;
          }
          display: flex;
          padding:0.6rem 0;
        }
      }
    }
  }

  .about-us-section{
    .about-container{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 5rem;
      width: 80%;
      margin: 0 auto;
      .about-content-container{
       display: flex;
      //  flex-direction: column;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 3rem 0;
      }
      h4{
        font-size: 2rem;
      }
      h5{
        font-size: 2rem;
      }
      .about-img{
        padding: 2rem 0;
        img{
          width: 100%;
          border-radius: 1rem;
        }
      }
      .list-container{
        display: flex;
        flex-direction: column;
        padding-left: 4rem;
        .list-item{
          display: flex;
          align-items: center;
          padding-bottom: 2rem;
          p{
            font-size: 1.5rem;
            font-weight: 500;
            padding-left: 1rem;
            width: 100%;
          }
        }
        .icon{
          border-radius: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 6rem;
          height: 5rem;
          padding:0.5rem;
          img{
            width: 100%;
            height: 3rem;
          }
        }
      }
    }
  }
  
  .banner-btn {
    padding: 2rem 2.5rem;
    color: $lightest;
    background: $logo-mid;
    letter-spacing: 0.05em;
    font-weight: 500;
    font-size: 1rem;
    transition: filter 0.2s ease-out;
    &:hover {
      filter: brightness(0.9);
    }
  }

}

@media only screen and (min-width: 2000px) {


}