@import "global/all";

$diamond: 35vw;
$largest-font: 2vw;

body {

  .nav-user-icon,
  .nav-user-button {
    display: none !important;
  }

  .main-login {
    background: linear-gradient(to right, $dark-3, black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: $poppins;
    line-height: 1.5;
    height: 100vh;

    .nav-global {
      position: absolute;
    }

    // -----------------------------------
    // Main Content
    // -----------------------------------
    .login-main-container {
      background: $light-1;
      overflow: hidden;
      width: 50vw;

      .login-form-container {
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
      }

      // -----------------------------------
      // Hello window
      // -----------------------------------
      .hello-container {
        left: 0;
        width: 50%;
        z-index: 2;
        background: $light-1;
        display: grid;
        grid-template-areas:
          "hello hello"
          "signup login";
        grid-template-rows: 1fr 1fr;

        // Hello, _____.
        #hello-creator {
          grid-area: hello;
          font-size: $largest-font;
          font-family: $montserrat;
          font-weight: 100;
          align-self: flex-end;
          margin-left: calc((50vw - 8 * #{$largest-font}) / 2);

          #change-text {
            position: relative;
            padding: 1px;
          }
        }

        // Signup button
        #hello-signup {
          align-self: flex-start;
          justify-self: flex-end;
          grid-area: signup;
          margin-top: 5vh;
          margin-right: 2vw;

          &:hover {
            border: 1px solid $light-1;
          }
        }
        
        // Login button
        #hello-login {
          align-self: flex-start;
          justify-self: flex-start;
          grid-area: login;
          margin-top: 5vh;
          margin-left: 2vw;

          border: none;
          padding: 10px;
          color: $dark-3;
          &:hover {
            color: $highlight;
            background: transparent;
          }
          &:hover ~ .hello-login-line::after {
            width: 23vw;
            transition: 0.3s cubic-bezier(0.21, 0.65, 0.44, 0.99);
          }
        }

        .hello-login-line {
          pointer-events: none;
          position: absolute;
          top: calc(50% + 5vh + 39px);
          left: calc(50% + 2vw);
          width: 23vw;
          height: 2px;
          background: $light-2;
        }

        .hello-login-line::after {
          content: '';
          pointer-events: none;
          position: absolute;
          top: 0;
          left: 0;
          height: 1px;
          width: 0vw;
          background: $highlight;
          transition: 1s cubic-bezier(0.21, 0.65, 0.44, 0.99);
        }
      }

      // -----------------------------------
      // Login Window
      // -----------------------------------
      .login-container {
        left: 0;
        width: 50%;
        visibility: hidden;
        z-index: 1;
        background: $light-1;
        display: grid;
        grid-template-rows: 75vh 10vh 15vh;
        align-items: center;
        justify-items: center;

        .log-in-form {
          display: grid;
          grid-template-rows: 5vh 36vh 10vh 10vh 14vh;
          align-items: center;
          justify-items: center;
          width: 100%;

          #login-logo {
            display: block;
            justify-self: flex-end;
            align-self: flex-start;
            margin-top: 3vh;
            margin-right: 3vw;

            img {
              width: 7.5vw;
            }
          }

          h2 {
            font-size: 1vw;
            letter-spacing: 0.25vw;
          }

          #login-login {
            align-self: flex-end;
          }
        }

        #back-btn {
          align-self: center;
          justify-self: center;

          &:before {
            animation-delay: random() + s !important;
          }
          &:after {
            animation-delay: random() + s !important;
          }
        }

        #login-signup {
          align-self: flex-end;
          justify-self: center;
          font-size: 0.75vw;
          margin-bottom: 2vh;

          a {
            color: $highlight;
          }
        }
      }
    }
  }

  .login-main-container.right-panel-active .hello-container {
    transform: translateX(100%);
  }
  .login-main-container.right-panel-active .login-container {
    transform: translateX(100%);
    visibility: visible;
    z-index: 5;
    animation: show 0.6s;
  }

  // -----------------------------------
  // Sliding window
  // -----------------------------------
  .login-overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;

    .login-overlay {
      background: $light-2;
      position: relative;
      left: -100%;
      height: 100%;
      width: 200%;
      transform: translateX(0);
      transition: transform 0.6s ease-in-out;
    }
  }

  .login-main-container.right-panel-active .login-overlay {
    transform: translateX(50%);
  }
  .login-main-container.right-panel-active .login-overlay-container {
    transform: translateX(-100%);
  }
  .login-main-container.right-panel-active .login-overlay-left {
    transform: translateX(-50%);
  }
  .login-main-container.right-panel-active .login-overlay-right {
    transform: translateX(75%);
  }

  @keyframes show {
    0%,
    49.99% {
      visibility: hidden;
      z-index: 1;
    }

    50%,
    100% {
      visibility: visible;
      z-index: 5;
    }
  }

  // -----------------------------------
  // Glitch animation
  // -----------------------------------
  .glitch {
    position: relative;
    padding: 10px;
  }
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: 2px 0 greenyellow;
    background: $light-1;
    overflow: hidden;
    visibility: hidden;
    animation: noise-anim 10s infinite linear alternate-reverse;
  }
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: -2px 0 magenta;
    background: $light-1;
    overflow: hidden;
    visibility: hidden;
    animation: noise-anim-2 8s infinite linear alternate-reverse;
  }

  @keyframes noise-anim {
    $steps: 240;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        $top: random(100);
        $bottom: random(101 - $top);
        clip-path: inset(#{$top}% 0 #{$bottom}% 0);
        padding: random(24)px - 24px;
        visibility: visible;
      }
    }
  }
  @keyframes noise-anim-2 {
    $steps: 150;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        $top: random(100);
        $bottom: random(101 - $top);
        clip-path: inset(#{$top}% 0 #{$bottom}% 0);
        padding: random(20)px - 20px;
        visibility: visible;
      }
    }
  }

}