/*=========================================================================================
VARIABLES
=========================================================================================*/
/*=========================================================================================
MOBILE CSS
=========================================================================================*/
/*-----------------------------------------------------------------------------------------
CLASSES
-----------------------------------------------------------------------------------------*/
.make-sub-page {
  height: calc(100% - 16vmax);
  width: 100%;
  position: fixed;
  top: 8vmax;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 12vmax;
  overflow-y: scroll;
  background-color: white;
  z-index: 1;
}

.make-sub-page-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.make-sub-page-rght {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.make-sub-hdng {
  height: 16vmax;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.2vmax;
}

.make-fld {
  height: 18vmax;
  width: 80vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.make-fld-inp {
  width: 70%;
  margin: 0.6vmax;
}

.make-fld-hdng {
  width: 60%;
  margin: 0.6vmax;
  letter-spacing: 0.1vmax;
}

.make-btns {
  height: 16vmax;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.make-btn-2 {
  width: 20vmax;
}

.make-smry-lbl {
  width: 30%;
  padding: 1.5vmax;
  letter-spacing: 0.1vmax;
  text-align: right;
}

.make-smry-txt {
  width: 70%;
  padding: 1.5vmax;
  letter-spacing: 0.1vmax;
}

.make-sub-exit {
  z-index: 6;
  padding-bottom: 0;
}

.make-sub-page-hd {
  z-index: -1;
}

.make-exit-btn {
  margin: 6vmax 18vmin;
}

/*-----------------------------------------------------------------------------------------
IDS
-----------------------------------------------------------------------------------------*/
#make-qck-bld-fld {
  height: 30vmax;
}

#make-mdl-lbl {
  width: 20vmax;
}

#make-file-name {
  padding: 2vmax;
  letter-spacing: 0.1vmax;
}

#make-note-lbl {
  width: 90%;
}

#make-note {
  height: 100%;
  width: 100%;
  border-style: solid;
  padding: 1.5vmax;
  resize: none;
}

#make-qck-bld-btn {
  margin-top: 4vmax;
}

#make-smry {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 1vmax;
  padding: 2vmax;
}

#make-sub-page-load {
  -ms-flex-line-pack: center;
      align-content: center;
}

/*-----------------------------------------------------------------------------------------
GLOBAL (TEMPORARY)
-----------------------------------------------------------------------------------------*/
.rmv-file-css {
  height: 0;
  width: 0;
  overflow: hidden;
}

.rmv-btn-css {
  border: none;
  outline: none;
}

.btn-1 {
  height: 5vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2.5vmax;
  letter-spacing: 0.2vmax;
}

.flt-navs-1 {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  left: 0vw;
  height: 12vmax;
  bottom: 8vmax;
  padding: 0 6vmax;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 5;
}

.flt-nav-1 {
  height: 1.6vmax;
  width: 1.6vmax;
  border-radius: 0.8vmax;
  border-style: solid;
  border-width: 0.4vmax;
  border-color: #2d283c;
  background-color: #2d283c;
  opacity: 0.2;
  margin: 2vmax;
}

.flt-nav-1-dsbl {
  background-color: white;
}

.flt-nav-1-slct {
  height: 2vmax;
  width: 2vmax;
  border-radius: 1vmax;
  border-style: none;
  background-color: #4e4ed6;
  opacity: 1;
}

.flt-arw-1 {
  border-style: solid;
  border-color: #2d283c;
  border-width: 0 0.8vmax 0.8vmax 0;
  padding: 0.8vmax;
  opacity: 0.6;
  margin: 1vmax;
}

.flt-arw-1-dsbl {
  opacity: 0;
}

.flt-arw-1-left {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.flt-arw-1-rght {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.trst-0 {
  -webkit-transition: none;
  transition: none;
}

.load-1 {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.load-1 div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #8258dc;
  border-radius: 50%;
  -webkit-animation: load-1 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: load-1 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #8258dc transparent transparent transparent;
}

.load-1 div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.load-1 div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.load-1 div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes load-1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes load-1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*=========================================================================================
DESKTOP CSS
=========================================================================================*/
@media only screen and (min-width: 850px) {
  .make-sub-page {
    height: initial;
    position: relative;
    width: 100%;
    padding-bottom: 0;
  }
  .make-sub-page-left {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  .make-sub-page-rght {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  .make-sub-hdng {
    height: 6vmax;
    letter-spacing: 0.1vmax;
  }
  #make-sub-page-0 {
    position: fixed;
    top: 4vmax;
    left: 5vmax;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100% - 4vmax);
    width: 25vmax;
    background-color: #f8f8f8;
    overflow: hidden;
  }
  #make-page {
    height: calc(100% - 4vmax);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 25vmax;
  }
  #make-mdl-vwr {
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
  }
  /*-----------------------------------------------------------------------------------------
  GLOBAL (TEMPORARY)
  -----------------------------------------------------------------------------------------*/
  .btn-1 {
    height: 2.5vmax;
    border-radius: 1.25vmax;
    letter-spacing: 0.1vmax;
  }
  .flt-navs-1 {
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
  }
  .flt-nav-1 {
    height: 0.8vmax;
    width: 0.8vmax;
    border-radius: 0.4vmax;
    border-width: 0.2vmax;
    margin: 1vmax;
  }
  .flt-nav-1-slct {
    height: 1vmax;
    width: 1vmax;
    border-radius: 0.5vmax;
  }
  .flt-arw-1 {
    border-width: 0 0.4vmax 0.4vmax 0;
    padding: 0.4vmax;
    margin: 0.5vmax;
  }
}

/*=========================================================================================
END
=========================================================================================*/
/*# sourceMappingURL=make.css.map */