@import "global/all";

/*=========================================================================================
VARIABLES
=========================================================================================*/

$height-mobile: 7vmax;
$height-desktop: 3.5vmax;
$red: #ff392e;

/*=========================================================================================
MOBILE CSS
=========================================================================================*/

.make-page {
  width: 100vw;
  position: fixed;
  top: 60px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  transition: all 0.5s ease;
  transform: translateX(0);
  &.hide-left {
    transform: translateX(-100%);
    .heading {
      cursor: pointer;
    }
  }
  &.hide-right {
    transform: translateX(100%);
    .heading {
      cursor: pointer;
    }
  }
  &.disable {
    .heading {
      cursor: default;
    }
  }
  .heading {
    height: 20vmax;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 4vmax;
    font-family: $poppins;
    font-size: 3.6vmax;
    font-weight: bold;
    letter-spacing: 0.3vmax;
    color: $dark-2;
    cursor: default;
  }
  form {
    height: 0;
    width: 0;
    overflow: hidden;
  }
  .button {
    height: 20vmax;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.make-file-upload-button {
  height: 20vmax;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  label {
    height: 7vmax;
    width: 31.5vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vmax;
    background-color: $logo-3;
    font-family: $poppins;
    font-size: 2vmax;
    letter-spacing: 0.2vmax;
    color: $light-1;
  }
}

.make-file-input {
  height: 20vmax;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3,
  p {
    width: 30vmax;
    display: flex;
    align-items: center;
    // Text
    font-family: $poppins;
  }
  h3 {
    height: 5vmax;
    justify-content: center;
    font-size: 3vmax;
    letter-spacing: 0.2vmax;
    color: $light-3;
  }
  p {
    height: 3vmax;
    justify-content: flex-end;
    font-size: 1.2vmax;
    letter-spacing: 0.1vmax;
    color: $red;
  }
}

/*=========================================================================================
DESKTOP CSS
=========================================================================================*/

@media only screen and (min-width: 850px) {
  #make {
    height: calc(100vh - 60px);
    width: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    display: flex;
    padding: 0 0 0 36vw;
    background-color: $light-2;
    overflow-y: scroll;
  }

  .make-page {
    width: 62vw;
    position: relative;
    top: 0;
    border-radius: 1vmax;
    margin: 1vw;
    background-color: $light-1;
    overflow: hidden;
    &.upload {
      height: 35vmax;
    }
    &.hide-left {
      height: 5vmax;
      transform: translateX(0);
    }
    &.hide-right {
      height: 5vmax;
      transform: translateX(0);
    }
    .heading {
      height: 5vmax;
      align-items: center;
      justify-content: flex-start;
      padding-left: 3vmax;
      padding-bottom: 0;
      font-size: 1.8vmax;
      letter-spacing: 0.15vmax;
    }
    .button {
      height: 10vmax;
    }
  }

  .make-file-upload-button {
    height: 10vmax;
    label {
      height: 3.5vmax;
      width: 15.75vmax;
      border-radius: 0.5vmax;
      font-size: 1vmax;
      letter-spacing: 0.1vmax;
    }
  }

  .make-file-input {
    height: 10vmax;
    h3,
    p {
      width: 15vmax;
    }
    h3 {
      height: 2.5vmax;
      font-size: 1.5vmax;
      letter-spacing: 0.1vmax;
    }
    p {
      height: 1.5vmax;
      font-size: 0.6vmax;
      letter-spacing: 0.05vmax;
    }
  }
}

/*=========================================================================================
END
=========================================================================================*/
