* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

button {
  outline: none;
}

.btn {
  border: #2d283c solid 1px;
  color: #2d283c;
  background: white;
  width: 10vw;
  font-size: 1vw;
  font-weight: 100;
  height: 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.25vw;
  position: relative;
  cursor: pointer;
  outline: none;
}

.btn:before, .btn:after {
  content: attr(data-text);
  border: #2d283c solid 1px;
  color: #2d283c;
  background: white;
  width: 10vw;
  font-size: 1vw;
  font-weight: 100;
  height: 2.5vw;
  letter-spacing: 0.25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  outline: none;
  pointer-events: none;
  visibility: hidden;
  left: 1px;
  text-shadow: -2px 2px greenyellow;
  -webkit-box-shadow: inset -2px 0px greenyellow;
          box-shadow: inset -2px 0px greenyellow;
  z-index: 3;
  animation: btn-twitch 12s alternate-reverse infinite;
}

.btn:before {
  left: -1px;
  text-shadow: 2px 0 magenta;
  -webkit-box-shadow: inset 1px 0 magenta;
          box-shadow: inset 1px 0 magenta;
  z-index: 2;
  -webkit-animation: btn-twitch 10s infinite;
          animation: btn-twitch 10s infinite;
}

.btn:hover, .btn:hover:after, .btn:hover:before {
  color: white;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#8258dc), to(#4e4ed6));
  background-image: linear-gradient(to right, #8258dc, #4e4ed6);
}

.btn:hover:after, .btn:hover:before {
  content: attr(data-text);
  width: 10vw;
  height: 2.5vw;
  top: -0.2vw;
  font-size: 1vw;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  overflow: hidden;
  visibility: hidden;
}

.btn:hover:after {
  left: 0.2vw;
  text-shadow: -1px 0 greenyellow;
  animation: btn-hover 1.5s linear alternate-reverse;
  border: none;
}

.btn:hover:before {
  left: -0.2vw;
  text-shadow: 1px 0 magenta;
  -webkit-animation: btn-hover 2s linear alternate;
          animation: btn-hover 2s linear alternate;
  border: none;
}

@-webkit-keyframes btn-hover {
  0% {
    clip: rect(-3px, 600px, 0px, 0px);
    visibility: visible;
  }
  2% {
    clip: rect(0px, 600px, 0px, 0px);
  }
  5% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  9% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  17% {
    clip: rect(100px, 600px, 100px, 0px);
  }
  29% {
    clip: rect(0px, 600px, 600px, 0px);
  }
  35% {
    clip: rect(100px, 600px, 0px, 0px);
  }
  41% {
    clip: rect(0px, 600px, 600px, 0px);
  }
  47% {
    clip: rect(100px, 600px, 0px, 0px);
  }
  52% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  58% {
    clip: rect(100px, 450px, 100px, 0px);
  }
  64% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  70% {
    clip: rect(100px, 450px, 100px, 0px);
  }
  76% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  82% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  88% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  94% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  100% {
    clip: rect(0px, 450px, 0px, 0px);
  }
}

@keyframes btn-hover {
  0% {
    clip: rect(-3px, 600px, 0px, 0px);
    visibility: visible;
  }
  2% {
    clip: rect(0px, 600px, 0px, 0px);
  }
  5% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  9% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  17% {
    clip: rect(100px, 600px, 100px, 0px);
  }
  29% {
    clip: rect(0px, 600px, 600px, 0px);
  }
  35% {
    clip: rect(100px, 600px, 0px, 0px);
  }
  41% {
    clip: rect(0px, 600px, 600px, 0px);
  }
  47% {
    clip: rect(100px, 600px, 0px, 0px);
  }
  52% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  58% {
    clip: rect(100px, 450px, 100px, 0px);
  }
  64% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  70% {
    clip: rect(100px, 450px, 100px, 0px);
  }
  76% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  82% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  88% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  94% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  100% {
    clip: rect(0px, 450px, 0px, 0px);
  }
}

@-webkit-keyframes btn-twitch {
  0% {
    -webkit-clip-path: inset(100% 100% 100% 100%);
            clip-path: inset(100% 100% 100% 100%);
  }
  18% {
    -webkit-clip-path: inset(100% 100% 100% 100%);
            clip-path: inset(100% 100% 100% 100%);
    visibility: visible;
  }
  18.5% {
    -webkit-clip-path: inset(53% 0 42% 0);
            clip-path: inset(53% 0 42% 0);
  }
  19% {
    -webkit-clip-path: inset(53% 0 42% 0);
            clip-path: inset(53% 0 42% 0);
  }
  19.5% {
    -webkit-clip-path: inset(100% 100% 100% 100%);
            clip-path: inset(100% 100% 100% 100%);
  }
  58% {
    -webkit-clip-path: inset(100% 100% 100% 100%);
            clip-path: inset(100% 100% 100% 100%);
  }
  58.5% {
    -webkit-clip-path: inset(22% 0 67% 0);
            clip-path: inset(22% 0 67% 0);
  }
  59% {
    -webkit-clip-path: inset(22% 0 67% 0);
            clip-path: inset(22% 0 67% 0);
  }
  59.5% {
    -webkit-clip-path: inset(100% 100% 100% 100%);
            clip-path: inset(100% 100% 100% 100%);
  }
  60% {
    -webkit-clip-path: inset(43% 0 48% 0);
            clip-path: inset(43% 0 48% 0);
  }
  60.5% {
    -webkit-clip-path: inset(43% 0 48% 0);
            clip-path: inset(43% 0 48% 0);
  }
  61% {
    -webkit-clip-path: inset(100% 100% 100% 100%);
            clip-path: inset(100% 100% 100% 100%);
  }
  83% {
    -webkit-clip-path: inset(100% 100% 100% 100%);
            clip-path: inset(100% 100% 100% 100%);
  }
  83.5% {
    -webkit-clip-path: inset(68% 0 19% 0);
            clip-path: inset(68% 0 19% 0);
  }
  84% {
    -webkit-clip-path: inset(68% 0 19% 0);
            clip-path: inset(68% 0 19% 0);
  }
  84.5% {
    -webkit-clip-path: inset(100% 100% 100% 100%);
            clip-path: inset(100% 100% 100% 100%);
  }
  85% {
    -webkit-clip-path: inset(19% 0 68% 0);
            clip-path: inset(19% 0 68% 0);
  }
  85.5% {
    -webkit-clip-path: inset(19% 0 68% 0);
            clip-path: inset(19% 0 68% 0);
  }
  86% {
    -webkit-clip-path: inset(100% 100% 100% 100%);
            clip-path: inset(100% 100% 100% 100%);
  }
  100% {
    -webkit-clip-path: inset(100% 100% 100% 100%);
            clip-path: inset(100% 100% 100% 100%);
  }
}

@keyframes btn-twitch {
  0% {
    -webkit-clip-path: inset(100% 100% 100% 100%);
            clip-path: inset(100% 100% 100% 100%);
  }
  18% {
    -webkit-clip-path: inset(100% 100% 100% 100%);
            clip-path: inset(100% 100% 100% 100%);
    visibility: visible;
  }
  18.5% {
    -webkit-clip-path: inset(53% 0 42% 0);
            clip-path: inset(53% 0 42% 0);
  }
  19% {
    -webkit-clip-path: inset(53% 0 42% 0);
            clip-path: inset(53% 0 42% 0);
  }
  19.5% {
    -webkit-clip-path: inset(100% 100% 100% 100%);
            clip-path: inset(100% 100% 100% 100%);
  }
  58% {
    -webkit-clip-path: inset(100% 100% 100% 100%);
            clip-path: inset(100% 100% 100% 100%);
  }
  58.5% {
    -webkit-clip-path: inset(22% 0 67% 0);
            clip-path: inset(22% 0 67% 0);
  }
  59% {
    -webkit-clip-path: inset(22% 0 67% 0);
            clip-path: inset(22% 0 67% 0);
  }
  59.5% {
    -webkit-clip-path: inset(100% 100% 100% 100%);
            clip-path: inset(100% 100% 100% 100%);
  }
  60% {
    -webkit-clip-path: inset(43% 0 48% 0);
            clip-path: inset(43% 0 48% 0);
  }
  60.5% {
    -webkit-clip-path: inset(43% 0 48% 0);
            clip-path: inset(43% 0 48% 0);
  }
  61% {
    -webkit-clip-path: inset(100% 100% 100% 100%);
            clip-path: inset(100% 100% 100% 100%);
  }
  83% {
    -webkit-clip-path: inset(100% 100% 100% 100%);
            clip-path: inset(100% 100% 100% 100%);
  }
  83.5% {
    -webkit-clip-path: inset(68% 0 19% 0);
            clip-path: inset(68% 0 19% 0);
  }
  84% {
    -webkit-clip-path: inset(68% 0 19% 0);
            clip-path: inset(68% 0 19% 0);
  }
  84.5% {
    -webkit-clip-path: inset(100% 100% 100% 100%);
            clip-path: inset(100% 100% 100% 100%);
  }
  85% {
    -webkit-clip-path: inset(19% 0 68% 0);
            clip-path: inset(19% 0 68% 0);
  }
  85.5% {
    -webkit-clip-path: inset(19% 0 68% 0);
            clip-path: inset(19% 0 68% 0);
  }
  86% {
    -webkit-clip-path: inset(100% 100% 100% 100%);
            clip-path: inset(100% 100% 100% 100%);
  }
  100% {
    -webkit-clip-path: inset(100% 100% 100% 100%);
            clip-path: inset(100% 100% 100% 100%);
  }
}

.loading-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.loading-icon .layer {
  height: 0;
  width: 0;
  opacity: 0.3;
  position: absolute;
  border-radius: 1vw;
}

.loading-icon .layer-1 {
  -webkit-animation: loading-icon-1 5s forwards infinite;
          animation: loading-icon-1 5s forwards infinite;
}

.loading-icon .layer-2 {
  margin-top: 0;
  margin-left: 0;
  -webkit-animation: loading-icon-2 5s forwards infinite;
          animation: loading-icon-2 5s forwards infinite;
}

.loading-icon .layer-3 {
  -webkit-animation: loading-icon-3 5s forwards infinite;
          animation: loading-icon-3 5s forwards infinite;
}

@-webkit-keyframes loading-icon-1 {
  0%,
  100% {
    background: #4e4ed6;
    margin-top: calc(0 * -1 / 4);
    margin-left: 0;
    -webkit-transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
            transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    -webkit-animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
            animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
  }
  25% {
    background: #6853d9;
    margin-top: 0;
    margin-left: 0;
    -webkit-transform: perspective(75vw) rotateX(0deg) rotateY(-75deg) rotateZ(0deg);
            transform: perspective(75vw) rotateX(0deg) rotateY(-75deg) rotateZ(0deg);
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
            animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
  }
  50% {
    background: #4e4ed6;
    margin-top: calc(0 * 1 / 4);
    margin-left: 0;
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg);
            transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg);
    -webkit-animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
            animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
  }
  75% {
    background: #6853d9;
    margin-top: 0;
    margin-left: 0;
    -webkit-transform: perspective(75vw) rotateX(0deg) rotateY(75deg) rotateZ(-90deg);
            transform: perspective(75vw) rotateX(0deg) rotateY(75deg) rotateZ(-90deg);
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
            animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
  }
}

@keyframes loading-icon-1 {
  0%,
  100% {
    background: #4e4ed6;
    margin-top: calc(0 * -1 / 4);
    margin-left: 0;
    -webkit-transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
            transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    -webkit-animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
            animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
  }
  25% {
    background: #6853d9;
    margin-top: 0;
    margin-left: 0;
    -webkit-transform: perspective(75vw) rotateX(0deg) rotateY(-75deg) rotateZ(0deg);
            transform: perspective(75vw) rotateX(0deg) rotateY(-75deg) rotateZ(0deg);
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
            animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
  }
  50% {
    background: #4e4ed6;
    margin-top: calc(0 * 1 / 4);
    margin-left: 0;
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg);
            transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg);
    -webkit-animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
            animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
  }
  75% {
    background: #6853d9;
    margin-top: 0;
    margin-left: 0;
    -webkit-transform: perspective(75vw) rotateX(0deg) rotateY(75deg) rotateZ(-90deg);
            transform: perspective(75vw) rotateX(0deg) rotateY(75deg) rotateZ(-90deg);
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
            animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
  }
}

@-webkit-keyframes loading-icon-2 {
  0%,
  100% {
    background: #6853d9;
    -webkit-transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
            transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    -webkit-animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
            animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
  }
  25% {
    background: #6853d9;
    -webkit-transform: perspective(75vw) rotateZ(0deg) rotateX(0deg) rotateY(-90deg);
            transform: perspective(75vw) rotateZ(0deg) rotateX(0deg) rotateY(-90deg);
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
            animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
  }
  50% {
    background: #6853d9;
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg);
            transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg);
    -webkit-animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
            animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
  }
  75% {
    background: #6853d9;
    -webkit-transform: perspective(75vw) rotateX(0deg) rotateY(90deg) rotateZ(-90deg);
            transform: perspective(75vw) rotateX(0deg) rotateY(90deg) rotateZ(-90deg);
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
            animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
  }
}

@keyframes loading-icon-2 {
  0%,
  100% {
    background: #6853d9;
    -webkit-transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
            transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    -webkit-animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
            animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
  }
  25% {
    background: #6853d9;
    -webkit-transform: perspective(75vw) rotateZ(0deg) rotateX(0deg) rotateY(-90deg);
            transform: perspective(75vw) rotateZ(0deg) rotateX(0deg) rotateY(-90deg);
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
            animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
  }
  50% {
    background: #6853d9;
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg);
            transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg);
    -webkit-animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
            animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
  }
  75% {
    background: #6853d9;
    -webkit-transform: perspective(75vw) rotateX(0deg) rotateY(90deg) rotateZ(-90deg);
            transform: perspective(75vw) rotateX(0deg) rotateY(90deg) rotateZ(-90deg);
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
            animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
  }
}

@-webkit-keyframes loading-icon-3 {
  0%,
  100% {
    background: #8258dc;
    margin-top: calc(0 * 1 / 4);
    margin-left: 0;
    -webkit-transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
            transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    -webkit-animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
            animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
  }
  25% {
    background: #6853d9;
    margin-top: 0;
    margin-left: 0;
    -webkit-transform: perspective(75vw) rotateX(0deg) rotateY(-105deg) rotateZ(0deg);
            transform: perspective(75vw) rotateX(0deg) rotateY(-105deg) rotateZ(0deg);
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
            animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
  }
  50% {
    background: #4e4ed6;
    margin-top: calc(0 * -1 / 4);
    margin-left: 0;
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg);
            transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg);
    -webkit-animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
            animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
  }
  75% {
    background: #6853d9;
    margin-top: 0;
    margin-left: 0;
    -webkit-transform: perspective(75vw) rotateX(0deg) rotateY(105deg) rotateZ(-90deg);
            transform: perspective(75vw) rotateX(0deg) rotateY(105deg) rotateZ(-90deg);
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
            animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
  }
}

@keyframes loading-icon-3 {
  0%,
  100% {
    background: #8258dc;
    margin-top: calc(0 * 1 / 4);
    margin-left: 0;
    -webkit-transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
            transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    -webkit-animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
            animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
  }
  25% {
    background: #6853d9;
    margin-top: 0;
    margin-left: 0;
    -webkit-transform: perspective(75vw) rotateX(0deg) rotateY(-105deg) rotateZ(0deg);
            transform: perspective(75vw) rotateX(0deg) rotateY(-105deg) rotateZ(0deg);
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
            animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
  }
  50% {
    background: #4e4ed6;
    margin-top: calc(0 * -1 / 4);
    margin-left: 0;
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg);
            transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg);
    -webkit-animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
            animation-timing-function: cubic-bezier(0.11, 0.01, 0.6, 0.99);
  }
  75% {
    background: #6853d9;
    margin-top: 0;
    margin-left: 0;
    -webkit-transform: perspective(75vw) rotateX(0deg) rotateY(105deg) rotateZ(-90deg);
            transform: perspective(75vw) rotateX(0deg) rotateY(105deg) rotateZ(-90deg);
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
            animation-timing-function: cubic-bezier(0.4, 0.01, 0.89, 0.99);
  }
}

.input-decor {
  position: relative;
  display: inline-block;
  border-bottom: 1.2px dotted #2d283c;
}

.input-decor input {
  border: none;
  padding: 0.5vw 1vw;
  width: 20vw;
  font-family: "Poppins", sans-serif;
  height: 32px;
}

.input-decor input:focus {
  outline: none;
}

.input-decor label {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0.5vh;
  margin-left: 1vw;
  color: #c7c2d5;
  letter-spacing: 1.5px;
  font-size: 1vw;
  font-weight: 100;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  pointer-events: none;
}

.input-decor input:focus ~ label {
  margin-top: -2vh;
  font-size: 0.75vw;
  color: #4bf0ea;
}

.input-decor input:not(:focus):valid ~ label {
  margin-top: -2vh;
  font-size: 0.75vw;
  color: #c7c2d5;
}

.input-decor::after, .input-decor:focus-within::after {
  content: "";
  border-bottom: 1.2px solid #4bf0ea;
  position: absolute;
  width: 0%;
  top: 100%;
  left: 0%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.input-decor:focus-within::after {
  width: 100%;
}

.hamburger {
  padding: 0 0;
  display: inline-block;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #4bf0ea;
}

.hamburger-box {
  width: 20px;
  height: 15px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -0.5px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 20px;
  height: 1px;
  background-color: #2d283c;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -7px;
}

.hamburger-inner::after {
  bottom: -7px;
}

.hamburger-arrow .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.1s ease, -webkit-transform 0.1s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  transition: top 0.1s 0.1s ease, -webkit-transform 0.1s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.21, 0.65, 0.44, 0.99), -webkit-transform 0.1s cubic-bezier(0.21, 0.65, 0.44, 0.99);
}

.hamburger-arrow .hamburger-inner::after {
  -webkit-transition: bottom 0.1s 0.1s ease, -webkit-transform 0.1s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  transition: bottom 0.1s 0.1s ease, -webkit-transform 0.1s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.21, 0.65, 0.44, 0.99), -webkit-transform 0.1s cubic-bezier(0.21, 0.65, 0.44, 0.99);
}

.hamburger-arrow.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: translate3d(-5px, -5px, 0) rotate(-45deg) scale(0.7, 1);
          transform: translate3d(-5px, -5px, 0) rotate(-45deg) scale(0.7, 1);
  -webkit-transition: top 0.1s ease, -webkit-transform 0.1s 0.1s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  transition: top 0.1s ease, -webkit-transform 0.1s 0.1s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.21, 0.65, 0.44, 0.99), -webkit-transform 0.1s 0.1s cubic-bezier(0.21, 0.65, 0.44, 0.99);
}

.hamburger-arrow.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: translate3d(-5px, 5px, 0) rotate(45deg) scale(0.7, 1);
          transform: translate3d(-5px, 5px, 0) rotate(45deg) scale(0.7, 1);
  -webkit-transition: bottom 0.1s ease, -webkit-transform 0.1s 0.1s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  transition: bottom 0.1s ease, -webkit-transform 0.1s 0.1s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.21, 0.65, 0.44, 0.99), -webkit-transform 0.1s 0.1s cubic-bezier(0.21, 0.65, 0.44, 0.99);
}

.hamburger-screen-mode.is-active .hamburger-inner,
.hamburger-screen-mode.is-active .hamburger-inner::before,
.hamburger-screen-mode.is-active .hamburger-inner::after {
  background-color: #2d283c;
}

.hamburger-screen-mode .hamburger-inner, .hamburger-screen-mode .hamburger-inner::before, .hamburger-screen-mode .hamburger-inner::after {
  background-color: #2d283c;
}

.nav-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 0px;
  z-index: 1000;
}

.nav-container .nav-top-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 100vw;
  background: white;
}

.nav-container .nav-top-bar .hamburger {
  margin-bottom: 10px;
}

.nav-container .nav-top-bar .hamburger:active .hamburger-inner,
.nav-container .nav-top-bar .hamburger:active .hamburger-inner::before,
.nav-container .nav-top-bar .hamburger:active .hamburger-inner::after {
  background: #4bf0ea;
}

.nav-container .nav-top-bar .nav-home-btn {
  height: 30px;
  margin: 0 35vw;
  margin-bottom: 10px;
}

.nav-container .nav-top-bar .nav-home-btn .nav-logo {
  height: 100%;
}

.nav-container .nav-top-bar .nav-user {
  position: relative;
  height: 20px;
  width: 20px;
  margin-bottom: 10px;
}

.nav-container .nav-top-bar .nav-user .nav-user-reg {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
}

.nav-container .nav-top-bar .nav-user .nav-user-hlt {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  opacity: 0;
}

.nav-container .nav-top-bar .nav-user:active .nav-user-reg {
  opacity: 0;
}

.nav-container .nav-top-bar .nav-user:active .nav-user-hlt {
  opacity: 1;
}

.nav-container .nav-side-menus {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 60px);
  width: 100vw;
  visibility: hidden;
}

.nav-container .nav-side-menus .nav-left-menu-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 0vw;
  overflow: hidden;
  -webkit-transition: all 0.6s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  transition: all 0.6s cubic-bezier(0.21, 0.65, 0.44, 0.99);
}

.nav-container .nav-side-menus .nav-left-menu-wrap .nav-left-menu {
  height: calc(100vh - 60px);
  width: 100vw;
  background: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4fr 1fr;
      grid-template-rows: 4fr 1fr;
  margin-left: -5vw;
  -webkit-transition: all 0.6s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  transition: all 0.6s cubic-bezier(0.21, 0.65, 0.44, 0.99);
}

.nav-container .nav-side-menus .nav-left-menu-wrap .nav-left-menu .nav-side-menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container .nav-side-menus .nav-left-menu-active {
  visibility: visible;
  width: 100vw;
}

.nav-container .nav-side-menus .nav-left-menu-active .nav-left-menu {
  margin-left: 0;
}

.nav-container .nav-side-menus .nav-left-menu-active .nav-left-menu .nav-sep {
  width: 5vw;
  -webkit-transition: 0.2s ease-out 0.3s;
  transition: 0.2s ease-out 0.3s;
}

.nav-container .nav-side-menus .nav-right-menu-wrap {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100vh - 60px);
  width: 0vw;
  overflow: hidden;
  -webkit-transition: all 0.6s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  transition: all 0.6s cubic-bezier(0.21, 0.65, 0.44, 0.99);
}

.nav-container .nav-side-menus .nav-right-menu-wrap .nav-right-menu {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100vh - 60px);
  width: 100vw;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -5vw;
  -webkit-transition: all 0.6s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  transition: all 0.6s cubic-bezier(0.21, 0.65, 0.44, 0.99);
}

.nav-container .nav-side-menus .nav-right-menu-active {
  visibility: visible;
  width: 100vw;
}

.nav-container .nav-side-menus .nav-right-menu-active .nav-right-menu {
  margin-right: 0vw;
}

.nav-container .nav-side-menus .nav-right-menu-active .nav-right-menu .nav-sep {
  width: 5vw;
  -webkit-transition: 0.2s ease-out 0.3s;
  transition: 0.2s ease-out 0.3s;
}

.nav-container .nav-side-menus .nav-side-header {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 2vw;
  letter-spacing: 0.5vw;
  color: #c7c2d5;
}

.nav-container .nav-side-menus .nav-side-item {
  margin-top: 3vh;
  color: #2d283c;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  letter-spacing: 0.1vw;
}

.nav-container .nav-side-menus .nav-side-item:active {
  color: #4bf0ea;
}

.nav-container .nav-side-menus .nav-sep {
  width: 0vw;
  height: 1px;
  background: #c7c2d5;
  margin: 6vh 0;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.nav-container .nav-side-menus .nav-side-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container .nav-side-menus .nav-side-socials .fab {
  margin-left: 5vw;
  margin-right: 5vw;
}

.nav-container .nav-side-menus .nav-side-socials .fab:visited {
  color: #877da9;
}

.nav-container .nav-side-menus .nav-side-socials .fab:active {
  color: #4bf0ea;
}

.nav-container .nav-darken-overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: black;
  opacity: 0;
  -webkit-transition: opacity 0.6s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  transition: opacity 0.6s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  pointer-events: none;
}

/*=========================================================================================
VARIABLES
=========================================================================================*/
/*=========================================================================================
MOBILE CSS
=========================================================================================*/
.nav-bar {
  height: 8vmax;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  overflow: hidden;
}

.nav-bar-hide {
  height: 0;
}

.nav-bar-top {
  position: fixed;
  top: 0;
  padding: 1vmax;
}

.nav-bar-btm {
  position: fixed;
  bottom: 0;
}

.nav-btn {
  height: 100%;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f0f0ff;
  color: #6464ff;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.nav-btn-untgl {
  background-color: #6464ff;
  color: #f0f0ff;
}

.nav-icn {
  height: 3.5vmax;
  width: 3.5vmax;
  background-color: #c8c8c8;
}

.nav-txt {
  padding: 0.5vmax 0 0 0;
  letter-spacing: 0.05vmax;
}

.nav-bar-dktp {
  max-height: 0;
  padding: 0;
}

.nav-cntt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

/*-----------------------------------------------------------------------------------------
PAGE FLOATING NAVIGATION 1
-----------------------------------------------------------------------------------------*/
.flt-navs-1 {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  left: 0vw;
  height: 12vmax;
  bottom: 8vmax;
  padding: 0 6vmax;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 5;
}

.flt-nav-1 {
  height: 1.6vmax;
  width: 1.6vmax;
  border-radius: 0.8vmax;
  border-style: solid;
  border-width: 0.4vmax;
  border-color: #2d283c;
  background-color: #2d283c;
  opacity: 0.2;
  margin: 2vmax;
}

.flt-nav-1-dsbl {
  background-color: white;
}

.flt-nav-1-slct {
  height: 2vmax;
  width: 2vmax;
  border-radius: 1vmax;
  border-style: none;
  background-color: #4e4ed6;
  opacity: 1;
}

.flt-arw-1 {
  border-style: solid;
  border-color: #2d283c;
  border-width: 0 0.8vmax 0.8vmax 0;
  padding: 0.8vmax;
  opacity: 0.6;
  margin: 1vmax;
}

.flt-arw-1-dsbl {
  opacity: 0;
}

.flt-arw-1-left {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.flt-arw-1-down {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.flt-arw-1-rght {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.flt-arw-1-up {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

/*=========================================================================================
DESKTOP CSS
=========================================================================================*/
@media only screen and (min-width: 850px) {
  /* Mobile CSS Reset */
  .nav-bar-mbl {
    max-height: 0;
    padding: 0;
  }
  .nav-btns-dktp {
    width: 20vmax;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    overflow: hidden;
  }
  /* Desktop CSS */
  .nav-bar-dktp {
    max-height: 4vmax;
    padding: 0.5vmax 1vmax;
  }
  .nav-btns-dktp-hide {
    width: 0;
  }
  .nav-btn-log-out-dktp {
    height: 3vmax;
    width: 10vmax;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
  }
  #nav-btn-signup {
    border-style: solid;
    border-width: 0.2vmax;
    border-radius: 0.5vmax;
  }
  /*---------------------------------------------------------------------------------------
  PAGE FLOATING NAVIGATION 1
  ---------------------------------------------------------------------------------------*/
  .flt-navs-1 {
    height: calc(100% - 4vmax);
    width: 8vmax;
    top: 4vmax;
    left: calc(100% - 8vmax);
    padding: 8vmax 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flt-nav-1 {
    height: 0.8vmax;
    width: 0.8vmax;
    border-radius: 0.4vmax;
    border-width: 0.2vmax;
    margin: 1vmax;
  }
  .flt-nav-1-slct {
    height: 1vmax;
    width: 1vmax;
    border-radius: 0.5vmax;
  }
  .flt-arw-1 {
    border-width: 0 0.4vmax 0.4vmax 0;
    padding: 0.4vmax;
    margin: 0.5vmax;
  }
  .flt-arw-1-left {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  .flt-arw-1-rght {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

/*=========================================================================================
END
=========================================================================================*/
/*=========================================================================================
TEMPORARY
=========================================================================================*/
.load-1 {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.load-1 div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #8258dc;
  border-radius: 50%;
  -webkit-animation: load-1 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: load-1 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #8258dc transparent transparent transparent;
}

.load-1 div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.load-1 div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.load-1 div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes load-1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes load-1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.load-2 {
  display: inline-block;
  position: relative;
  width: 3.6vmax;
  height: 3.6vmax;
}

.load-2 div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 2.4vmax;
  height: 2.4vmax;
  margin: 0.5vmax;
  border: 0.5vmax solid white;
  border-radius: 50%;
  -webkit-animation: load-2 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: load-2 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: white transparent transparent transparent;
}

.load-2 div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.load-2 div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.load-2 div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes load-2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes load-2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 4;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  -webkit-animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
          animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 3.6vmax;
  height: 3.6vmax;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  -webkit-box-shadow: inset 0px 0px 0px #7ac142;
          box-shadow: inset 0px 0px 0px #7ac142;
  -webkit-animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
          animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  -webkit-animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
          animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes scale {
  0%,
  100% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes scale {
  0%,
  100% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
  }
}

@-webkit-keyframes fill {
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 30px #7ac142;
            box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

@keyframes fill {
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 30px #7ac142;
            box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

@media only screen and (min-width: 850px) {
  .load-2 {
    width: 1.6vmax;
    height: 1.6vmax;
  }
  .load-2 div {
    width: 1.2vmax;
    height: 1.2vmax;
    margin: 0.25vmax;
    border: 0.25vmax solid white;
    border-color: white transparent transparent transparent;
  }
  .checkmark {
    width: 1.6vmax;
    height: 1.6vmax;
  }
}

/*=========================================================================================
END
=========================================================================================*/
/*=========================================================================================
VARIABLES
=========================================================================================*/
/*=========================================================================================
MOBILE CSS
=========================================================================================*/
/*-----------------------------------------------------------------------------------------
CLASSES
-----------------------------------------------------------------------------------------*/
.make-sub-page {
  height: calc(100% - 16vmax);
  width: 100%;
  position: fixed;
  top: 8vmax;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 12vmax;
  overflow-y: scroll;
  background-color: white;
  z-index: 1;
}

.make-sub-page-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.make-sub-page-rght {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.make-sub-hdng {
  height: 16vmax;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.2vmax;
}

.make-fld {
  height: 18vmax;
  width: 80vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.make-fld-inp {
  width: 70%;
  margin: 0.6vmax;
}

.make-fld-hdng {
  width: 60%;
  margin: 0.6vmax;
  letter-spacing: 0.1vmax;
}

.make-btns {
  height: 16vmax;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.make-btn-2 {
  width: 20vmax;
}

.make-smry-lbl {
  width: 30%;
  padding: 1.5vmax;
  letter-spacing: 0.1vmax;
  text-align: right;
}

.make-smry-txt {
  width: 70%;
  padding: 1.5vmax;
  letter-spacing: 0.1vmax;
}

.make-sub-exit {
  z-index: 6;
  padding-bottom: 0;
}

.make-sub-page-hd {
  z-index: -1;
}

.make-exit-btn {
  margin: 6vmax 18vmin;
}

.make-smry-lbl {
  padding: 0.75vmax;
  letter-spacing: 0.05vmax;
}

.make-smry-txt {
  padding: 0.75vmax;
  letter-spacing: 0.05vmax;
}

/*-----------------------------------------------------------------------------------------
IDS
-----------------------------------------------------------------------------------------*/
#make-qck-bld-fld {
  height: 30vmax;
}

#make-mdl-lbl {
  width: 20vmax;
}

#make-file-name {
  padding: 2vmax;
  letter-spacing: 0.1vmax;
}

#make-note-lbl {
  width: 90%;
}

#make-note {
  height: 100%;
  width: 100%;
  border-style: solid;
  padding: 1.5vmax;
  resize: none;
}

#make-qck-bld-btn {
  margin-top: 4vmax;
}

#make-smry {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 1vmax;
  padding: 2vmax;
}

#make-sub-page-load {
  -ms-flex-line-pack: center;
      align-content: center;
}

/*=========================================================================================
DESKTOP CSS
=========================================================================================*/
@media only screen and (min-width: 850px) {
  /*---------------------------------------------------------------------------------------
  CLASSES
  ---------------------------------------------------------------------------------------*/
  .make-sub-page {
    height: 26vmax;
    position: relative;
    width: 100%;
    padding-bottom: 0;
    top: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 8vmax;
    overflow: hidden;
  }
  .make-sub-page-left {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    height: 5vmax;
    overflow: hidden;
  }
  .make-sub-page-rght {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    height: 5vmax;
    overflow: hidden;
  }
  .make-sub-hdng {
    height: 5vmax;
    letter-spacing: 0.1vmax;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 2vmax;
  }
  .make-sub-page-hd {
    z-index: -1;
  }
  .make-sub-exit {
    z-index: 6;
    padding-bottom: 0;
    position: fixed;
    top: 4vmax;
    left: 5vmax;
    height: calc(100% - 4vmax);
    width: calc(100% - 5vmax);
  }
  .make-sub-page-hd {
    z-index: -1;
    opacity: 0;
  }
  .make-exit-btn {
    margin: 3vmax 9vmin;
  }
  .make-fld {
    height: 9vmax;
    width: 40vmin;
  }
  .make-fld-inp {
    width: 70%;
    margin: 0.3vmax;
  }
  .make-fld-hdng {
    width: 60%;
    margin: 0.3vmax;
    letter-spacing: 0.05vmax;
  }
  .make-btns {
    height: 8vmax;
  }
  .make-btn-2 {
    width: 10vmax;
  }
  .make-sub-hdng-exit {
    height: 16vmax;
    font-size: 3vmax;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /*---------------------------------------------------------------------------------------
  IDS
  ---------------------------------------------------------------------------------------*/
  #make-sub-page-0 {
    position: fixed;
    top: 4vmax;
    left: 5vmax;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100% - 4vmax);
    width: 25vmax;
    background-color: #f8f8f8;
    overflow: hidden;
  }
  #make-page {
    height: calc(100% - 4vmax);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 25vmax;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  #make-mdl-vwr {
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
  }
  #make-qck-bld-fld {
    height: 15vmax;
  }
  #make-mdl-lbl {
    width: 10vmax;
  }
  #make-file-name {
    padding: 1vmax;
    letter-spacing: 0.05vmax;
  }
  #make-note-fld {
    height: 10max;
    width: 60vmin;
  }
  #make-note {
    padding: 0.75vmax;
  }
  #make-qck-bld-btn {
    margin-top: 2vmax;
  }
  #make-smry {
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
    padding: 0;
  }
  #make-smry-btns {
    width: 60vmin;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 0 0 0 20vmin;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #make-sub-page-5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #make-smry-dktp {
    height: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  #make-mdl-vwr-dktp {
    height: 60%;
  }
}

/*=========================================================================================
END
=========================================================================================*/
