/*=========================================================================================
VARIABLES
=========================================================================================*/
/*=========================================================================================
MOBILE CSS
=========================================================================================*/
/*-----------------------------------------------------------------------------------------
CLASSES
-----------------------------------------------------------------------------------------*/
.make-sub-page {
  height: calc(100% - 16vmax);
  width: 100%;
  position: fixed;
  top: 8vmax;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 12vmax;
  overflow-y: scroll;
  background-color: white;
  z-index: 1;
}

.make-sub-page-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.make-sub-page-rght {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.make-sub-hdng {
  height: 16vmax;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.2vmax;
}

.make-fld {
  height: 18vmax;
  width: 80vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.make-fld-inp {
  width: 70%;
  margin: 0.6vmax;
}

.make-fld-hdng {
  width: 60%;
  margin: 0.6vmax;
  letter-spacing: 0.1vmax;
}

.make-btns {
  height: 16vmax;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.make-btn-2 {
  width: 20vmax;
}

.make-smry-lbl {
  width: 30%;
  padding: 1.5vmax;
  letter-spacing: 0.1vmax;
  text-align: right;
}

.make-smry-txt {
  width: 70%;
  padding: 1.5vmax;
  letter-spacing: 0.1vmax;
}

.make-sub-exit {
  z-index: 6;
  padding-bottom: 0;
}

.make-sub-page-hd {
  z-index: -1;
}

.make-exit-btn {
  margin: 6vmax 18vmin;
}

.make-smry-lbl {
  padding: 0.75vmax;
  letter-spacing: 0.05vmax;
}

.make-smry-txt {
  padding: 0.75vmax;
  letter-spacing: 0.05vmax;
}

/*-----------------------------------------------------------------------------------------
IDS
-----------------------------------------------------------------------------------------*/
#make-qck-bld-fld {
  height: 30vmax;
}

#make-mdl-lbl {
  width: 20vmax;
}

#make-file-name {
  padding: 2vmax;
  letter-spacing: 0.1vmax;
}

#make-note-lbl {
  width: 90%;
}

#make-note {
  height: 100%;
  width: 100%;
  border-style: solid;
  padding: 1.5vmax;
  resize: none;
}

#make-qck-bld-btn {
  margin-top: 4vmax;
}

#make-smry {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 1vmax;
  padding: 2vmax;
}

#make-sub-page-load {
  -ms-flex-line-pack: center;
      align-content: center;
}

/*=========================================================================================
DESKTOP CSS
=========================================================================================*/
@media only screen and (min-width: 850px) {
  /*---------------------------------------------------------------------------------------
  CLASSES
  ---------------------------------------------------------------------------------------*/
  .make-sub-page {
    height: 26vmax;
    position: relative;
    width: 100%;
    padding-bottom: 0;
    top: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 8vmax;
    overflow: hidden;
  }
  .make-sub-page-left {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    height: 5vmax;
    overflow: hidden;
  }
  .make-sub-page-rght {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    height: 5vmax;
    overflow: hidden;
  }
  .make-sub-hdng {
    height: 5vmax;
    letter-spacing: 0.1vmax;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 2vmax;
  }
  .make-sub-page-hd {
    z-index: -1;
  }
  .make-sub-exit {
    z-index: 6;
    padding-bottom: 0;
    position: fixed;
    top: 4vmax;
    left: 5vmax;
    height: calc(100% - 4vmax);
    width: calc(100% - 5vmax);
  }
  .make-sub-page-hd {
    z-index: -1;
    opacity: 0;
  }
  .make-exit-btn {
    margin: 3vmax 9vmin;
  }
  .make-fld {
    height: 9vmax;
    width: 40vmin;
  }
  .make-fld-inp {
    width: 70%;
    margin: 0.3vmax;
  }
  .make-fld-hdng {
    width: 60%;
    margin: 0.3vmax;
    letter-spacing: 0.05vmax;
  }
  .make-btns {
    height: 8vmax;
  }
  .make-btn-2 {
    width: 10vmax;
  }
  .make-sub-hdng-exit {
    height: 16vmax;
    font-size: 3vmax;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /*---------------------------------------------------------------------------------------
  IDS
  ---------------------------------------------------------------------------------------*/
  #make-sub-page-0 {
    position: fixed;
    top: 4vmax;
    left: 5vmax;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100% - 4vmax);
    width: 25vmax;
    background-color: #f8f8f8;
    overflow: hidden;
  }
  #make-page {
    height: calc(100% - 4vmax);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 25vmax;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  #make-mdl-vwr {
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
  }
  #make-qck-bld-fld {
    height: 15vmax;
  }
  #make-mdl-lbl {
    width: 10vmax;
  }
  #make-file-name {
    padding: 1vmax;
    letter-spacing: 0.05vmax;
  }
  #make-note-fld {
    height: 10max;
    width: 60vmin;
  }
  #make-note {
    padding: 0.75vmax;
  }
  #make-qck-bld-btn {
    margin-top: 2vmax;
  }
  #make-smry {
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
    padding: 0;
  }
  #make-smry-btns {
    width: 60vmin;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 0 0 0 20vmin;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #make-sub-page-5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #make-smry-dktp {
    height: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  #make-mdl-vwr-dktp {
    height: 60%;
  }
}

/*=========================================================================================
END
=========================================================================================*/
/*# sourceMappingURL=make.css.map */