@import "global/all";

/*=========================================================================================
VARIABLES
=========================================================================================*/

$height-mobile: 7vmax;
$height-desktop: 3.5vmax;
$red: #ff392e;

/*=========================================================================================
MOBILE CSS
=========================================================================================*/

.make-file-upload-button {
  height: 20vmax;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  label {
    height: 7vmax;
    width: 31.5vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vmax;
    background-color: $logo-3;
    font-family: $poppins;
    font-size: 2vmax;
    letter-spacing: 0.2vmax;
    color: $light-1;
  }
}

.make-file-input {
  height: 20vmax;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3,
  p {
    width: 30vmax;
    display: flex;
    align-items: center;
    // Text
    font-family: $poppins;
  }
  h3 {
    height: 5vmax;
    justify-content: center;
    font-size: 3vmax;
    letter-spacing: 0.2vmax;
    color: $light-3;
  }
  p {
    height: 3vmax;
    justify-content: flex-end;
    font-size: 1.2vmax;
    letter-spacing: 0.1vmax;
    color: $red;
  }
}

/*-----------------------------------------------------------------------------------------
BUILD TYPE
-----------------------------------------------------------------------------------------*/

.make-build-type-inputs {
  height: 20vmax;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  label {
    height: 8vmax;
    width: 16vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $logo-3;
    font-family: $poppins;
    font-size: 2vmax;
    letter-spacing: 0.4vmax;
    color: $light-1;
    opacity: 0.4;
    transition: all 0.5s ease;
    &.select {
      height: 7.2vmax;
      font-weight: bold;
      opacity: 1;
    }
  }
}

#make-quick-build-input {
  border-radius: 2vmax 0.4vmax 0.4vmax 2vmax;
  border-right-style: solid;
  border-right-width: 0.15vmax;
  border-right-color: $light-1;
}

#make-custom-build-input {
  border-radius: 0.4vmax 2vmax 2vmax 0.4vmax;
  border-left-style: solid;
  border-left-width: 0.3vmax;
  border-left-color: $light-1;
}

.make-quick-build-options {
  height: 20vmax;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.5s ease;
  opacity: 0.4;
  label {
    height: 10vmax;
    width: 20vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 2vmax;
    border-color: $light-3;
    border-width: 0.2vmax;
    font-family: $poppins;
    font-size: 2vmax;
    letter-spacing: 0.2vmax;
    color: $light-3;
    transition: all 0.2s ease;
    &.select {
      border-color: $logo-2;
      font-weight: bold;
      border-width: 0.4vmax;
      color: $logo-2;
    }
  }
  &.select {
    opacity: 1;
  }
}

/*-----------------------------------------------------------------------------------------
BUILD OPTION
-----------------------------------------------------------------------------------------*/

.make-build-option {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  h2 {
    height: 14vmax;
    width: 90%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 3vmax;
    font-family: $poppins;
    font-size: 2.4vmax;
    letter-spacing: 0.2vmax;
    color: $dark-1;
  }
  h3 {
    height: 6vmax;
    width: 80%;
    display: flex;
    align-items: center;
    font-family: $poppins;
    font-size: 2vmax;
    letter-spacing: 0.2vmax;
    color: $dark-2;
  }
}

.make-build-option-inputs {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  label {
    height: 9vmax;
    width: 18vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 2vmax;
    border-color: $light-3;
    border-width: 0.2vmax;
    margin: 3vmax 0;
    font-family: $poppins;
    font-size: 2vmax;
    letter-spacing: 0.2vmax;
    color: $light-3;
    transition: all 0.2s ease;
    &.select {
      border-color: $logo-2;
      font-weight: bold;
      border-width: 0.4vmax;
      color: $logo-2;
    }
  }
}

/*-----------------------------------------------------------------------------------------
ORDER DETAILS
-----------------------------------------------------------------------------------------*/

.make-order-detail {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  h2 {
    height: 14vmax;
    width: 90%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 3vmax;
    font-family: $poppins;
    font-size: 2.4vmax;
    letter-spacing: 0.2vmax;
    color: $dark-1;
  }
}

.make-order-detail-inputs {
}

/*-----------------------------------------------------------------------------------------
UNIVERSAL
-----------------------------------------------------------------------------------------*/

.make-page {
  height: calc(100vh - 60px);
  width: 100vw;
  position: fixed;
  top: 60px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  transition: all 0.5s ease;
  transform: translateX(0);
  overflow: auto;
  &.hide-left {
    transform: translateX(-100%);
    .heading {
      cursor: pointer;
    }
  }
  &.hide-right {
    transform: translateX(100%);
    .heading {
      cursor: pointer;
    }
  }
  &.disable {
    .heading {
      cursor: default;
    }
  }
  .heading {
    height: 20vmax;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 4vmax;
    font-family: $poppins;
    font-size: 3.6vmax;
    font-weight: bold;
    letter-spacing: 0.3vmax;
    color: $dark-2;
    cursor: default;
  }
  .button {
    height: 20vmax;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.hide-element {
  height: 0;
  width: 0;
  margin: 0;
  border-width: 0;
  padding: 0;
  overflow: hidden;
}

.hide-element-height {
  height: 0;
  margin: 0;
  border-width: 0;
  padding: 0;
  overflow: hidden;
}

/*=========================================================================================
DESKTOP CSS
=========================================================================================*/

@media only screen and (min-width: 850px) {
  .make-file-upload-button {
    height: 10vmax;
    label {
      height: 3.5vmax;
      width: 15.75vmax;
      border-radius: 0.5vmax;
      font-size: 1vmax;
      letter-spacing: 0.1vmax;
    }
  }

  .make-file-input {
    height: 10vmax;
    h3,
    p {
      width: 15vmax;
    }
    h3 {
      height: 2.5vmax;
      font-size: 1.5vmax;
      letter-spacing: 0.1vmax;
    }
    p {
      height: 1.5vmax;
      font-size: 0.6vmax;
      letter-spacing: 0.05vmax;
    }
  }

  /*---------------------------------------------------------------------------------------
  BUILD TYPE
  ---------------------------------------------------------------------------------------*/

  .make-build-type-inputs {
    height: 10vmax;
    label {
      height: 4vmax;
      width: 8vmax;
      font-size: 1vmax;
      letter-spacing: 0.2vmax;
      &.select {
        height: 3.6vmax;
      }
    }
  }

  #make-quick-build-input {
    border-radius: 1vmax 0.2vmax 0.2vmax 1vmax;
    border-right-width: 0.15vmax;
  }

  #make-custom-build-input {
    border-radius: 0.2vmax 1vmax 1vmax 0.2vmax;
    border-left-width: 0.15vmax;
  }

  .make-quick-build-options {
    height: 10vmax;
    label {
      height: 5vmax;
      width: 10vmax;
      border-radius: 1vmax;
      border-width: 0.1vmax;
      font-size: 1vmax;
      letter-spacing: 0.1vmax;
      &.select {
        border-width: 0.2vmax;
      }
    }
  }

  /*-----------------------------------------------------------------------------------------
BUILD OPTION
-----------------------------------------------------------------------------------------*/

  .make-build-option {
    h2 {
      height: 7vmax;
      width: 80%;
      padding-bottom: 1.5vmax;
      font-size: 1.2vmax;
      letter-spacing: 0.1vmax;
    }
    h3 {
      height: 3vmax;
      width: 70%;
      font-size: 1vmax;
      letter-spacing: 0.1vmax;
    }
  }

  .make-build-option-inputs {
    width: 70%;
    label {
      height: 4.5vmax;
      width: 9vmax;
      border-radius: 1vmax;
      border-width: 0.1vmax;
      margin: 1.5vmax 0;
      font-size: 1vmax;
      letter-spacing: 0.1vmax;
      &.select {
        border-width: 0.1vmax;
      }
    }
  }

  /*---------------------------------------------------------------------------------------
  UNIVERSAL
  ---------------------------------------------------------------------------------------*/

  #make {
    height: calc(100vh - 60px);
    width: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0 0 1vw 36vw;
    background-color: $light-2;
    overflow-y: auto;
  }

  .make-page {
    width: 62vw;
    position: relative;
    top: 0;
    border-radius: 1vmax;
    margin: 1vw 1vw 0;
    background-color: $light-1;
    overflow: hidden;
    &.upload {
      height: 35vmax;
    }
    &.build-type {
      height: 35vmax;
    }
    &.build-options {
      height: 61.5vmax;
    }
    &.hide-left {
      height: 5vmax;
      transform: translateX(0);
    }
    &.hide-right {
      height: 5vmax;
      transform: translateX(0);
    }
    .heading {
      height: 5vmax;
      align-items: center;
      justify-content: flex-start;
      padding-left: 3vmax;
      padding-bottom: 0;
      font-size: 1.8vmax;
      letter-spacing: 0.15vmax;
    }
    .button {
      height: 10vmax;
    }
  }
}

/*=========================================================================================
END
=========================================================================================*/
