@import "global/all";

body {
  background: $light-1;
  max-width: 100%;
  overflow: hidden; 
}

.main-section {
  margin-top: $top-bar-height;
  height: calc(100vh - #{$top-bar-height});
  overflow: hidden;
  display: grid;
  grid-template-columns: 49.5vw 1vw 49.5vw;

  .market-bg {
    object-fit: cover;
    z-index: 2;
    pointer-events: none;
  }

  .market-left {
    justify-self: flex-end;
    object-position: 100% 0;
    animation: left-before 0.8s cubic-bezier(0.21, 0.65, 0.44, 0.99) forwards;
  }
  
  .market-right {
    justify-self: flex-start;
    object-position: 0 0;
    animation: right-before 0.8s cubic-bezier(0.21, 0.65, 0.44, 0.99) forwards;
  }
  
  .market-mid {
    font-family: $poppins;
    height: calc(100vh - #{$top-bar-height});
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .market-title {
      font-weight: 800;
      color: $dark-3;
      animation: title-anim-before 0.5s cubic-bezier(0.21, 0.65, 0.44, 0.99) forwards;
    }

    .market-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0;
      filter: blur(10px);
      font-size: calc(12px + 0.1vw);
      font-weight: 100;
      font-family: $montserrat;
      color: $dark-3;

      .market-desc {
        margin-top: 15vh;
        width: 30vw;
        text-align: center;
  
        pointer-events: none;
        transition: blur 0.3s cubic-bezier(0.21, 0.65, 0.44, 0.99), opacity 0.3s cubic-bezier(0.21, 0.65, 0.44, 0.99);
      }
  
      .market-already-updated {
        display: none;
        margin-top: 10vh;
        width: 30vw;
        text-align: center;
      }

      .market-get-updates {
        display: none;
        margin-top: 10vh;
        white-space: nowrap;
      }
  
      .market-fld {
        display: none;
        margin-top: 10px;
  
        pointer-events: none;
        transition: 0.3s cubic-bezier(0.21, 0.65, 0.44, 0.99);
      }
  
      .market-btn {
        display: none;
        width: 150px;
        margin-top: 50px;
  
        transition: filter 0.3s cubic-bezier(0.21, 0.65, 0.44, 0.99), opacity 0.3s cubic-bezier(0.21, 0.65, 0.44, 0.99);
      }
    }


    .market-show {
      position: absolute;
      top: 65vh;
      padding: 0.2vmin;
      color: $light-3;
      font-size: calc(10px + 0.1vmin);
      letter-spacing: 0.3vmin;
      white-space: nowrap;
      border-bottom: 1px $light-3 solid;
      cursor: pointer;
      transition: top 0.8s cubic-bezier(0.21, 0.65, 0.44, 0.99);
      z-index: 100;

      &:hover {
        color: $highlight;
        font-weight: 800;
        border-bottom: 1px $highlight solid;
      }
    }
  }

  .market-left-active {
    animation: left-after 0.8s cubic-bezier(0.21, 0.65, 0.44, 0.99) forwards;
  }
  
  .market-right-active {
    animation: right-after 0.8s cubic-bezier(0.21, 0.65, 0.44, 0.99) forwards;
  }

  .market-mid-active-out {
    .market-title {
      animation: title-anim-after 0.8s cubic-bezier(0.21, 0.65, 0.44, 0.99) forwards;
    }

    .market-body {
      filter: blur(0);
      opacity: 1;
      transition-delay: 0.5s;
  
      .market-fld {
        pointer-events: auto;
      }
    }

    .market-show {
      top: 95vh;
    }
  }

  .market-mid-active-in {
    .market-title {
      animation: title-anim-after 0.8s cubic-bezier(0.21, 0.65, 0.44, 0.99) forwards;
    }

    .market-body {
      filter: blur(0);
      opacity: 1;
      transition-delay: 0.5s;
  
      .market-desc {
        margin-top: 15vh;
      }
    }

    .market-show {
      top: 85vh;
    }
  }
}


@keyframes title-anim-before {
  0% {
    margin-top: 15vh;
    filter: blur(0);
    opacity: 1;
    font-size: calc(16px + 1vmin);
    letter-spacing: 2vmin;
  }
  40% {
    margin-top: 15vh;
    filter: blur(10px);
    font-size: calc(16px + 1vmin);
    letter-spacing: 2vmin;
    opacity: 0;
    z-index: 3;
  }
  41% {
    margin-top: 44vh;
    filter: blur(20px);
    opacity: 0;
    font-size: 3.5vmin;
    letter-spacing: 1.5vmin;
    z-index: 1;
  }
  100% {
    margin-top: 40vh;
    filter: blur(0);
    opacity: 1;
    font-size: 7vmin;
    letter-spacing: 3vmin;
  }
}

@keyframes title-anim-after {
  0% {
    margin-top: 40vh;
    filter: blur(0);
    opacity: 1;
    font-size: 7vmin;
    letter-spacing: 3vmin;
  }
  60% {
    margin-top: 44vh;
    filter: blur(20px);
    opacity: 0;
    font-size: 3.5vmin;
    letter-spacing: 1.5vmin;
    z-index: 1;
  }
  61% {
    margin-top: 15vh;
    filter: blur(10px);
    font-size: calc(10px + 0.8vmin);
    letter-spacing: 2vmin;
    opacity: 0;
    z-index: 3;
  }
  100% {
    margin-top: 15vh;
    filter: blur(0);
    opacity: 1;
    font-size: calc(10px + 0.8vmin);
    letter-spacing: 2vmin;
  }
}

@keyframes left-before {
  0% {
    margin-top: calc(40vh - #{$top-bar-height});
    height: 60vh;
    margin-right: 20vw;
  }
  100% {
    margin-top: 8vh;
    height: 150vh;
    margin-right: 0;
  }
}
@keyframes left-after {
  0% {
    margin-top: 8vh;
    height: 150vh;
    margin-right: 0;
  }
  100% {
    margin-top: calc(40vh - #{$top-bar-height});
    height: 60vh;
    margin-right: 20vw;
  }
}

@keyframes right-before {
  0% {
    margin-top: calc(40vh - #{$top-bar-height});
    height: 60vh;
    margin-left: 20vw;
  }
  100% {
    margin-top: 8vh;
    height: 150vh;
    margin-left: 0;
  }
}
@keyframes right-after {
  0% {
    margin-top: 8vh;
    height: 150vh;
    margin-left: 0;
  }
  100% {
    margin-top: calc(40vh - #{$top-bar-height});
    height: 60vh;
    margin-left: 20vw;
  }
}