/*
VARIABLES
*/

$clr-1: rgb(100, 100, 255);
$clr-2: rgb(240, 240, 255);
$clr-3: rgb(220, 220, 255);
$clr-4: rgb(220, 220, 220);
$clr-5: rgb(230, 230, 230);
$clr-6: rgb(120, 120, 120);
$nav-bar-hght: 8vmax;
$nav-bar-hght-dktp: 4vmax;
$transition-1: all 0.5s ease-out;
$fnt-1: Arial, Helvetica, sans-serif;

/*
MOBILE CSS
*/

.msgs {
  width: 100%;
  background-color: $clr-2;
  opacity: 1;
}

.msgs-untgl {
  transform: translateY(100%);
  z-index: 3;
  opacity: 0;
}

.msgs-hdr {
  width: 100%;
  display: flex;
  padding: 1vw 4vw;
  justify-content: space-between;
  align-items: center;
  border-style: none none solid none;
  border-color: $clr-4;
}

/*
DESKTOP CSS
*/

@media only screen and (min-width: 850px) {
  .msgs-untgl {
    transform: translateY(-20.2vmax);
  }

  .msgs {
    height: 20vmax;
    width: 25vmax;
    top: 4.2vmax;
    right: 3vmax;
    overflow: hidden;
  }

  .msgs-hdr {
    height: 2vmax;
    padding: 0 1vmax;
    border-width: 0.1vmax;
  }
}
