@import "global";

nav {
  position: fixed;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem 10vw;
  transition: background-color 0.2s ease-out;
  z-index: 20;
}
nav.shrink {
  background: $lightest;
  .nav-logo {
    margin: 0;
  }
}

.nav-logo {
  margin: 1.5rem 0;
  height: 2rem;
  overflow: hidden;
  transition: margin 0.2s ease-out;
  img {
    opacity: 0;
    height: 100%;
    animation: nav-logo 0.4s ease-out 0.1s forwards;
  }
}

@keyframes nav-logo {
  0% {
    opacity: 0;
    margin-top: -0.5rem;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.nav-menu {
  position: fixed;
  top: 128px;
  right: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
  border-radius: 1.5rem;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  background: $lightest;
  transition: opacity 0.2s ease-out, visibility 0.2s ease-out 0.2s;
  a {
    margin: 0.75rem 0.5rem 0.75rem -0.5rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: $darker;
    font-size: 0.75rem;
    opacity: 0;
  }
  .nav-item {
    position: relative;
    transition: color 0.1s ease-out;
    &::after {
      content: '';
      position: absolute;
      bottom: -0.5em;
      left: 0;
      width: 0;
      height: 1px;
      background: $blue-light;
      transition: width 0.2s ease-out 0.1s, height 0.1s linear;
    }
    &:hover {
      color: $blue-light;
    }
    &:hover::after {
      width: 100%;
      height: 2px;
      transition: width 0.4s ease-out, height 0.1s linear 0.4s;
    }
  }
  .special-btn {
    padding: 1rem 1.75rem;
    border-radius: 999px;
    color: $lightest;
    background: $purple-logo;
    letter-spacing: 0.05em;
    font-weight: 600;
    margin: 1.5rem 0.5rem 0 -0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem rgba(104, 83, 217, 0.5);
    transition: filter 0.2s ease-out, box-shadow 0.2s ease-out;
    &:hover {
      box-shadow: 0 0.5rem 1rem -0.25rem rgba(104, 83, 217, 0.75);
      filter: brightness(0.9);
    }
  }
}
.nav-menu.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease-out;
  a {
    opacity: 1;
    margin-left: 0;
    margin-right: 0;
    transition: margin 0.2s ease-out, opacity 0.2s ease-out, color 0.1s ease-out;
  }
  .nav-item:nth-child(1) { transition-delay: 0.2s; }
  .nav-item:nth-child(2) { transition-delay: 0.3s; }
  .nav-item:nth-child(3) { transition-delay: 0.4s; }
  .nav-item:nth-child(4) { transition-delay: 0.5s; }
  .special-btn {
    margin: 1.5rem 0 0 0;
    transition-delay: 0.6s;
  }
}

footer {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 10vw;
  flex: 0 0 auto;
  background: $lighter;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 0.75rem;
  color: $darker;
  margin: 1rem 0;
  & > * {
    color: inherit;
    font-size: inherit;
  }
  h5 {
    font-weight: 600;
    color: $blue-dark;
    margin-bottom: 0.5rem;
  }
  a {
    font-weight: 500;
    margin: 0.25rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: color 0.1s ease-out;
    i {
      font-size: 1rem;
      margin-right: 1rem;
      transition: color 0.1s ease-out;
    }
    &:hover,
    &:hover > i {
      color: $purple-logo;
    }
  }
}

.value-prop {
  font-weight: 600;
}

.brand-prop {
  font-weight: 700;
  color: $purple-logo;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 0.75rem;
}

.footer-subscribe {
  display: flex;
  flex-direction: row;
  width: 100%;
  #footer-input {
    font-size: inherit;
    font-weight: 600;
    line-height: 1.25rem;
    color: $darkest;
    padding: 0.75rem 1.25rem;
    border-radius: 1rem;
    border: 2px solid $darker;
    flex: 1 1 0;
    transition: border 0.2s ease-out, background-color 0.1s ease-out;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    &::placeholder {
      opacity: 50%;
      font-weight: 400;
      transition: opacity 0.1s ease-out;
    }
    &:hover {
      &::placeholder {
        opacity: 100%;
      }
    }
    &:focus {
      border-color: $purple-logo;
      background: $lightest;
    }
  }
  .footer-btn {
    font-size: 1.25rem;
    background: $light;
    color: $lightest;
    border-radius: 1rem;
    height: 3rem;
    width: 3rem;
    text-align: center;
    line-height: 3rem;
    margin-left: 1rem;
    cursor: pointer;
    pointer-events: none;
    transition: background-color 0.2s ease-out;
    &.active {
      pointer-events: auto;
      background: $purple-logo;
    }
  }
}
.footer-error {
  margin-top: 0.25rem;
  margin-left: 0.5rem;
  font-weight: 500;
  font-size: 0.625rem;
  color: $red;
  &::after {
    content: '.';
    visibility: hidden;
  }
}

.footer-container.quick-links,
.footer-container.policies {
  width: 50%;
}

.footer-socials {
  align-self: center;  
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  a {
    padding: 0.2em;
    margin: 0 0.5rem;
    font-weight: 600;
  }
}

.copyright {
  margin-top: 1rem;
  font-size: 0.5rem;
}

$hamburger-layer-width: 1.5rem;
$hamburger-layer-height: 0.25rem;
$hamburger-layer-spacing: 0.25rem;

.hamburger {
  display: inline-block;
  height: 1.25rem;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  cursor: pointer;
  background-color: transparent;
  overflow: visible;
  &.is-active {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $darker;
    }
  }
}

.hamburger-box {
  width: $hamburger-layer-width;
  height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: $hamburger-layer-height / -2;
  &,
  &::before,
  &::after {
    width: $hamburger-layer-width;
    height: $hamburger-layer-height;
    background-color: $darker;
    position: absolute;
    border-radius: 99px;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  &::before,
  &::after {
    content: "";
    display: block;
  }
  &::before {
    top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }
  &::after {
    bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }
}

.hamburger-spin {
  .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::before {
      transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    }

    &::after {
      transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.is-active {
    .hamburger-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    border-color: $purple-logo;
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-6px, 0, 0);
    transform: translate3d(-6px, 0, 0);
    border-color: $red;
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(6px, 0, 0);
    transform: translate3d(6px, 0, 0);
    border-color: $red;
  }
}

.notif-wrapper {
  position: fixed;
  bottom: 2rem;
  right: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.notif-card {
  background: $lightest;
  border-radius: 0.75rem;
  width: 14.5rem;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-top: 0.5rem;
  box-shadow: 0 0.25rem 1rem -0.25rem rgba(0,0,0,0.25);
  animation: notif 6s ease-out forwards;
  .notif-title {
    font-size: 0.75rem;
    font-weight: 600;
    color: $lightest;
    line-height: 1.25rem;
  }
  .notif-message {
    font-size: 0.5rem;
    font-weight: 500;
    color: $lightest;
    width: 100%;
    letter-spacing: 0.05em;
    margin-top: 0.1rem;
  }
  i {
    color: $lightest;
    font-size: 1rem;
  }
  i.symbol {
    line-height: 1.25rem;
    margin-right: 0.5rem;
  }
  i.cancel {
    cursor: pointer;
    opacity: 0.75;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.25rem;
    border-radius: 50%;
    transition: opacity 0.1s ease-out, background-color 0.1s ease-out;
    &:hover {
      opacity: 1;
      background: rgba(0,0,0,0.05);
    }
  }
  &.remove-now {
    display: none;
  }
  &.success { background: $green; }
  &.warning { background: $orange; }
  &.error { background: $red; }
}

@keyframes notif {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }
  3% {
    opacity: 0;
    transform: translateX(10%);
  }
  7% {
    opacity: 1;
    transform: translateX(0);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {

.hamburger {
  display: none;
}

.nav-menu {
  position: static;
  top: auto;
  right: auto;
  flex-direction: row;
  align-items: center;
  opacity: 1;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  margin-left: 4vw;
  visibility: visible;
  background: transparent;
  a {
    margin: -0.5em 1vw 0.5em 1vw;
    padding: 0.5em;
    text-align: center;
    animation: slide-down 0.2s ease-out forwards;
  }
  .nav-item:nth-child(1) { animation-delay: 0.3s; }
  .nav-item:nth-child(2) { animation-delay: 0.4s; }
  .nav-item:nth-child(3) { animation-delay: 0.5s; }
  .nav-item:nth-child(4) { animation-delay: 0.6s; }
  .special-btn {
    margin: -0.5em 0 0.5em 4vw;
    animation: special-btn 0.6s ease-out 1s forwards;
  }
}

@keyframes slide-down {
  from { 
    margin: -0.5em 1vw 0.5em 1vw;
    opacity: 0;
  }
  to {
    margin: 0 1vw;
    opacity: 1;
  }
}

@keyframes special-btn {
  0% {
    margin: -0.5em 0 0.5em 4vw;
    opacity: 0;
  }
  50% {
    margin: 0 0 0 4vw;
  }
  100% {
    margin: 0 0 0 4vw;
    opacity: 1;
  }
}

footer {
  padding: 2rem 10vw 1rem 10vw;
}

.footer-container.prop,
.footer-container.subscribe {
  width: 50%;
  margin-bottom: 3rem;
}

.footer-container.prop {
  padding-right: 8rem;
}

.footer-container.quick-links,
.footer-container.policies {
  width: 25%;
}

.footer-container.contact {
  width: 50%;
}

.footer-socials {
  align-self: flex-start;
  a {
    padding: 0;
    margin: 0 2rem 0 0;
  }
}

.notif-wrapper {
  bottom: 5vh;
}

.notif-card {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  width: 20rem;
  margin-top: 0.75rem;
  .notif-title {
    font-size: 1rem;
  }
  .notif-message {
    font-size: 0.625rem;
    font-weight: 400;
    letter-spacing: 0;
    margin-top: 0.2rem;
  }
  i.symbol {
    font-size: 1.5rem;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 0.35rem 0.75rem 0 0;
  }
  i.cancel {
    font-size: 1.25rem;
    top: calc(50% + 0.75rem);
    right: 0.75rem;
    transform: translateY(-100%);
  }
}

}

@media only screen and (min-width: 1200px) and (orientation: landscape) {

footer {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 15vw 15vw 15vw;
}

.footer-container.prop {
  width: 100%;
  margin-bottom: 1rem;
}

.footer-container.subscribe {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  padding-right: 8rem;
  width: 100%;
}

.footer-container.quick-links,
.footer-container.policies,
.footer-container.contact {
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
}

.footer-socials {
  margin-top: 2rem;
}

}