/*
VARIABLES
*/
/*
MOBILE CSS
*/
.ntfs-untgl {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  z-index: 3;
  opacity: 0;
}

.ntfs {
  width: 100%;
  background-color: #f0f0ff;
  opacity: 1;
}

.ntfs-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1vmax 4vmax;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-style: none none solid none;
  border-color: gainsboro;
  border-width: 0.2vmax;
}

.ntfs-cntt {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: overlay;
  overflow-x: hidden;
}

.ntf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 14vmax;
  width: 100%;
  border-style: none none solid none;
  border-color: #e6e6e6;
  border-width: 0.1vmax;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ntf-unrd {
  background-color: #dcdcff;
}

.ntf-cntn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 14vmax;
}

.ntf-logo-cntn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 14vmax;
  width: 14vmax;
}

.ntf-dtls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 14vmax;
  padding: 1vmax 2vmax;
}

.ntf-stng {
  width: 6vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.ntf-msg {
  height: 65%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.ntf-date {
  height: 35%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.ntf-stng-rd {
  height: 1.6vmax;
  width: 1.6vmax;
  border-radius: 0.8vmax;
  border-style: solid;
  border-width: 0.3vmax;
  border-color: gainsboro;
}

.ntf-stng-unrd {
  background-color: gainsboro;
}

@media only screen and (min-width: 850px) {
  .ntfs-untgl {
    -webkit-transform: translateY(-20.2vmax);
            transform: translateY(-20.2vmax);
  }
  .ntfs {
    height: 20vmax;
    width: 25vmax;
    top: 4.2vmax;
    right: 1.6vmax;
    overflow: hidden;
  }
  .ntfs-header {
    height: 2vmax;
    padding: 0 1vmax;
    border-width: 0.1vmax;
  }
  .ntf {
    height: 7vmax;
    border-width: 0.05vmax;
  }
  .ntfs-cntt {
    height: 18vmax;
    overflow-y: overlay;
    overflow-x: hidden;
  }
  .ntf-cntn {
    height: 7vmax;
  }
  .ntf-logo-cntn {
    height: 7vmax;
    width: 7vmax;
  }
  .ntf-dtls {
    height: 7vmax;
    padding: 0.5vmax 1vmax;
  }
  .ntf-stng {
    width: 3vmax;
  }
  .ntf-stng-rd {
    height: 0.8vmax;
    width: 0.8vmax;
    border-radius: 0.4vmax;
    border-width: 0.15vmax;
  }
}
