// @import "global/all";
@import "global";

html {
  scroll-behavior: smooth;
}

.page {
  margin-top: $nav-height;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 10vw;
}

.priv-menu-list {
  display: none;
}

.priv-body-wrap {
  width: 100%;
}

.title-container {
  margin-top: 1rem;
  width: 100%;
  h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  h4 {
    display: flex;
    align-items: center;
    color: $magenta-light;
    &::before {
      content: '';
      width: 1.5rem;
      height: 0.2rem;
      background-color: $magenta-light;
      margin-right: 0.75rem;
    }
    &::after {
      content: 'Info';
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
  }
}

.content-wrap {
  margin-bottom: 8rem;
}

.content-section {
  margin-top: 2em;
  line-height: 80%;
  font-size: 0.75rem;
  h2 {
    font-size: 1rem;
    color: $blue-dark;
    font-weight: 600;
    line-height: 1.5em;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: inherit;
    line-height: 1.5em;
  }
  ul {
    margin: 0.5rem 0 0 2rem;
    font-size: inherit;
    li {
      font-size: inherit;
      padding-left: 0.4rem;
      line-height: 1.5em;
    }
  }
}


@media only screen and (min-width: 768px) {

.title-container {
  margin-top: 4rem;
  h1 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}

.content-wrap {
  margin-top: 2rem;
}

.content-section {
  font-size: 0.865rem;
  h2 {
    font-size: 1.125rem;
  }
  p {
    line-height: 1.75em;
  }
  ul {
    li {
      line-height: 1.75em;
    }
  }
}

}

@media only screen and (min-width: 1200px) {

.page {
  position: relative;
}

.priv-menu-list {
  position: fixed;
  top: calc(#{$nav-height} + 5vh);
  left: 10vw;
  display: flex;
  flex-direction: column;
  li {
    cursor: pointer;
    color: $light;
    padding-left: 0.5em;
    font-size: 1rem;
    line-height: 2.25em;
    transition: color 0.1s ease-out, font-weight 0.1s ease-out;
    &:hover {
      color: $purple-logo;
    }
  }
  .priv-selected {
    color: $purple-logo;
    font-weight: 600;
  }
}

.priv-body-wrap {
  width: 55vw;
  flex: 0 0 55vw;
}

.content-wrap {
  margin-bottom: 40vh;
}

.content-section {
  &::before {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: $nav-height;
    margin-top: -$nav-height;
  }
  h2 {
    letter-spacing: 0.01em;
  }
}

}
