@import "global/all";

body {
  background: $light-1;
  max-width: 100%;
  overflow-x: hidden; 
}

#profile-page {
  margin-top: $top-bar-height;
  display: grid;
  grid-template-areas:
  "profile"
  "tabs";
}

.my-profile-section {
  grid-area: profile;
  visibility: hidden;
  display: grid;
  grid-template-areas: 
  "dp name"
  "dp location"
  "bio bio"
  "btn btn";
  grid-template-columns: 30vw 60vw;
  font-family: $montserrat;
  margin: 1vh 2.5vw 2vh 2.5vw;
  padding: 2.5vw;
  border: thin solid $light-1;
  
  #profile-pic {
    grid-area: dp;
    position: relative;
    justify-self: center;
    width: 25vw;

    #profile-preview {
      height: 25vw;
      width: 25vw;
      border-radius: 50%;
      align-self: center;
      justify-self: center;
      object-fit: cover;
      object-position: 50% 50%;
    }

    input {
      display: none;
    }

    label {
      display: none;
      position: absolute;
      bottom: -2vw;
      left: 2vw;
      
      i {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $dark-1;
        background: $light-1;
        border-radius: 50%;
        box-shadow: 0 0 10px -5px $dark-3;
        cursor: pointer;
        
        &:hover {
          color: $dark-3;
          background: $light-2;
        }
      }

      &:hover ~ #profile-preview {
        box-shadow: 0 0 10px -2px $highlight;
      }
    }
  }

  #profile-name {
    grid-area: name;
    box-sizing: border-box;
    align-self: flex-end;
    margin: 0 2vw 1vh 2vw;
    font-size: calc(20px + 0.8vw);
  }
  
  #profile-location {
    grid-area: location;
    margin: 0 0 0 2vw;
    text-transform: uppercase;
    font-family: $poppins;
    font-weight: 600;
    font-size: calc(8px + 0.2vw);
    letter-spacing: 1.5px;
    color: $light-3;
  }

  #profile-bio {
    grid-area: bio;
    margin: 3vh 2vw 0 2vw;
    font-size: calc(10px + 0.2vw);
    line-height: 150%;
    overflow-wrap: break-word;
  }

  .profile-edit {
    grid-area: btn;
    position: relative;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    * {
      font-size: calc(10px + 0.2vw);
    }
    
    #profile-edit-btn {
      display: block;
      padding: 8px 20px;
    }
    
    #profile-save-btn {
      display: none;
      padding: 8px 20px;
    }
    
    #profile-cancel-btn {
      display: none;
    }
  }
}

.my-profile-section-edit {
  border: thin solid $highlight;

  #profile-pic {
    label {
      display: inline-block;
    }
  }

  #profile-name,
  #profile-bio {
    -webkit-user-modify: read-write;
    -moz-user-modify: read-write;
    border: thin solid $light-2;
    padding: 10px;
    cursor: text;

    &:empty::before {
      content: attr(data-placeholder);
      color: $light-3;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 10px $highlight;
    }
  }

  #profile-location {
    &::after {
      display: block;
      content: attr(data-info);
      font-size: calc(10px + 0.1vw);
      color: $light-3;
      font-weight: 600;
      letter-spacing: 0;
      text-transform: none;
      line-height: 100%;
    }
  }

  .profile-edit {
    #profile-edit-btn {
      display: none;
    }

    #profile-save-btn, 
    #profile-cancel-btn {
      display: block;
    }
  }
}

.profile-tabs-section {
  grid-area: tabs;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  font-family: $poppins;

  input {
    display: none;

    &:checked + label {
      transition: 0.2s ease-out;
      color: $dark-2;
      border-bottom: 3px solid $logo-2;
      box-shadow: 0 10px 10px -18px black;
    }
  }

  label {
    position: relative;
    flex: 1;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $light-3;
    background: $light-1;
    cursor: pointer;

    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: calc(10px + 0.2vw);

    &:hover {
      color: $logo-1;
    }

    &:not(:last-of-type) {
      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-right: thin solid $light-2;
        z-index: 2;
      }
    }
  }

  .main-area {
    display: none;
    flex: 1 0 100%;
    border-bottom: 2vh solid $light-1;
    height: auto;
  }

  #projects-tab:checked ~ #projects-area {
    display: flex;
  }
  #settings-tab:checked ~ #settings-area {
    display: block;
  }
  #billing-tab:checked ~ #billing-area {
    display: block;
  }
}

@media only screen and (min-width: 850px) and (orientation: landscape) {

#profile-page {
  grid-template-areas:
  "profile tabs";
  grid-template-columns: 30vw 70vw;
  min-height: calc(100vh - #{$top-bar-height});
}
  
.my-profile-section {
  display: flex;
  flex-direction: column;
  margin: 5vh 2.5vw 5vh 2.5vw;
  padding: 0 2.5vw;
  
  #profile-pic {
    justify-self: flex-start;
    height: calc(5vh + 20vw);
    width: 20vw;

    #profile-preview {
      margin-top: 5vh;
      height: 20vw;
      width: 20vw;
    }

    label {
      top: calc(5vh + 20px);
      right: calc(3vw - 20px);
      bottom: auto;
      left: auto;
      
      i {
        width: 40px;
        height: 40px;
      }
    }
  }

  #profile-name {
    align-self: flex-start;
    margin: 3vh 0 0 0;
    font-size: calc(20px + 0.5vw);
    width: 100%;
  }
  
  #profile-location {
    margin: 1vh 0 0 0;
    font-size: calc(10px + 0.2vw);
    letter-spacing: 3px;
  }

  #profile-bio {
    margin: 3vh 0 0 0;
    font-size: calc(10px + 0.2vw);
  }

  .profile-edit {
    margin: 6vh 0 3vh 0;

    * {
      font-size: calc(10px + 0.2vw);
    }
    
    #profile-edit-btn,
    #profile-save-btn {
      padding: 10px 20px;
    }
  }
}

.profile-tabs-section {
  align-items: flex-start;
  justify-content: flex-end;
  padding: 5vh calc(55px + 1vw) 5vh 0;

  label {
    flex: none;
    width: calc(100px + 5vw);
    letter-spacing: 0.2vw;
  }

  .main-area {
    height: calc(100% - 5vh);
    font-family: $poppins;
    border: 0;
    border-radius: 5px;
  }

  #projects-area {
    font-family: $poppins;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 3vw;
    width: 100%;

    .proj-wrap {
      width: 100%;

      .proj-headers {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1vh;
  
        #curr-proj-header,
        #arch-proj-header {
          color: $logo-2;
          font-weight: 600;
          letter-spacing: 1px;
          font-size: calc(12px + 0.2vw);
        }
  
        #arch-proj-header {
          color: $light-3;
        }
      }

      .proj-scroll-container {
        position: relative;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: scroll;
        flex-wrap: nowrap;
        align-items: center;
        padding: 4vh 0;
  
        .proj-card {
          height: 55vh;
          width: calc(55vh * 0.7);
          margin: 0 1vw;
          padding: 0 2.5vw;
          flex-shrink: 0;
          background: $light-2;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 2%;

          .fa-bookmark {
            margin: 1vh 0 0 -2vw;
            padding: 5px;
            align-self: flex-start;
            cursor: pointer;

            &:hover {
              color: $highlight;
            }
          }

          .proj-date {
            font-size: calc(8px + 0.2vw);
            letter-spacing: 2px;
            font-weight: 400;
            color: $dark-3;
            margin-top: 6vh;
          }

          .proj-name {
            font-size: calc(14px + 0.5vw);
            letter-spacing: 1px;
            font-weight: 400;
            color: $dark-3;
            margin-top: 3vh;
          }

          .proj-files {
            font-size: calc(8px + 0.1vw);
            font-weight: 400;
            color: $dark-1;
            margin-top: 0.5vh;

            i {
              padding: 2px;
              margin-left: 5px;
              cursor: pointer;

              &:hover {
                color: $highlight;
              }
            }
          }

          .proj-details {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            margin: 3vh 0;

            * {
              font-size: calc(8px + 0.2vw);
              text-transform: uppercase;
              letter-spacing: 2px;
              font-weight: 400;
              color: $dark-3;
            }
          }

          .proj-notes {
            display: flex;
            align-items: center;
            min-height: 6vh;
            max-height: 10vh;
            overflow-y: auto;

            p {
              font-size: calc(8px + 0.1vw);
              font-weight: 400;
              color: $dark-3;
              text-align: center;
              line-height: 180%;
              margin: auto;
              z-index: 2;
              padding-right: 10px;
              cursor: text;
            }

            &::-webkit-scrollbar {
              width: 2px;
            }
            &::-webkit-scrollbar-track {
              background: transparent;
            }
            &::-webkit-scrollbar-thumb {
              background: $light-3;
              transition: background-color 0.2s ease;
            }
          }

          .proj-sep {
            flex: 1;
            width: 1px;
            background: $light-3;
            margin: 2.5vh 0 1.5vh 0;
          }

          .proj-buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 2vh;

            * {
              color: $dark-1;
              font-size: calc(8px + 0.2vw);
              padding: 0.65em 3.5em;

              &::before {
                border-color: $dark-1;
              }
              &::after {
                border-color: $light-2;
              }
            }

            .proj-save,
            .proj-cancel {
              display: none;
            }
          }

          .proj-modified {
            font-size: calc(8px + 0.1vw);
            color: $dark-3;
            margin-bottom: 3vh;
          }

          &:hover {
            background: $light-1;
            box-shadow: 0 0 16px 4px $light-2;
            .fa-bookmark{ 
              color: $dark-1;
              &:hover { color: $highlight; }
            }
            .proj-date { color: $dark-1; }
            .proj-name { color: $logo-1; }
            .proj-files { 
              color: $dark-1;
              i:hover { color: $highlight; } 
            }
            .proj-details {
              * { color: $logo-1; }
            }
            .proj-notes {
              p { color: $logo-1; }
              &::-webkit-scrollbar-thumb { background: $highlight; }
              &::-webkit-scrollbar-thumb:hover,
              &::-webkit-scrollbar-thumb:active { background: $highlight; }
            }
            .proj-sep { background: $dark-1; }
            .proj-buttons {
              * {
                color: $logo-1;
                &::before { border-color: $logo-1; }
                &::after { border-color: $light-1; }
                &:hover { 
                  color: $highlight;
                  &::before { border-color: $highlight; }
                }
              }
            }
            .proj-modified { color: $dark-1; }
          }
        }

        

        &::-webkit-scrollbar {
          height: 10px;
        }
        &::-webkit-scrollbar-track {
          background: $light-1;
        }
        &::-webkit-scrollbar-thumb {
          background: linear-gradient(to top, $light-1 0%, $light-1 44%, $logo-2 45%, $logo-2 55%, $light-1 56%, $light-1 100%);
          border-radius: 5px;
          transition: background-color 1s ease;
          height: 10px;
        }
        &::-webkit-scrollbar-thumb:hover,
        &::-webkit-scrollbar-thumb:active {
          background: $logo-2;
          transition: background-color 1s ease;
          height: 20px;
        }
      }

      .proj-scroll-container:hover ~ .scroll-cover {
        background: transparent;
      }
  
      .scroll-cover {
        pointer-events: none;
        position: fixed;
        height: 10px;
        width: calc(70vw - 55px - 1vw - 6vw);
        margin-top: -10px;
        background: $light-1;
        transition: background-color 0.2s ease-out;
      }
    }

    .new-proj-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &,
    * {
      // border: 1px solid red;
    }
  }

}

}
