@import "global/all";

body {
  background: $light-1;
  max-width: 100%;
  overflow-x: hidden; 
  overflow-y: auto;
}

#profile-page {
  margin-top: $top-bar-height;
  display: grid;
  grid-template-areas:
  "profile"
  "tabs";
}

.my-profile-section {
  grid-area: profile;
  visibility: hidden;
  display: grid;
  grid-template-areas: 
  "dp name"
  "dp location"
  "bio bio"
  "btn btn";
  grid-template-columns: 30vw 60vw;
  font-family: $montserrat;
  margin: 1vh 2.5vw 2vh 2.5vw;
  padding: 2.5vw;
  border: thin solid $light-1;

  #profile-pic {
    grid-area: dp;
    position: relative;
    justify-self: center;
    width: 25vw;

    #profile-preview {
      height: 25vw;
      width: 25vw;
      border-radius: 50%;
      align-self: center;
      justify-self: center;
      object-fit: cover;
      object-position: 50% 50%;
    }

    input {
      display: none;
    }

    label {
      display: none;
      position: absolute;
      bottom: -2vw;
      left: 2vw;
      
      i {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $dark-1;
        background: $light-1;
        box-shadow: 0 0 10px -5px $dark-3;
        cursor: pointer;
        
        &:hover {
          color: $dark-3;
          background: $light-2;
        }
      }

      &:hover ~ #profile-preview {
        box-shadow: 0 0 10px -2px $highlight;
      }
    }
  }

  #profile-name {
    grid-area: name;
    box-sizing: border-box;
    align-self: flex-end;
    margin: 0 2vw 1vh 2vw;
    font-size: calc(20px + 0.8vw);
  }

  #profile-location {
    grid-area: location;
    margin: 0 0 0 2vw;
    text-transform: uppercase;
    font-family: $poppins;
    font-weight: 600;
    font-size: calc(8px + 0.2vw);
    letter-spacing: 1.5px;
    color: $light-3;
  }

  #profile-bio {
    grid-area: bio;
    margin: 3vh 2.5vw 0 2.5vw;
    font-size: calc(10px + 0.2vw);
    line-height: 150%;
    overflow-wrap: break-word;
  }

  .profile-edit {
    grid-area: btn;
    position: relative;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    * {
      font-size: calc(10px + 0.2vw);
    }
    
    #profile-edit-btn {
      display: block;
      padding: 8px 20px;
    }
    
    #profile-save-btn {
      display: none;
      padding: 8px 20px;
    }
    
    #profile-cancel-btn {
      display: none;
    }
  }
}

.my-profile-section-edit {
  border: thin solid $highlight;

  #profile-pic {
    label {
      display: inline-block;
    }
  }

  #profile-name,
  #profile-bio {
    -webkit-user-modify: read-write;
    -moz-user-modify: read-write;
    border: thin solid $light-2;
    padding: 10px;
    cursor: text;

    &:empty::before {
      content: attr(data-placeholder);
      color: $light-3;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 10px $highlight;
    }
  }

  #profile-location {
    &::after {
      display: block;
      content: attr(data-info);
      font-size: calc(10px + 0.1vw);
      color: $light-3;
      font-weight: 600;
      letter-spacing: 0;
      text-transform: none;
      line-height: 100%;
    }
  }

  .profile-edit {
    #profile-edit-btn {
      display: none;
    }

    #profile-save-btn, 
    #profile-cancel-btn {
      display: block;
    }
  }
}

.profile-tabs-section {
  grid-area: tabs;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  font-family: $poppins;

  input {
    display: none;

    &:checked + label {
      transition: 0.2s ease-out;
      color: $logo-2;
      border-bottom: 2px solid $logo-2;
      box-shadow: 0 10px 10px -18px black;
    }
  }

  label {
    position: relative;
    flex: 1;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $light-3;
    background: $light-1;
    cursor: pointer;

    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: calc(10px + 0.2vw);

    span {
      display: none;
    }

    &:hover {
      color: $logo-2;
    }

    &:not(:last-of-type) {
      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-right: thin solid $light-2;
        z-index: 2;
      }
    }

    &:first-of-type {
      padding-left: 7.5vw;
    }

    &:last-of-type {
      padding-right: 7.5vw;
    }
  }

  .main-area {
    display: none;
    flex: 1 0 100%;
    height: auto;
    border-bottom: 2vh solid $light-1;
  }

  #projects-tab:checked ~ #projects-area {
    display: flex;
    flex-direction: column;
    background: $light-2;
    padding-bottom: 2vmax;
    
    .proj-wrap {
      order: 2;
      width: 100%;

      .proj-scroll-container {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
  
        .proj-card {
          width: 80%;
          margin: 2vmax auto;
          padding: 0 4vmax;
          flex-shrink: 0;
          background: $light-1;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 5px;

          .fa-bookmark {
            margin: 1vmax -1vmax 0 0;
            padding: 5px;
            align-self: flex-end;
            cursor: pointer;

            &:hover {
              color: $highlight;
            }
          }

          .proj-date {
            font-size: calc(8px + 0.2vmax);
            letter-spacing: 2px;
            font-weight: 400;
            color: $dark-3;
            margin-top: 6vh;
          }

          .proj-name {
            width: 100%;
            font-size: calc(14px + 0.5vmax);
            font-weight: 400;
            color: $dark-3;
            margin-top: 3vh;
            text-align: center;
            min-height: 30px;
          }

          .proj-files {
            font-size: calc(8px + 0.1vmax);
            font-weight: 400;
            color: $dark-1;
            margin-top: 0.5vh;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: center;
            width: 100%;
            min-height: 12px;

            i {
              padding: 2px;
              margin-left: 5px;
              cursor: pointer;

              &:hover {
                color: $highlight;
              }
            }
          }

          .proj-details {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            margin: 3vh 0;
            overflow: hidden;
            min-height: 12px;

            * {
              font-size: calc(8px + 0.2vmax);
              text-transform: uppercase;
              letter-spacing: 0.2vmin;
              font-weight: 400;
              color: $dark-3;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              text-align: center;
            }
          }

          .proj-notes {
            display: flex;
            align-items: flex-start;
            margin: auto 0;

            p {
              font-size: calc(8px + 0.1vmax);
              font-weight: 400;
              color: $dark-3;
              text-align: center;
              line-height: 180%;
              margin: auto;
              z-index: 2;
              cursor: text;
            }
          }

          .proj-sep {
            flex: 1;
            width: 1px;
            background: $light-3;
            margin: 2.5vh 0 1.5vh 0;
          }

          .proj-buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 2vh;

            * {
              color: $dark-1;
              font-size: calc(8px + 0.2vmax);
              padding: 0.65em 3.5em;

              &::before {
                border-color: $dark-1;
              }
              &::after {
                border-color: $light-1;
              }
            }

            .proj-save,
            .proj-cancel {
              display: none;
            }
          }

          .proj-modified {
            font-size: calc(8px + 0.1vmax);
            color: $dark-3;
            margin-bottom: 3vh;
          }

          &:hover {
            background: $light-1;
            box-shadow: 0 0 20px -16px rgba(0,0,0,0.5);
            .fa-bookmark{ 
              color: $dark-1;
              &:hover { color: $highlight; }
            }
            .proj-date { color: $dark-1; }
            .proj-name { color: $logo-2; }
            .proj-files { 
              color: $dark-1;
              i:hover { color: $highlight; } 
            }
            .proj-details {
              * { color: $logo-2; }
            }
            .proj-notes {
              p { color: $logo-2; }
              &::-webkit-scrollbar-thumb { background: $highlight; }
              &::-webkit-scrollbar-thumb:hover,
              &::-webkit-scrollbar-thumb:active { background: $highlight; }
            }
            .proj-sep { background: $light-3; }
            .proj-buttons {
              * {
                color: $logo-2;
                &::before { border-color: $logo-2; }
                &:hover { 
                  color: $highlight;
                  &::before { border-color: $highlight; }
                }
              }
            }
            .proj-modified { color: $dark-1; }
          }
        }
      }
  
      .scroll-cover {
        display: none;
      }
    }

    .new-proj-container {
      cursor: pointer;
      background: $light-1;
      order: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      height: auto;
      margin: 4vmax auto 2vmax auto;
      
      .action-btn {
        color: $light-1;
        letter-spacing: 0.1em;
        background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
        border-radius: 5px;
    
        &::before,
        &::after {
          display: none;
        }

        &:hover {
          background-position: right center;
        }
      }
    }
  }
  #settings-tab:checked ~ #settings-area {
    display: flex;
  }
  #billing-tab:checked ~ #billing-area {
    display: flex;
  }
}

@media only screen and (min-width: 850px) and (orientation: landscape) {

#profile-page {
  grid-template-areas:
  "profile tabs";
  grid-template-columns: 30vw 70vw;
  height: calc(100vh - #{$top-bar-height});
}
  
.my-profile-section {
  grid-area: profile;
  display: flex;
  flex-direction: column;
  margin: 5vh 2.5vw 5vh 2.5vw;
  padding: 0 2.5vw;
  
  #profile-pic {
    justify-self: flex-start;
    height: calc(5vh + 20vw);
    width: 20vw;

    #profile-preview {
      margin-top: 5vh;
      height: 20vw;
      width: 20vw;
    }

    label {
      top: calc(5vh + 20px);
      right: calc(3vw - 20px);
      bottom: auto;
      left: auto;
      
      i {
        width: 40px;
        height: 40px;
      }
    }
  }

  #profile-name {
    align-self: flex-start;
    margin: 3vh 0 0 0;
    font-size: calc(20px + 0.5vw);
    width: 100%;
  }
  
  #profile-location {
    margin: 1vh 0 0 0;
    font-size: calc(10px + 0.2vw);
    letter-spacing: 3px;
  }

  #profile-bio {
    margin: 3vh 0 0 0;
    font-size: calc(10px + 0.2vw);
  }

  .profile-edit {
    margin: 6vh 0 3vh 0;

    * {
      font-size: calc(10px + 0.2vw);
    }
    
    #profile-edit-btn,
    #profile-save-btn {
      padding: 1em 3em;
    }
  }
}

.profile-tabs-section {
  grid-area: tabs;
  align-items: flex-start;
  justify-content: flex-end;
  height: calc(100vh - #{$top-bar-height});
  min-height: 550px;
  padding: 5vh calc(55px + 1vw) 5vh 0;

  label {
    flex: none;
    width: calc(100px + 5vw);
    letter-spacing: 0.2vw;
  }

  .main-area {
    height: calc(100% - 5vh);
    border: 0;
    width: 100%;
    border-radius: 5px;
  }

  #projects-tab:checked ~ #projects-area {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 3vw;

    * {
      // border: thin solid red;
    }

    .proj-wrap {
      order: 1;
      width: 100%;

      .proj-scroll-container {
        width: auto;
        position: relative;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        align-items: center;
        justify-content: flex-start;
        padding: 4vh 0;
  
        .proj-card {
          height: 55vh;
          width: calc(55vh * 0.7);
          min-height: 320px;
          min-width: 280px;
          margin: 0 1vw;
          padding: 0 2vw;
          flex-shrink: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 5px;

          .fa-bookmark {
            margin: 1vh 0 0 -1vw;
            padding: 5px;
            align-self: flex-start;
            cursor: pointer;

            &:hover {
              color: $highlight;
            }
          }

          .proj-date {
            font-size: calc(8px + 0.2vw);
            letter-spacing: 2px;
            font-weight: 400;
            color: $dark-3;
            margin-top: 6vh;
          }

          .proj-name {
            width: 100%;
            font-size: calc(14px + 0.5vw);
            font-weight: 400;
            color: $dark-3;
            margin-top: 3vh;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: center;
            min-height: 30px;
          }

          .proj-files {
            font-size: calc(8px + 0.1vw);
            font-weight: 400;
            color: $dark-1;
            margin-top: 0.5vh;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: center;
            width: 100%;
            min-height: 12px;

            i {
              padding: 2px;
              margin-left: 5px;
              cursor: pointer;

              &:hover {
                color: $highlight;
              }
            }
          }

          .proj-details {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            margin: 3vh 0;
            overflow: hidden;
            min-height: 12px;

            * {
              font-size: calc(8px + 0.2vw);
              text-transform: uppercase;
              letter-spacing: 0.2vmin;
              font-weight: 400;
              color: $dark-3;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              text-align: center;
            }
          }

          .proj-notes {
            display: flex;
            align-items: flex-start;
            min-height: 80px;
            height: 10vh;
            overflow-y: auto;
            margin: auto 0;

            p {
              font-size: calc(8px + 0.1vw);
              font-weight: 400;
              color: $dark-3;
              text-align: center;
              line-height: 180%;
              margin: auto;
              z-index: 2;
              padding-right: 10px;
              cursor: text;
            }

            &::-webkit-scrollbar {
              width: 2px;
            }
            &::-webkit-scrollbar-track {
              background: transparent;
            }
            &::-webkit-scrollbar-thumb {
              background: $light-3;
              transition: background-color 0.2s ease;
            }
          }

          .proj-sep {
            flex: auto;
            overflow: auto;
            width: 1px;
            background: $light-3;
            margin: 2.5vh 0 1.5vh 0;
          }

          .proj-buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 2vh;

            * {
              color: $dark-1;
              font-size: calc(8px + 0.2vw);
              padding: 0.65em 3.5em;

              &::before {
                border-color: $dark-1;
              }
              &::after {
                border-color: $light-1;
              }
            }

            .proj-save,
            .proj-cancel {
              display: none;
            }
          }

          .proj-modified {
            font-size: calc(8px + 0.1vw);
            color: $dark-3;
            margin-bottom: 3vh;
          }

          &:last-of-type {
            &::after {
              content: '';
              width: 1px;
              height: 1px;
              align-self: flex-end;
              margin-top: -1px;
              margin-right: -3vw;
              visibility: hidden;
            }
          }

          &:hover {
            background: $light-1;
            box-shadow: 0 0 30px -20px black;
            .fa-bookmark{ 
              color: $dark-1;
              &:hover { color: $highlight; }
            }
            .proj-date { color: $dark-1; }
            .proj-name { color: $logo-2; }
            .proj-files { 
              color: $dark-1;
              i:hover { color: $highlight; } 
            }
            .proj-details {
              * { color: $logo-2; }
            }
            .proj-notes {
              p { color: $logo-2; }
              &::-webkit-scrollbar-thumb { background: $highlight; }
              &::-webkit-scrollbar-thumb:hover,
              &::-webkit-scrollbar-thumb:active { background: $highlight; }
            }
            .proj-sep { background: $light-3; }
            .proj-buttons {
              * {
                color: $logo-2;
                &::before { border-color: $logo-2; }
                &::after { border-color: $light-1; }
                &:hover { 
                  color: $highlight;
                  &::before { border-color: $highlight; }
                }
              }
            }
            .proj-modified { color: $dark-1; }
          }
        }

        &::-webkit-scrollbar {
          height: 5px;
        }
        &::-webkit-scrollbar-track {
          background: $light-2;
        }
        &::-webkit-scrollbar-thumb {
          background: linear-gradient(to top, $light-2 0%, $light-2 39%, $light-3 40%, $light-3 60%, $light-2 61%, $light-2 100%);
          border-radius: 5px;
          height: 5px;
        }
        &::-webkit-scrollbar-thumb:hover,
        &::-webkit-scrollbar-thumb:active {
          background: $light-3;
        }
      }

      .proj-scroll-container:hover ~ .scroll-cover {
        background: transparent;
      }
  
      .scroll-cover {
        pointer-events: none;
        position: fixed;
        height: 10px;
        width: calc(70vw - 55px - 1vw - 6vw);
        margin-top: -10px;
        background: $light-2;
        transition: background-color 0.2s ease-out;
      }
    }

    .new-proj-container {
      order: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
  }

  #billing-area {
    flex-direction: column;
    align-items: center;
    padding: 4vh 1vw;
    color: $dark-3;

    .billing-card {
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      padding: 3vh 3vw 1vh 3vw;
      width: 100%;
      background: $light-2;
      border-radius: 5px;
      margin: 1vh 0;

      .billing-main {
        width: 100%;
        flex: 1 0 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;

        .order-id {
          display: flex;
          flex-direction: column;
          flex: 1.8 1 0;
          h2 {
            font-size: calc(10px + 0.8vw);
            font-weight: 400;
          }
          button {
            font-size: calc(6px + 0.4vw);
            color: $highlight;
            padding: 0.6em 2em;
            margin: 0.5vh auto 0 0;
            letter-spacing: 0.1em;
            font-weight: 600;
            flex: 0 1;
            &::before { 
              border-color: $highlight; 
            }
            &::after { 
              border-color: $light-2;
            }
          }
        }

        .order-status,
        .order-location,
        .order-date,
        .order-total {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 0.5em 0 0 0.5vw;
          flex: 1 1 0;

          p {
            font-size: calc(8px + 0.4vw);
            font-weight: 400;
          }
          i {
            font-size: calc(8px + 0.4vw);
            margin-right: 0.5em;
            color: $dark-1;
          }
          span {
            margin-right: 0.5em;
            font-size: calc(4px + 0.4vw);
            color: $dark-1;
            font-weight: 700;
          }
        }

        .order-location {
          flex: 1.6 1 0;
        }
      }

      .billing-details {
        display: none;
      }
  
      .billing-show {
        display: flex;
        flex-direction: row;
        flex: 1 0 100%;
        justify-content: space-between;

        .billing-arrow {
          margin: auto;
          height: 20px;
          width: 20px;
          transform: rotateX(-55deg) rotateZ(45deg);
          border-bottom: 2px solid $dark-3;
          border-right: 2px solid $dark-3;
          z-index: 2;
          align-self: flex-end;
        }
  
        .billing-invoice,
        .billing-contact {
          display: none;
        }
      }

      &:hover {
        background: $light-1;
        box-shadow: 0 0 12px 6px $light-2;
        .order-id h2 {
          color: $logo-2;
        }
        .order-id button::after {
          border-color: $light-1;
        }
        .billing-arrow {
          border-color: $highlight;
        }
      }
    }

    .billing-card-active {
      
      .billing-main {
        width: 35%;
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .order-id {
          flex: 0 1 0;
          margin-bottom: 1vh;
        }

        .order-status,
        .order-location,
        .order-date {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 0.5vh 0 0 0;
          flex: 0 1 0;

          p {
            font-size: calc(8px + 0.3vw);
            font-weight: 400;
            color: $dark-1;
          }
          i {
            color: $dark-3;
            font-size: calc(5px + 0.3vw);
            text-align: center;
            width: 2em;
          }
        }

        .order-total {
          display: none;
        }
      }

      .billing-details {
        display: flex;
        flex-direction: column;
        width: 65%;
        flex: 1 0 auto;
        margin: auto 0;

        .order-item {
          display: flex;
          flex-direction: row;
          border-bottom: thin solid $light-3;
          font-size: calc(9px + 0.3vw);
          font-weight: 400;
          padding: 0.7em 0;

          .order-item-name {
            width: 50%;
            color: $dark-3;
          }

          .order-item-quantity,
          .order-item-price {
            width: 25%;
            color: $dark-1;
            text-align: right;
          }
        }

        .order-item-total {
          display: flex;
          flex-direction: row;
          border-top: thin solid $light-3;
          padding: 0.7em 0;
          
          p {
            font-size: calc(9px + 0.3vw);
            font-weight: 400;
            width: 75%;
            text-align: right;
            color: $dark-1;
            margin: auto 0;
          }
          
          h3 {
            font-size: calc(12px + 0.3vw);
            font-weight: 600;
            width: 25%;
            text-align: right;
            color: $dark-3;
          }
        }
      }
  
      .billing-show {
        margin-top: 3vh;

        .billing-arrow {
          transform: rotateX(125deg) rotateZ(45deg);
          align-self: flex-end;
        }
  
        .billing-invoice,
        .billing-contact {
          display: block;
          flex: 1 1 0;

          a {
            font-size: calc(6px + 0.3vw);
            color: $dark-1;
            padding: 5px;
            &:hover {
              text-decoration: underline;
            }
          }
        }

        .billing-contact {
          text-align: right;
        }
      }

      &:hover {
        .order-item-total h3 {
          color: $logo-2;
        }
      }
    }

    * {
      // border: thin solid red;
    }
  }

}

}
