/*
VARIABLES
*/
/*
MOBILE CSS
*/
.sd-bar {
  height: calc(100% - 16vmax);
  top: 8vmax;
  position: fixed;
  overflow-y: scroll;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  z-index: 4;
}

.sd-bar-nav-bar-hide {
  height: calc(100% - 8vmax);
}

@media only screen and (min-width: 850px) {
  .sd-bar {
    top: 4vmax;
  }
}
