/*
VARIABLES
*/

$clr-1: rgb(100, 100, 255);
$clr-2: rgb(240, 240, 255);
$clr-3: rgb(220, 220, 255);
$clr-4: rgb(220, 220, 220);
$clr-5: rgb(230, 230, 230);
$clr-6: rgb(120, 120, 120);
$nav-bar-hght: 8vmax;
$nav-bar-hght-dktp: 4vmax;
$transition-1: all 0.5s ease-out;
$fnt-1: Arial, Helvetica, sans-serif;

/*
MOBILE CSS
*/

.sd-bar {
  height: calc(100% - 16vmax);
  top: $nav-bar-hght;
  position: fixed;
  overflow-y: scroll;
  transition: $transition-1;
  z-index: 4;
}

.sd-bar-nav-bar-hide {
  height: calc(100% - 8vmax);
}

@media only screen and (min-width: 850px) {
  .sd-bar {
    top: $nav-bar-hght-dktp;
  }
}
