$dark-1: #877da9;
$dark-2: #322d41;
$dark-3: #2d283c;

$light-1: #ffffff;
$light-2: #f8f8f8;
$light-3: #c7c2d5;

$logo-1: #8258dc;
$logo-2: #6853d9;
$logo-3: #4e4ed6;

$highlight: #4bf0ea;

$diamond: 25vh;

$montserrat: 'Montserrat', sans-serif;
$poppins: 'Poppins', sans-serif;
$largest-font: 5vw;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: row;
  font-family: $poppins;
  line-height: 1.5; 
  height: 100vh;
  
  // Logo animation
  .logo-anim-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    flex: 1;
    overflow: hidden;
    z-index: -2;
    background: $light-1;

    .layer {
      top: 50%;
      height: $diamond;
      width: $diamond;
      background: $light-3;
      opacity: 0.3;
      position: absolute;
      
      margin-left: -$diamond/2;
    }
    
    .layer-1 { animation: logo-anim-1 3s forwards; }
    .layer-2 { animation: logo-anim-2 3s forwards; }
    .layer-3 { animation: logo-anim-3 3s forwards; }
  }

  // Main form
  .form-container {
    width: 50vw;
    opacity: 0;
    animation: appear 3s forwards;

    .sign-up-form {
      display: grid;
      grid-template-rows: 6vh 24vh 10vh 10vh 10vh 10vh 20vh 10vh;
      justify-items: center;
      align-items: flex-end;

      #signup-logo {
        justify-self: flex-start;
        align-self: flex-start;
        margin-top: 3vh;
        margin-left: 3vw;
        img { width: 15vh; }
      }

      #signup-title {
        font-size: 1vw;
        letter-spacing: 0.25vw;
        margin-bottom: 5vh;
      }

      #confirm-pass {
        top: -3vh;
        visibility: none;
        opacity: 0;
        z-index: -1;
        transition: all 0.3s ease-out;
      }

      #enter-pass:focus-within + #confirm-pass {
        top: 0;
        visibility: visible;
        opacity: 1;
        z-index: 2;
      }

      .dip-down {
        top: 0 !important;
        visibility: visible !important;
        opacity: 1 !important;
        z-index: 2 !important;
      }

      #signup-submit {
        margin-bottom: 5vh;
      }

      #signup-message {
        a { color: $highlight; }
        font-size: 0.75vw;
        align-self: flex-end;
        margin-bottom: 2vh;
      }
    }
  }

  // Image
  .image-container {
    z-index: -1;
    width: 50vw;
    overflow: hidden;

    #back {
      width: inherit;
      height: 100vh;
      background: $dark-3;
      animation: slide 3s forwards;
    }
  }
}



.input-decor {
  position: relative;
  display: inline-block;
  border-bottom: 1.1px dotted $dark-3;

  input {
    border: none;
    padding: 0.5vw 1vw;
    width: 20vw;
    
    &:focus { outline: none; }
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0.5vh;
    margin-left: 1vw;
    color: $light-3;
    letter-spacing: 1.5px;
    font-size: 1vw;
    font-weight: 100;
    transition: all 0.2s ease-out;
    pointer-events: none;
  }

  input:focus ~ label {
    margin-top: -2vh;
    font-size: 0.75vw;
    color: $highlight;
  }

  input:not(:focus):valid ~ label {
    margin-top: -2vh;
    font-size: 0.75vw;
    color: $light-3;
  }

  &::after,
  &:focus-within::after {
    content: '';
    border-bottom: 1.1px solid $highlight;
    position: absolute;
    width: 0%;
    top: 100%;
    left: 0%;
    transition: .5s ease-in-out;
  }

  &:focus-within::after {
    width: 100%;
  }
}

.btn {
  border: $dark-3 solid 1px;
  color: $dark-3;
  background: $light-1;
  width: 10vw;
  font-size: 1vw;
  font-weight: 100;
  height: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.25vw;
  position: relative;
  cursor: pointer;
  outline: none;

  &:before,
  &:after {
    content: 'SIGN UP';
    border: $dark-3 solid 1px;
    color: $dark-3;
    background: $light-1;
    width: 10vw;
    font-size: 1vw;
    font-weight: 100;
    height: 2.5vw;
    letter-spacing: 0.25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    outline: none;
    pointer-events: none;
    visibility: hidden;

    left: 1px;
    text-shadow: -2px 2px greenyellow;
    box-shadow: inset -2px 0px greenyellow;
    z-index: 3;
    animation: twitch-btn 12s alternate-reverse infinite;
  }

  &:before {
    left: -1px;
    text-shadow: 1px 0 magenta;
    box-shadow: inset 1px 0 magenta;
    z-index: 2;
    animation: twitch-btn 10s infinite;
  }

  &:hover,
  &:hover:after,
  &:hover:before {
    color: $light-1;
    border: none;
    background-image: linear-gradient(to right, $logo-1, $logo-3);
  }

  &:hover:after,
  &:hover:before {
    content: attr(data-text);
    width: 10vw;
    height: 2.5vw;
    top: -0.2vw;
    font-size: 1vw;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
  }
  &:hover:after {
    left: 0.2vw;
    text-shadow: -1px 0 greenyellow;
    animation: glitch-btn 1.5s linear alternate-reverse;
    border: none;
  }
  &:hover:before {
    left: -0.2vw;
    text-shadow: 1px 0 magenta;
    animation: glitch-btn 2s linear alternate;
    border: none;
  }
}

@keyframes appear {
  0%, 90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    animation-timing-function: ease-in;
  }
}

@keyframes slide {
  0%, 85% {
    margin-left: -50vw;
  }
  100% {
    margin-left: 0vw;
    animation-timing-function: cubic-bezier(.08,.1,.32,.98);
  }
}

@keyframes logo-anim-1 {
  0%, 10% {
    left: 50%;
    transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    margin-top: -$diamond/2;
  }
  30% {
    left: 50%;
    height: $diamond;
    border-radius: $diamond * 0.05;
    transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    opacity: 0.3;
    background: $logo-3;
    margin-top: -$diamond * 3/4;
  }
  70% {
    left: 50%;
    height: 1px;
    width: $diamond;
    border-radius: 0;
    animation-timing-function: cubic-bezier(.72,.01,.5,1);
    opacity: 1;
    background: $dark-3;
    margin-top: -10vh;
  }
  95% {
    left: 22vw;
    height: 1px;
    width: 20vw;
    border-radius: 0;
    animation-timing-function: cubic-bezier(.72,.01,.74,1);
    opacity: 0.4;
    background: $dark-3;
    margin-top: -10vh;
  }
  100% {
    left: 22vw;
    height: 0.5px;
    width: 20vw;
    border-radius: 0;
    opacity: 0;
    background: $dark-3;
    margin-top: -10vh;
  }
}

@keyframes logo-anim-2 {
  0%, 10% {
    left: 50%;
    transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    margin-top: -$diamond/2;
  }
  30% {
    left: 50%;
    height: $diamond;
    border-radius: $diamond * 0.05;
    transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    opacity: 0.3;
    background: $logo-2;
    margin-top: -$diamond/2;
  }
  70% {
    left: 50%;
    height: 1px;
    width: $diamond;
    border-radius: 0;
    animation-timing-function: cubic-bezier(.72,.01,.5,1);
    opacity: 1;
    background: $dark-3;
    margin-top: 0;
  }
  95% {
    left: 22vw;
    height: 1px;
    width: 20vw;
    border-radius: 0;
    animation-timing-function: cubic-bezier(.72,.01,.74,1);
    opacity: 0.4;
    background: $dark-3;
    margin-top: 0;
  }
  100% {
    left: 22vw;
    height: 0.5px;
    width: 20vw;
    border-radius: 0;
    opacity: 0;
    background: $dark-3;
    margin-top: 0;
  }
}

@keyframes logo-anim-3 {
  0%, 10% {
    left: 50%;
    transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    margin-top: -$diamond/2;
  }
  30% {
    left: 50%;
    height: $diamond;
    border-radius: $diamond * 0.05;
    transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    opacity: 0.3;
    background: $logo-1;
    margin-top: -$diamond * 1/4;
  }
  70% {
    left: 50%;
    height: 1px;
    width: $diamond;
    border-radius: 0;
    animation-timing-function: cubic-bezier(.72,.01,.5,1);
    opacity: 1;
    background: $dark-3; 
    margin-top: 10vh;
  }
  95% {
    left: 22vw;
    height: 1px;
    width: 20vw;
    border-radius: 0;
    animation-timing-function: cubic-bezier(.72,.01,.74,1);
    opacity: 0.4;
    background: $dark-3; 
    margin-top: 10vh;
  }
  100% {
    left: 22vw;
    height: 0.5px;
    width: 20vw;
    border-radius: 0;
    opacity: 0;
    background: $dark-3; 
    margin-top: 10vh;
  }
}

@keyframes glitch-btn {
  0% {
    clip: rect(-3px, 600px, 0px, 0px);
    visibility: visible;
  }
  2% {clip: rect(0px, 600px, 0px, 0px);}
  5% {clip: rect(-3px, 600px, 0px, 0px);}
  9% {clip: rect(-3px, 600px, 0px, 0px);}
  17% {clip: rect(100px, 600px, 100px, 0px);}
  29% {clip: rect(0px, 600px, 600px, 0px);}
  35% {clip: rect(100px, 600px, 0px, 0px);}
  41% {clip: rect(0px, 600px, 600px, 0px);}
  47% {clip: rect(100px, 600px, 0px, 0px);}
  52% {clip: rect(-3px, 600px, 0px, 0px);}
  58% {clip: rect(100px, 450px,100px, 0px);}
  64% {clip: rect(0px, 450px, 0px, 0px);}
  70% {clip: rect(100px, 450px, 100px, 0px);}
  76% {clip: rect(0px, 450px, 0px, 0px);}
  82% {clip: rect(0px, 450px, 0px, 0px);}
  88% {clip: rect(0px, 450px, 0px, 0px);}
  94% {clip: rect(0px, 450px, 0px, 0px);}
  100% {clip: rect(0px, 450px, 0px, 0px);}
}

@keyframes twitch-btn {
  0% { clip-path: inset(100% 100% 100% 100%); }

  18% {clip-path: inset(100% 100% 100% 100%); visibility: visible;}
  18.5% {clip-path: inset(53% 0 42% 0);}
  19% {clip-path: inset(53% 0 42% 0);}
  19.5% {clip-path: inset(100% 100% 100% 100%);}

  58% {clip-path: inset(100% 100% 100% 100%);}
  58.5% {clip-path: inset(22% 0 67% 0);}
  59% {clip-path: inset(22% 0 67% 0);}
  59.5% {clip-path: inset(100% 100% 100% 100%);}
  60% {clip-path: inset(43% 0 48% 0);}
  60.5% {clip-path: inset(43% 0 48% 0);}
  61% {clip-path: inset(100% 100% 100% 100%);}

  83% {clip-path: inset(100% 100% 100% 100%);}
  83.5% {clip-path: inset(68% 0 19% 0);}
  84% {clip-path: inset(68% 0 19% 0);}
  84.5% {clip-path: inset(100% 100% 100% 100%);}
  85% {clip-path: inset(19% 0 68% 0);}
  85.5% {clip-path: inset(19% 0 68% 0);}
  86% {clip-path: inset(100% 100% 100% 100%);}

  100% {clip-path: inset(100% 100% 100% 100%);}
}
