@import "global/all";
$diamond: 25vw; 

.main-page {
  height: 100vh;
  width: 100vw;
  font-family: $poppins;

  .signup-mobile-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    overflow: hidden;
  }

  // Logo animation
  .logo-anim-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    
    .layer {
      position: absolute;
      height: $diamond;
      width: $diamond;
      background: $light-3;
      opacity: 0.3;
      top: 50%;
    }

    .layer-1 {
      animation: logo-anim-1 3s forwards;
    }
    .layer-2 {
      animation: logo-anim-2 3s forwards;
    }
    .layer-3 {
      animation: logo-anim-3 3s forwards;
    }
  }

  // Main form
  .signup-form-container {
    width: 100vw;
    height: calc(100vw - #{$top-bar-height});
    animation: appear 3s forwards;

    .sign-up-form {
      display: grid;
      grid-template-rows: 6vh 24vh 10vh 10vh 10vh 10vh 20vh 10vh;
      justify-items: center;
      align-items: flex-end;

      #signup-logo {
        visibility: hidden;
        justify-self: flex-start;
        align-self: flex-start;
        margin-top: 3vh;
        margin-left: 3vw;
        img {
          width: 15vh;
        }
      }

      #signup-title {
        font-size: 1vw;
        letter-spacing: 0.25vw;
        margin-bottom: 5vh;
      }

      #confirm-pass {
        top: -3vh;
        visibility: none;
        opacity: 0;
        z-index: -1;
        transition: all 0.3s ease-out;
      }

      #enter-pass:focus-within + #confirm-pass {
        top: 0;
        visibility: visible;
        opacity: 1;
        z-index: 2;
      }

      .dip-down {
        top: 0 !important;
        visibility: visible !important;
        opacity: 1 !important;
        z-index: 2 !important;
      }

      #signup-submit {
        margin-bottom: 5vh;
      }

      #signup-message {
        a {
          color: $highlight;
        }
        font-size: 0.75vw;
        align-self: flex-end;
        margin-bottom: 2vh;
      }
    }
  }
}

@keyframes appear {
  0%,
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    animation-timing-function: ease-in;
  }
}

@keyframes slide {
  0%,
  85% {
    margin-left: -50vw;
  }
  100% {
    margin-left: 0vw;
    animation-timing-function: cubic-bezier(0.08, 0.1, 0.32, 0.98);
  }
}

@keyframes logo-anim-1 {
  0%,
  10% {
    transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    top: calc(50vh - #{$diamond}/2);
    left: calc(50vw - #{$diamond}/2);
  }
  50% {
    height: $diamond;
    border-radius: $diamond * 0.05;
    transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    opacity: 0.3;
    background: $logo-3;
    top: calc(50vh - #{$diamond}/2 - 4vh);
    left: calc(50vw - #{$diamond}/2);
  }
  75% {
    height: 1px;
    width: $diamond;
    border-radius: 0;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity: 1;
    background: $dark-3;
    top: calc(40vh - 1px);
    left: calc(50vw - #{$diamond}/2);
  }
  97% {
    height: 1px;
    width: 20vw;
    border-radius: 0;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity: 1;
    background: $dark-3;
    top: calc(40vh - 1px);
    left: 40vw;
  }
  100% {
    height: 1px;
    width: 20vw;
    border-radius: 0;
    opacity: 0;
    background: $dark-3;
    top: calc(40vh - 1px);
    left: 40vw;
  }
}

@keyframes logo-anim-2 {
  0%,
  10% {
    transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    top: calc(50vh - #{$diamond}/2);
    left: calc(50vw - #{$diamond}/2);
  }
  50% {
    height: $diamond;
    border-radius: $diamond * 0.05;
    transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    opacity: 0.3;
    background: $logo-2;
    top: calc(50vh - #{$diamond}/2);
    left: calc(50vw - #{$diamond}/2);
  }
  75% {
    height: 1px;
    width: $diamond;
    border-radius: 0;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity: 1;
    background: $dark-3;
    top: calc(50vh - 2px);
    left: calc(50vw - #{$diamond}/2);
  }
  97% {
    height: 1px;
    width: 20vw;
    border-radius: 0;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity: 1;
    background: $dark-3;
    top: calc(50vh - 2px);
    left: 40vw;
  }
  100% {
    height: 1px;
    width: 20vw;
    border-radius: 0;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity: 0;
    background: $dark-3;
    top: calc(50vh - 2px);
    left: 40vw;
  }
}

@keyframes logo-anim-3 {
  0%,
  10% {
    transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    top: calc(50vh - #{$diamond}/2);
    left: calc(50vw - #{$diamond}/2);
  }
  50% {
    height: $diamond;
    border-radius: $diamond * 0.05;
    transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    opacity: 0.3;
    background: $logo-1;
    top: calc(50vh - #{$diamond}/2 + 4vh);
    left: calc(50vw - #{$diamond}/2);
  }
  75% {
    height: 1px;
    width: $diamond;
    border-radius: 0;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity: 1;
    background: $dark-3;
    top: calc(60vh - 1px);
    left: calc(50vw - #{$diamond}/2);
  }
  97% {
    height: 1px;
    width: 20vw;
    border-radius: 0;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity: 1;
    background: $dark-3;
    top: calc(60vh - 1px);
    left: 40vw;
  }
  100% {
    height: 1px;
    width: 20vw;
    border-radius: 0;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity: 0;
    background: $dark-3;
    top: calc(60vh - 1px);
    left: 40vw;
  }
}
