$diamond: 25vh; /* all.scss uses $diamond so it must be declared first */
@import "global/all";

body {
  display: flex;
  flex-direction: row;
  font-family: $poppins;
  line-height: 1.5;
  height: 100vh;

  // Logo animation
  .logo-anim-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    flex: 1;
    overflow: hidden;
    z-index: -2;
    background: $light-1;

    .layer {
      top: 50%;
      height: $diamond;
      width: $diamond;
      background: $light-3;
      opacity: 0.3;
      position: absolute;
      margin-left: -$diamond/2;
    }

    .layer-1 {
      animation: logo-anim-1 3s forwards;
    }
    .layer-2 {
      animation: logo-anim-2 3s forwards;
    }
    .layer-3 {
      animation: logo-anim-3 3s forwards;
    }
  }

  // Main form
  .signup-form-container {
    width: 50vw;
    animation: appear 3s forwards;

    .sign-up-form {
      display: grid;
      grid-template-rows: 6vh 24vh 10vh 10vh 10vh 10vh 20vh 10vh;
      justify-items: center;
      align-items: flex-end;

      #signup-logo {
        visibility: hidden;
        justify-self: flex-start;
        align-self: flex-start;
        margin-top: 3vh;
        margin-left: 3vw;
        img {
          width: 15vh;
        }
      }

      #signup-title {
        font-size: 1vw;
        letter-spacing: 0.25vw;
        margin-bottom: 5vh;
      }

      #confirm-pass {
        top: -3vh;
        visibility: none;
        opacity: 0;
        z-index: -1;
        transition: all 0.3s ease-out;
      }

      #enter-pass:focus-within + #confirm-pass {
        top: 0;
        visibility: visible;
        opacity: 1;
        z-index: 2;
      }

      .dip-down {
        top: 0 !important;
        visibility: visible !important;
        opacity: 1 !important;
        z-index: 2 !important;
      }

      #signup-submit {
        margin-bottom: 5vh;
      }

      #signup-message {
        a {
          color: $highlight;
        }
        font-size: 0.75vw;
        align-self: flex-end;
        margin-bottom: 2vh;
      }
    }
  }

  // Image
  .signup-image-container {
    z-index: -1;
    width: 50vw;
    overflow: hidden;

    #back {
      width: inherit;
      height: 100vh;
      background: $dark-3;
      animation: slide 3s forwards;
    }
  }
}

@keyframes appear {
  0%,
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    animation-timing-function: ease-in;
  }
}

@keyframes slide {
  0%,
  85% {
    margin-left: -50vw;
  }
  100% {
    margin-left: 0vw;
    animation-timing-function: cubic-bezier(0.08, 0.1, 0.32, 0.98);
  }
}

@keyframes logo-anim-1 {
  0%,
  10% {
    left: 50%;
    transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    margin-top: -$diamond/2;
  }
  30% {
    left: 50%;
    height: $diamond;
    border-radius: $diamond * 0.05;
    transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    opacity: 0.3;
    background: $logo-3;
    margin-top: -$diamond * 3/4;
  }
  70% {
    left: 50%;
    height: 1px;
    width: $diamond;
    border-radius: 0;
    animation-timing-function: cubic-bezier(0.72, 0.01, 0.5, 1);
    opacity: 1;
    background: $dark-3;
    margin-top: -10vh;
  }
  95% {
    left: 22vw;
    height: 1px;
    width: 20vw;
    border-radius: 0;
    animation-timing-function: cubic-bezier(0.72, 0.01, 0.74, 1);
    opacity: 0.4;
    background: $dark-3;
    margin-top: -10vh;
  }
  100% {
    left: 22vw;
    height: 0.5px;
    width: 20vw;
    border-radius: 0;
    opacity: 0;
    background: $dark-3;
    margin-top: -10vh;
  }
}

@keyframes logo-anim-2 {
  0%,
  10% {
    left: 50%;
    transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    margin-top: -$diamond/2;
  }
  30% {
    left: 50%;
    height: $diamond;
    border-radius: $diamond * 0.05;
    transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    opacity: 0.3;
    background: $logo-2;
    margin-top: -$diamond/2;
  }
  70% {
    left: 50%;
    height: 1px;
    width: $diamond;
    border-radius: 0;
    animation-timing-function: cubic-bezier(0.72, 0.01, 0.5, 1);
    opacity: 1;
    background: $dark-3;
    margin-top: 0;
  }
  95% {
    left: 22vw;
    height: 1px;
    width: 20vw;
    border-radius: 0;
    animation-timing-function: cubic-bezier(0.72, 0.01, 0.74, 1);
    opacity: 0.4;
    background: $dark-3;
    margin-top: 0;
  }
  100% {
    left: 22vw;
    height: 0.5px;
    width: 20vw;
    border-radius: 0;
    opacity: 0;
    background: $dark-3;
    margin-top: 0;
  }
}

@keyframes logo-anim-3 {
  0%,
  10% {
    left: 50%;
    transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    margin-top: -$diamond/2;
  }
  30% {
    left: 50%;
    height: $diamond;
    border-radius: $diamond * 0.05;
    transform: rotateX(-55deg) rotateY(0deg) rotateZ(45deg);
    opacity: 0.3;
    background: $logo-1;
    margin-top: -$diamond * 1/4;
  }
  70% {
    left: 50%;
    height: 1px;
    width: $diamond;
    border-radius: 0;
    animation-timing-function: cubic-bezier(0.72, 0.01, 0.5, 1);
    opacity: 1;
    background: $dark-3;
    margin-top: 10vh;
  }
  95% {
    left: 22vw;
    height: 1px;
    width: 20vw;
    border-radius: 0;
    animation-timing-function: cubic-bezier(0.72, 0.01, 0.74, 1);
    opacity: 0.4;
    background: $dark-3;
    margin-top: 10vh;
  }
  100% {
    left: 22vw;
    height: 0.5px;
    width: 20vw;
    border-radius: 0;
    opacity: 0;
    background: $dark-3;
    margin-top: 10vh;
  }
}
