@import "global/all_webapp";

//mobile & default styling

$x-margin: calc(100vw/6 - 20px);

body {
  background: $light-1;
  max-width: 100%;
  overflow-x: hidden;
  font-family: $poppins;
}

.main-page {
  margin-top: $top-bar-height;
  display: flex;
  flex-direction: column;
  width: 100%;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 2vh 0;
  }
}

h2 {
  font-size: calc(12px + 1.1vw);
  font-weight: 600;
  line-height: 150%;
  color: $dark-3;
}

h3 {
  font-size: calc(11px + 0.4vw);
  font-weight: 600;
  line-height: 175%;
  color: $dark-3;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: calc(10px + 1vw);
  font-weight: 600;
  line-height: 150%;
  color: $dark-3;
}

h5 {
  font-size: calc(9px + 0.4vw);
  font-weight: 400;
  line-height: 150%;
  color: $dark-3;
}

p {
  font-size: calc(11px + 0.4vw);
  color: $dark-3;
  line-height: 175%;
}

.story-go-link {
  font-family: $montserrat;
  text-transform: uppercase;
  font-weight: 700;
  font-size: calc(11px + 0.5vw);
  letter-spacing: 0.1rem;
  color: $logo-2;
  margin-top: 1rem;
  .fas {
    margin-left: 0.5rem;
  }
}

.story-section {
  margin: 2vh 0;
  width: 100%;
}

#story-section-1 {
  width: 100%;
  padding: 0 $x-margin;
  margin-top: 6vh;
  h2 {
    text-align: center;
  }
}

#story-section-2 {
  padding: 0 $x-margin;
  h2 {
    text-align: center;
  }
}

#story-section-3 {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  #story-team {
    height: 30vh;
    width: 100%;
  }
  #story-carl {
    width: 40vw;
    margin-right: 4vh;
  }
  .story-text {
    flex: 1 0 0;
    margin-top: 2vh;
    padding-right: $x-margin;
  }
  .story-go-link {
    width: 100%;
    text-align: right;
    padding-right: $x-margin;
  }
}

@media only screen and (min-width: 850px) and (orientation: landscape) {
  
}