@import "global/all";  

$fade-height: 100px;

body {
  max-width: 100%;
  overflow-x: hidden;
}

.team-bg {
  position: absolute;
  top: 15vh;
  left: 10vw;
  height: 70vh;
  width: 80vw;
  object-fit: cover;
  object-position: center;
}

.team-bg-text {
  position: sticky;
  top: -20vh;
  
  p {
    padding-top: 65vh;
    font-family: $montserrat;
    color: $light-2;
    font-size: 5vmax;
    text-align: center;
  }
}



.main-page {
  $top-margin: 110vh;
  $left-margin: 8vw;
  $height-margin: 25vh;
  $width-margin: 3vw;
  $photo-height: 50vh;
  $photo-width: 26vw;
  $offset: 40vh;

  margin-top: $top-bar-height;
  width: 100vw;
  height: 300vh;
  
  .team-scroll {

    .team-profile {
      position: absolute;

      .indiv-photo {
        height: $photo-height;
        width: $photo-width;
        object-fit: cover;
      }

      .indiv-name {
        font-family: $montserrat;
        font-size: calc(30px + 0.2vw);
        font-weight: 100;
        color: $dark-1;
        display: none;
      }

      .indiv-role {
        font-family: $poppins;
        font-size: calc(8px + 0.1vw);
        font-weight: 800;
        letter-spacing: 4px;
        color: $dark-2;
        display: none;
      }
    }

    .profile-left {
      .indiv-name,
      .indiv-role {
        position: absolute;
        top: 15%;
        left: 90%;
        opacity: 0;
        white-space: nowrap;
        animation: in-left 0.5s cubic-bezier(.28,.6,.3,.98) forwards;
      }
      .indiv-role {
        top: calc(15% + 0.5vh + 35px);
        animation: in-left 0.5s cubic-bezier(.28,.6,.3,.98) 0.2s forwards;
      }
    }

    .profile-right {
      .indiv-name,
      .indiv-role {
        position: absolute;
        top: 75%;
        right: 90%;
        opacity: 0;
        align-self: flex-end;
        white-space: nowrap;
        animation: in-right 0.5s cubic-bezier(.28,.6,.3,.98) forwards;
      }
      .indiv-role {
        top: calc(75% + 0.5vh + 35px);
        animation: in-right 0.5s cubic-bezier(.28,.6,.3,.98) 0.2s forwards;
      }
    }

    #memb-1 {
      top: $top-margin;
      left: $left-margin;
    }
    #memb-2 {
      top: calc(#{$top-margin} + #{$height-margin});
      left: calc(#{$left-margin} + #{$photo-width} + #{$width-margin});
    }
    #memb-3 {
      top: calc(#{$top-margin} + 2*#{$height-margin});
      left: calc(#{$left-margin} + 2*#{$photo-width} + 2*#{$width-margin});
    }
    #memb-4 {
      top: calc(#{$top-margin} + #{$photo-height} + #{$offset});
      left: $left-margin;
    }
    #memb-5 {
      top: calc(#{$top-margin} + #{$height-margin} + #{$photo-height} + #{$offset});
      left: calc(#{$left-margin} + #{$photo-width} + #{$width-margin});
    }
    #memb-6 {
      top: calc(#{$top-margin} + 2*#{$height-margin} + #{$photo-height} + #{$offset});
      left: calc(#{$left-margin} + 2*#{$photo-width} + 2*#{$width-margin});
    }
    #memb-7 {
      top: calc(#{$top-margin} + 2*#{$photo-height} + 2*#{$offset});
      left: $left-margin;
    }
    #memb-8 {
      top: calc(#{$top-margin} + #{$height-margin} + 2*#{$photo-height} + 2*#{$offset});
      left: calc(#{$left-margin} + #{$photo-width} + #{$width-margin});
    }
    #memb-9 {
      top: calc(#{$top-margin} + 2*#{$height-margin} + 2*#{$photo-height} + 2*#{$offset});
      left: calc(#{$left-margin} + 2*#{$photo-width} + 2*#{$width-margin});
    }
  }
}

.end-section {
  height: 40vh;
}

@keyframes in-left {
  0% { 
    left: 90%;
    opacity: 0;
  }
  100% { 
    left: 95%; 
    opacity: 1;
  }
}

@keyframes in-right {
  0% { 
    right: 90%;
    opacity: 0;
  }
  100% { 
    right: 95%; 
    opacity: 1;
  }
}