@import "global/all_webapp";  

body {
  max-width: 100%;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

.landing-section {
  display: grid;
  grid-template-areas: 
  'photo'
  'desc'
  'title';
  grid-template-rows: 45vh 30vh 25vh;

  .team-desc {
    grid-area: desc;
    margin-top: 6vh;
    align-self: flex-start;
    justify-self: center;
    font-family: $poppins;
    font-size: calc(10px + 0.2vmax);
    color: $dark-3;
    text-align: center;
  
    #team-desc-top {
      font-weight: 800;
      animation: desc-mob 0.4s cubic-bezier(.28,.6,.3,.98) 0.5s forwards;
      opacity: 0;
      color: $dark-2;
    }
  
    #team-desc-mid {
      margin-top: 2vh;
      color: $light-3;
      animation: desc-mid-mob 0.3s cubic-bezier(.28,.6,.3,.98) 1.8s forwards;
      opacity: 0;
    }
    
    #team-desc-bot-1 {
      width: 75vw;
      animation: desc-mob 0.4s cubic-bezier(.28,.6,.3,.98) 1.2s forwards;
      opacity: 0;
      line-height: 150%;
    }
    #team-desc-bot-2 {
      width: 75vw;
      animation: desc-mob 0.4s cubic-bezier(.28,.6,.3,.98) 1.4s forwards;
      opacity: 0;
      line-height: 150%
    }
  }

  .team-photo {
    grid-area: photo;
    height: 30vh;
    width: 82%;
    align-self: flex-end;
    justify-self: center;
    object-fit: cover;
    object-position: center;
  }
  
  .team-title {
    grid-area: title;
    align-self: flex-end;
    margin-left: 7vw;
    margin-bottom: 4vh;
    font-family: $montserrat;
    font-size: calc(18px + 4vmax);
    color: $dark-2;
    span {
      display: inline-block;
      margin-right: 3vmax;
    }
  }
}

.profile-section {
  position: relative;
  width: 100%;
  padding: 5% 9%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.team-profile {
  margin-bottom: 7%;
  flex: 0 0 46%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 57vw;
  border-radius: calc(5px + 0.3vw);
  overflow: hidden;
  
  .indiv-photo {
    position: absolute;
    top: 0;
    left: 0;
    height: 101%;
    width: 101%;
    object-fit: cover;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    perspective: 1000;
    -webkit-perspective: 1000;

    transition: transform 0.2s ease-out;
  }

  .indiv-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 45%;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
    transition: opacity 0.2s ease-out;
  }
  
  .indiv-overlay-2 {
    opacity: 0;
  }

  .indiv-name {
    z-index: 100;
    font-family: $montserrat;
    font-size: calc(14px + 1.2vmin);
    font-weight: 600;
    color: $light-1;
    letter-spacing: 1px;
    margin-bottom: 0.1rem;
  }

  .indiv-title {
    z-index: 100;
    margin-bottom: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(8px + 0.4vmin);
    color: $light-1;

    .indiv-role {
      font-family: $poppins;
      font-weight: 300;
      letter-spacing: 1px;
      margin-right: 0.8rem;
      overflow: hidden;
      white-space: nowrap;
    }

    .fab {
      padding: 2px;
      color: $light-1;
      transition: color 0.1s ease-out;
    }
  }

  &:hover {
    .fab {
      color: $highlight;
    }
  }
}

.line-break {
  display: none;
}

#brydon .indiv-role {
  font-size: calc(6px + 0.3vmin);
}

@keyframes desc-mob {
  0% {
    opacity: 0;
    margin-top: 0;
  }
  100% {
    opacity: 1;
    margin-top: 2vh;
  }
}

@keyframes desc-mid-mob {
  0% {
    opacity: 0;
    margin-left: -20px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

@keyframes name-anim-mob {
  0% { 
    margin-top: -10px;
    opacity: 0;
  }
  100% { 
    margin-top: 0; 
    opacity: 1;
  }
}

@keyframes role-anim-mob {
  0% { 
    margin-top: -10px;
    opacity: 0;
  }
  100% { 
    margin-top: 0; 
    opacity: 1;
  }
}

@keyframes fab-anim-mob {
  0% { 
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}

@media only screen and (min-width: 850px) and (orientation: landscape) {

.landing-section {
  grid-template-areas: 
  'desc photo'
  'title title';
  grid-template-rows: 75vh 25vh;

  grid-template-columns: 30vw 70vw;

  .team-desc {
    margin-top: auto;
    align-self: flex-end;
    justify-self: flex-start;
    text-align: left;

    margin-bottom: 5vh;
    margin-left: 7vw;
  
    #team-desc-top {
      animation: desc-top-desktop 0.6s cubic-bezier(.28,.6,.3,.98) 0.5s forwards;
    }
  
    #team-desc-mid {
      width: 1vw;
      border-bottom: thin solid $light-3;
      animation: desc-mid-desktop 0.4s cubic-bezier(.28,.6,.3,.98) 1.8s forwards;
    }
    
    #team-desc-bot-1 {
      width: 15vw;
      animation: desc-bot-desktop 0.6s cubic-bezier(.28,.6,.3,.98) 1.2s forwards;

      margin-top: 2vh;
    }
    #team-desc-bot-2 {
      width: 15vw;
      animation: desc-bot-desktop 0.6s cubic-bezier(.28,.6,.3,.98) 1.4s forwards;

      margin-top: 2vh;
    }
  }

  .team-photo {
    height: 60vh;
    width: 60vw;
    justify-self: flex-start;
  }
}

.profile-section {
  padding: 0;
  margin-bottom: 10vh;
  justify-content: center;
  align-content: flex-start;
}

.team-profile {
  flex: 0 0 17vw;
  height: 17vw;
  width: 17vw;
  margin: 1vw;

  .indiv-overlay-2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    color: $light-1;
    font-family: $poppins;
    font-size: calc(8px + 0.2vw);
    letter-spacing: 1px;
    font-weight: 300;
    transition: opacity 0.2s ease-out;

    .indiv-nickname {
      margin-top: -1rem;
      margin-bottom: 1rem;
      span {
        font-style: italic;
        font-weight: 700;
        margin-right: 0.1rem;
      }
    }

    .indiv-desc {
      text-align: center;
    }
  }

  .indiv-name {
    align-self: flex-start;
    margin-left: 2rem;
    transition: opacity 0.2s ease-out;
  }
  
  .indiv-title {
    align-self: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-left: 2.5rem;
    .indiv-role {
      max-width: 65%;
      min-width: 0;
      transition: opacity 0.2s ease-out, min-width 0.2s ease-out, max-width 0.2s ease-out;
    }
  }

  &:hover {
    .indiv-photo {
      transform: scale(1.01);
      filter: blur(2px);
      -webkit-filter: blur(1px);
    }
    .indiv-overlay {
      opacity: 0;
    }
    .indiv-overlay-2 {
      opacity: 1;
    }
    .indiv-name {
      opacity: 0;
    }
    .indiv-title {
      .indiv-role {
        opacity: 0;
        min-width: calc(50% - 3.3rem - 6px - 0.2vmin);
        max-width: calc(50% - 3.3rem - 6px - 0.2vmin);
      }
    }
  }
}

.line-break {
  display: block;
  width: 100%;
}

#brydon .indiv-role {
  font-size: inherit;
}

@keyframes desc-top-desktop {
  0% {
    opacity: 0;
    margin-bottom: -10px;
  }
  100% {
    opacity: 1;
    margin-bottom: 0vw;
  }
}
@keyframes desc-mid-desktop {
  0% {
    opacity: 0;
    margin-left: 0px;
  }
  100% {
    opacity: 1;
    margin-left: 10px;
  }
}
@keyframes desc-bot-desktop {
  0% {
    opacity: 0;
    margin-left: -10px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

}

