@import "global/all";  

body {
  max-width: 100%;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

.landing-section {
  display: grid;
  grid-template-areas: 
  'photo'
  'desc'
  'title';
  grid-template-rows: 45vh 30vh 25vh;

  .team-desc {
    grid-area: desc;
    margin-top: 6vh;
    align-self: flex-start;
    justify-self: center;
    font-family: $montserrat;
    font-size: calc(10px + 0.2vmax);
    color: $dark-3;
    text-align: center;
  
    #team-desc-top {
      font-weight: 800;
      animation: desc-mob 0.4s cubic-bezier(.28,.6,.3,.98) 0.5s forwards;
      opacity: 0;
    }
  
    #team-desc-mid {
      margin-top: 2vh;
      color: $light-3;
      animation: desc-mid-mob 0.3s cubic-bezier(.28,.6,.3,.98) 1.8s forwards;
      opacity: 0;
    }
    
    #team-desc-bot-1 {
      width: 75vw;
      animation: desc-mob 0.4s cubic-bezier(.28,.6,.3,.98) 1.2s forwards;
      opacity: 0;
    }
    #team-desc-bot-2 {
      width: 75vw;
      animation: desc-mob 0.4s cubic-bezier(.28,.6,.3,.98) 1.4s forwards;
      opacity: 0;
    }
  }

  .team-photo {
    grid-area: photo;
    height: 30vh;
    width: 85vw;
    align-self: flex-end;
    justify-self: center;
    object-fit: cover;
    object-position: center;
  }
  
  .team-title {
    grid-area: title;
    align-self: flex-end;
    margin-left: 7vw;
    margin-bottom: 4vh;
    font-family: $montserrat;
    font-size: calc(18px + 4vmax);
    color: $dark-2;
    span {
      display: inline-block;
      margin-right: 3vmax;
    }
  }
}

.profile-section {
  position: relative;
  width: 100vw;
  display: grid;
  grid-template-columns: 35vw 35vw;
  justify-content: space-evenly;

  .team-profile {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 45vh;

    .indiv-photo {
      height: 35vh;
      width: 100%;
      object-fit: cover;
      transition: 0.3s ease-out;
      z-index: 100;
    }

    .indiv-name {
      align-self: center;
      margin-top: 10px;
      font-family: $montserrat;
      font-size: calc(12px + 1.8vmin);
      font-weight: 100;
      color: $dark-1;
      animation: name-anim-mob 0.5s cubic-bezier(.28,.6,.3,.98) forwards;
      white-space: nowrap;
      display: none;
    }

    .indiv-role {
      align-self: center;
      font-family: $poppins;
      font-size: calc(8px + 0.2vmin);
      font-weight: 800;
      letter-spacing: 4px;
      color: $dark-2;
      white-space: nowrap;
      animation: role-anim-mob 0.3s cubic-bezier(.28,.6,.3,.98) 0.4s forwards;
      display: none;
      opacity: 0;
    }

    .fab {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      font-size: calc(8px + 0.4vmin);
      color: $dark-2;
      animation: fab-anim-mob 0.4s cubic-bezier(.28,.6,.3,.98) 0.6s forwards;
      display: none;
      opacity: 0;

      &:hover {
        color: $highlight;
      }
    }
  }
}

.end-section {
  height: 10vh;
}

@keyframes desc-mob {
  0% {
    opacity: 0;
    margin-top: 0;
  }
  100% {
    opacity: 1;
    margin-top: 2vh;
  }
}

@keyframes desc-mid-mob {
  0% {
    opacity: 0;
    margin-left: -20px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

@keyframes name-anim-mob {
  0% { 
    margin-top: -10px;
    opacity: 0;
  }
  100% { 
    margin-top: 0; 
    opacity: 1;
  }
}

@keyframes role-anim-mob {
  0% { 
    margin-top: -10px;
    opacity: 0;
  }
  100% { 
    margin-top: 0; 
    opacity: 1;
  }
}

@keyframes fab-anim-mob {
  0% { 
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}

@media only screen and (min-width: 850px) {

.landing-section {
  grid-template-areas: 
  'desc photo'
  'title title';
  grid-template-rows: 75vh 25vh;

  grid-template-columns: 30vw 70vw;

  .team-desc {
    margin-top: auto;
    align-self: flex-end;
    justify-self: flex-start;
    text-align: left;

    margin-bottom: 5vh;
    margin-left: 7vw;
  
    #team-desc-top {
      animation: desc-top-desktop 0.6s cubic-bezier(.28,.6,.3,.98) 0.5s forwards;
    }
  
    #team-desc-mid {
      animation: desc-mid-desktop 0.4s cubic-bezier(.28,.6,.3,.98) 1.8s forwards;
    }
    
    #team-desc-bot-1 {
      width: 15vw;
      animation: desc-bot-desktop 0.6s cubic-bezier(.28,.6,.3,.98) 1.2s forwards;

      margin-top: 2vh;
    }
    #team-desc-bot-2 {
      width: 15vw;
      animation: desc-bot-desktop 0.6s cubic-bezier(.28,.6,.3,.98) 1.4s forwards;

      margin-top: 2vh;
    }
  }

  .team-photo {
    height: 60vh;
    width: 60vw;
    justify-self: flex-start;
  }
}

.profile-section {
  grid-template-columns: 20vw 20vw 20vw;

  .team-profile {
    height: 55vh;

    .indiv-photo {
      height: 45vh;
    }

    .indiv-name {
      align-self: flex-start;
      animation: name-anim-desktop 0.5s cubic-bezier(.28,.6,.3,.98) forwards;
    }

    .indiv-role {
      animation: role-anim-desktop 0.3s cubic-bezier(.28,.6,.3,.98) 0.3s forwards;

      position: absolute;
      left: 0;
      bottom: 10vh;
      transform: rotate(-90deg);
      transform-origin: bottom left;
    }

    .fab {
      right: auto;
      animation: fab-anim-desktop 0.3s cubic-bezier(.28,.6,.3,.98) 0.6s forwards;

      left: -23px;
    }
  }
}

.end-section {
  height: 20vh;
}

@keyframes desc-top-desktop {
  0% {
    opacity: 0;
    margin-bottom: -10px;
  }
  100% {
    opacity: 1;
    margin-bottom: 0vw;
  }
}

@keyframes desc-mid-desktop {
  0% {
    opacity: 0;
    margin-left: 0px;
  }
  100% {
    opacity: 1;
    margin-left: 20px;
  }
}

@keyframes desc-bot-desktop {
  0% {
    opacity: 0;
    margin-left: -10px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

@keyframes name-anim-desktop {
  0% { 
    margin-left: 0px;
    opacity: 0;
  }
  100% { 
    margin-left: 0.5vw; 
    opacity: 1;
  }
}

@keyframes role-anim-desktop {
  0% { 
    margin-left: 20px;
    opacity: 0;
  }
  100% { 
    margin-left: 0px; 
    opacity: 1;
  }
}

@keyframes fab-anim-desktop {
  0% { 
    top: -10px;
    opacity: 0;
  }
  100% { 
    top: 0px;
    opacity: 1;
  }
}

}

