@import "global";

.team-section{
    display: flex;
    flex-direction: column;
    padding: calc(#{$nav-height} - 40px + 10vh) 10vw 5rem 10vw;
    min-height: 650px;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.team-title{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 3rem;
    h1{
        font-size: 1.5rem;
        color: $darker;
    }
    .title-background-shape{
        position: absolute;
        top: -1.8rem;
        z-index: -1;
        img{
            width: 100%;
            max-width: 200px;
        }
    }
}

.team-grid{
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-member-container{
    min-width: 7em;
    max-width: 14em;
    width: 100%;
    min-height: 10em;
    padding: 1em;
}

.team-member-img{
    padding-bottom: 1em;
    position: relative;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 1.5rem;
    }
    .member-transition{
        position: absolute;
        top: 0;
        left: 0;
        height: 91.5%;
        opacity: 0;
        transition: ease opacity 0.4s;
        z-index: 1;
    }
    .member-transition:hover{
        opacity: 1;
    }
}

.member-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    .member-name{
        font-weight: 600;
        color: $darker;
    }
    .member-title{
        font-weight: 400;
        color: $dark;
        text-align: center;
    }
}

.bg-shape{
    position: absolute;
    top: 0;
    z-index: -1;
}

.bg-left-shape{
    left: -5%;
    width: 70%;
}

.bg-right-shape{
    right: -5%;
    top: 100%;
    width: 70%;
}

@media only screen and (min-width: 768px) {
    .team-section {
        padding-top: $nav-height + rem;
        height: auto;
        max-height: none;
        min-height: 600px;
    }

    .team-title{
        h1{
            font-size: 2rem;
        }
        .title-background-shape{
            position: absolute;
            top: -2.5rem;
            img{
                width: 100%;
                max-width: 400px;
            }
        }
    }

    .team-grid{
        width: 100%;
        max-width: 1100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .team-member-container{
        min-width: 10em;
        max-width: 15em;
        width: 100%;
        min-height: 10em;
        padding: 1em;
    }

    .bg-left-shape{
        left: -5%;
        width: 35%;
    }
    
    .bg-right-shape{
        right: -5%;
        top: 50%;
        width: 35%;
    }
}

@media only screen and (min-width: 1200px) {
    .team-section {
        min-height: 95vh;
    }

    .team-grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .team-member-container{
        min-width: 10em;
        max-width: 15em;
        width: 100%;
        min-height: 10em;
        padding: 1em;
    }
    
    .bg-left-shape{
        left: -5%;
        width: 30%;
    }
    
    .bg-right-shape{
        right: -5%;
        top: 10%;
        width: 30%;
    }
}