@import "global/all";

body{
  background: $light-1;
  max-width: 100%;
  overflow-x: hidden;
  font-family: $poppins;
}

.main-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: $top-bar-height;
}

iframe {
  width: 60%;
  border: none;
  padding-bottom: 5vh;
}

.temp-wrap {
  position: relative;
  min-height: 75vh;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 20vw;
    width: 60vw;
    height: 1px;
    background: $light-2;
  }
}
