@import "global/all";

body{
  background: $light-1;
  max-width: 100%;
  overflow-x: hidden;
  font-family: $poppins;
}

.main-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: $top-bar-height;
}

h1 {
  display: none;
}

.temp-wrap{
    #change-text{
        height: 2.5em;
    }
}

.temp-wrap{
    .subscribe-container{
        p {
            margin-bottom: 4em;
        }
    }
} 

.grad-btn{
    padding: 1em 2em;
    font-size: 0.9em;
}