/*
VARIABLES
*/
/*
MOBILE CSS
*/
.user-menu-untgl {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 3;
  opacity: 0;
}

.user-menu-btn {
  height: 5vmax;
  width: 5vmax;
  border-radius: 2.5vmax;
  background-color: gainsboro;
}

.user-menu {
  width: 100%;
  background-color: #dcdcff;
  opacity: 1;
  padding: 3vmax;
}

.user-menu-opts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
}

.user-menu-opt {
  padding: 3vmax;
}

.user-menu-opts-hide {
  height: 0;
}

/*
DESKTOP CSS
*/
@media only screen and (min-width: 850px) {
  .user-menu-untgl {
    -webkit-transform: translateY(-15.2vmax);
            transform: translateY(-15.2vmax);
  }
  .user-menu {
    height: 15vmax;
    width: 12vmax;
    top: 4.2vmax;
    right: 0.2vmax;
    padding: 1vmax;
    overflow: overlay;
    border-radius: 0.2vmax;
  }
  .user-menu-opt {
    font-size: 1.2vmax;
    padding: 0.8vmax;
    letter-spacing: 0.1vmax;
  }
}
