$clr-1: rgb(100, 100, 255);
$clr-2: rgb(240, 240, 255);
$clr-3: rgb(220, 220, 255);
$clr-4: rgb(220, 220, 220);
$clr-5: rgb(230, 230, 230);
$clr-6: rgb(120, 120, 120);
$nav-bar-hght: 8vmax;
$nav-bar-hght-dktp: 4vmax;
$transition-1: all 0.5s ease-out;
$fnt-1: Arial, Helvetica, sans-serif;

.user-menu-btn {
  height: 5vmax;
  width: 5vmax;
  border-radius: 2.5vmax;
  background-color: $clr-4;
}

.user-menu {
  background-color: $clr-3;
  opacity: 1;
  padding: 3vmax;
}

.user-menu-opts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
}

.user-menu-opt {
  padding: 3vmax;
}

.user-menu-opts-hide {
  height: 0;
}

@media only screen and (min-width: 850px) {
}
