@import "global/all_webapp";

body {
    background: $light-1;
    max-width: 100%;
    overflow-x: hidden;
    font-family: $poppins;
}

.main-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: $top-bar-height;
}

.textGroup{
    margin-bottom: 3em;
    h1{
        font-family: $poppins;
        font-size: calc(10px + 1vmax);
        font-weight: 700;
        color: $dark-2;
        letter-spacing: 0.05em;
        margin-bottom: 0.5em;
    }
    p{
        font-size: 0.8em;
        color: $light-3;
    }
}

.verif-wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#codeForm{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    input[type = text]{
        text-align: center;
        width: 1.5em;
        height: 2em;
        font-size: 2em;
        color: $dark-2;
        font-family: $montserrat;
        font-weight: 700;
        // padding: 1em;

        &:focus {
            outline: thin solid $logo-3;
        }
    }
}

.verifyClass {
    &.inputError{
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97);
        border: thin solid #FF3F0F;
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.btnGroup{
    margin: 2em;
    display: flex;
    .grad-btn{
        padding: 1em 4em;
        margin: 2em;
    }
    .reg-btn{
        padding: 1em 2em;
        margin: 2em;
    }
}

.loginLink{
    color: $dark-1;
    display: block;
    margin-top: 1.5em;
    transition: all ease 0.2s;
    &:hover{
        color: $light-3;
    }
    &.hide{
        display: none;
    }
}

