@import "global/all";

body {
  background: $light-1;
  max-width: 100%;
  overflow-x: hidden;
  font-family: $poppins;
}

.main-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: $top-bar-height;
}

.textGroup{
    margin-bottom: 3em;
    h1{
        font-family: $poppins;
        font-size: calc(10px + 1vmax);
        font-weight: 700;
        color: $dark-2;
        letter-spacing: 0.05em;
        margin-bottom: 0.5em;
    }
    p{
        font-size: 0.8em;
        color: $light-3;
    }
}

.verif-wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#codeForm{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    input[type = text]{
        text-align: center;
        width: 1.5em;
        height: 2em;
        font-size: 2em;
        color: $dark-2;
        font-family: $montserrat;
        font-weight: 700;
        // padding: 1em;
    }
}

.btnGroup{
    margin: 2em;
    display: flex;
    .grad-btn{
        padding: 1em 4em;
        margin: 2em;
    }
    .reg-btn{
        padding: 1em 2em;
        margin: 2em;
    }
}