#cookie-container{
    position: fixed;
    bottom: 7%;
    right: 4%;
    z-index: 9999;
    padding: 1.5em 2em;
    background-color: $light-1;
    max-width: 35em;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(89,80,215,0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(89,80,215,0.25);
    box-shadow: 0px 0px 10px 0px rgba(89,80,215,0.25);
    border-radius: 0.2em;
    display: flex;
    flex-wrap: wrap;
    p{
        font-family: $poppins;
        font-size: 0.8em;
        flex: 0 0 72%;
        margin-right: 3%;
        line-height: 150%;
    }
    .check-list-container{
        flex: 0 0 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .check-item{
        position: relative;
        label{
            align-self: right;
            font-family: $poppins;
            font-size: 0.8em;
            text-align: right;
        }
        input{
            // Hide browser default checkbox
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        .custcheckbox{
            position: absolute;
            top: 0;
            left: 0;
            height: 1.5em;
            width: 1.5em;
            border: thin solid $logo-3;
        }
        
    }
    .btn-group{
        margin-top: 1.5em;
        flex: 0 0 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    button{
        font-size: 0.8em;
        background-color: $light-1;
        border: thin solid $logo-3;
        padding: 0.5em 1em;
        width: 12em;
        color: $logo-3;
        cursor: pointer;
        border-radius: 0.2em;
    }
    #submit{
        background-color: $logo-3;
        color: $light-1;
    }
    &.hide {
        display: none;
    }
}