.footer-section {
  width: 100%;
  background-color: $dark-2;
  min-height: 10em;
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    .footer-legal-section {
        margin:auto;
        h4 {
          display: none;
        }
        .footer-legal-content {
          margin: 2em;
          flex:0 0 80%;
          display: flex;
          align-items: center;
        li {
          list-style-type: none;
          line-height: 180%;
          a {
            color:$light-1;
            font-family: $poppins;
            font-size: 0.8em;
            transition: color ease 0.2s;
            &:hover {
              color:$highlight;
            }
          }
        }

        .list-section-left,
        .list-section-desktop {
          padding-right:4vw;
          text-align: right;
        }

        .list-section-desktop {
          display: none;
        }

        .list-section-divider {
          width:1px;
          border-left: thin solid $light-1;
          height:4.5em;
        }

        .list-section-right {
          padding-left:4vw;
          text-align: left;
        }
      }
    }

    .footer-contact-section {
      display: none;
    }

    .footer-sitemap-section {
      display: none;
    }

    .footer-copyright-section {
      flex: 0 0 100%;
      padding-top: 0.8em;
      padding-bottom: 2em;
      h3 {
        font-family: $poppins;
        font-weight: 100;
        font-size: 0.8em;
        color: $light-1;
        text-align: center;
        letter-spacing: 0.1em;
      }
    }
  }
}

@media only screen and (min-width: 850px) and (orientation: landscape) {
  .footer-section {
    padding-top:3vw;
    h4 {
      display: inline-block;
      font-family: $poppins;
      font-weight: 100;
      color:$light-1;
      flex:0 0 100%;
      font-size: 1.2vh;
      color:$light-3;
      letter-spacing: 2px;
      font-weight: 800;
      padding-bottom: 4vh;
      height: 2vh;
    }
    .footer-content {
      display: flex;
      justify-content: center;

      .footer-legal-section {
        margin: 0;
        flex: 0 0 28%;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-self: flex-start;
        align-items: flex-start;
        h4 {
          display: flex;
          justify-content: flex-end;
          flex: 0 0 100%;
        }
        .footer-legal-content {
          margin: 0;
          flex: 0 0 100%;
          flex-wrap: wrap;
          align-items: flex-start;
          align-self: flex-start;
          text-align: right;
          
          .list-section-left,
          .list-section-desktop {
            padding: 0;
            width: 100%;
            ul {
              margin: 0;
            }
            li {
              list-style-type: none;
              line-height: 180%;
              margin-bottom: 0;
              a {
                font-size: 1.3vh;
                color: $light-2;
                transition: color ease 0.2s;
                &:hover {
                  color: $highlight;
                }
              }
            }
          }
          
          .list-section-desktop {
            display: block;
          }

          .list-section-divider,
          .list-section-right {
            display: none;
          }
        }
      }
      .footer-contact-section {
        display: flex;
        flex-wrap: wrap;
        flex:0 0 30%;
        text-align: center;
        justify-content: center;
        margin-right: 5vw;
        margin-left: 5vw;
        border-right: thin $dark-1 solid;
        border-left: thin $dark-1 solid;
        align-items: flex-start;
        align-self: flex-start;
        h4 {
          display: inline-block;
        }
        .footer-contact-content {
          flex: 0 0 100%;
          .contact-email {
            flex: 0 0 100%;
            padding-bottom: 1.5vh;
            padding-top: 0.5vh;
            a {
              color:$light-3;
              font-family: $poppins;
              font-size: 1.4vh;
              transition: color ease 0.2s;
              &:hover {
                color: $highlight;
              }
            }
          }
          .contact-socials {
            flex: 0 0 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            a {
              color:$light-2;
              font-size: 2vh;
              margin:1vw;
              transition: color ease 0.2s;
              &:hover {
                color: $highlight;
              }
            }
          }
          .btn-subscribe {
            margin: auto;
            padding-bottom: 2vh;
            #subscribe-btn {
              display: inline-block;
              color: $light-2;
              &:hover {
                color: $highlight;
              }
            }
          }
          .contact-legal {
            a {
              font-family: $poppins;
              font-size: 1vh;
              color: $light-3;
              margin: 0 1vw;

              &:hover {
                border-bottom: thin solid $light-3;
              }
            }
          }
        }
      }
      .footer-sitemap-section {
        flex: 0 0 28%;
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        align-items: flex-start;
        align-self: flex-start;
        h4 {
          display: inline-block;
        }
        .footer-sitemap-content {
          flex: 0 0 100%;
          min-height: 10vw;
          ul {
            margin: 0;
          }
          li {
            list-style-type: none;
            line-height: 180%;
            a {
              font-family: $poppins;
              color:$light-2;
              font-size: 1.3vh;
              transition: color ease 0.2s;
              &:hover {
                color: $highlight;
              }
            }
          }
        }
      }
  
      .footer-copyright-section {
        padding-top: 3vh;
        padding-bottom: 2vh;

        h3 {
          font-size: 1.1vh;
        }
      }
    }
  }
}