$top-bar-height: 60px;
$menu-width: 100vw;

nav {
  position: sticky;
  top: 0;
  height: 0px;
  z-index: 1000;

  .nav-top-bar {
    position: relative;
    display: grid;
    grid-template-columns: 30vw 40vw 30vw;
    align-items: flex-end;
    justify-items: center;
    height: #{$top-bar-height};
    width: 100vw;
    background: $light-1;
    z-index: 1001;
  
    .hamburger {
      cursor: pointer;
      margin-bottom: 10px;

      &:hover {
        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
          background: $hamburger-active-layer-color;
        }
      }
    }
  
    .nav-home-btn {  
      height: 30px;    
      margin-bottom: 10px;
  
      .nav-logo {
        height: 100%;
      }
    }
  
    .nav-in,
    .nav-mobile-out {
      display: none;
      cursor: pointer;
      position: relative;
      height: 25px;
      width: 25px;
      margin-bottom: 7.5px;
  
      #nav-user-in {
        box-sizing: content-box;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        transform: scaleX(1);
        opacity: 1;
        object-fit: cover;
        object-position: 50% 50%;
        transition: transform 0.15s ease-out, opacity 0.15s ease-out;
      }

      #nav-user-in{
        border: 2px solid transparent;
        &:hover {
          border-color: $highlight;
        }
      }

      #nav-user-out {
        box-sizing: content-box;
        position: absolute;
        bottom: 2.5px;
        left: 2.5px;
        height: 20px;
        width: 20px;
        transform: scaleX(1);
        opacity: 1;
        object-fit: cover;
        object-position: 50% 50%;
        transition: transform 0.15s ease-out, opacity 0.15s ease-out;
        background: $dark-3;
        &:hover {
          background: $highlight;
        }
      }

      .nav-user-x {
        box-sizing: content-box;
        position: absolute;
        bottom: 2.5px;
        left: 2.5px;
        width: 20px;
        height: 20px;
        transform: scaleX(0);
        padding: 0;
        transition: transform 0.15s ease-out, opacity 0.15s ease-out;
      }
    }

    .nav-user-active {
      #nav-user-in,
      #nav-user-out {
        transform: scaleX(0);
        opacity: 0;
      }
      .nav-user-x {
        transform: scaleX(1);
        opacity: 1;
      }
    }

    .nav-desktop-out {
      display: none;
    }
  }
  
  .nav-side-menus {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    margin-top: -$top-bar-height;
    width: 100vw;
    visibility: hidden;
  
    .nav-left-menu-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 0vw;
      overflow: hidden;
      transition: all 0.4s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  
      .nav-left-menu {
        height: 100vh;
        width: $menu-width;
        background: $light-1;
        display: grid;
        grid-template-rows: 90vh 10vh;
        margin-left: -5vw;
        transition: all 0.4s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  
        .nav-side-menu-links {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: $top-bar-height;
        }
      }  
    }
  
    .nav-left-menu-active {
      visibility: visible;
      width: $menu-width;
  
      .nav-left-menu {
        margin-left: 0;
      }
    }

    .nav-right-menu-in {
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      width: 0vw;
      overflow: hidden;
      transition: all 0.4s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  
      .nav-right-menu {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: $menu-width;
        background: $light-1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: -5vw;
        transition: all 0.4s cubic-bezier(0.21, 0.65, 0.44, 0.99);
      }  
    }
  
    .nav-right-menu-out {
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      width: 0vw;
      overflow: hidden;
      transition: all 0.4s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  
      .nav-right-menu {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        background: $light-1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: -5vw;
        transition: all 0.4s cubic-bezier(0.21, 0.65, 0.44, 0.99);
      }  
    }
  
    .nav-right-menu-active {
      visibility: visible;
      width: $menu-width;
  
      .nav-right-menu {
        margin-right: 0vw;
      }
    }
  
    .nav-side-header {
      font-family: $poppins;
      font-weight: 600;
      font-size: 2vw;
      letter-spacing: 0.5vw;
      color: $light-3;

      &:not(:first-child) {
        margin-top: 7vh;
      }
    }
  
    .nav-side-item {
      margin-top: 1.5vh;
      color: $dark-3;
      font-family: $poppins;
      font-size: 2.2vmax;
      font-weight: 400;
      letter-spacing: 0.2vw;
      transition: color 0.1s ease-out;
  
      &:hover {
        color: $highlight;
      }
    }

    .nav-side-signout {
      position: relative;
      margin-top: 8vh;
      color: red;
      font-family: $poppins;
      font-weight: 400;
      letter-spacing: 0.2vw;
      transition: color 0.1s ease-out;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        border-bottom: thin solid red;
        transition: width 0.2s ease-out;
      }

      &:hover:after {
        width: 100%;
      }
    }
  
    .nav-side-socials {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
      .fab {
        margin: 0 5vw;
        transition: color 0.1s ease-out;
        color: $dark-2;

        &:visited {
          color: $dark-2;
        }
        &:hover {
          color: $highlight;
        }
      }
    }

    #nav-dp {
      height: 20vh;
      width: 20vh;
      border-radius: 50%;
      margin: 8vh 0 5vh 0;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }
  
  .nav-darken-overlay {
    display: none;
  }
}

@media only screen and (min-width: 850px) {
  
  $top-bar-height: 80px;
  $menu-icon-size: 20px;
  $menu-icon-padding: 10px;
  $menu-width: 20vw;

nav {
  .nav-top-bar {
    grid-template-columns: 45vw 10vw 45vw;

    .hamburger {
      justify-self: flex-start;
      margin-bottom: 0;
      padding: $menu-icon-padding;
      margin-left: calc(50px + 1vw);
    }
  
    .nav-home-btn {  
      margin: 0 35.5vw;
      margin-bottom: $menu-icon-padding;
    }

    .nav-in {
      justify-self: flex-end;
      margin-right: calc(90px + 1vw);

      #nav-user-in,
      #nav-user-out {
        bottom: -3.25px;
        left: 0;
        height: 30px;
        width: 30px;
      }

      .nav-user-x {
        bottom: -6.25px;
        left: -2.5px;
        padding: 10px;
      }
    }

    .nav-desktop-out {
      justify-self: flex-end;
      margin-right: calc(75px + 1vw);
      display: none;
      margin-bottom: 15px;

      #nav-user-login {
        font-family: $poppins;
        font-size: calc(8px + 0.2vmax);
        font-weight: 400;
        letter-spacing: 0.1vmax;
        color: $dark-3;
        background: transparent;
        padding: 10px;
        margin: 0px 20px;

        &:hover {
          color: $highlight;
        }
      }

      #nav-user-signup {
        font-size: calc(8px + 0.2vmax);
        padding: 0.8em 2em;
        border-radius: 3px;
        letter-spacing: 0.1vmax;
      }
    }
  }
  
  .nav-side-menus {
    .nav-left-menu-wrap {
      .nav-left-menu {
        margin-left: -2vw;
        width: $menu-width;
        grid-template-rows: 80vh 20vh;
      }  
    }
    .nav-left-menu-active {
      width: $menu-width;
      .nav-left-menu {
        margin-left: 0;
      }
    }
  
    .nav-right-menu-in {
      .nav-right-menu {
        width: calc(#{$menu-width} + 15px);
        margin-right: -2vw;
        width: $menu-width;
      }  
    }
  
    .nav-right-menu-active {
      width: calc(#{$menu-width} + 15px);
      width: $menu-width;
  
      .nav-right-menu {
        margin-right: 0vw;
      }
    }
  
    .nav-side-header {
      font-size: calc(8px + 0.1vw);
      letter-spacing: 0.1vw;
      margin: 8vh 0 0.5vh 0;
    }
  
    .nav-side-item {
      margin-top: 0.5vh;
      padding: 0.75vh;
      font-size: calc(10px + 0.2vw);
      letter-spacing: 0.1vw;
    }

    .nav-item-outer {
      margin-top: 1.5vh;
      
      .nav-item-inner {
        font-size: calc(10px + 0.2vw);
        color: $dark-3;
        margin-right: 0.5vw;
        letter-spacing: 0.1vw;
        padding: 1vh;
      }
      
      .info {
        font-family: $montserrat;
        height: calc(10px + 0.2vw);
        width: calc(10px + 0.2vw);
        font-size: calc(10px + 0.1vw);
        background: $light-3;
        text-align: center;
      }
    }

    .nav-side-signout {
      margin-top: 10vh;
      font-size: calc(10px + 0.2vw);
      letter-spacing: 0.1vw;
      padding: 1vh;
    }
  
    .nav-side-socials {  
      .fab {
        margin: 0 0.2vw;
        padding: 5px;
      }
    }

    #nav-dp {
      margin: 5vh 0 0 0;
    }
  }
  
  .nav-darken-overlay {
    display: block;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: black;
    opacity: 0;
    transition: opacity 0.4s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  }
  .nav-darken-overlay-active {
    visibility: visible;
    opacity: 0.1;
  }
}

}