.nav-global-container {
  position: sticky;
  top: 0px;
  left: 0px;
  background: $light-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;

  .nav-top-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    height: 50px;
    width: 100vw;
    z-index: 1000;

    .hamburger {
      cursor: pointer;

      &:active {
        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
          background: $hamburger-active-layer-color;
        }
      }
    }

    .nav-logo {
      height: 30px;
      margin: 0 35vw;
    }

    .nav-user {
      height: 20px;
    }
  }

  .nav-side-menus {
    display: flex;
    flex-direction: row;
    align-items: center;

    .nav-left-menu-wrap {
      position: relative;
      left: 0;
      top: 0;
      width: 0vmax;
      overflow: hidden;
      z-index: 0;
      transition: all 0.6s cubic-bezier(0.21, 0.65, 0.44, 0.99);;

      .nav-left-menu {
        position: relative;
        height: calc(100vh - 50px);
        width: 100vw;
        background: $light-1;
        display: grid;
        grid-template-rows: 4fr 1fr;
        margin-left: -5vw;
        transition: all 0.6s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  
        .nav-side-menu-links {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
  
        .nav-side-header {
          font-family: $poppins;
          font-weight: 100;
          font-size: 2vw;
          letter-spacing: 0.5vw;
          color: $light-3;
        }
  
        .nav-side-item {
          margin-top: 2vh;
          color: $dark-3;
          font-family: $montserrat;
          font-weight: 100;
          letter-spacing: 0.1vw;
  
          &:active {
            color: $highlight;
          }
        }
  
        .nav-sep {
          width: 5vw;
          height: 1px;
          background: $light-3;
          margin: 6vh 0;
        }
  
        .nav-side-socials {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
  
          .fab {
            margin-left: 5vw;
            margin-right: 5vw;
            &:visited {
              color: $dark-1;
            }
            &:active {
              color: $highlight;
            }
          }
        }
      }  
    }

    .nav-left-menu-active {
      width: 100vw;
      z-index: 100;

      .nav-left-menu {
        margin-left: 0;
      }
    }
  }

  .nav-darken-overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: black;
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.21, 0.65, 0.44, 0.99);
    pointer-events: none;
  }
}