$top-bar-height: 60px;
$menu-width: 100vw;

.nav-container {
  position: sticky;
  top: 0;
  height: 0px;
  z-index: 1000;

  .nav-top-bar {
    position: relative;
    display: grid;
    grid-template-columns: 30vw 40vw 30vw;
    align-items: flex-end;
    justify-items: center;
    height: #{$top-bar-height};
    width: 100vw;
    background: $light-1;
    z-index: 1001;
  
    .hamburger {
      cursor: pointer;
      margin-bottom: 10px;

      &:hover {
        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
          background: $hamburger-active-layer-color;
        }
      }
    }
  
    .nav-home-btn {  
      height: 30px;    
      margin-bottom: 10px;
  
      .nav-logo {
        height: 100%;
      }
    }
  
    .nav-user-icon {
      display: none;
      cursor: pointer;
      position: relative;
      height: 20px;
      width: 20px;
      margin-bottom: 20px;

      .nav-user-hlt {
        box-sizing: content-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        opacity: 0;
        padding: 10px;
        z-index: 2;
        transition: transform 0.15s ease-out 0.15s;

        &:hover {
          opacity: 1;
        }

        &:hover ~ .nav-user-reg {
          opacity: 0;
        }
      }
  
      .nav-user-reg {
        box-sizing: content-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        transform: scaleX(1);
        opacity: 1;
        padding: 10px;
        transition: transform 0.15s ease-out 0.15s;
      }

      .nav-user-x {
        box-sizing: content-box;
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        transform: scaleX(0);
        padding: 10px;
        transition: all 0.15s ease-out;
      }
    }

    .nav-user-active {
      .nav-user-reg {
        transform: scaleX(0);
        opacity: 0;
      }
      .nav-user-hlt {
        transform: scaleX(0);
        opacity: 1;
        transition: all 0.15s ease-out;
      }
      .nav-user-x {
        transform: scaleX(1);
        transition: all 0.15s ease-out 0.15s;
      }
    }

    .nav-user-button {
      display: none;
    }
  }
  
  .nav-side-menus {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    margin-top: -$top-bar-height;
    width: 100vw;
    visibility: hidden;
  
    .nav-left-menu-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 0vw;
      overflow: hidden;
      transition: all 0.4s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  
      .nav-left-menu {
        height: 100vh;
        width: $menu-width;
        background: $light-1;
        display: grid;
        grid-template-rows: 85vh 15vh;
        margin-left: -5vw;
        transition: all 0.4s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  
        .nav-side-menu-links {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: $top-bar-height;
        }
      }  
    }
  
    .nav-left-menu-active {
      visibility: visible;
      width: $menu-width;
  
      .nav-left-menu {
        margin-left: 0;
  
        .nav-sep {
          width: 5vw;
          transition: 0.2s ease-out 0.3s;
        }
      }
    }

    .nav-right-menu-in {
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      width: 0vw;
      overflow: hidden;
      transition: all 0.4s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  
      .nav-right-menu {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: $menu-width;
        background: $light-1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: -5vw;
        transition: all 0.4s cubic-bezier(0.21, 0.65, 0.44, 0.99);
      }  
    }
  
    .nav-right-menu-out {
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      width: 0vw;
      overflow: hidden;
      transition: all 0.4s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  
      .nav-right-menu {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        background: $light-1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: -5vw;
        transition: all 0.4s cubic-bezier(0.21, 0.65, 0.44, 0.99);
      }  
    }
  
    .nav-right-menu-active {
      visibility: visible;
      width: $menu-width;
  
      .nav-right-menu {
        margin-right: 0vw;
  
        .nav-sep {
          width: 5vw;
          transition: 0.2s ease-out 0.3s;
        }
      }
    }
  
    .nav-side-header {
      font-family: $poppins;
      font-weight: 100;
      font-size: 2vw;
      letter-spacing: 0.5vw;
      color: $light-3;
    }
  
    .nav-side-item {
      margin-top: 3vh;
      color: $dark-3;
      font-family: $poppins;
      font-size: 2.5vmax;
      font-weight: 100;
      letter-spacing: 0.2vw;
      transition: color 0.1s ease-out;
  
      &:hover {
        color: $highlight;
      }
    }

    .nav-item-outer {
      margin-top: 3vh;
      font-family: $poppins;
      font-weight: 100;
      display: flex;
      align-items: center;
      
      .nav-item-inner {
        font-size: 2.5vmax;
        color: $dark-3;
        margin-right: 2vw;
        letter-spacing: 0.2vw;
        transition: color 0.1s ease-out;

        &:hover {
          color: $highlight;
        }
      }

      .info {
        height: 2vmax;
        width: 2vmax;
        border-radius: 50%;
        font-size: 1.5vmax;
        color: $light-1;
        background: $light-3;
        text-align: center;

        &:hover {
          background: $highlight;
        }
      }
    }

    .nav-side-signout {
      position: relative;
      margin-top: 10vh;
      color: red;
      font-family: $poppins;
      font-weight: 100;
      letter-spacing: 0.2vw;
      transition: color 0.1s ease-out;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        border-bottom: thin solid red;
        transition: width 0.2s ease-out;
      }

      &:hover:after {
        width: 100%;
      }
    }
  
    .nav-sep {
      width: 0vw;
      height: 1px;
      background: $light-3;
      margin: 6vh 0;
      transition: 0.2s ease-out;
    }
  
    .nav-side-socials {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
      .fab {
        margin-left: 5vw;
        margin-right: 5vw;
        transition: color 0.1s ease-out;

        &:visited {
          color: $dark-1;
        }
        &:hover {
          color: $highlight;
        }
      }
    }

    .nav-profile-pic {
      height: 20vh;
      width: 20vh;
      border-radius: 50%;
      margin: 10vh 0;
    }
  }
  
  .nav-darken-overlay {
    display: none;
  }
}

@media only screen and (min-width: 850px) {
  
  $top-bar-height: 80px;
  $menu-icon-size: 20px;
  $menu-icon-padding: 10px;
  $menu-width: 20vw;

.nav-container {
  .nav-top-bar {
    grid-template-columns: 45vw 10vw 45vw;

    .hamburger {
      justify-self: flex-start;
      margin-bottom: 0;
      padding: $menu-icon-padding;
      margin-left: calc(50px + 1vw);
    }
  
    .nav-home-btn {  
      margin: 0 35.5vw;
      margin-bottom: $menu-icon-padding;
    }

    .nav-user-button {
      justify-self: flex-end;
      margin-right: calc(75px + 1vw);
      display: none;
      margin-bottom: 15px;

      .nav-user-login {
        font-family: $poppins;
        font-size: calc(8px + 0.2vmax);
        font-weight: 100;
        letter-spacing: 0.1vmax;
        color: $dark-3;
        background: transparent;
        padding: 10px 10px;
        margin: 0px 30px;

        &:hover {
          color: $highlight;
        }
      }

      .nav-user-signup {
        transition: all ease 0.2s;
        font-family: $poppins;
        font-size: calc(8px + 0.2vmax);
        font-weight: 100;
        letter-spacing: 0.1vmax;
        color: $logo-2;
        padding: 5px 20px;
        border: thin solid $logo-2;
        background: transparent;
  
        &:hover {
          border: thin solid $light-1;
          color: $light-1;
          background: linear-gradient(60deg, $logo-1, $logo-3);
        }
      }
    }

    .nav-user-icon {
      justify-self: flex-end;
      margin-right: calc(75px + 1vw);
    }
  }
  
  .nav-side-menus {
    .nav-left-menu-wrap {
      .nav-left-menu {
        margin-left: -2vw;
        width: $menu-width;
        grid-template-rows: 75vh 25vh;
      }  
    }
    .nav-left-menu-active {
      width: $menu-width;
      .nav-left-menu {
        margin-left: 0;
      }
    }
  
    .nav-right-menu-in {
      .nav-right-menu {
        width: calc(#{$menu-width} + 15px);
        margin-right: -2vw;
        width: $menu-width;
      }  
    }
  
    .nav-right-menu-active {
      width: calc(#{$menu-width} + 15px);
      width: $menu-width;
  
      .nav-right-menu {
        margin-right: 0vw;
      }
    }
  
    .nav-side-header {
      font-size: calc(8px + 0.1vw);
      margin-top: 10vh;
      letter-spacing: 0.1vw;
    }
  
    .nav-side-item {
      margin-top: 1.5vh;
      padding: 1vh;
      font-size: calc(10px + 0.2vw);
      letter-spacing: 0.1vw;
    }

    .nav-item-outer {
      margin-top: 1.5vh;
      
      .nav-item-inner {
        font-size: calc(10px + 0.2vw);
        color: $dark-3;
        margin-right: 0.5vw;
        letter-spacing: 0.1vw;
        padding: 1vh;
      }
      
      .info {
        font-family: $montserrat;
        height: calc(10px + 0.2vw);
        width: calc(10px + 0.2vw);
        font-size: calc(10px + 0.1vw);
        background: $light-3;
        text-align: center;
      }
    }

    .nav-side-signout {
      font-size: calc(10px + 0.2vw);
      letter-spacing: 0.1vw;
      padding: 1vh;
    }
  
    .nav-sep {
      display: none;
    }
  
    .nav-side-socials {
      flex-direction: column;
  
      .fab {
        margin-left: 0;
        margin-right: 0;
        padding: 5px;
      }
    }

    .nav-profile-pic {
      margin-top: 5vh;
      margin-bottom: 0vh;
    }
  }
  
  .nav-darken-overlay {
    display: block;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: black;
    opacity: 0;
    transition: opacity 0.4s cubic-bezier(0.21, 0.65, 0.44, 0.99);
  }
  .nav-darken-overlay-active {
    visibility: visible;
    opacity: 0.1;
  }
}

}