#notification-wrap{
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $poppins;
    transition: height 0.2s ease-out;
    #cookie-container{
        transition: all ease 0.3s;
        padding: 1.5em 2em;
        background-color: $light-1;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(89,80,215,0.25);
        -moz-box-shadow: 0px 0px 10px 0px rgba(89,80,215,0.25);
        box-shadow: 0px 0px 10px 0px rgba(89,80,215,0.25);
        border-radius: 0.2em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .cookie-message-container{
            flex: 0 0 90%;
        }
        p{
            color: $logo-3;
            display: inline-block;
            flex: 0 0 100%;
            font-size: calc(8px + 0.8vmax);
            line-height: 150%;
        }
        .btn-group{
            flex: 0 0 90%;
            margin-top: 1.2em;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
        button{
            font-size: calc(8px + 0.5vmax);
            background-color: $light-1;
            border: thin solid $logo-3;
            padding: 1em;
            width: 12em;
            color: $logo-3;
            cursor: pointer;
            border-radius: 0.2em;
            letter-spacing: 0.1em;
        }
        #submit{
            background-color: $logo-3;
            color: $light-1;
            margin-left: 1.5em;
        }
        #cancel {
            position: relative;
            transition: border-color 0.2s ease-out, color 0.2s ease-out;
            &:after {
                content: '';
                width: 0;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                border-bottom: thin solid red;
            }
            
            &:hover {
                border-color: $light-1;
                color: red;
                &:after {
                    transition: width 0.2s ease-out;
                    width: 50%;
                }
            }
        }
        &.hide {
            display: none;
        }
    }
    //subscribe notification
    .subbed-notif,
    .project-notif {
        transition: all ease 0.3s;
        display: flex;
        justify-content: center;
        background-color: $light-1;
        padding: 2rem;
        width: 100%;
        margin-top: 3rem;
        font-size: 0.8em;
        color: $logo-3;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(89,80,215,0.25);
        -moz-box-shadow: 0px 0px 10px 0px rgba(89,80,215,0.25);
        box-shadow: 0px 0px 10px 0px rgba(89,80,215,0.25);
        border-radius: 0.2em;
        font-family: $poppins;
        .msg-wrap {
            flex: 0 0 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            i {
                font-size: 2em;
            }
            p {
                height: 1rem;
                line-height: 1rem;
            }
        }
    }
}


@media only screen and (min-width: 53em){
    #notification-wrap{
        // border: thin solid red;
        bottom: 7%;
        right: 4%;
        max-width: 29em;
        #cookie-container{
            .cookie-message-container{
                flex: 0 0 100%;
            }
            p{
                font-size: 0.8em;
                flex: 0 0 72%;
            }
            .btn-group{
                flex: 0 0 100%;
            }
            button{
                font-size: calc(6px + 0.2vmax);
                padding: 1em 0;
            }
            &.hide {
                display: none;
            }
        }
    }
}