//Mobile Styling
#notification-wrap{
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $poppins;
    transition: height 0.2s ease-out;
    #cookie-container{
        transition: all ease 0.3s;
        padding: 1.5em 2em;
        background-color: $light-1;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(89,80,215,0.25);
        -moz-box-shadow: 0px 0px 10px 0px rgba(89,80,215,0.25);
        box-shadow: 0px 0px 10px 0px rgba(89,80,215,0.25);
        border-radius: 0.2em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .cookie-message-container{
            flex: 0 0 90%;
        }
        p{
            color: $logo-3;
            display: inline-block;
            flex: 0 0 100%;
            font-size: calc(8px + 0.8vmax);
            line-height: 150%;
        }
        .btn-group{
            flex: 0 0 90%;
            margin-top: 1.2em;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
        button{
            font-size: calc(8px + 0.5vmax);
            background-color: $light-1;
            border: thin solid $logo-3;
            padding: 1em;
            width: 12em;
            color: $logo-3;
            cursor: pointer;
            border-radius: 0.2em;
            letter-spacing: 0.1em;
        }
        #submit{
            background-color: $logo-3;
            color: $light-1;
            margin-left: 1.5em;
        }
        #cancel {
            position: relative;
            transition: border-color 0.2s ease-out, color 0.2s ease-out;
            &:after {
                content: '';
                width: 0;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                border-bottom: thin solid red;
            }
            
            &:hover {
                border-color: $light-1;
                color: red;
                &:after {
                    transition: width 0.2s ease-out;
                    width: 50%;
                }
            }
        }
        &.hide {
            display: none;
        }
    }
}
#mobile-notif-wrap{
    margin-top: 64px;
    // border: thin solid red;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 990;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $poppins;
    transition: height 0.2s ease-out;
}

//subscribe notification
.subbed-notif, .alreadysubbed-notif, .project-notif{
    transition: all ease 0.3s;
    display: flex;
    justify-content: center;
    background-color: $light-1;
    padding: 2rem;
    width: 100%;
    margin-bottom: 2rem;
    font-size: 0.8em;
    color: $logo-3;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(89,80,215,0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(89,80,215,0.25);
    box-shadow: 0px 0px 10px 0px rgba(89,80,215,0.25);
    border-radius: 0.2em;
    // transform: translateX(300%);
    // -webkit-transform: translateX(300%);
    .msg-wrap{
        align-items: flex-start;
        display: flex;
        text-align: center;
        i{
            margin-right: 1em;
        }
        .far, .fas{
            font-size: 1.5em;
        }
        .fab{
            font-size: 1.5em;
        }
        p{
            height: 1.2rem;
            line-height: 1.2rem;
        }
    }
}


//Tablet & larger styling
@media only screen and (min-width: 53em){
    #mobile-notif-wrap{
        display: none;
    }
    #notification-wrap{
        // border: thin solid red;
        bottom: 7%;
        right: 4%;
        max-width: 29em;
        #cookie-container{
            .cookie-message-container{
                flex: 0 0 100%;
            }
            p{
                font-size: 0.8em;
                flex: 0 0 72%;
            }
            .btn-group{
                flex: 0 0 100%;
            }
            button{
                font-size: calc(6px + 0.2vmax);
                padding: 1em 0;
            }
            &.hide {
                display: none;
            }
        }
        //subscribe notification
        .subbed-notif, .alreadysubbed-notif, .project-notif{
            transition: all ease 0.3s;
            display: flex;
            justify-content: center;
            background-color: $light-1;
            padding: 2rem;
            width: 100%;
            margin-top: 3rem;
            margin-bottom: 0;
            font-size: 0.8em;
            color: $logo-3;
            -webkit-box-shadow: 0px 0px 10px 0px rgba(89,80,215,0.25);
            -moz-box-shadow: 0px 0px 10px 0px rgba(89,80,215,0.25);
            box-shadow: 0px 0px 10px 0px rgba(89,80,215,0.25);
            border-radius: 0.2em;
            transform: translateX(300%);
            -webkit-transform: translateX(300%);
            .msg-wrap{
                align-items: flex-start;
                display: flex;
                text-align: center;
                i{
                    margin-right: 1em;
                }
                .far, .fas{
                    font-size: 1.5em;
                }
                .fab{
                    font-size: 1.5em;
                }
                p{
                    height: 1.2rem;
                    line-height: 1.2rem;
                }
            }
            &.slide-in {
                animation: slide-in 0.5s;
                animation-fill-mode: forwards;
                -webkit-animation: slide-in 0.5s forwards;
            }
            
            @keyframes slide-in {
                0% { transform: translateX(300%); }
                100% { transform: translateX(0%); }
            }
            
            @-webkit-keyframes slide-in {
                0% { -webkit-transform: translateX(300%); }
                100% { -webkit-transform: translateX(0%); }
            }            
        }
    }
}