/*=========================================================================================
TEMPORARY
=========================================================================================*/

$logo-1: rgb(130, 88, 220);
$light-1: rgb(255, 255, 255);

.load-1 {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.load-1 div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid $logo-1;
  border-radius: 50%;
  animation: load-1 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $logo-1 transparent transparent transparent;
}
.load-1 div:nth-child(1) {
  animation-delay: -0.45s;
}
.load-1 div:nth-child(2) {
  animation-delay: -0.3s;
}
.load-1 div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes load-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load-2 {
  display: inline-block;
  position: relative;
  width: 3.6vmax;
  height: 3.6vmax;
}
.load-2 div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 2.4vmax;
  height: 2.4vmax;
  margin: 0.5vmax;
  border: 0.5vmax solid $light-1;
  border-radius: 50%;
  animation: load-2 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $light-1 transparent transparent transparent;
}
.load-2 div:nth-child(1) {
  animation-delay: -0.45s;
}
.load-2 div:nth-child(2) {
  animation-delay: -0.3s;
}
.load-2 div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes load-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 4;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 3.6vmax;
  height: 3.6vmax;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

@media only screen and (min-width: 850px) {
  .load-2 {
    width: 1.6vmax;
    height: 1.6vmax;
  }
  .load-2 div {
    width: 1.2vmax;
    height: 1.2vmax;
    margin: 0.25vmax;
    border: 0.25vmax solid $light-1;
    border-color: $light-1 transparent transparent transparent;
  }

  .checkmark {
    width: 1.6vmax;
    height: 1.6vmax;
  }
}

/*=========================================================================================
END
=========================================================================================*/
