/*============================================
VARIABLES
============================================*/

$clr-1: rgb(100, 100, 255);
$clr-2: rgb(240, 240, 255);
$clr-3: rgb(220, 220, 255);
$clr-4: rgb(220, 220, 220);
$clr-5: rgb(230, 230, 230);
$clr-6: rgb(120, 120, 120);
$nav-bar-hght: 8vmax;
$nav-bar-hght-dktp: 4vmax;
$transition-1: all 0.5s ease-out;
$fnt-1: Arial, Helvetica, sans-serif;

/*============================================
MOBILE CSS
============================================*/

.srvs {
  z-index: 3;
  opacity: 0;
}

/*============================================
DESKTOP CSS
============================================*/

@media only screen and (min-width: 850px) {
  .srvs {
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.2vmax;
    top: 4.2vmax;
    right: 13.5vmax;
    height: 10vmax;
    width: 10vmax;
    background-color: $clr-3;
    z-index: 4;
    opacity: 1;
  }

  .srvs-untgl {
    transform: translateY(-20.2vmax);
    z-index: 3;
    opacity: 0;
  }

  .srv {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .srv-icn {
    margin: 1vmax;
  }
}
