<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Index | Creaft</title>
    <!-------------------------------------------------------------------------------------
    DEFAULT CSS
    -------------------------------------------------------------------------------------->
    <link rel="stylesheet" href="stylesheets/global.css" />
    <link rel="stylesheet" href="stylesheets/navigation.css" />
    <link rel="stylesheet" href="stylesheets/sideBar.css" />
    <link rel="stylesheet" href="stylesheets/notification.css" />
    <link rel="stylesheet" href="stylesheets/message.css" />
    <link rel="stylesheet" href="stylesheets/menu.css" />
    <link rel="stylesheet" href="stylesheets/userMenu.css" />
    <link rel="stylesheet" href="stylesheets/services.css" />
    <link rel="stylesheet" href="stylesheets/loading.css" />
    <!-------------------------------------------------------------------------------------
    DEFAULT JAVASCRIPT
    -------------------------------------------------------------------------------------->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="javascripts/index.js"></script>
    <script src="javascripts/notification.js"></script>
    <script src="javascripts/moment.js"></script>
    <!-------------------------------------------------------------------------------------
    CUSTOM CSS AND JAVASCRIPT
    -------------------------------------------------------------------------------------->
    <link rel="stylesheet" href="stylesheets/checkout.css" />
    <script src="javascripts/checkout.js"></script>
  </head>

  <body onload="indexInit(); checkoutInit();">
    <!------------------------------
    Header Navigation Bar (Default)
    ------------------------------->
    <!--Mobile-->
    <nav class="nav-bar nav-bar-top bgd-clr-1 nav-bar-mbl">
      <div class="menu-btn">
        <div class="menu-dash menu-dash-1"></div>
        <div class="menu-dash menu-dash-2"></div>
        <div class="menu-dash menu-dash-3"></div>
      </div>
      <div class="logo"></div>
      <div class="user-menu-btn"></div>
    </nav>
    <!--Desktop-->
    <nav class="nav-bar nav-bar-top bgd-clr-1 nav-bar-dktp">
      <div class="menu-btn menu-btn-dktp">
        <div class="menu-dash menu-dash-1 menu-dash-1-dktp"></div>
        <div class="menu-dash menu-dash-2 menu-dash-2-dktp"></div>
        <div class="menu-dash menu-dash-3 menu-dash-3-dktp"></div>
      </div>
      <div class="logo"></div>
      <div class="nav-cntt">
        <!--LOGGED IN-->
        <div id="nav-btns-log-in-dktp" class="nav-btns-dktp nav-btns-dktp-hide">
          <div class="nav-btn-log-in-dktp icn-1 srvs-btn-dktp"></div>
          <div class="nav-btn-log-in-dktp icn-1 msg-btn-dktp"></div>
          <div class="nav-btn-log-in-dktp icn-1 ntf-btn-dktp"></div>
          <div class="nav-btn-log-in-dktp icn-1 user-menu-btn-dktp"></div>
        </div>
        <!--LOGGED OUT-->
        <div id="nav-btns-log-out-dktp" class="nav-btns-dktp">
          <a
            id="nav-btn-login"
            class="rmv-link-css hdng-2 txt-clr-3 nav-btn-log-out-dktp"
            href="/login"
            >Login</a
          >
          <a
            id="nav-btn-signup"
            class="rmv-link-css hdng-2 txt-clr-3 nav-btn-log-out-dktp"
            href="/signup"
            >Signup</a
          >
        </div>
      </div>
    </nav>
    <div class="content">
      <!------------------------------
      Menu (Type: Default)
      ------------------------------->
      <div class="sd-bar menu menu-untgl menu-dktp sd-bar-nav-bar-hide">
        <!--SERVICES MENU GROUP-->
        <div class="menu-grp">
          <header class="menu-grp-hdr">
            <div class="menu-grp-hdr-bar"></div>
            <h3 class="menu-grp-hdng hdng-2 txt-clr-1">Services</h3>
          </header>
          <div class="menu-opts">
            <a class="rmv-link-css menu-opt" href="/services/3d-printing">
              <div class="icn-1"></div>
              <p class="menu-opt-txt txt-3 txt-clr-1">3D Printing</p>
            </a>
            <a class="rmv-link-css menu-opt" href="/services/marketplace">
              <div class="icn-1"></div>
              <p class="menu-opt-txt txt-3 txt-clr-1">Marketplace</p>
            </a>
          </div>
        </div>
        <!--CREAFT MENU GROUP-->
        <div class="menu-grp">
          <header class="menu-grp-hdr">
            <div class="menu-grp-hdr-bar"></div>
            <h3 class="menu-grp-hdng hdng-2 txt-clr-1">Creaft</h3>
          </header>
          <div class="menu-opts">
            <a class="rmv-link-css menu-opt" href="/company/our-story">
              <div class="icn-1"></div>
              <p class="menu-opt-txt txt-3 txt-clr-1">Our Story</p>
            </a>
            <a class="rmv-link-css menu-opt" href="/company/our-team">
              <div class="icn-1"></div>
              <p class="menu-opt-txt txt-3 txt-clr-1">Our Team</p>
            </a>
          </div>
        </div>
      </div>

      <!--=================================================================================
      PAGE (Type: Dynamic)
      CHECKOUT PAGE
      ==================================================================================-->

      <div class="page" id="checkout-pg">
        <!---------------------------------------------------------------------------------
        SUMMARY PAGE (DESKTOP ONLY)
        ---------------------------------------------------------------------------------->

        <div class="checkout-sub-pg" id="checkout-sub-pg-0"></div>

        <!---------------------------------------------------------------------------------
        CART PAGE
        ---------------------------------------------------------------------------------->

        <div class="checkout-sub-pg" id="checkout-sub-pg-1">
          <h2
            class="checkout-sub-hdng rmv-h-css hdng-2 txt-clr-blk-2"
            id="checkout-cart-hdng"
          >
            Cart
          </h2>

          <div class="checkout-sub-sub-pgs">
            <!-----------------------------------------------------------------------------
            3D PRINTING CART
            ------------------------------------------------------------------------------>

            <div class="checkout-sub-sub-pg" id="cart-sub-pg-prnt">
              <h3 class="checkout-sub-sub-hdng rmv-h-css hdng-1 txt-clr-blk-3">
                3D Printing
              </h3>
              <div class="checkout-cart-cnts" id="checkout-prnt-cnts">
                <div class="checkout-prnt-cnt">
                  <div class="checkout-prnt-cnt-cntn-1">
                    <div class="checkout-prnt-cnt-img bgd-clr-wht-2"></div>
                  </div>
                  <div class="checkout-prnt-cnt-cntn-2">
                    <div
                      class="checkout-prnt-cnt-file-name sbtl-1 txt-clr-blk-2"
                    >
                      file name
                    </div>
                    <div
                      class="checkout-prnt-cnt-bld-type sbtl-1 txt-clr-blk-2"
                    >
                      build type
                    </div>
                    <div class="checkout-prnt-cnt-clr sbtl-1 txt-clr-blk-2">
                      colour
                    </div>
                    <div class="checkout-prnt-cnt-qnty-cntn">
                      <label
                        class="checkout-prnt-cnt-qnty-lbl sbtl-1 txt-clr-blk-2"
                        >Quantity:</label
                      >
                      <input
                        type="number"
                        name="quantity"
                        class="checkout-prnt-cnt-qnty inp-txt-2 sbtl-1 txt-clr-blk-2"
                      />
                    </div>
                  </div>
                  <div class="checkout-prnt-cnt-cntn-3">
                    <div class="checkout-prnt-cnt-cncl"></div>
                    <div class="checkout-prnt-cnt-prc sbtl-1 txt-clr-blk-2">
                      $X,XXX.XX
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-----------------------------------------------------------------------------
            MARKETPLACE CART
            ------------------------------------------------------------------------------>

            <div class="checkout-sub-sub-pg" id="cart-sub-pg-mkpl">
              <h3 class="checkout-sub-sub-hdng rmv-h-css hdng-1 txt-clr-blk-3">
                Marketplace
              </h3>
              <div class="checkout-cart-cnts" id="checkout-mkpl-cnts">
                <div class="checkout-mkpl-cnt">
                  <div class="checkout-mkpl-cnt-cntn-1">
                    <div class="checkout-mkpl-cnt-img bgd-clr-wht-2"></div>
                  </div>
                  <div class="checkout-mkpl-cnt-cntn-2">
                    <div
                      class="checkout-mkpl-cnt-item-name sbtl-1 txt-clr-blk-2"
                    >
                      item name
                    </div>
                    <div class="checkout-mkpl-cnt-shop sbtl-1 txt-clr-blk-2">
                      shop name
                    </div>
                    <div class="checkout-mkpl-cnt-qnty-cntn">
                      <label
                        class="checkout-mkpl-cnt-qnty-lbl sbtl-1 txt-clr-blk-2"
                        >Quantity:</label
                      >
                      <input
                        type="number"
                        name="quantity"
                        class="checkout-mkpl-cnt-qnty inp-txt-2 sbtl-1 txt-clr-blk-2"
                      />
                    </div>
                  </div>
                  <div class="checkout-mkpl-cnt-cntn-3">
                    <div class="checkout-mkpl-cnt-cncl"></div>
                    <div class="checkout-mkpl-cnt-prc sbtl-1 txt-clr-blk-2">
                      $X,XXX.XX
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-----------------------------------------------------------------------------
            DISCOUNT
            ------------------------------------------------------------------------------>

            <div class="checkout-sub-sub-pg" id="cart-sub-pg-dsct">
              <h3 class="checkout-sub-sub-hdng rmv-h-css hdng-1 txt-clr-blk-3">
                Discount
              </h3>
              <div class="checkout-dsct-inp-cntn">
                <input
                  type="text"
                  name="discount"
                  class="checkout-dsct-inp inp-txt-1 txt-1 txt-clr-blk-2"
                  placeholder="Discount Code ..."
                />
                <button
                  class="checkout-dsct-inp-btn rmv-btn-css btn-1 bgd-clr-vlt-3 txt-clr-wht-1 txt-1"
                >
                  Add
                </button>
                <div class="checkout-dsct-inp-err sbtl-1">Error</div>
              </div>
              <div id="checkout-dsct-list-cntn">
                <div class="checkout-dsct sbtl-2 txt-clr-blk-3">Discount 1</div>
                <div class="checkout-dsct sbtl-2 txt-clr-blk-3">Discount 2</div>
              </div>
            </div>

            <!-----------------------------------------------------------------------------
            MANUFACTURING SPEED
            ------------------------------------------------------------------------------>

            <div class="checkout-sub-sub-pg" id="cart-sub-pg-mnft-spd">
              <h3 class="checkout-sub-sub-hdng rmv-h-css hdng-1 txt-clr-blk-3">
                Manufacturing Speed
              </h3>
              <div class="checkout-mnft-spd-opts">
                <div class="checkout-mnft-spd-opt">
                  <input
                    type="radio"
                    name="manufacturingSpeed"
                    class="checkout-mnft-spd-opt-inp inp-rad-1"
                    id="checkout-mnft-spd-opt-nrml"
                    checked
                  />
                  <label
                    for="checkout-mnft-spd-opt-nrml"
                    class="checkout-mnft-spd-opt-lbl txt-1 txt-clr-blk-2"
                    >Normal<br />(1-3 days)</label
                  >
                </div>
                <div class="checkout-mnft-spd-opt">
                  <input
                    type="radio"
                    name="manufacturingSpeed"
                    class="checkout-mnft-spd-opt-inp inp-rad-1"
                    id="checkout-mnft-spd-opt-urgt"
                  />
                  <label
                    for="checkout-mnft-spd-opt-urgt"
                    class="checkout-mnft-spd-opt-lbl txt-1 txt-clr-blk-2"
                    >Urgent<br />(1 day)</label
                  >
                </div>
              </div>
            </div>

            <!-----------------------------------------------------------------------------
            PRE-SHIPPING TOTAL
            ------------------------------------------------------------------------------>

            <div class="checkout-sub-sub-pg" id="cart-sub-pg-prc">
              <h3 class="checkout-sub-sub-hdng rmv-h-css hdng-1 txt-clr-blk-3">
                Pre-Shipping Total
              </h3>
              <div class="checkout-cart-prcs">
                <div class="checkout-cart-prc-cntn">
                  <p
                    class="checkout-cart-prc-lbl rmv-p-css sbtl-2 txt-clr-blk-3"
                  >
                    Subtotal
                  </p>
                  <p class="checkout-cart-prc rmv-p-css sbtl-2 txt-clr-blk-2">
                    XXX.XX
                  </p>
                </div>
                <div class="checkout-cart-prc-cntn">
                  <p
                    class="checkout-cart-prc-lbl rmv-p-css sbtl-2 txt-clr-blk-3"
                  >
                    Discount (XX.XX%)
                  </p>
                  <p class="checkout-cart-prc rmv-p-css sbtl-2 txt-clr-blk-2">
                    -XX.XX
                  </p>
                </div>
                <div class="checkout-cart-prc-cntn">
                  <p
                    class="checkout-cart-prc-lbl rmv-p-css sbtl-2 txt-clr-blk-3"
                  >
                    Manufacturing (XX.XX%)
                  </p>
                  <p class="checkout-cart-prc rmv-p-css sbtl-2 txt-clr-blk-2">
                    XX.XX
                  </p>
                </div>
                <div class="checkout-cart-prc-cntn">
                  <p
                    class="checkout-cart-prc-lbl rmv-p-css hdng-1 txt-clr-blk-2"
                  >
                    TOTAL
                  </p>
                  <p class="checkout-cart-prc rmv-p-css hdng-1 txt-clr-blk-1">
                    X,XXX.XX
                  </p>
                </div>
              </div>
            </div>

            <!-----------------------------------------------------------------------------
            CONTINUE BUTTON
            ------------------------------------------------------------------------------>

            <div class="checkout-cart-btns">
              <div
                class="checkout-cart-btn btn-1 bgd-clr-vlt-3 txt-1 txt-clr-wht-1"
              >
                Exit
              </div>
              <div
                class="checkout-cart-btn btn-1 bgd-clr-vlt-3 txt-1 txt-clr-wht-1"
              >
                Next
              </div>
            </div>
          </div>
        </div>

        <!---------------------------------------------------------------------------------
        SHIPPING PAGE
        ---------------------------------------------------------------------------------->

        <div class="checkout-sub-pg" id="checkout-sub-pg-2">
          <h2
            class="checkout-sub-hdng rmv-h-css hdng-2 txt-clr-blk-2"
            id="checkout-shpg-hdng"
          >
            Shipping
          </h2>

          <div class="checkout-sub-sub-pgs">
            <!-----------------------------------------------------------------------------
            SHIPPING ADDRESS
            ------------------------------------------------------------------------------>

            <div class="checkout-sub-sub-pg">
              <h3 class="checkout-sub-sub-hdng rmv-h-css hdng-1 txt-clr-blk-3">
                Shipping Address
              </h3>
              <div class="checkout-shpg-adrs-inp-cntn">
                <input
                  type="radio"
                  name="address"
                  class="checkout-shpg-adrs-inp"
                  id="checkout-shpg-adrs-svd-inp"
                  checked
                />
                <label
                  for="checkout-shpg-adrs-svd-inp"
                  class="checkout-shpg-adrs-svd-inp-lbl txt-1 txt-clr-blk-2"
                  >Saved Address</label
                >
              </div>
              <div
                class="checkout-shpg-adrs-cntn"
                id="checkout-shpg-adrs-cntn-svd"
              >
                <div class="checkout-shpg-adrs-svd-line sbtl-2 txt-clr-blk-3">
                  7/11
                </div>
                <div class="checkout-shpg-adrs-svd-line sbtl-2 txt-clr-blk-3">
                  45B Aranui Road
                </div>
                <div class="checkout-shpg-adrs-svd-line sbtl-2 txt-clr-blk-3">
                  Panmure
                </div>
                <div class="checkout-shpg-adrs-svd-line sbtl-2 txt-clr-blk-3">
                  Auckland, 1020
                </div>
                <div class="checkout-shpg-adrs-svd-line sbtl-2 txt-clr-blk-3">
                  New Zealand
                </div>
              </div>
              <div class="checkout-shpg-adrs-inp-cntn">
                <input
                  type="radio"
                  name="address"
                  class="checkout-shpg-adrs-inp"
                  id="checkout-shpg-adrs-new-inp"
                />
                <label
                  for="checkout-shpg-adrs-new-inp"
                  class="checkout-shpg-adrs-svd-inp-lbl txt-1 txt-clr-blk-2"
                  >New Address</label
                >
              </div>
              <div
                class="checkout-shpg-adrs-cntn"
                id="checkout-shpg-adrs-cntn-new"
              >
                <label
                  for="checkout-shpg-adrs-new-unit"
                  class="checkout-shpg-adrs-new-lbl sbtl-1 txt-clr-blk-3"
                  id="checkout-shpg-adrs-new-unit-lbl"
                  >Unit (optional)</label
                >
                <label
                  for="checkout-shpg-adrs-new-st-num"
                  class=" checkout-shpg-adrs-new-lbl sbtl-1 txt-clr-blk-3"
                  id="checkout-shpg-adrs-new-st-num-lbl"
                  >Street No.</label
                >
                <input
                  type="text"
                  name="unit"
                  class="checkout-shpg-adrs-new-inp inp-txt-1 txt-1 txt-clr-blk-2"
                  id="checkout-shpg-adrs-new-unit"
                  placeholder="Unit (optional)"
                />
                <input
                  type="text"
                  name="streetNumber"
                  class="checkout-shpg-adrs-new-inp inp-txt-1 txt-1 txt-clr-blk-2"
                  id="checkout-shpg-adrs-new-st-num"
                  placeholder="Street No."
                />
                <label
                  for="checkout-shpg-adrs-new-st-name"
                  class="checkout-shpg-adrs-new-lbl sbtl-1 txt-clr-blk-3"
                  id="checkout-shpg-adrs-new-st-name-lbl"
                  >Street Name</label
                >
                <input
                  type="text"
                  name="streetName"
                  class="checkout-shpg-adrs-new-inp inp-txt-1 txt-1 txt-clr-blk-2"
                  id="checkout-shpg-adrs-new-st-name"
                  placeholder="Street Name"
                />
                <label
                  for="checkout-shpg-adrs-new-sbrb"
                  class="checkout-shpg-adrs-new-lbl sbtl-1 txt-clr-blk-3"
                  id="checkout-shpg-adrs-new-sbrb-lbl"
                  >Suburb</label
                >
                <input
                  type="text"
                  name="suburb"
                  class="checkout-shpg-adrs-new-inp inp-txt-1 txt-1 txt-clr-blk-2"
                  id="checkout-shpg-adrs-new-sbrb"
                  placeholder="Suburb"
                />
                <label
                  for="checkout-shpg-adrs-new-cty"
                  class="checkout-shpg-adrs-new-lbl sbtl-1 txt-clr-blk-3"
                  id="checkout-shpg-adrs-new-cty-lbl"
                  >City</label
                >
                <input
                  type="text"
                  name="city"
                  class="checkout-shpg-adrs-new-inp inp-txt-1 txt-1 txt-clr-blk-2"
                  id="checkout-shpg-adrs-new-cty"
                  placeholder="City"
                />
                <label
                  for="checkout-shpg-adrs-new-zp-cd"
                  class="checkout-shpg-adrs-new-lbl sbtl-1 txt-clr-blk-3"
                  id="checkout-shpg-adrs-new-zp-cd-lbl"
                  >Zip Code</label
                >
                <input
                  type="text"
                  name="zipCode"
                  class="checkout-shpg-adrs-new-inp inp-txt-1 txt-1 txt-clr-blk-2"
                  id="checkout-shpg-adrs-new-zp-cd"
                  placeholder="Zip Code"
                />
                <label
                  for="checkout-shpg-adrs-new-cnty"
                  class="checkout-shpg-adrs-new-lbl sbtl-1 txt-clr-blk-3"
                  id="checkout-shpg-adrs-new-cnty-lbl"
                  >Country</label
                >
                <input
                  type="text"
                  name="streetName"
                  class="checkout-shpg-adrs-new-inp inp-txt-1 txt-1 txt-clr-blk-2"
                  id="checkout-shpg-adrs-new-cnty"
                  placeholder="Country"
                />
              </div>
            </div>

            <!-----------------------------------------------------------------------------
            SHIPPING METHOD
            ------------------------------------------------------------------------------>

            <div class="checkout-sub-sub-pg">
              <h3 class="checkout-sub-sub-hdng rmv-h-css hdng-1 txt-clr-blk-3">
                Shipping Method
              </h3>
              <div class="checkout-shpg-mthd-cntn">
                <input
                  type="radio"
                  name="shippingMethod"
                  class="checkout-shpg-mthd-inp"
                  id="checkout-shpg-mthd-inp-pckp"
                />
                <label
                  for="checkout-shpg-mthd-inp-pckp"
                  class="checkout-shpg-mthd-inp-lbl txt-1 txt-clr-blk-2"
                  >Pickup (Free)</label
                >
              </div>
              <div class="checkout-shpg-mthd-cntn">
                <input
                  type="radio"
                  name="shippingMethod"
                  class="checkout-shpg-mthd-inp"
                  id="checkout-shpg-mthd-inp-trck"
                />
                <label
                  for="checkout-shpg-mthd-inp-trck"
                  class="checkout-shpg-mthd-inp-lbl txt-1 txt-clr-blk-2"
                  >Tracked ($X.XX and X days)</label
                >
              </div>
              <div class="checkout-shpg-mthd-cntn">
                <input
                  type="radio"
                  name="shippingMethod"
                  class="checkout-shpg-mthd-inp"
                  id="checkout-shpg-mthd-inp-crr"
                />
                <label
                  for="checkout-shpg-mthd-inp-crr"
                  class="checkout-shpg-mthd-inp-lbl txt-1 txt-clr-blk-2"
                  >Courier ($X.XX and X days)</label
                >
              </div>
            </div>

            <!-----------------------------------------------------------------------------
            CONTINUE BUTTON
            ------------------------------------------------------------------------------>

            <div class="checkout-shpg-btns">
              <div
                class="checkout-shpg-btn btn-1 bgd-clr-vlt-3 txt-1 txt-clr-wht-1"
              >
                Back
              </div>
              <div
                class="checkout-shpg-btn btn-1 bgd-clr-vlt-3 txt-1 txt-clr-wht-1"
              >
                Next
              </div>
            </div>
          </div>
        </div>

        <!---------------------------------------------------------------------------------
        PAYMENT PAGE
        ---------------------------------------------------------------------------------->

        <div class="checkout-sub-pg" id="checkout-sub-pg-3">
          <h2
            class="checkout-sub-hdng rmv-h-css hdng-2 txt-clr-blk-2"
            id="checkout-pymt-hdng"
          >
            Payment
          </h2>
          <div class="checkout-sub-sub-pgs">
            <div id="checkout-pymt-bank-tsfr">
              <input
                type="radio"
                name="paymentMethod"
                class="checkout-pymt-mthd-inp"
                id="checkout-pymt-mthd-inp-bank-tsfr"
                checked
              />
              <label
                for="checkout-pymt-mthd-inp-bank-tsfr"
                class="checkout-pymt-mthd-inp-lbl txt-1 txt-clr-blk-2"
                >Bank Transfer (Receive 5% Bonus Credit)</label
              >
              <div class="checkout-pymt-btns">
                <div
                  class="checkout-pymt-btn btn-1 bgd-clr-vlt-3 txt-1 txt-clr-wht-1"
                >
                  Back
                </div>
                <div
                  class="checkout-pymt-btn btn-1 bgd-clr-vlt-3 txt-1 txt-clr-wht-1"
                  id="checkout-pymt-bank-tsfr-pay-btn"
                >
                  Payed
                </div>
              </div>
            </div>
            <div id="checkout-pymt-card">
              <input
                type="radio"
                name="paymentMethod"
                class="checkout-pymt-mthd-inp"
                id="checkout-pymt-mthd-inp-card"
              />
              <label
                for="checkout-pymt-mthd-inp-card"
                class="checkout-pymt-mthd-inp-lbl txt-1 txt-clr-blk-2"
                >Debit Card or Credit Card</label
              >
              <div id="checkout-pymt-card-cntn">
                <form
                  action="/charge"
                  method="post"
                  id="checkout-pymt-card-form"
                >
                  <label
                    for="checkout-card-num"
                    class="checkout-pymt-lbl sbtl-1 txt-clr-blk-3"
                    >Card Number</label
                  >
                  <div id="checkout-card-num"></div>
                  <label
                    for="checkout-card-exp"
                    class="checkout-pymt-lbl sbtl-1 txt-clr-blk-3"
                    id="checkout-pymt-card-exp-lbl"
                    >Expiry Date</label
                  >
                  <label
                    for="checkout-card-cvc"
                    class="checkout-pymt-lbl sbtl-1 txt-clr-blk-3"
                    id="checkout-pymt-card-cvc-lbl"
                    >CVC</label
                  >
                  <div id="checkout-card-exp"></div>
                  <div id="checkout-card-cvc"></div>
                  <div class="checkout-pymt-btns">
                    <div
                      class="checkout-pymt-btn btn-1 bgd-clr-vlt-3 txt-1 txt-clr-wht-1"
                    >
                      Back
                    </div>
                    <div
                      class="checkout-pymt-btn btn-1 bgd-clr-vlt-3 txt-1 txt-clr-wht-1"
                      id="checkout-pymt-card-pay-btn"
                    >
                      Pay
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!---------------------------------------------------------------------------------
        NAVIGATION SYSTEM
        ---------------------------------------------------------------------------------->
      </div>

      <!--=================================================================================
      END PAGE
      ==================================================================================-->

      <!------------------------------
      User Menu (Type: Default)
      ------------------------------->
      <div class="sd-bar user-menu user-menu-untgl sd-bar-nav-bar-hide">
        <!------------------------------
        User Menu - When user is logged in (Type: Default)
        ------------------------------->
        <div class="user-menu-opts user-menu-log-in  user-menu-opts-hide">
          <a
            class="rmv-link-css txt-2 txt-clr-1 user-menu-opt"
            href="/dashboard"
            >Dashboard</a
          >
          <a class="rmv-link-css txt-2 txt-clr-1 user-menu-opt" href="/profile"
            >Profile</a
          >
          <a class="rmv-link-css txt-2 txt-clr-1 user-menu-opt" href="/settings"
            >Settings</a
          >
          <a class="rmv-link-css txt-2 txt-clr-1 user-menu-opt" href="/logout"
            >Logout</a
          >
        </div>
        <!------------------------------
        User Menu - When user is logged out (Type: Default)
        ------------------------------->
        <div class="user-menu-opts user-menu-log-out">
          <a class="rmv-link-css txt-2 txt-clr-1 user-menu-opt" href="/login"
            >Login</a
          >
          <a class="rmv-link-css txt-2 txt-clr-1 user-menu-opt" href="/signup"
            >Signup</a
          >
        </div>
      </div>
      <!------------------------------
      Messages (Type: Semi-Default)
      ------------------------------->
      <div class="sd-bar msgs msgs-untgl sd-bar-nav-bar-hide">
        <header class="msgs-hdr">
          <h3 class="hdng-1 txt-clr-1">Messages</h3>
          <p class="msgs-cmps txt-1 txt-clr-2">+ Compose</p>
        </header>
        <div class="msgs-cntt"></div>
      </div>
      <!------------------------------
      Notifications (Type: Semi-Default)
      ------------------------------->
      <div class="sd-bar ntfs ntfs-untgl sd-bar-nav-bar-hide">
        <!------------------------------
        Notifications - Notification Header (Type: Default)
        ------------------------------->
        <header class="ntfs-header">
          <h3 class="hdng-1 txt-clr-1">Notifications</h3>
          <a
            class="txt-1 rmv-link-css txt-clr-2"
            href="/settings/notifications"
            target="_blank"
            rel="noopener noreferrer"
          >
            Settings
          </a>
        </header>
        <div class="ntfs-cntt"></div>
      </div>
      <!------------------------------
      Services (Type: Default)
      ------------------------------->
      <div class="srvs srvs-untgl">
        <a class="rmv-link-css srv" href="/3d-printing">
          <div class="icn-1 srv-icn"></div>
          <p class="rmv-p-css txt-3 srv-txt">Make</p>
        </a>
        <a class="rmv-link-css srv" href="/marketplace">
          <div class="icn-1 srv-icn"></div>
          <p class="rmv-p-css txt-3 srv-txt">Shop</p>
        </a>
      </div>
    </div>
    <!------------------------------
    Footer Navigation Bar (Default)
    ------------------------------->
    <!--Mobile-->
    <nav class="nav-bar nav-bar-btm bgd-clr-1 nav-bar-mbl nav-bar-hide">
      <a
        class="rmv-link-css nav-btn make-btn nav-btn-untgl"
        href="/3d-printing"
      >
        <div class="nav-icn"></div>
        <div class="nav-txt txt-1">Make</div>
      </a>
      <a
        class="rmv-link-css nav-btn shop-btn nav-btn-untgl"
        href="/marketplace"
      >
        <div class="nav-icn"></div>
        <div class="nav-txt txt-1">Shop</div>
      </a>
      <div class="nav-btn msg-btn nav-btn-untgl">
        <div class="nav-icn"></div>
        <div class="nav-txt txt-1">Message</div>
      </div>
      <div class="nav-btn ntf-btn nav-btn-untgl">
        <div class="nav-icn"></div>
        <div class="nav-txt txt-1">Notification</div>
      </div>
    </nav>
  </body>
</html>
