<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="/public/images/logo-icon.png" />
  <title>CreateBase</title>
  <!-- =========================CSS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Poppins:wght@300;400;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/node_modules/swiper/css/swiper.min.css">
  <!-- ------------------------CUSTOM------------------------ -->
  <link rel="stylesheet" href="/public/stylesheets/home.css">
</head>

<body onload="home.initialise();">

  <nav class="hide">
    <div class="nav-darken-overlay" onclick="navigation.exitModal();"></div>
    <div class="nav-top-bar">
      <button class="hamburger hamburger-spin" type="button" onclick="navigation.toggleLeftMenu();">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <a class="nav-home-btn" id="nav-home-btn" href="/"></a>
      <div class="nav-in" id="nav-in" onclick="navigation.toggleRightMenu();"></div>
      <div class="nav-mobile-out" id="nav-mobile-out" onclick="navigation.toggleRightMenu();"></div>
      <div class="nav-desktop-out">
        <a href="/login" id="nav-user-login">LOG IN</a>
        <a class="grad-btn" href="/signup" id="nav-user-signup">SIGN UP</a>
      </div>
    </div>
    <div class="nav-side-menus">
      <div class="nav-left-menu-wrap">
        <div class="nav-left-menu">
          <div class="nav-side-menu-links">
            <p class="nav-side-header">CREATEBASE</p>
            <a class="nav-side-item" href="/3d-printing">MAKE</a>
            <a class="nav-side-item" href="/products/engkits">KITS</a>
            <a class="nav-side-item" href="/services/marketplace">SHOP</a>
            <p class="nav-side-header">INFO</p>
            <a class="nav-side-item" href="/services/3d-printing">3D PRINTING</a>
            <a class="nav-side-item" href="/products/engkits">ENGINEERING KITS</a>
            <a class="nav-side-item" href="/services/marketplace">MARKETPLACE</a>
            <p class="nav-side-header">ABOUT</p>
            <a class="nav-side-item" href="/story">OUR STORY</a>
            <a class="nav-side-item" href="/team">OUR TEAM</a>
          </div>
          <div class="nav-side-socials">
            <a class="fab fa-facebook-square"
              href="https://www.facebook.com/CreateBase-110365053954978/?view_public_for=110365053954978"
              target="_blank"></a>
            <a class="fab fa-instagram" href="https://www.instagram.com/createbasenz/" target="_blank"></a>
            <a class="fab fa-twitter" href="https://twitter.com/" target="_blank"></a>
            <a class="fab fa-youtube" href="https://www.youtube.com/user/LouiiL" target="_blank"></a>
          </div>
        </div>
      </div>
      <div class="nav-right-menu-out">
        <div class="nav-right-menu">
          <p class="nav-side-header">WELCOME BACK</p>
          <a class="nav-side-item" href="/login">LOG IN</a>
          <p class="nav-side-header">FIRST TIME?</p>
          <a class="nav-side-item" href="/signup">SIGN UP</a>
        </div>
      </div>
      <div class="nav-right-menu-in">
        <div class="nav-right-menu" id="nav-right-menu">
          <p class="nav-side-header">PROJECTS</p>
          <a class="nav-side-item" data-tab="projects" href="/profile" onclick="passTab(this);">MY PROJECTS</a>
          <p class="nav-side-header">ACCOUNT</p>
          <a class="nav-side-item" data-tab="profile" href="/profile" onclick="passTab(this);">MY PROFILE</a>
          <a class="nav-side-item" data-tab="billing" href="/profile" onclick="passTab(this);">BILLING</a>
          <a class="nav-side-item" data-tab="settings" href="/profile" onclick="passTab(this);">SETTINGS</a>
          <a class="nav-side-signout" href="/logout">SIGN OUT</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="hide" id="mobile-notif-wrap">
  </div>

  <div class="hide" id="notification-wrap">
    <div id="cookie-container" class="hide">
      <div class="cookie-message-container">
        <p>We use cookies and similar technologies in order to offer you a personalised online experience and to analyse
          our traffic.</p>
      </div>
      <div class="btn-group">
        <button id="cancel" onclick="session.cancel();">DON'T ALLOW</button>
        <button id="submit" class="grad-btn" onclick="session.allow();">ALLOW ALL</button>
      </div>
    </div>
  </div>

  <div class="full-page-loading">
    <div class="loading-icon">
      <div class="layer layer-1"></div>
      <div class="layer layer-2"></div>
      <div class="layer layer-3"></div>
    </div>
    <p>Setting up Base</p>
  </div>

  <div class="main-page hide">

    <div class="landing-section">
      <div class="landing-carousel">
        <div class="landing-slide landing-slide-left" id="landing-1">
          <a href="/services/marketplace" class="landing-slide-text">
            <p class="landing-slide-title">THEY DESERVE TO BE OUT THERE</p>
            <div class="landing-slide-text-sep"></div>
            <p class="landing-slide-sub" text-content="EXPLORE MARKETPLACE">EXPLORE MARKETPLACE</p>
            <div class="landing-slide-text-sep-2"></div>
          </a>
          <div class="landing-slide-btn"></div>
        </div>
        <div class="landing-slide landing-slide-middle" id="landing-2">
          <a href="/services/3d-printing" class="landing-slide-text">
            <p class="landing-slide-title">GIVE YOUR IDEAS SOME DIMENSIONS</p>
            <div class="landing-slide-text-sep"></div>
            <p class="landing-slide-sub" text-content="EXPLORE 3D PRINTING">EXPLORE 3D PRINTING</p>
            <div class="landing-slide-text-sep-2"></div>
          </a>
          <div class="landing-slide-btn"></div>
        </div>
        <div class="landing-slide landing-slide-right" id="landing-3">
          <a href="/services/marketplace" class="landing-slide-text">
            <p class="landing-slide-title">UPSKILL AND UPGRADE</p>
            <div class="landing-slide-text-sep"></div>
            <p class="landing-slide-sub" text-content="EXPLORE ENG. KITS">EXPLORE ENG. KITS</p>
            <div class="landing-slide-text-sep-2"></div>
          </a>
          <div class="landing-slide-btn"></div>
        </div>
      </div>
      <div class="landing-slide-nav-container">
        <div class="landing-slide-nav-btn" id="landing-btn-1">
          <div class="landing-slide-nav-btn-box"></div>
        </div>
        <div class="landing-slide-nav-btn landing-slide-nav-btn-focus" id="landing-btn-2">
          <div class="landing-slide-nav-btn-box"></div>
        </div>
        <div class="landing-slide-nav-btn" id="landing-btn-3">
          <div class="landing-slide-nav-btn-box"></div>
        </div>
      </div>
    </div>


    <div class="temp-wrap">
      <span class="glitch" id="change-text" data-text="MARKETPLACE">MARKETPLACE</span>

      <div class="subscribe-container">
        <p class="subscribe-message">
          Get the latest updates on release:
        </p>
        <div class="kit-fld input-decor" id="signup-email">
          <input type="text" name="email" id="sign-up-eml" required />
          <label class="input-label" for="email">Email</label>
          <!-- <label class="input-error" for="displayName">Invalid email, please try again.</label> -->
        </div>
        <button class="market-btn reg-btn subscribe-btn" id="subscribe-main"
          onclick="mail.subscribeSubmit();">SUBSCRIBE</button>
      </div>
    </div>

    <!-- <a href="/unsubscribe/mailing-list/kbradyoung@gmail">Unsubscribe</a>
    <button onclick="mail.unmail.subscribe();"></button> -->

    <div class="test-section">
      <div class="divider"></div>
      <div class="test-header">
        <p>TRUSTED BY</p>
      </div>
      <div class="test-logo-container">
        <a href="https://www.cie.auckland.ac.nz/unleash-space/" class="test-box" target="_blank">
          <div class="test-corner top-left"></div>
          <div class="test-corner top-right"></div>
          <div class="test-corner bottom-left"></div>
          <div class="test-corner bottom-right"></div>
          <img decoding="async" src="/public/images/unleash.png" alt="Unleash Space" />
        </a>
        <a href="https://www.auckland.ac.nz/en/engineering.html" class="test-box" target="_blank">
          <div class="test-corner top-left"></div>
          <div class="test-corner top-right"></div>
          <div class="test-corner bottom-left"></div>
          <div class="test-corner bottom-right"></div>
          <img decoding="async" src="/public/images/uoa.png" alt="The University of Auckland" />
        </a>
        <a href="https://www.fisherpaykeltechnologies.com/" class="test-box" target="_blank">
          <div class="test-corner top-left"></div>
          <div class="test-corner top-right"></div>
          <div class="test-corner bottom-left"></div>
          <div class="test-corner bottom-right"></div>
          <img decoding="async" src="/public/images/f&p.jfif" alt="Fisher & Paykel Technologies" />
        </a>
        <a href="https://www.gettinglost.co.nz/" class="test-box" target="_blank">
          <div class="test-corner top-left"></div>
          <div class="test-corner top-right"></div>
          <div class="test-corner bottom-left"></div>
          <div class="test-corner bottom-right"></div>
          <img decoding="async" src="/public/images/getting-lost.png" alt="Getting Lost" />
        </a>
        <a href="https://www.velocity.auckland.ac.nz/" target="_blank" class="test-box" target="_blank">
          <div class="test-corner top-left"></div>
          <div class="test-corner top-right"></div>
          <div class="test-corner bottom-left"></div>
          <div class="test-corner bottom-right"></div>
          <img decoding="async" src="/public/images/velocity.png" alt="Velocity" />
        </a>
      </div>
    </div>
  </div>

  <div class="footer-section hide">
    <div class="footer-content">
      <div class="footer-legal-section">
        <h4>INFO</h4>
        <div class="footer-legal-content">
          <ul class="list-section-left">
            <li><a href="#">Shipping Info</a></li>
            <li><a href="#">Returns / Exchanges</a></li>
          </ul>
          <ul class="list-section-desktop">
            <li><a href="/services/3d-printing">3D Printing</a></li>
            <li><a href="/services/marketplace">Marketplace</a></li>
            <li><a href="/products/engkits">Engineering Kits</a></li>
          </ul>

          <div class="list-section-divider"></div>

          <ul class="list-section-right">
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>

      <div class="footer-contact-section">
        <h4>CONTACT</h4>
        <div class="footer-contact-content">
          <div class="contact-email"><a href="mailto:createbase@gmail.com">createbase@gmail.com</a></div>

          <div class="btn-subscribe">
            <a href="/services/marketplace" class="reg-btn" id="subscribe-btn">SUBSCRIBE TO NEWSLETTER</a>
          </div>

          <div class="contact-socials">
            <a href="https://www.facebook.com/CreateBase-110365053954978/?view_public_for=110365053954978"
              class="fab fa-facebook-square" target="_blank"></a>
            <a href="https://www.instagram.com/createbasenz/" class="fab fa-instagram" target="_blank"></a>
            <a href="https://twitter.com/" class="fab fa-twitter" target="_blank"></a>
            <a href="https://www.youtube.com/user/LouiiL" class="fab fa-youtube" target="_blank"></a>
          </div>
          <div class="contact-legal">
            <a href="#" id="tac">Terms & Conditions</a>
            <a href="#" id="privpol">Privacy Policy</a>
          </div>
        </div>
      </div>

      <div class="footer-sitemap-section">
        <h4>EXPLORE</h4>
        <div class="footer-sitemap-content">
          <ul>
            <li><a href="/3d-printing">3D Printing</a></li>
            <li><a href="/services/marketplace">Marketplace</a></li>
            <li><a href="/services/engkits">Engineering Kits</a></li>
            <li><a href="/story">Our Story</a></li>
            <li><a href="/team">Our Team</a></li>
          </ul>
        </div>
      </div>

      <div class="footer-copyright-section">
        <h3>&copy; 2020 CREATEBASE. ALL RIGHTS RESERVED</h3>
      </div>
    </div>
  </div>

  <!-- ==========================JS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <script async src="https://js.stripe.com/v3/"></script>
  <script async src="/node_modules/swiper/js/swiper.min.js"></script>
  <script async src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script async src="https://kit.fontawesome.com/b382730141.js" crossorigin="anonymous"></script>
  <!-- ------------------------CUSTOM------------------------ -->
  <script async src="/public/javascripts/global/mail.js"></script>
  <script async src="/public/javascripts/global/nav.js"></script>
  <script async src="/public/javascripts/global/session.js"></script>
  <script async src="/public/javascripts/global.js"></script>
  <script defer src="/public/javascripts/home.js"></script>
</body>

</html>