<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="./../../public/images/logo-icon.png" />
    <title>CreateBase</title>
    <!------------------ FONTS ------------------>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins|Raleway&display=swap" rel="stylesheet">
    <!------------------ ICONS ------------------>
    <script src="https://kit.fontawesome.com/b382730141.js" crossorigin="anonymous"></script>
    <!----------- DEFAULT JAVASCRIPTS ----------->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./../../public/javascripts/notification.js"></script>
    <script src="./../../public/javascripts/moment.js"></script>
    <!------------ CUSTOM JAVASCRIPTS ----------->
    <script src="./../../public/javascripts/navbar.js"></script>
    <!---------------- STYLESHEET --------------->
    <link rel="stylesheet" href="./../../public/stylesheets/homepage.css" />
  </head>
  <body onload="navInit();">
    <nav class="nav-global screen-mode">
      <div class="nav-darken-filter"></div>

      <div class="nav-topbar home-topbar">
        <div class="nav-top-empty"></div>
        <a href="/login" class="btn-reg" id="nav-top-login">LOG IN</a>
        <a href="/signup" class="btn-reg">SIGN UP</a>
        <div class="nav-top-empty"></div>
      </div>
      
      <div class="nav-sidebar">
        <div class="nav-side-menu">
          <div class="nav-side-empty"></div>
          <div class="nav-side-services">
            <p class="nav-side-header">SERVICES</p>
            <a href="#" class="nav-side-item">3D PRINTING</a>
            <a href="#" class="nav-side-item">MARKETPLACE</a>
          </div>
          <div class="nav-side-createbase">
            <p class="nav-side-header">CREATEBASE</p>
            <a href="#" class="nav-side-item">OUR STORY</a>
            <a href="#" class="nav-side-item">OUR TEAM</a>
          </div>
          <div class="nav-side-socials">
            <a href="https://www.facebook.com/" class="fab fa-facebook-square"></a>
            <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
            <a href="https://twitter.com/" class="fab fa-twitter"></a>
            <a href="https://www.youtube.com/user/LouiiL" class="fab fa-youtube"></a>
          </div>
        </div>
        <div class="nav-side-wiper">
          <a href="/" id="nav-main-logo">
            <img src="./../../public/images/logo-icon.png" alt="CreateBase" />
          </a>
          <button class="hamburger hamburger-arrow hamburger-screen-mode" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>
      </div>
    </nav>
    <div class="main-page">
      <div class="landing-page-container">
        <div class="landing-slide" id="slide-1">
          <video autoplay muted loop class="landing-video">
            <source src="./../../public/videos/placeholder-1.mp4" type="video/mp4">
          </video>
          <div class="landing-message">
            <h1>Welcome back to base.</h1>
            <!-- <p>A solution that all futurists </p> -->
          </div>
        </div>
        <div class="landing-slide" id="slide-2">
          <video autoplay muted loop class="landing-video" id="landing-video-2">
            <source src="./../../public/videos/placeholder-2.mp4" type="video/mp4">
          </video>
          <div class="landing-message">
            <h1>Welcome back to base.</h1>
            <!-- <p>A solution that all futurists </p> -->
          </div>
        </div>
      </div>
      

      
      <!-- <img class="gif" src="./../../public/gifs/1.gif" />
      <img class="gif" src="./../../public/gifs/2.gif" />
      <img class="gif" src="./../../public/gifs/3.webp" />
      <img class="gif" src="./../../public/gifs/4.gif" />
      <img class="gif" src="./../../public/gifs/5.gif" />
      <img class="gif" src="./../../public/gifs/6.gif" />
      <img class="gif" src="./../../public/gifs/7.gif" />
      <img class="gif" src="./../../public/gifs/8.gif" />
      <img class="gif" src="./../../public/gifs/9.gif" />
      <img class="gif" src="./../../public/gifs/10.gif" />
      <img class="gif" src="./../../public/gifs/11.gif" />
      <img class="gif" src="./../../public/gifs/12.gif" />
      <img class="gif" src="./../../public/gifs/13.gif" /> -->
    </div>
  </body>
</html>
