<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="./../../public/images/logo-icon.png"/>
  <title>CreateBase</title>
  <!------------------ FONTS ------------------>
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins|Raleway&display=swap" rel="stylesheet" />
  <!------------------ ICONS ------------------>
  <script src="https://kit.fontawesome.com/b382730141.js" crossorigin="anonymous"></script>
  <!----------- DEFAULT JAVASCRIPTS ----------->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./../../public/javascripts/moment.js"></script>
  <!------------ CUSTOM JAVASCRIPTS ----------->
  <script src="./../../public/javascripts/nav.js"></script>
  <script src="./../../public/javascripts/home.js"></script>
  <!---------------- STYLESHEET --------------->
  <link rel="stylesheet" href="./../../public/stylesheets/home.css">
  <link rel="stylesheet" href="./../../node_modules/swiper/css/swiper.min.css">
</head>

<body onload="navInit(); homeInit();">
  <nav class="nav-container">
    <div class="nav-darken-overlay"></div>
    <div class="nav-top-bar">
      <button class="hamburger hamburger-spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <a href="/" class="nav-home-btn">
        <img src="./../../public/images/logo-icon.png" class="nav-logo" alt="CreateBase" />
      </a>
      <div class="nav-user-icon">
        <img src="./../../public/images/user-out-highlight.png" class="nav-user-hlt" alt="User" />
        <img src="./../../public/images/user-out.png" class="nav-user-reg" alt="User" />
        <img src="./../../public/images/user-x.png" class="nav-user-x" alt="User" />
      </div>
      <div class="nav-user-button">
        <a href="/login" class="nav-user-login">LOG IN</a>
        <a href="/signup" class="nav-user-signup">SIGN UP</a>
      </div>
    </div>
    <div class="nav-side-menus">
      <div class="nav-left-menu-wrap">
        <div class="nav-left-menu">
          <div class="nav-side-menu-links">
            <p class="nav-side-header">SERVICES</p>
            <span class="nav-item-outer">
              <a href="/3d-printing" class="nav-item-inner">3D PRINTING</a>
              <a href="/services/3d-printing" class="info">i</a>
            </span>
            <span class="nav-item-outer">
              <a href="/services/marketplace" class="nav-item-inner">MARKETPLACE</a>
              <a href="/services/marketplace" class="info">i</a>
            </span>
            <div class="nav-sep"></div>
            <p class="nav-side-header">PRODUCTS</p>
            <span class="nav-item-outer">
              <a href="/products/engkits" class="nav-item-inner">ENGINEERING KITS</a>
              <a href="/products/engkits" class="info">i</a>
            </span>
            <div class="nav-sep"></div>
            <p class="nav-side-header">CREATEBASE</p>
            <a href="/story" class="nav-side-item">OUR STORY</a>
            <a href="/team" class="nav-side-item">OUR TEAM</a>
          </div>
          <div class="nav-side-socials">
            <a href="https://www.facebook.com/" class="fab fa-facebook-square" target="_blank"></a>
            <a href="https://www.instagram.com/" class="fab fa-instagram" target="_blank"></a>
            <a href="https://twitter.com/" class="fab fa-twitter" target="_blank"></a>
            <a href="https://www.youtube.com/user/LouiiL" class="fab fa-youtube" target="_blank"></a>
          </div>
        </div>
      </div>
      <div class="nav-right-menu-out">
        <div class="nav-right-menu">
          <div class="nav-profile-pic"></div>
          <p class="nav-side-header">WELCOME BACK</p>
          <a href="/login" class="nav-side-item">LOG IN</a>
          <div class="nav-sep"></div>
          <p class="nav-side-header">FIRST TIME?</p>
          <a href="/signup" class="nav-side-item">SIGN UP</a>
        </div>
      </div>
      <div class="nav-right-menu-in">
        <div class="nav-right-menu">
          <div class="nav-profile-pic"></div>
          <p class="nav-side-header">PROJECTS</p>
          <a href="#" class="nav-side-item">MY PROJECTS</a>
          <div class="nav-sep"></div>
          <p class="nav-side-header">ACCOUNT</p>
          <a href="#" class="nav-side-item">MY PROFILE</a>
          <a href="#" class="nav-side-item">SETTINGS</a>
          <a href="/logout" class="nav-side-signout">SIGN OUT</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="main-page">
    <div class="landing-section">
      <div class="landing-carousel">
        <div class="landing-slide landing-slide-left" id="landing-1">
          <img src="./../../public/images/landing-7.png" alt="Landing 1" />
          <div class="landing-slide-text">
            <p class="landing-slide-title">THEY DESERVE TO BE OUT THERE</p>
            <div class="landing-slide-text-sep"></div>
            <a href="#" class="landing-slide-sub" text-content="EXPLORE MARKETPLACE">EXPLORE MARKETPLACE</a>
            <div class="landing-slide-text-sep-2"></div>
          </div>
          <div class="landing-slide-btn"></div>
        </div>
        <div class="landing-slide landing-slide-middle" id="landing-2">
          <img src="./../../public/images/landing-5.png" alt="Landing 2" />
          <div class="landing-slide-text">
            <p class="landing-slide-title">GIVE YOUR IDEAS SOME DIMENSIONS</p>
            <div class="landing-slide-text-sep"></div>
            <a href="#" class="landing-slide-sub" text-content="EXPLORE 3D PRINTING">EXPLORE 3D PRINTING</a>
            <div class="landing-slide-text-sep-2"></div>
          </div>
          <div class="landing-slide-btn"></div>
        </div>
        <div class="landing-slide landing-slide-right" id="landing-3">
          <img src="./../../public/images/landing-6.png" alt="Landing 3" />
          <div class="landing-slide-text">
            <p class="landing-slide-title">UPSKILL AND UPGRADE</p>
            <div class="landing-slide-text-sep"></div>
            <a href="#" class="landing-slide-sub" text-content="EXPLORE ENG. KITS">EXPLORE ENG. KITS</a>
            <div class="landing-slide-text-sep-2"></div>
          </div>
          <div class="landing-slide-btn"></div>
        </div>
      </div>
      <div class="landing-slide-nav-container">
        <div class="landing-slide-nav-btn" id="landing-btn-1">
          <div class="landing-slide-nav-btn-box"></div>
        </div>
        <div class="landing-slide-nav-btn landing-slide-nav-btn-focus" id="landing-btn-2">
          <div class="landing-slide-nav-btn-box"></div>
        </div>
        <div class="landing-slide-nav-btn" id="landing-btn-3">
          <div class="landing-slide-nav-btn-box"></div>
        </div>
      </div>
    </div>
    
    <div class="eng-kit-section">
      <div class="eng-kit-coming-soon">— COMING SOON —</div>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide eng-kit-container eng-kit-brycep">
            <div class="eng-kit-text">
              <p class="eng-kit-code">ENG • KIT • 01</p>
              <p class="eng-kit-title">Brycep</p>
              <p class="eng-kit-desc">Explore dexterity, precision, kinematics, and strength in the realm of mechatronics with the 6-axis Brycep.</p>
              <a href="#" class="eng-kit-more">LEARN MORE</a>
              <div class="eng-kit-line"></div>
              <div class="eng-kit-line-overlap"></div>
            </div>
            <img src="./../../public/images/arm.jpg" alt="Brycep" />
          </div>
          <div class="swiper-slide eng-kit-container eng-kit-hyelos">
            <div class="eng-kit-text">
              <p class="eng-kit-code">ENG • KIT • 02</p>
              <p class="eng-kit-title">Hyelos</p>
              <p class="eng-kit-desc">As the automotive industry converges toward the cusp of full autonomy, the advantages of fully-connected vehicular networks are being realised.</p>
              <a href="#" class="eng-kit-more">LEARN MORE</a>
              <div class="eng-kit-line"></div>
              <div class="eng-kit-line-overlap"></div>
            </div>
            <img src="./../../public/images/car.png" alt="Hyelos" />
            <p class=""></p>
          </div>
          <div class="swiper-slide eng-kit-container eng-kit-stc">
            <div class="eng-kit-text">
              <p class="eng-kit-code">ENG • KIT • 03</p>
              <p class="eng-kit-title">SubTeamCool</p>
              <p class="eng-kit-desc">This is a boarding call for all passengers departing for The Future—soundless, frictionless, wheelless.</p>
              <a href="#" class="eng-kit-more">LEARN MORE</a>
              <div class="eng-kit-line"></div>
              <div class="eng-kit-line-overlap"></div>
            </div>
            <img src="./../../public/images/maglev.png" alt="SubTeamCool" />
            <p class=""></p>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="eng-kit-btn-container">
        <div class="eng-kit-btn eng-kit-btn-focus" id="eng-kit-btn-brycep">
          <div class="eng-kit-btn-text">BRYCEP</div>
          <div class="eng-kit-btn-dot"></div>
        </div>
        <div class="eng-kit-btn" id="eng-kit-btn-hyelos">
          <div class="eng-kit-btn-text">HYELOS</div>
          <div class="eng-kit-btn-dot"></div>
        </div>
        <div class="eng-kit-btn" id="eng-kit-btn-stc">
          <div class="eng-kit-btn-text">STC</div>
          <div class="eng-kit-btn-dot"></div>
        </div>
      </div>
    </div>

    <div class="test-section">
      <div class="test-header">
        <p>TRUSTED BY</p>
      </div>
      <div class="test-logo-container">
        <a href="https://www.cie.auckland.ac.nz/unleash-space/" class="test-box" target="_blank">
          <div class="test-corner top-left"></div>
          <div class="test-corner top-right"></div>
          <div class="test-corner bottom-left"></div>
          <div class="test-corner bottom-right"></div>
          <img src="./../../public/images/unleash.png" alt="Unleash Space" />
        </a>
        <a href="https://www.auckland.ac.nz/en/engineering.html" class="test-box" target="_blank">
          <div class="test-corner top-left"></div>
          <div class="test-corner top-right"></div>
          <div class="test-corner bottom-left"></div>
          <div class="test-corner bottom-right"></div>
          <img src="./../../public/images/uoa.png" alt="The University of Auckland" />
        </a>
        <a href="https://www.fisherpaykeltechnologies.com/" class="test-box" target="_blank">
          <div class="test-corner top-left"></div>
          <div class="test-corner top-right"></div>
          <div class="test-corner bottom-left"></div>
          <div class="test-corner bottom-right"></div>
          <img src="./../../public/images/f&p.jfif" alt="Fisher & Paykel Technologies" />
        </a>
        <a href="https://www.gettinglost.co.nz/" class="test-box" target="_blank">
          <div class="test-corner top-left"></div>
          <div class="test-corner top-right"></div>
          <div class="test-corner bottom-left"></div>
          <div class="test-corner bottom-right"></div>
          <img src="./../../public/images/getting-lost.png" alt="Getting Lost" />
        </a>
        <a href="https://www.velocity.auckland.ac.nz/" target="_blank" class="test-box" target="_blank">
          <div class="test-corner top-left"></div>
          <div class="test-corner top-right"></div>
          <div class="test-corner bottom-left"></div>
          <div class="test-corner bottom-right"></div>
          <img src="./../../public/images/velocity.png" alt="Velocity" />
        </a>
      </div>
    </div>

    <div class="footer-section">
      <div class="footer-legal-section">
        <ul class="list-section-left">
          <li><a href="#">Shipping Info</a></li>
          <li><a href="#">Returns / Exchanges</a></li>
        </ul>

        <div class="list-section-divider">
        </div>

        <ul class="list-section-right">
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="footer-contact-section">
      </div>

      <div class="footer-copyright-section">
        <h3>&copy 2020 CREATEBASE. ALL RIGHTS RESERVED</h3>
      </div>
    </div>
  </div>

  <script src="./../../node_modules/swiper/js/swiper.min.js"></script>
</body>

</html>