<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Index | Creaft</title>
    <!------------------------------ 
    Fonts 
    ------------------------------->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap" rel="stylesheet">
    <!------------------------------
    Default CSS
    ------------------------------->
    <link rel="stylesheet" href="stylesheets/login.css" />
    <!------------------------------
    Default JavaScript
    ------------------------------->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="javascripts/index.js"></script>
    <script src="javascripts/notification.js"></script>
    <script src="javascripts/moment.js"></script>
  </head>

  <body onload="indexInit();">
    <div class="container">
      <div id="hello" class="item">
        <img src="images/logo-dark.png" alt="CreateBase" id="hello-logo">
        <h1 id="hello-creator">Hello, Creator.</h1>
        <div id="hello-login" class="hello-btn">
          <a href="#" onclick="return false;">Log in</a>
        </div>
        <div id="hello-signup" class="hello-btn">
          <a href="/signup">Sign up</a>
        </div> 
      </div>

      <div id="slide" class="item">
        
      </div>

      <div id="login" class="item">
        <form class="log-in-form" action="/login/customer" method="post">
          <div class="log-in-fld">
            <label for="email">Email</label>
            <input type="email" name="email" id="log-in-eml" />
          </div>
          <div class="log-in-fld">
            <label for="password">Password</label>
            <input type="password" name="password" id="log-in-pwd" />
          </div>
          <div class="log-in-fld">
            <button type="submit" id="log-in">Log in</button>
            <button type="submit" id="sign-up">Sign up</button>
          </div>
        </form>
        <div>
          <p class="rmv-p-css">New to Creaft?</p>
          <a class="rmv-link-css" href="/signup">Create Account</a>
        </div>
      </div>
    </div>
  </body>
</html>
