<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="images/logo-icon.png">
    <title>Login | CreateBase</title>
    <!------------------------------ 
    Fonts 
    ------------------------------->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap" rel="stylesheet">
    <!------------------------------
    Default CSS
    ------------------------------->
    
    <!------------------------------
    Default JavaScript
    ------------------------------->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="javascripts/notification.js"></script>
    <script src="javascripts/moment.js"></script>
    <!------------------------------
    Custom CSS / JavaScript
    ------------------------------->
    <link rel="stylesheet" href="stylesheets/login.css" />
    <script src="javascripts/login.js"></script>
  </head>

  <body onload="loginInit();">
    <div class="container" id="container">

      <div class="form-container login-container">
        <form class="log-in-form" action="/login/customer" method="post">
          <a href="/index" id="login-logo">
            <img src="images/logo-dark.png" alt="CreateBase">
          </a>
          <h2>WELCOME BACK TO BASE</h2>
          <div class="log-in-fld input-decor" id="login-email">
            <input type="text" name="email" id="log-in-eml" required/>
            <label for="email" class="form-label">Email</label>
          </div>
          <div class="log-in-fld input-decor" id="login-password">
            <input type="password" name="password" id="log-in-pwd" required/>
            <label for="password" class="form-label">Password</label>
          </div>
          <div class="log-in-fld" id="login-login">
            <!-- <button type="submit" class="btn" id="login-btn">Log in</button> -->
            <a href="/index" class="btn" id="login-btn" data-text="LOG IN">LOG IN</a>
          </div>
        </form>
        <div>
          <button class="btn" id="back-btn" data-text="←" onclick="toggleContainer();">←</button>
        </div>
        <div id="login-signup">
          <p class="rmv-p-css">New to CreateBase? <a class="rmv-link-css" href="/signup">Create an account</a></p>
        </div>
      </div>
      
      <div class="form-container hello-container">
        <a href="/index" id="hello-logo">
          <img src="images/logo-dark.png" id="logo-img" alt="CreateBase">
        </a>
        <h1 id="hello-creator">
          Hello, <span class="glitch" id="change-text" data-text="Creator">Creator</span>.
        </h1>
        <a href="/signup" class="btn" id="hello-signup" data-text="SIGN UP">SIGN UP</a>
        <button class="btn" id="hello-login" data-text="LOG IN" onclick="toggleContainer();">LOG IN</button>
      </div>

      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
              <div class="layer-left layer-1"></div>
              <div class="layer-left layer-2"></div>
              <div class="layer-left layer-3"></div>
          </div>
          <div class="overlay-panel overlay-right">
              <div class="layer-right layer-1"></div>
              <div class="layer-right layer-2"></div>
              <div class="layer-right layer-3"></div>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
