<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="./../../public/images/logo-icon.png" />
  <title>Make | CreateBase</title>
  <!--===================================================================================
    CSS and JavaScript
    ====================================================================================-->
  <!-------------------------------------------------------------------------------------
    Sourced CSS
    -------------------------------------------------------------------------------------->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap" rel="stylesheet" />
  <!-------------------------------------------------------------------------------------
    Sourced JavaScript
    -------------------------------------------------------------------------------------->
  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./../../public/javascripts/moment.js"></script>
  <!-------------------------------------------------------------------------------------
    Default CSS
    -------------------------------------------------------------------------------------->
  <link rel="stylesheet" href="./../../public/stylesheets/global.css" />
  <!-------------------------------------------------------------------------------------
    Default JavaScript
    -------------------------------------------------------------------------------------->
  <script src="./../../public/javascripts/index.js"></script>
  <!-------------------------------------------------------------------------------------
    Custom CSS and JavaScript
    -------------------------------------------------------------------------------------->
  <link rel="stylesheet" href="./../../public/stylesheets/make.css" />
  <script src="./../../public/javascripts/make.js"></script>
</head>

<body onload="makeInit();">
  <div class="page" id="make-page">
    <!---------------------------------------------------------------------------------
        DESKTOP SUMMARY
        ---------------------------------------------------------------------------------->
    <div class="make-sub-page" id="make-sub-page-0">
      <div id="make-mdl-vwr-dktp"></div>
      <div id="make-smry-dktp">
        <h3 class="rmv-h-css make-smry-lbl txt-1 txt-clr-blk-3">file:</h3>
        <p class="rmv-p-css make-smry-txt txt-1 txt-clr-blk-1" id="make-smry-file-name-dktp"></p>
        <h3 class="rmv-h-css make-smry-lbl txt-1 txt-clr-blk-3">
          material:
        </h3>
        <p class="rmv-p-css make-smry-txt txt-1 txt-clr-blk-1" id="make-smry-mtrl-dktp"></p>
        <h3 class="rmv-h-css make-smry-lbl txt-1 txt-clr-blk-3">
          quality:
        </h3>
        <p class="rmv-p-css make-smry-txt txt-1 txt-clr-blk-1" id="make-smry-qlty-dktp"></p>
        <h3 class="rmv-h-css make-smry-lbl txt-1 txt-clr-blk-3">
          strength:
        </h3>
        <p class="rmv-p-css make-smry-txt txt-1 txt-clr-blk-1" id="make-smry-strn-dktp"></p>
        <h3 class="rmv-h-css make-smry-lbl txt-1 txt-clr-blk-3">colour:</h3>
        <p class="rmv-p-css make-smry-txt txt-1 txt-clr-blk-1" id="make-smry-clr-dktp"></p>
        <h3 class="rmv-h-css make-smry-lbl txt-1 txt-clr-blk-3">
          quantity:
        </h3>
        <p class="rmv-p-css make-smry-txt txt-1 txt-clr-blk-1" id="make-smry-qnty-dktp"></p>
      </div>
    </div>
    <!---------------------------------------------------------------------------------
        UPLOAD MODEL
        ---------------------------------------------------------------------------------->
    <div class="make-sub-page" id="make-sub-page-1">
      <h2 class="rmv-h-css make-sub-hdng hdng-3 txt-clr-blk-2" id="make-sub-hdng-mdl">
        Upload Model
      </h2>
      <div class="make-fld">
        <form id="make-mdl-form">
          <input type="file" name="model" class="rmv-file-css" id="make-mdl"
            onchange="makeUpload(this.files[0]); makeSummary();" />
        </form>
        <label for="make-mdl" class="hdng-1 bgd-clr-vlt-3 txt-clr-wht-1 btn-1" id="make-mdl-lbl">Upload</label>
        <p class="rmv-p-css txt-1 txt-clr-blk-2" id="make-file-name">
          Upload a File
        </p>
      </div>
      <div class="make-fld" id="make-mdl-vwr"></div>
    </div>
    <!---------------------------------------------------------------------------------
        BUILD TYPE
        ---------------------------------------------------------------------------------->
    <div class="make-sub-page make-sub-page-rght" id="make-sub-page-2">
      <h2 class="rmv-h-css make-sub-hdng hdng-3 txt-clr-blk-2" id="make-sub-hdng-bld-type">
        Build Type
      </h2>
      <div class="make-fld" id="make-qck-bld-fld">
        <label for="make-qck-bld" class="rmv-h-css make-fld-hdng sbtl-1 txt-clr-blk-3">
          Quick Build Type
        </label>
        <select name="quickBuildType" class="make-fld-inp inp-slct-1 bgd-clr-wht-1" id="make-qck-bld">
          <option value="prototype" default>Prototype</option>
          <option value="mechanical">Mechanical</option>
        </select>
        <button class="rmv-btn-css make-btn-2 btn-1 bgd-clr-vlt-3 txt-clr-wht-1 hdng-1" id="make-qck-bld-btn"
          onclick="makeQuickBuild(); makeSummary();">
          Quick
        </button>
      </div>
      <div class="make-fld">
        <button class="rmv-btn-css make-btn-2 btn-1 bgd-clr-vlt-3 txt-clr-wht-1 hdng-1" id="make-cstm-bld-btn"
          onclick="makeCustomBuild(); makeSummary();">
          Custom
        </button>
      </div>
    </div>
    <!---------------------------------------------------------------------------------
        BUILD OPTIONS
        ---------------------------------------------------------------------------------->
    <div class="make-sub-page make-sub-page-rght" id="make-sub-page-3">
      <h2 class="rmv-h-css make-sub-hdng hdng-3 txt-clr-blk-2" id="make-sub-hdng-bld-opts">
        Build Options
      </h2>
      <div class="make-fld">
        <label for="make-mtrl" class="rmv-h-css make-fld-hdng sbtl-1 txt-clr-blk-3">
          Material
        </label>
        <select name="material" class="make-fld-inp inp-slct-1 bgd-clr-wht-1" id="make-mtrl" onchange="makeSummary();">
          <option value="fdm_pla" default>FDM - PLA</option>
          <option value="fdm_petg">FDM - PETG</option>
          <option value="fdm_abs">FDM - ABS</option>
        </select>
      </div>
      <div class="make-fld">
        <label for="make-qlty" class="rmv-h-css make-fld-hdng sbtl-1 txt-clr-blk-3">
          Quality
        </label>
        <select name="quality" class="make-fld-inp inp-slct-1 bgd-clr-wht-1" id="make-qlty" onchange="makeSummary();">
          <option value="draft">Draft</option>
          <option value="normal" default>Normal</option>
          <option value="high">High</option>
        </select>
      </div>
      <div class="make-fld">
        <label for="make-strn" class="rmv-h-css make-fld-hdng sbtl-1 txt-clr-blk-3">
          Strength
        </label>
        <select name="strength" class="make-fld-inp inp-slct-1 bgd-clr-wht-1" id="make-strn" onchange="makeSummary();">
          <option value="normal" default>Normal</option>
          <option value="strong">Strong</option>
          <option value="solid">Solid</option>
        </select>
      </div>
    </div>
    <!---------------------------------------------------------------------------------
        ORDER DETAILS
        ---------------------------------------------------------------------------------->
    <div class="make-sub-page make-sub-page-rght" id="make-sub-page-4">
      <h2 class="rmv-h-css make-sub-hdng hdng-3 txt-clr-blk-2" id="make-sub-hdng-bld-dtls">
        Order Details
      </h2>
      <div class="make-fld">
        <label for="make-clr" class="rmv-h-css make-fld-hdng sbtl-1 txt-clr-blk-3">
          Colour
        </label>
        <select name="colour" class="make-fld-inp inp-slct-1 bgd-clr-wht-1" id="make-clr" onchange="makeSummary();">
          <!--
                Dyanmic - Changes with the selected material
                These options are therefore temporary placeholders
              -->
          <option value="noPreference" default>No Preference</option>
          <option value="black">Black</option>
          <option value="white">White</option>
        </select>
      </div>
      <div class="make-fld">
        <label for="make-qnty" class="make-fld-hdng sbtl-1 txt-clr-blk-3">
          Quantity
        </label>
        <input type="number" name="quantity" class="make-fld-inp inp-txt-1" id="make-qnty" placeholder="Quantity ..."
          oninput="makeOrderDetails(this.value); makeSummary();" />
      </div>
    </div>
    <!---------------------------------------------------------------------------------
        COMPLETE
        ---------------------------------------------------------------------------------->
    <div class="make-sub-page make-sub-page-rght" id="make-sub-page-5">
      <h2 class="rmv-h-css make-sub-hdng hdng-3 txt-clr-blk-2" id="make-sub-hdng-bld-smry">
        Complete
      </h2>
      <div class="bgd-clr-wht-2" id="make-smry">
        <h3 class="rmv-h-css make-smry-lbl txt-1 txt-clr-blk-3">file:</h3>
        <p class="rmv-p-css make-smry-txt txt-1 txt-clr-blk-1" id="make-smry-file-name"></p>
        <h3 class="rmv-h-css make-smry-lbl txt-1 txt-clr-blk-3">
          material:
        </h3>
        <p class="rmv-p-css make-smry-txt txt-1 txt-clr-blk-1" id="make-smry-mtrl"></p>
        <h3 class="rmv-h-css make-smry-lbl txt-1 txt-clr-blk-3">
          quality:
        </h3>
        <p class="rmv-p-css make-smry-txt txt-1 txt-clr-blk-1" id="make-smry-qlty"></p>
        <h3 class="rmv-h-css make-smry-lbl txt-1 txt-clr-blk-3">
          strength:
        </h3>
        <p class="rmv-p-css make-smry-txt txt-1 txt-clr-blk-1" id="make-smry-strn"></p>
        <h3 class="rmv-h-css make-smry-lbl txt-1 txt-clr-blk-3">colour:</h3>
        <p class="rmv-p-css make-smry-txt txt-1 txt-clr-blk-1" id="make-smry-clr"></p>
        <h3 class="rmv-h-css make-smry-lbl txt-1 txt-clr-blk-3">
          quantity:
        </h3>
        <p class="rmv-p-css make-smry-txt txt-1 txt-clr-blk-1" id="make-smry-qnty"></p>
      </div>
      <div class="make-fld" id="make-note-fld">
        <label for="make-note" class="make-fld-hdng sbtl-1 txt-clr-blk-3" id="make-note-lbl">Note</label>
        <textarea name="note" class="inp-txt-1" id="make-note"></textarea>
      </div>
      <div class="make-btns" id="make-smry-btns">
        <button class="rmv-btn-css make-btn-2 btn-1 bgd-clr-vlt-3 txt-clr-wht-1 hdng-1"
          onclick="makeProceed('checkout');">
          Checkout
        </button>
        <button class="rmv-btn-css make-btn-2 btn-1 bgd-clr-vlt-3 txt-clr-wht-1 hdng-1"
          onclick="makeProceed('cancel');">
          Cancel
        </button>
      </div>
    </div>
    <!---------------------------------------------------------------------------------
        CHECKOUT
        ---------------------------------------------------------------------------------->
    <div class="make-sub-page make-sub-exit make-sub-page-hd trst-0" id="make-sub-page-checkout">
      <h2 class="rmv-h-css make-sub-hdng make-sub-hdng-exit hdng-3 txt-clr-blk-2">
        Checkout
      </h2>
      <button class="rmv-btn-css make-btn-2 btn-1 bgd-clr-vlt-3 txt-clr-wht-1 hdng-1 make-exit-btn"
        onclick="makeCheckout();">
        Yes
      </button>
      <button class="rmv-btn-css make-btn-2 btn-1 bgd-clr-vlt-3 txt-clr-wht-1 hdng-1 make-exit-btn"
        onclick="makeNo('checkout');">
        No
      </button>
    </div>
    <!---------------------------------------------------------------------------------
        CANCEL
        ---------------------------------------------------------------------------------->
    <div class="make-sub-page make-sub-exit make-sub-page-hd trst-0" id="make-sub-page-cancel">
      <h2 class="rmv-h-css make-sub-hdng make-sub-hdng-exit hdng-3 txt-clr-blk-2">
        Cancel
      </h2>
      <button class="rmv-btn-css make-btn-2 btn-1 bgd-clr-vlt-3 txt-clr-wht-1 hdng-1 make-exit-btn"
        onclick="makeCancel();">
        Yes
      </button>
      <button class="rmv-btn-css make-btn-2 btn-1 bgd-clr-vlt-3 txt-clr-wht-1 hdng-1 make-exit-btn"
        onclick="makeNo('cancel');">
        No
      </button>
    </div>
    <!---------------------------------------------------------------------------------
        EXIT
        ---------------------------------------------------------------------------------->
    <div class="make-sub-page make-sub-exit make-sub-page-hd trst-0" id="make-sub-page-exit">
      <h2 class="rmv-h-css make-sub-hdng make-sub-hdng-exit hdng-3 txt-clr-blk-2">
        Exit
      </h2>
      <a href="/3d-printing" class="rmv-link-css make-btn-2 btn-1 bgd-clr-vlt-3 txt-clr-wht-1 hdng-1 make-exit-btn">
        New Order
      </a>
      <a href="/checkout" class="rmv-link-css make-btn-2 btn-1 bgd-clr-vlt-3 txt-clr-wht-1 hdng-1 make-exit-btn">
        Checkout
      </a>
      <a href="/" class="rmv-link-css make-btn-2 btn-1 bgd-clr-vlt-3 txt-clr-wht-1 hdng-1 make-exit-btn">
        Homepage
      </a>
    </div>
    <!---------------------------------------------------------------------------------
        EXIT
        ---------------------------------------------------------------------------------->
    <div class="make-sub-page make-sub-exit make-sub-page-hd trst-0" id="make-sub-page-thnk">
      <h2 class="rmv-h-css make-sub-hdng make-sub-hdng-exit hdng-3 txt-clr-blk-2">
        Thank You!
      </h2>
      <a href="/3d-printing" class="rmv-link-css make-btn-2 btn-1 bgd-clr-vlt-3 txt-clr-wht-1 hdng-1 make-exit-btn">
        New Order
      </a>
      <a href="/checkout" class="rmv-link-css make-btn-2 btn-1 bgd-clr-vlt-3 txt-clr-wht-1 hdng-1 make-exit-btn">
        Checkout
      </a>
      <a href="/" class="rmv-link-css make-btn-2 btn-1 bgd-clr-vlt-3 txt-clr-wht-1 hdng-1 make-exit-btn">
        Homepage
      </a>
    </div>
    <!---------------------------------------------------------------------------------
        LOADING
        ---------------------------------------------------------------------------------->
    <div class="make-sub-page make-sub-exit make-sub-page-hd trst-0" id="make-sub-page-load">
      <div class="load-1">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!---------------------------------------------------------------------------------
        NAVIGATION
        ---------------------------------------------------------------------------------->
    <div class="flt-navs-1">
      <div class="flt-arw-1 flt-arw-1-left flt-arw-1-dsbl trst-0" id="make-flt-arw-left"></div>
      <div class="flt-nav-1 bgd-clr-wht-1 flt-nav-1-slct" id="make-flt-nav-1"></div>
      <div class="flt-nav-1 bgd-clr-wht-1 flt-nav-1-dsbl" id="make-flt-nav-2"></div>
      <div class="flt-nav-1 bgd-clr-wht-1 flt-nav-1-dsbl" id="make-flt-nav-3"></div>
      <div class="flt-nav-1 bgd-clr-wht-1 flt-nav-1-dsbl" id="make-flt-nav-4"></div>
      <div class="flt-nav-1 bgd-clr-wht-1 flt-nav-1-dsbl" id="make-flt-nav-5"></div>
      <div class="flt-arw-1 flt-arw-1-rght flt-arw-1-dsbl trst-0" id="make-flt-arw-rght"></div>
    </div>
  </div>
</body>

</html>