<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="./../../public/images/logo-icon.png" />
    <title>Make • CreateBase</title>
    <!--===================================================================================
    CSS and JavaScript
    ====================================================================================-->
    <!-------------------------------------------------------------------------------------
    Sourced CSS
    -------------------------------------------------------------------------------------->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap"
      rel="stylesheet"
    />
    <!-------------------------------------------------------------------------------------
    Sourced JavaScript
    -------------------------------------------------------------------------------------->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./../../public/javascripts/moment.js"></script>
    <script src="./../../public/javascripts/nav.js"></script>
    <!-------------------------------------------------------------------------------------
    Default CSS
    -------------------------------------------------------------------------------------->
    <link rel="stylesheet" href="./../../public/stylesheets/global.css" />
    <!-------------------------------------------------------------------------------------
    Default JavaScript
    -------------------------------------------------------------------------------------->
    <script src="./../../public/javascripts/index.js"></script>
    <!-------------------------------------------------------------------------------------
    Custom CSS and JavaScript
    -------------------------------------------------------------------------------------->
    <link rel="stylesheet" href="./../../public/stylesheets/make.css" />
    <script src="./../../public/javascripts/make.js"></script>
  </head>

  <body onload="navInit(); make.initialise();">
    <nav class="nav-container">
      <div class="nav-darken-overlay"></div>
      <div class="nav-top-bar">
        <button class="hamburger hamburger-spin" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
        <a href="/" class="nav-home-btn">
          <img
            src="./../../public/images/logo-icon.png"
            class="nav-logo"
            alt="CreateBase"
          />
        </a>
        <div class="nav-user-icon">
          <img
            src="./../../public/images/user-out-highlight.png"
            class="nav-user-hlt"
            alt="User"
          />
          <img
            src="./../../public/images/user-out.png"
            class="nav-user-reg"
            alt="User"
          />
          <img
            src="./../../public/images/user-x.png"
            class="nav-user-x"
            alt="User"
          />
        </div>
        <div class="nav-user-button">
          <a href="/login" class="nav-user-login">LOG IN</a>
          <a href="/signup" class="nav-user-signup">SIGN UP</a>
        </div>
      </div>
      <div class="nav-side-menus">
        <div class="nav-left-menu-wrap">
          <div class="nav-left-menu">
            <div class="nav-side-menu-links">
              <p class="nav-side-header">SERVICES</p>
              <a href="/services/3d-printing" class="nav-side-item"
                >3D PRINTING</a
              >
              <a href="/services/marketplace" class="nav-side-item"
                >MARKETPLACE</a
              >
              <div class="nav-sep"></div>
              <p class="nav-side-header">PRODUCTS</p>
              <a href="/products/engkits" class="nav-side-item"
                >ENGINEERING KITS</a
              >
              <div class="nav-sep"></div>
              <p class="nav-side-header">CREATEBASE</p>
              <a href="/story" class="nav-side-item">OUR STORY</a>
              <a href="/team" class="nav-side-item">OUR TEAM</a>
            </div>
            <div class="nav-side-socials">
              <a
                href="https://www.facebook.com/"
                class="fab fa-facebook-square"
                target="_blank"
              ></a>
              <a
                href="https://www.instagram.com/"
                class="fab fa-instagram"
                target="_blank"
              ></a>
              <a
                href="https://twitter.com/"
                class="fab fa-twitter"
                target="_blank"
              ></a>
              <a
                href="https://www.youtube.com/user/LouiiL"
                class="fab fa-youtube"
                target="_blank"
              ></a>
            </div>
          </div>
        </div>
        <div class="nav-right-menu-out">
          <div class="nav-right-menu">
            <p class="nav-side-header">WELCOME BACK</p>
            <a href="/login" class="nav-side-item">LOG IN</a>
            <div class="nav-sep"></div>
            <p class="nav-side-header">FIRST TIME?</p>
            <a href="/signup" class="nav-side-item">SIGN UP</a>
          </div>
        </div>
        <div class="nav-right-menu-in">
          <div class="nav-right-menu">
            <p class="nav-side-header">PROJECTS</p>
            <a href="#" class="nav-side-item">MY PROJECTS</a>
            <div class="nav-sep"></div>
            <p class="nav-side-header">ACCOUNT</p>
            <a href="#" class="nav-side-item">MY PROFILE</a>
            <a href="#" class="nav-side-item">SETTINGS</a>
            <a href="/logout" class="nav-side-signout">SIGN OUT</a>
          </div>
        </div>
      </div>
    </nav>

    <div id="make">
      <!--INPUTS-->
      <form id="make-inputs" class="hide-element">
        <input
          type="file"
          name="file"
          id="make-file"
          onchange="make.upload.change(this.files[0]);"
        />
        <input
          type="radio"
          name="buildType"
          id="make-quick-build"
          onchange="make.buildType.change('quick', this.checked); make.buildType.validation.validate();"
        />
        <input
          type="radio"
          name="buildType"
          id="make-custom-build"
          onchange="make.buildType.change('custom', this.checked); make.buildType.validation.validate();"
        />
        <input
          type="radio"
          name="quickBuild"
          id="make-prototype-build"
          onchange="make.buildType.validation.validate();"
        />
        <input
          type="radio"
          name="quickBuild"
          id="make-mechanical-build"
          onchange="make.buildType.validation.validate();"
        />
        <input
          type="radio"
          name="material"
          id="make-fdm-pla-material"
          onchange="make.buildOptions.material.select('fdm', 'pla');"
        />
        <input
          type="radio"
          name="material"
          id="make-fdm-abs-material"
          onchange="make.buildOptions.material.select('fdm', 'abs');"
        />
        <input
          type="radio"
          name="material"
          id="make-fdm-petg-material"
          onchange="make.buildOptions.material.select('fdm', 'petg');"
        />
        <input
          type="radio"
          name="quality"
          id="make-draft-quality"
          onchange="make.buildOptions.quality.select('draft');"
        />
        <input
          type="radio"
          name="quality"
          id="make-normal-quality"
          onchange="make.buildOptions.quality.select('normal');"
        />
        <input
          type="radio"
          name="quality"
          id="make-high-quality"
          onchange="make.buildOptions.quality.select('high');"
        />
        <input
          type="radio"
          name="stength"
          id="make-normal-strength"
          onchange="make.buildOptions.strength.select('normal');"
        />
        <input
          type="radio"
          name="stength"
          id="make-strong-strength"
          onchange="make.buildOptions.strength.select('strong');"
        />
        <input
          type="radio"
          name="stength"
          id="make-solid-strength"
          onchange="make.buildOptions.strength.select('solid');"
        />
        <input type="radio" name="colour" id="make-pla-any-colour" />
        <input type="radio" name="colour" id="make-pla-white-colour" />
        <input type="radio" name="colour" id="make-pla-black-colour" />
        <input type="radio" name="colour" id="make-abs-any-colour" />
        <input type="radio" name="colour" id="make-abs-white-colour" />
        <input type="radio" name="colour" id="make-abs-black-colour" />
        <input type="radio" name="colour" id="make-petg-any-colour" />
        <input type="radio" name="colour" id="make-petg-white-colour" />
        <input type="radio" name="colour" id="make-petg-black-colour" />
      </form>
      <!--UPLOAD FILE-->

      <div class="make-page upload" id="make-upload">
        <h1 class="rmv-h-css heading" id="make-upload-heading">
          Upload a File
        </h1>
        <div class="make-file-upload-button">
          <label for="make-file">Upload</label>
        </div>
        <div class="make-file-input">
          <h3 class="rmv-h-css" id="make-file-name">No File Uploaded</h3>
          <p class="rmv-p-css" id="make-file-error"></p>
        </div>
        <div class="button">
          <div class="button-5">
            <button class="rmv-btn-css button-5-back hide">
              <div class="button-5-back-icon"></div>
            </button>
            <button
              id="make-upload-next"
              class="rmv-btn-css button-5-next disable"
            >
              <div class="button-5-next-message">Continue</div>
              <div class="button-5-next-icon">
                <div class="right"></div>
              </div>
            </button>
          </div>
        </div>
      </div>

      <!--BUILD TYPE-->
      <div class="make-page build-type disable hide-right" id="make-build-type">
        <h1 class="rmv-h-css heading" id="make-build-type-heading">
          Choose Build Type
        </h1>
        <div class="make-build-type-inputs">
          <label for="make-quick-build" id="make-quick-build-input"
            >Quick</label
          >
          <label for="make-custom-build" id="make-custom-build-input"
            >Custom</label
          >
        </div>
        <div class="make-quick-build-options" id="make-quick-build-options">
          <label for="make-prototype-build" id="make-prototype-build-input"
            >Prototype</label
          >
          <label for="make-mechanical-build" id="make-mechanical-build-input"
            >Mechanical</label
          >
        </div>
        <div class="button">
          <div class="button-5">
            <button
              class="rmv-btn-css button-5-back"
              onclick="make.upload.show();"
            >
              <div class="button-5-back-icon"></div>
            </button>
            <button
              id="make-build-type-next"
              class="rmv-btn-css button-5-next disable"
            >
              <div class="button-5-next-message">
                Continue
              </div>
              <div class="button-5-next-icon">
                <div class="right"></div>
              </div>
            </button>
          </div>
        </div>
      </div>

      <!--BUILD OPTIONS-->

      <div
        class="make-page build-options disable hide-right"
        id="make-build-options"
      >
        <h1 class="rmv-h-css heading" id="make-build-options-heading">
          Set Build Options
        </h1>
        <div class="make-build-option">
          <h2 class="rmv-h-css">Material</h2>
          <h3 class="rmv-h-css">FDM</h3>
          <div class="make-build-option-inputs">
            <label for="make-fdm-pla-material" id="make-fdm-pla-material-input"
              >PLA</label
            >
            <label for="make-fdm-abs-material" id="make-fdm-abs-material-input"
              >ABS</label
            >
            <label
              for="make-fdm-petg-material"
              id="make-fdm-petg-material-input"
              >PETG</label
            >
          </div>
        </div>
        <div class="make-build-option">
          <h2 class="rmv-h-css">Quality</h2>
          <div class="make-build-option-inputs">
            <label for="make-draft-quality" id="make-draft-quality-input"
              >Draft</label
            >
            <label for="make-normal-quality" id="make-normal-quality-input"
              >Normal</label
            >
            <label for="make-high-quality" id="make-high-quality-input"
              >High</label
            >
          </div>
        </div>
        <div class="make-build-option">
          <h2 class="rmv-h-css">Strength</h2>
          <div class="make-build-option-inputs">
            <label for="make-normal-strength" id="make-normal-strength-input"
              >Normal</label
            >
            <label for="make-strong-strength" id="make-strong-strength-input"
              >Strong</label
            >
            <label for="make-solid-strength" id="make-solid-strength-input"
              >Solid</label
            >
          </div>
        </div>
        <div class="button">
          <div class="button-5">
            <button
              class="rmv-btn-css button-5-back"
              onclick="make.buildType.show();"
            >
              <div class="button-5-back-icon"></div>
            </button>
            <button
              id="make-build-options-next"
              class="rmv-btn-css button-5-next disable"
            >
              <div class="button-5-next-message">Continue</div>
              <div class="button-5-next-icon">
                <div class="right"></div>
              </div>
            </button>
          </div>
        </div>
      </div>

      <!--ORDER DETAILS-->

      <div
        class="make-page order-details disable hide-right"
        id="make-order-details"
      >
        <h1 class="rmv-h-css heading" id="make-order-details-heading">
          Set Order Details
        </h1>
        <div class="make-order-detail">
          <h2 class="rmv-h-css">Colour</h2>
          <div class="make-order-detail-inputs" id="make-pla-colours">
            <label for="make-pla-any-colour">Any</label>
            <label for="make-pla-white-colour">White</label>
            <label for="make-pla-black-colour">Black</label>
          </div>
          <div
            class="make-order-detail-inputs hide-element"
            id="make-abs-colours"
          >
            <label for="make-abs-any-colour">Any</label>
            <label for="make-abs-white-colour">White</label>
            <label for="make-abs-black-colour">Black</label>
          </div>
          <div
            class="make-order-detail-inputs hide-element"
            id="make-petg-colours"
          >
            <label for="make-petg-any-colour">Any</label>
            <label for="make-petg-white-colour">White</label>
            <label for="make-petg-black-colour">Black</label>
          </div>
        </div>
        <div class="make-order-detail">
          <h2 class="rmv-h-css">Quantity</h2>
          <div class="make-order-detail-inputs">
            <div class="make-quantity-container">
              <div class="subtract disable"></div>
              <input
                type="number"
                name="quantity"
                id="make-quantity"
                value="0"
              />
              <div class="add"></div>
            </div>
          </div>
        </div>
        <div class="button">
          <div class="button-5">
            <button
              class="rmv-btn-css button-5-back"
              onclick="make.buildOptions.show();"
            >
              <div class="button-5-back-icon"></div>
            </button>
            <button class="rmv-btn-css button-5-next disable">
              <div class="button-5-next-message">Continue</div>
              <div class="button-5-next-icon">
                <div class="right"></div>
              </div>
            </button>
          </div>
        </div>
      </div>

      <!--COMPLETE-->

      <div class="make-page complete disable hide-right" id="make-complete">
        <h1 class="rmv-h-css heading" id="make-complete-heading">Complete</h1>
        <div class="make-complete">
          <label for="make-note">Note</label>
          <textarea name="note" id="make-note"></textarea>
        </div>
        <div class="button">
          <div class="button-5">
            <button
              class="rmv-btn-css button-5-back"
              onclick="make.orderDetails.show();"
            >
              <div class="button-5-back-icon"></div>
            </button>
            <button class="rmv-btn-css button-5-next disable">
              <div class="button-5-next-message">Continue</div>
              <div class="button-5-next-icon">
                <div class="right"></div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
