<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="./../../public/images/logo-icon.png" />
  <title>Marketplace • CreateBase</title>
  <!------------------ FONTS ------------------>
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap" rel="stylesheet" />
  <!------------------ ICONS ------------------>
  <script src="https://kit.fontawesome.com/b382730141.js" crossorigin="anonymous"></script>
  <!----------- DEFAULT JAVASCRIPTS ----------->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./../../public/javascripts/moment.js"></script>
  <!------------ CUSTOM JAVASCRIPTS ----------->
  <script src="./../../public/javascripts/nav.js"></script>
  <script src="./../../public/javascripts/market.js"></script>
  <!---------------- STYLESHEET --------------->
  <link rel="stylesheet" href="./../../public/stylesheets/services/market.css" />
</head>

<body onload="navInit(); marketInit();">
  <nav class="nav-container">
    <div class="nav-darken-overlay"></div>
    <div class="nav-top-bar">
      <button class="hamburger hamburger-spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <a href="/" class="nav-home-btn">
        <img src="./../../public/images/logo-icon.png" class="nav-logo" alt="CreateBase" />
      </a>
      <div class="nav-user-icon">
        <img src="./../../public/images/user-out-highlight.png" class="nav-user-hlt" alt="User" />
        <img src="./../../public/images/user-out.png" class="nav-user-reg" alt="User" />
        <img src="./../../public/images/user-x.png" class="nav-user-x" alt="User" />
      </div>
      <div class="nav-user-button">
        <a href="/login" class="nav-user-login">LOG IN</a>
        <a href="/signup" class="nav-user-signup">SIGN UP</a>
      </div>
    </div>
    <div class="nav-side-menus">
      <div class="nav-left-menu-wrap">
        <div class="nav-left-menu">
          <div class="nav-side-menu-links">
            <p class="nav-side-header">SERVICES</p>
            <span class="nav-item-outer">
              <a href="/3d-printing" class="nav-item-inner">3D PRINTING</a>
              <a href="/services/3d-printing" class="info">i</a>
            </span>
            <span class="nav-item-outer">
              <a href="/services/marketplace" class="nav-item-inner">MARKETPLACE</a>
              <a href="/services/marketplace" class="info">i</a>
            </span>
            <div class="nav-sep"></div>
            <p class="nav-side-header">PRODUCTS</p>
            <span class="nav-item-outer">
              <a href="/products/engkits" class="nav-item-inner">ENGINEERING KITS</a>
              <a href="/products/engkits" class="info">i</a>
            </span>
            <div class="nav-sep"></div>
            <p class="nav-side-header">CREATEBASE</p>
            <a href="/story" class="nav-side-item">OUR STORY</a>
            <a href="/team" class="nav-side-item">OUR TEAM</a>
          </div>
          <div class="nav-side-socials">
            <a href="https://www.facebook.com/" class="fab fa-facebook-square" target="_blank"></a>
            <a href="https://www.instagram.com/" class="fab fa-instagram" target="_blank"></a>
            <a href="https://twitter.com/" class="fab fa-twitter" target="_blank"></a>
            <a href="https://www.youtube.com/user/LouiiL" class="fab fa-youtube" target="_blank"></a>
          </div>
        </div>
      </div>
      <div class="nav-right-menu-out">
        <div class="nav-right-menu">
          <div class="nav-profile-pic"></div>
          <p class="nav-side-header">WELCOME BACK</p>
          <a href="/login" class="nav-side-item">LOG IN</a>
          <div class="nav-sep"></div>
          <p class="nav-side-header">FIRST TIME?</p>
          <a href="/signup" class="nav-side-item">SIGN UP</a>
        </div>
      </div>
      <div class="nav-right-menu-in">
        <div class="nav-right-menu">
          <div class="nav-profile-pic"></div>
          <p class="nav-side-header">PROJECTS</p>
          <a href="/profile/projects" class="nav-side-item">MY PROJECTS</a>
          <div class="nav-sep"></div>
          <p class="nav-side-header">ACCOUNT</p>
          <a href="/profile/projects" class="nav-side-item">MY PROFILE</a>
          <a href="/profile/settings" class="nav-side-item">SETTINGS</a>
          <a href="/logout" class="nav-side-signout">SIGN OUT</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="main-section">
    <img src="./../../public/images/market-left.png" class="market-bg market-left" alt="">
    <div class="market-mid">
      <p class="market-title">MARKETPLACE</p>
      <div class="market-body">
        <p class="market-desc">The Marketplace is a platform for creators to exchange ideas, projects, and creations. Got a model to share? Sell it here. See a model you like? Buy it here.
        <br> <br>
        Coming soon . . .
        </p>
        <p class="market-already-updated">
          Release notes for the Marketplace are included in the regular CreateBase notifications.
        </p>
        <p class="market-get-updates">
          Get the latest updates on release:
        </p>
        <div class="market-fld input-decor" id="signup-email">
          <input type="text" name="email" id="sign-up-eml" required />
          <label class="input-label" for="email">Email</label>
          <label class="input-error" for="displayName">Invalid email, please try again.</label>
        </div>
        <button class="market-btn reg-btn">SUBSCRIBE</button>
      </div>
      <div class="market-show">SHOW MORE</div>
    </div>
    <img src="./../../public/images/market-right.png" class="market-bg market-right" alt="">
  </div>
</body>

</html>