<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="./../../public/images/logo-icon.png" />
  <title>My Projects • CreateBase</title>
  <!--============== FONTS ==============-->
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Poppins:wght@300;400;600;700&family=Didact+Gothic:wght@300;400;600;700&family=Questrial:wght@300;400;600;700&display=swap"
    rel="stylesheet">
  <!--============== ICONS ==============-->
  <script src="https://kit.fontawesome.com/b382730141.js" crossorigin="anonymous"></script>
  <!--============== DEFAULT JAVASCRIPTS ==============-->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./../../public/javascripts/moment.js"></script>
  <!--============== CUSTOM JAVASCRIPTS ==============-->
  <script src="./../../public/javascripts/nav.js"></script>
  <script src="./../../public/javascripts/profile.js"></script>
  <script src="./../../public/javascripts/settings.js"></script>
  <script src="./../../public/javascripts/global.js"></script>
  <!--============== STYLESHEET ==============-->
  <link rel="stylesheet" href="./../../public/stylesheets/profile/profile-all.css" />
  <link rel="stylesheet" href="./../../public/stylesheets/profile/profile.css" />
  <link rel="stylesheet" href="./../../public/stylesheets/profile/projects.css" />
</head>

<body onload="navInit(); profileInit(); settings.initialise();">

  <nav>
    <div class="nav-darken-overlay"></div>
    <div class="nav-top-bar">
      <button class="hamburger hamburger-spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <a class="nav-home-btn" href="/">
        <img alt="CreateBase" class="nav-logo" src="./../../public/images/logo-icon.png" />
      </a>
      <div class="nav-in">
        <img alt="User" class="nav-user-x" src="./../../public/images/user-x.png" />
        <img alt="User" id="nav-user-in" src="/profile/customer/fetch/picture" />
      </div>
      <div class="nav-mobile-out">
        <img alt="User" class="nav-user-x" src="./../../public/images/user-x.png" />
        <img alt="User" id="nav-user-out" src="./../../public/images/user-out.png" />
      </div>
      <div class="nav-desktop-out">
        <a href="/login" id="nav-user-login">LOG IN</a>
        <a class="grad-btn" href="/signup" id="nav-user-signup">SIGN UP</a>
      </div>
    </div>
    <div class="nav-side-menus">
      <div class="nav-left-menu-wrap">
        <div class="nav-left-menu">
          <div class="nav-side-menu-links">
            <p class="nav-side-header">CREATEBASE</p>
            <a class="nav-side-item" href="/3d-printing">MAKE</a>
            <a class="nav-side-item" href="/products/engkits">KITS</a>
            <a class="nav-side-item" href="/services/marketplace">SHOP</a>
            <p class="nav-side-header">INFO</p>
            <a class="nav-side-item" href="/services/3d-printing">3D PRINTING</a>
            <a class="nav-side-item" href="/products/engkits">ENGINEERING KITS</a>
            <a class="nav-side-item" href="/services/marketplace">MARKETPLACE</a>
            <p class="nav-side-header">ABOUT</p>
            <a class="nav-side-item" href="/story">OUR STORY</a>
            <a class="nav-side-item" href="/team">OUR TEAM</a>
          </div>
          <div class="nav-side-socials">
            <a class="fab fa-facebook-square"
              href="https://www.facebook.com/CreateBase-110365053954978/?view_public_for=110365053954978"
              target="_blank"></a>
            <a class="fab fa-instagram" href="https://www.instagram.com/createbasenz/" target="_blank"></a>
            <a class="fab fa-twitter" href="https://twitter.com/" target="_blank"></a>
            <a class="fab fa-youtube" href="https://www.youtube.com/user/LouiiL" target="_blank"></a>
          </div>
        </div>
      </div>
      <div class="nav-right-menu-out">
        <div class="nav-right-menu">
          <p class="nav-side-header">WELCOME BACK</p>
          <a class="nav-side-item" href="/login">LOG IN</a>
          <p class="nav-side-header">FIRST TIME?</p>
          <a class="nav-side-item" href="/signup">SIGN UP</a>
        </div>
      </div>
      <div class="nav-right-menu-in">
        <div class="nav-right-menu">
          <img alt="customer profile image" id="nav-dp" src="/profile/customer/fetch/picture" />
          <p class="nav-side-header">PROJECTS</p>
          <a class="nav-side-item" data-tab="projects" href="/profile" onclick="passTab(this);">MY PROJECTS</a>
          <p class="nav-side-header">ACCOUNT</p>
          <a class="nav-side-item" data-tab="profile" href="/profile" onclick="passTab(this);">MY PROFILE</a>
          <a class="nav-side-item" data-tab="billing" href="/profile" onclick="passTab(this);">BILLING</a>
          <a class="nav-side-item" data-tab="settings" href="/profile" onclick="passTab(this);">SETTINGS</a>
          <a class="nav-side-signout" href="/logout">SIGN OUT</a>
        </div>
      </div>
    </div>
  </nav>

  <div id="mobile-notif-wrap">
  </div>
  <div id="notification-wrap">
    <div id="cookie-container" class="hide">
      <div class="cookie-message-container">
        <p>We use cookies and similar technologies in order to offer you a personalised online experience and to analyse
          our traffic.</p>
      </div>
      <div class="btn-group">
        <button id="cancel" onclick="session.cancel();">DON'T ALLOW</button>
        <button id="submit" class="grad-btn" onclick="session.allow();">ALLOW ALL</button>
      </div>
    </div>
  </div>

  <div id="profile-page">

    <div class="main-area" id="profile-area">
      <div id="backdrop">
        <img alt="User" src="/profile/customer/fetch/picture" id="profile-backdrop" decoding="async"></img>
      </div>
      <div class="profile-wrapper">
        <button class="fas fa-pen-square" id="profile-edit-btn"></button>
        <form id="profile-pic">
          <label for="profile-upload"><i class="far fa-edit"></i></label>
          <input type="file" name="picture" id="profile-upload" onchange="loadFile(event)"></input>
          <img src="/profile/customer/fetch/picture" id="profile-preview" decoding="async"></img>
        </form>
        <p id="profile-name" data-placeholder="Display Name"></p>
        <p id="profile-location" data-info="Your location can be modified in the Settings tab."></p>
        <div class="sep"></div>
        <p id="profile-bio" data-placeholder="Tell us a bit about yourself."></p>
        <div id="profile-edit">
          <div class="cancel-btn" id="profile-cancel-btn">Cancel</div>
          <div class="grad-btn" id="profile-save-btn" onclick="profileUploadPicture();">Save</div>
        </div>
        <div id="profile-since"></div>
      </div>
    </div>

    <div class="main-area" id="projects-area">
      <div id="proj-header">
        <h1>Projects</h1>
        <i class="fas fa-search"></i>
        <i class="fas fa-plus"></i>
      </div>
      <div id="proj-fav-wrapper">
        <h2>Favourites (?)</h2>
        <div id="proj-fav-container">
          <div class="proj-fav">
            <img src="./../../public/images/profile/project-thumbnail.jpeg" alt="Project Thumbnail"
              class="proj-fav-thumbnail">
            <div class="proj-fav-name">My First Project</div>
            <div class="proj-fav-makes">A Make, Untitled Make, Part C, Test Part, Another Part</div>
          </div>
          <div class="proj-fav">
            <img src="./../../public/images/profile/project-thumbnail.jpeg" alt="Project Thumbnail"
              class="proj-fav-thumbnail">
            <div class="proj-fav-name">Water flask</div>
            <div class="proj-fav-makes">Flask first draft</div>
          </div>
        </div>
      </div>
      <div id="proj-all-wrapper">
        <h2>All (?)</h2>
        <div id="proj-all-container">
          <div class="proj-small">
            <i class="far fa-bookmark"></i>
            <img src="./../../public/images/profile/project-thumbnail.jpeg" alt="Project Thumbnail"
              class="proj-small-thumbnail">
            <div class="proj-small-name">
              <p>My First Project</p>
            </div>
          </div>
          <div class="proj-small">
            <img src="./../../public/images/profile/trunk.png" alt="Project Thumbnail" class="proj-small-thumbnail">
            <div class="proj-small-name">
              <p>Second Project with a Really Long Name</p>
            </div>
          </div>
          <div class="proj-small">
            <img src="./../../public/images/profile/project-thumbnail.jpeg" alt="Project Thumbnail"
              class="proj-small-thumbnail">
            <div class="proj-small-name">
              <p>Water Flask</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="main-area" id="projects-area">
      <div id="new-edit-proj-screen-overlay"></div>
      <div id="new-edit-proj-screen">
        <div id="new-edit-proj-x">
          <div></div>
        </div>
        <div id="new-edit-proj">
          <h3 id="new-edit-proj-header"></h3>
          <h4>Name</h4>
          <div id="new-edit-proj-name-wrapper">
            <input type="text" id="new-edit-proj-name" placeholder="Give your project a name">
            <i id="new-edit-proj-bookmark" class="fa-bookmark"></i>
          </div>
          <h4>Makes</h4>
          <div id="make-blobs-container"></div>
          <h4>Notes</h4>
          <textarea id="new-edit-proj-notes" placeholder="Add notes to your project" style="resize: none;"></textarea>
          <div class="save-proj-container">
            <i class="far fa-trash-alt" id="delete-proj"></i>
            <button class="grad-btn" id="save-proj">Save</button>
          </div>
        </div>
        <div class="add-make">
          <h4>Add to your project</h4>
          <div id="make-labels-wrapper">
            <div id="make-labels-container"></div>
          </div>
          <h5>You can add Makes to this project later.</h5>
        </div>
      </div>
      <div id="proj-wrap">
        <div id="proj-scroll-container">
          <div class="end-spacer"></div>
        </div>
      </div>
      <div class="new-proj-container">
        <button class="grad-btn" id="new-edit-proj-btn">+ Start New Project</button>
      </div>
    </div> -->

    <div class="main-area" id="billing-area">
      <div class="billing-card">
        <div class="billing-main">
          <div class="order-id">
            <h2>Order #80085</h2>
            <button class="action-btn">VIEW TRACKING</button>
          </div>
          <div class="order-status">
            <i class="fas fa-box-open"></i>
            <p>Packing</p>
          </div>
          <div class="order-total">
            <span>TOTAL</span>
            <p>$53.80</p>
          </div>
          <div class="order-date">
            <i class="fas fa-credit-card"></i>
            <p>April 21, 2020</p>
          </div>
          <div class="order-location">
            <i class="fas fa-map-marker-alt"></i>
            <p>Auckland, New Zealand</p>
          </div>
        </div>
        <div class="billing-details">
          <div class="order-item">
            <p class="order-item-name">Collar stay</p>
            <p class="order-item-quantity">2 pcs</p>
            <p class="order-item-price">$8.00</p>
          </div>
          <div class="order-item">
            <p class="order-item-name">Poop emoji keychain</p>
            <p class="order-item-quantity">4 pcs</p>
            <p class="order-item-price">$10.80</p>
          </div>
          <div class="order-item">
            <p class="order-item-name">Gimbal adapter</p>
            <p class="order-item-quantity">1 pc</p>
            <p class="order-item-price">$35.00</p>
          </div>
          <div class="order-item-total">
            <p>Total</p>
            <h3>$53.80</h3>
          </div>
        </div>
        <div class="billing-show">
          <div class="billing-invoice">
            <a href="#">Print an invoice</a>
          </div>
          <div class="billing-arrow"></div>
          <div class="billing-contact">
            <a href="#">Contact us about this order</a>
          </div>
        </div>
      </div>
      <div class="billing-card">
        <div class="billing-main">
          <div class="order-id">
            <h2>Order #10831</h2>
            <button class="action-btn">VIEW TRACKING</button>
          </div>
          <div class="order-status">
            <i class="fas fa-truck-loading"></i>
            <p>In transit</p>
          </div>
          <div class="order-total">
            <span>TOTAL</span>
            <p>$12.00</p>
          </div>
          <div class="order-date">
            <i class="fas fa-credit-card"></i>
            <p>April 20, 2020</p>
          </div>
          <div class="order-location">
            <i class="fas fa-map-marker-alt"></i>
            <p>Auckland, New Zealand</p>
          </div>
        </div>
        <div class="billing-details">
          <div class="order-item">
            <p class="order-item-name">Pen holder</p>
            <p class="order-item-quantity">1 pc</p>
            <p class="order-item-price">$12.00</p>
          </div>
          <div class="order-item-total">
            <p>Total</p>
            <h3>$12.00</h3>
          </div>
        </div>
        <div class="billing-show">
          <div class="billing-invoice">
            <a href="#">Print an invoice</a>
          </div>
          <div class="billing-arrow"></div>
          <div class="billing-contact">
            <a href="#">Contact us about this order</a>
          </div>
        </div>
      </div>
      <div class="billing-card">
        <div class="billing-main">
          <div class="order-id">
            <h2>Order #10421</h2>
            <!-- <button class="action-btn">VIEW TRACKING</button> -->
          </div>
          <div class="order-status">
            <i class="fas fa-check-circle"></i>
            <p>Delivered</p>
          </div>
          <div class="order-total">
            <span>TOTAL</span>
            <p>$20.50</p>
          </div>
          <div class="order-date">
            <i class="fas fa-credit-card"></i>
            <p>March 3, 2019</p>
          </div>
          <div class="order-location">
            <i class="fas fa-map-marker-alt"></i>
            <p>Auckland, New Zealand</p>
          </div>
        </div>
        <div class="billing-details">
          <div class="order-item">
            <p class="order-item-name">Trophy display stand</p>
            <p class="order-item-quantity">2 pcs</p>
            <p class="order-item-price">$11.00</p>
          </div>
          <div class="order-item">
            <p class="order-item-name">Watch case</p>
            <p class="order-item-quantity">1 pc</p>
            <p class="order-item-price">$9.50</p>
          </div>
          <div class="order-item-total">
            <p>Total</p>
            <h3>$20.50</h3>
          </div>
        </div>
        <div class="billing-show">
          <div class="billing-invoice">
            <a href="#">Print an invoice</a>
          </div>
          <div class="billing-arrow"></div>
          <div class="billing-contact">
            <a href="#">Contact us about this order</a>
          </div>
        </div>
      </div>
    </div>

    <div class="main-area" id="settings-area">
      <h1>Settings</h1>

      <div id="settings-content-wrap">
        <div id="col1">
          <div id="email-container">
            <h2>Email</h2>
            <div id="current-email" class="current">
              <input type="text" id="settingEmail" name="settingEmail" placeholder="[Example@gmail.com]"
                disabled="disabled">
              <div id="settings-edit-email" class="editSetting" onclick="settings.editEmail();"><button
                  class="fas fa-pen-square" id="password-edit-btn"></button></div>
            </div>
            <div id="newEmail-container" class="hide">
              <label for="newEmail">
                <h2>New Email</h2>
              </label>
              <input type="text" id="newEmail" name="newEmail" placeholder="[New Email]">
            </div>
  
            <div id="emailPassword-container" class="hide">
              <label for="emailPassword">
                <h2>Enter password</h2>
              </label>
              <input type="password" id="emailPassword" name="emailPassword" placeholder="[Email Password]"
                autocomplete="new-password">
            </div>
  
            <div id="email-error" class="errorMessage hide"></div>
  
            <div class="settings-btn-group hide" id="email-btn-group-email">
              <button id="submit" class="grad-btn" onclick="settings.changeEmail();">Save</button>
              <button id="cancel" class="cancel-btn" onclick="settings.editEmail();">Cancel</button>
            </div>
  
            <div class="divider"></div>
          </div>
  
          <div id="address-container">
            <h2>Saved Address</h2>
            <div id="address-item-wrap">
  
              <div class="address-item editTitle current" id="address-field-name">
                <label for="addressName" class="hide" id="address-label-name">
                  <h3>Name/Company Name</h3>
                </label>
                <input type="text" id="addressName" name="addressName" placeholder="[Name/Company Name]" disabled>
                <div id="settings-edit-address" class="editSetting" onclick="settings.editAddress();"><button
                    class="fas fa-pen-square" id="password-edit-btn"></button></div>
              </div>
  
              <div class="address-item current" id="address-field-unit">
                <label for="addressUnit" class="hide" id="address-label-unit">
                  <h3>Unit</h3>
                </label>
                <input type="text" id="addressUnit" name="addressUnit" placeholder="[Unit]" disabled>
              </div>
  
              <div class="address-item current" id="address-field-street-number">
                <label for="streetNum" class="hide" id="address-label-street-number">
                  <h3>Street Number</h3>
                </label>
                <input type="text" id="streetNum" name="streetNum" placeholder="[Street Number]" disabled>
              </div>
  
              <div class="address-item current" id="address-field-street-name">
                <label for="streetName" class="hide" id="address-label-street-name">
                  <h3>Street Name</h3>
                </label>
                <input type="text" id="streetName" name="streetName" placeholder="[Street Name]" disabled>
              </div>
  
  
              <div class="address-item current" id="address-field-suburb">
                <label for="addressSuburb" class="hide" id="address-label-suburb">
                  <h3>Suburb</h3>
                </label>
                <input type="text" id="addressSuburb" name="addressSuburb" placeholder="[Suburb]" disabled>
              </div>
  
              <div class="address-item current" id="address-field-city">
                <label for="addressCity" class="hide" id="address-label-city">
                  <h3>City</h3>
                </label>
                <input type="text" id="addressCity" name="addressCity" placeholder="[City]" disabled>
              </div>
  
              <div class="address-item current" id="address-field-postcode">
                <label for="postCode" class="hide" id="address-label-postcode">
                  <h3>Postcode</h3>
                </label>
                <input type="text" id="postCode" name="postCode" placeholder="[postCode]" disabled>
              </div>
  
              <div class="address-item current" id="address-field-country">
                <label for="addressCountry" class="hide" id="address-label-country">
                  <h3>Country</h3>
                </label>
                <input type="text" id="addressCountry" name="addressCountry" placeholder="[Country]" disabled>
              </div>
            </div>
  
            <div id="address-error" class="errorMessage hide"></div>
  
            <div class="settings-btn-group hide" id="settings-btn-group-address">
              <button id="submit" class="grad-btn" onclick="settings.changeAddress();">Save</button>
              <button id="cancel" class="cancel-btn" onclick="settings.editAddress();">Cancel</button>
            </div>
  
  
            <div class="divider"></div>
          </div>
        </div>

        <div id="col2">
          <div id="password-container">
            <div class="editTitle">
              <h2>Change Password</h2>
              <div id="settings-edit-password" class="editSetting" onclick="settings.editPassword();"><button
                  class="fas fa-pen-square" id="password-edit-btn"></button></div>
            </div>
  
            <div id="password-item-wrap" class="hide">
              <div class="password-item">
                <label for="oldPassword">
                  <h3>Old Password</h3>
                </label>
                <input type="password" id="oldPassword" name="oldPassword" placeholder="[Old Password]">
              </div>
              <div class="password-item">
                <label for="newPassword">
                  <h3>New Password</h3>
                </label>
                <input type="password" id="newPassword" name="newPassword" placeholder="[New Password]">
              </div>
              <div class="password-item">
                <label for="confirmNewPassword">
                  <h3>Confirm new password</h3>
                </label>
                <input type="password" id="confirmNewPassword" name="confirmNewPassword"
                  placeholder="[Confirm New Password]">
              </div>
            </div>
  
            <div id="password-error" class="errorMessage hide"></div>
  
            <div class="settings-btn-group hide" id="settings-btn-group-password">
              <button id="submit" class="grad-btn" onclick="settings.changePassword();">Save</button>
              <button id="cancel" class="cancel-btn" onclick="settings.editPassword();">Cancel</button>
            </div>
  
            <div class="divider"></div>
          </div>
  
          <div id="subscription-container">
            <h2>Mailing list subscription</h2>
            <div id="subscription-checkbox" class="editTitle">
              <label for="c1" id="subscription-title">
                <p id="sub-status-p">Subscribed</p>
              </label>
              <div id="settings-edit-sub" class="editSetting">
                <input id="settings-subscription-input" class="settings-checkbox" type="checkbox"
                  onchange="settings.changeSubscription('change');">
              </div>
            </div>
  
            <div id="subscription-error" class="errorMessage hide"></div>
  
            <div class="divider"></div>
          </div>
  
          <div id="removeAccount-container">
            <h2 id="removeh2" onclick="">Delete account</h2>
            <p id="disclaimerP">(All projects, makes and associated saved data will be permanently removed)</p>
  
            <div id="account-checkbox" class="editTitle">
              <label for="c1" id="subscription-title">
                <p id="confirmP">Yes, I want to delete my account</p>
              </label>
              <div id="settings-edit-sub" class="editSetting">
                <input id="settings-delete-account-input" class="settings-checkbox" type="checkbox"
                  onchange="settings.deleteAccountConfirmation();">
              </div>
            </div>
  
            <div id="settings-delete-account-password-container" class="editSetting hide">
              <input id="confirm-removal-password" type="password" placeholder="Enter Password">
            </div>
  
            <div id="delete-account-error" class="errorMessage hide"></div>
  
            <div class="settings-btn-group hide" id="settings-btn-group-account">
              <button id="submit" class="remove-btn" onclick="settings.deleteAccount();">Delete</button>
              <button id="cancel" class="cancel-btn" onclick="settings.deleteAccountCancel();">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="tab-container">
      <input type="radio" id="profile-tab" name="tab" data-tab="profile" onclick="changeTabArea(this);">
      <label for="profile-tab"><span>Profile</span><i class="fas fa-user"></i></label>
      <input type="radio" id="projects-tab" name="tab" data-tab="projects" onclick="changeTabArea(this);">
      <label for="projects-tab"><span>Projects</span><i class="fas fa-folder"></i></label>
      <input type="radio" id="billing-tab" name="tab" data-tab="billing" onclick="changeTabArea(this);">
      <label for="billing-tab"><span>Billing</span><i class="fas fa-credit-card"></i></label>
      <input type="radio" id="settings-tab" name="tab" data-tab="settings" onclick="changeTabArea(this);">
      <label for="settings-tab"><span>Settings</span><i class="fas fa-cog"></i></label>
    </div>
  </div>

</body>

<script src="../../public/javascripts/particles.js"></script>

<script>
  const profileUploadPicture = async () => {
    const file = new FormData(document.querySelector("#profile-pic"));
    let data;
    try {
      data = (await axios.post("/profile/customer/update/picture", file))["data"];
    } catch (error) {
      console.log(error);
      return;
    }
  }
</script>

</html>