<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="./../../public/images/logo-icon.png" />
  <title>My Projects • CreateBase</title>
  <!------------------ FONTS ------------------>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
  <!------------------ ICONS ------------------>
  <script src="https://kit.fontawesome.com/b382730141.js" crossorigin="anonymous"></script>
  <!----------- DEFAULT JAVASCRIPTS ----------->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./../../public/javascripts/moment.js"></script>
  <!------------ CUSTOM JAVASCRIPTS ----------->
  <script src="./../../public/javascripts/nav.js"></script>
  <script src="./../../public/javascripts/profile.js"></script>
  <!---------------- STYLESHEET --------------->
  <link rel="stylesheet" href="./../../public/stylesheets/profile.css" />
</head>

<body onload="navInit(); profileInit();">

  <nav>
    <div class="nav-darken-overlay"></div>
    <div class="nav-top-bar">
      <button class="hamburger hamburger-spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <a class="nav-home-btn" href="/">
        <img alt="CreateBase" class="nav-logo" src="./../../public/images/logo-icon.png" decoding="async"/>
      </a>
      <div class="nav-in">
        <img alt="User" class="nav-user-x" src="./../../public/images/user-x.png" decoding="async"/>
        <img alt="User" id="nav-user-in" src="/profile/customer/fetch/picture" decoding="async"/>
      </div>
      <div class="nav-mobile-out">
        <img alt="User" class="nav-user-x" src="./../../public/images/user-x.png" decoding="async"/>
        <img alt="User" id="nav-user-out" src="./../../public/images/user-out.png" decoding="async"/>
      </div>
      <div class="nav-desktop-out">
        <a href="/login" id="nav-user-login">LOG IN</a>
        <a href="/signup" id="nav-user-signup">SIGN UP</a>
      </div>
    </div>
    <div class="nav-side-menus">
      <div class="nav-left-menu-wrap">
        <div class="nav-left-menu">
          <div class="nav-side-menu-links">
            <p class="nav-side-header">CREATEBASE</p>
              <a class="nav-side-item" href="/3d-printing">MAKE</a>
              <a class="nav-side-item" href="/products/engkits">KITS</a>
              <a class="nav-side-item" href="/services/marketplace">SHOP</a>
            <p class="nav-side-header">INFO</p>
              <a class="nav-side-item" href="/services/3d-printing">3D PRINTING</a>
              <a class="nav-side-item" href="/products/engkits">ENGINEERING KITS</a>
              <a class="nav-side-item" href="/services/marketplace">MARKETPLACE</a>
            <p class="nav-side-header">ABOUT</p>
              <a class="nav-side-item" href="/story">OUR STORY</a>
              <a class="nav-side-item" href="/team">OUR TEAM</a>
          </div>
          <div class="nav-side-socials">
            <a class="fab fa-facebook-square" href="https://www.facebook.com/CreateBase-110365053954978/?view_public_for=110365053954978" target="_blank"></a>
            <a class="fab fa-instagram" href="https://www.instagram.com/createbasenz/" target="_blank"></a>
            <a class="fab fa-twitter" href="https://twitter.com/" target="_blank"></a>
            <a class="fab fa-youtube" href="https://www.youtube.com/user/LouiiL" target="_blank"></a>
          </div>
        </div>
      </div>
      <div class="nav-right-menu-out">
        <div class="nav-right-menu">
          <p class="nav-side-header">WELCOME BACK</p>
            <a class="nav-side-item" href="/login">LOG IN</a>
          <p class="nav-side-header">FIRST TIME?</p>
            <a class="nav-side-item" href="/signup">SIGN UP</a>
        </div>
      </div>
      <div class="nav-right-menu-in">
        <div class="nav-right-menu">
          <img id="nav-dp" src="/profile/customer/fetch/picture" decoding="async"/>
          <p class="nav-side-header">PROJECTS</p>
            <a class="nav-side-item" data-tab="projects" href="/profile" onclick="passTab(this);">MY PROJECTS</a>
          <p class="nav-side-header">ACCOUNT</p>
            <a class="nav-side-item" data-tab="projects" href="/profile" onclick="passTab(this);">MY PROFILE</a>
            <a class="nav-side-item" data-tab="billing" href="/profile" onclick="passTab(this);">BILLING</a>
            <a class="nav-side-item" data-tab="settings" href="/profile" onclick="passTab(this);">SETTINGS</a>
          <a class="nav-side-signout" href="/logout">SIGN OUT</a>
        </div>
      </div>
    </div>
  </nav>
  
	<div id="profile-page">
    <div class="my-profile-section">
      <div id="profile-pic">
        <label for="profile-upload"><i class="far fa-edit"></i></label>
        <input type="file" id="profile-upload" onchange="loadFile(event)"></input>
        <img src="/profile/customer/fetch/picture" id="profile-preview" decoding="async"></img>
      </div>
      <p id="profile-name" data-placeholder="Display Name"></p>
      <p id="profile-location" data-info="Edit location under the Billing tab."></p>
      <p id="profile-bio" data-placeholder="Tell us a bit about yourself!"></p>
      <div class="profile-edit">
        <div class="cancel-btn" id="profile-cancel-btn">Cancel</div>
        <div class="reg-btn" id="profile-save-btn" onclick="profileUploadPicture();">Save</div>
        <div class="action-btn" id="profile-edit-btn">Edit</div>
      </div>
    </div>
    <div class="profile-tabs-section">
      <input type="radio" id="projects-tab" name="tab" data-tab="projects" onclick="passTab(this);">
      <label for="projects-tab">Projects</label>
      <input type="radio" id="billing-tab" name="tab" data-tab="billing" onclick="passTab(this);">
      <label for="billing-tab">Billing</label>
      <input type="radio" id="settings-tab" name="tab" data-tab="settings" onclick="passTab(this);">
      <label for="settings-tab">Settings</label>
      <div class="main-area" id="projects-area">
        <div class="proj-wrap">
          <div class="proj-headers">
            <p id="curr-proj-header">CURRENT PROJECTS</p>
            <p id="arch-proj-header">ARCHIVED PROJECTS</p>
          </div>
          <div class="proj-scroll-container">
            <div class="proj-card proj-card-active">
              <i class="far fa-bookmark"></i>
              <p class="proj-date">03/04/2020</p>
              <p class="proj-name">Project Name Is Long Too long really really long</p>
              <p class="proj-files">Little_Box_Pen_holder.stl <i class="fas fa-save"></i></p>
              <div class="proj-details">
                <p class="proj-material">petg</p>
                <p class="proj-quality">normal</p>
                <p class="proj-strength">normal</p>
                <p class="proj-colour">black</p>
              </div>
              <div class="proj-notes">
                <p onmouseover="onNotes(true);" onmouseout="onNotes(false);">No notes</p>
              </div>
              <div class="proj-sep"></div>
              <div class="proj-buttons">
                <button class="proj-edit action-btn">Edit</button>
                <button class="proj-cancel action-btn">Cancel</button>
                <button class="proj-save action-btn">Save</button>
              </div>
              <p class="proj-modified">Last modified 21/05/2020</p>
            </div>
            <div class="proj-card">
              <i class="far fa-bookmark"></i>
              <p class="proj-date">03/04/2020</p>
              <p class="proj-name">My First Project</p>
              <p class="proj-files">Little_Box_Pen_holder.stl <i class="fas fa-save"></i></p>
              <div class="proj-details">
                <p class="proj-material">petg</p>
                <p class="proj-quality">normal</p>
                <p class="proj-strength">normal</p>
                <p class="proj-colour">black</p>
              </div>
              <div class="proj-notes" onmouseover="onNotes(true);" onmouseout="onNotes(false);">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa laudantium recusandae nulla ut amet, veniam magni in dolores quis blanditiis fuga debitis ullam reprehenderit illo dolor. Natus sed odio veritatis est vel! Ducimus illo excepturi nemo consectetur, praesentium provident earum dolorum sapiente! Quod quibusdam voluptatem repudiandae iste, optio totam laboriosam omnis voluptatibus temporibus. Esse harum odit blanditiis. Molestiae doloribus sed tenetur in non facilis adipisci accusamus esse voluptatem incidunt temporibus officia obcaecati commodi numquam, qui laudantium quae id illum exercitationem blanditiis quasi soluta quis quos iure? Laborum nostrum voluptates vitae ullam exercitationem eligendi incidunt possimus corrupti dolore. Dolorem, earum magnam!</p>
              </div>
              <div class="proj-sep"></div>
              <div class="proj-buttons">
                <button class="proj-edit action-btn">Edit</button>
                <button class="proj-cancel action-btn">Cancel</button>
                <button class="proj-save action-btn">Save</button>
              </div>
              <p class="proj-modified">Last modified 21/05/2020</p>
            </div>
          </div>
          <div class="scroll-cover"></div>
        </div>
        <div class="new-proj-container">
          <button class="action-btn">+ Start New Project</button>
        </div>
      </div>
      <div class="main-area" id="billing-area">
        <div class="billing-card">
          <div class="billing-main">
            <div class="order-id">
              <h2>Order #80085</h2>
              <button class="action-btn">VIEW TRACKING</button>
            </div>
            <div class="order-status">
              <i class="fas fa-box-open"></i>
              <p>Packing</p>
            </div>
            <div class="order-total">
              <span>TOTAL</span>
              <p>$53.80</p>
            </div>
            <div class="order-date">
              <i class="fas fa-credit-card"></i> 
              <p>April 21, 2020</p>
            </div>
            <div class="order-location">
              <i class="fas fa-map-marker-alt"></i> 
              <p>Auckland, New Zealand</p>
            </div>
          </div>
          <div class="billing-details">
            <div class="order-item">
              <p class="order-item-name">Collar stay</p>
              <p class="order-item-quantity">2 pcs</p>
              <p class="order-item-price">$8.00</p>
            </div>
            <div class="order-item">
              <p class="order-item-name">Poop emoji keychain</p>
              <p class="order-item-quantity">4 pcs</p>
              <p class="order-item-price">$10.80</p>
            </div>
            <div class="order-item">
              <p class="order-item-name">Gimbal adapter</p>
              <p class="order-item-quantity">1 pc</p>
              <p class="order-item-price">$35.00</p>
            </div>
            <div class="order-item-total">
              <p>Total</p>
              <h3>$53.80</h3>
            </div>
          </div>
          <div class="billing-show">
            <div class="billing-invoice">
              <a href="#">Print an invoice</a>
            </div>
            <div class="billing-arrow"></div>
            <div class="billing-contact">
              <a href="#">Contact us about this order</a>
            </div>
          </div>
        </div>
        <div class="billing-card">
          <div class="billing-main">
            <div class="order-id">
              <h2>Order #10831</h2>
              <button class="action-btn">VIEW TRACKING</button>
            </div>
            <div class="order-status">
              <i class="fas fa-truck-loading"></i>
              <p>In transit</p>
            </div>
            <div class="order-total">
              <span>TOTAL</span>
              <p>$12.00</p>
            </div>
            <div class="order-date">
              <i class="fas fa-credit-card"></i> 
              <p>April 20, 2020</p>
            </div>
            <div class="order-location">
              <i class="fas fa-map-marker-alt"></i> 
              <p>Auckland, New Zealand</p>
            </div>
          </div>
          <div class="billing-details">
            <div class="order-item">
              <p class="order-item-name">Pen holder</p>
              <p class="order-item-quantity">1 pc</p>
              <p class="order-item-price">$12.00</p>
            </div>
            <div class="order-item-total">
              <p>Total</p>
              <h3>$12.00</h3>
            </div>
          </div>
          <div class="billing-show">
            <div class="billing-invoice">
              <a href="#">Print an invoice</a>
            </div>
            <div class="billing-arrow"></div>
            <div class="billing-contact">
              <a href="#">Contact us about this order</a>
            </div>
          </div>
        </div>
        <div class="billing-card">
          <div class="billing-main">
            <div class="order-id">
              <h2>Order #10421</h2>
              <!-- <button class="action-btn">VIEW TRACKING</button> -->
            </div>
            <div class="order-status">
              <i class="fas fa-check-circle"></i>
              <p>Delivered</p>
            </div>
            <div class="order-total">
              <span>TOTAL</span>
              <p>$20.50</p>
            </div>
            <div class="order-date">
              <i class="fas fa-credit-card"></i> 
              <p>March 3, 2019</p>
            </div>
            <div class="order-location">
              <i class="fas fa-map-marker-alt"></i> 
              <p>Auckland, New Zealand</p>
            </div>
          </div>
          <div class="billing-details">
            <div class="order-item">
              <p class="order-item-name">Trophy display stand</p>
              <p class="order-item-quantity">2 pcs</p>
              <p class="order-item-price">$11.00</p>
            </div>
            <div class="order-item">
              <p class="order-item-name">Watch case</p>
              <p class="order-item-quantity">1 pc</p>
              <p class="order-item-price">$9.50</p>
            </div>
            <div class="order-item-total">
              <p>Total</p>
              <h3>$20.50</h3>
            </div>
          </div>
          <div class="billing-show">
            <div class="billing-invoice">
              <a href="#">Print an invoice</a>
            </div>
            <div class="billing-arrow"></div>
            <div class="billing-contact">
              <a href="#">Contact us about this order</a>
            </div>
          </div>
        </div>
      </div>
      <div class="main-area" id="settings-area">
        <p>Settings</p>
      </div>
    </div>
  </div>

</body>

<script>
  const profileUploadPicture = async () => {
    const file = new FormData(document.querySelector("#profile-upload-form"));
    let data;
    try {
      data = (await axios.post("/profile/customer/update/picture", file))["data"];
    } catch (error) {
      console.log(error);
      return;
    }
    console.log(data);
  }
</script>

</html>