<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="./../../public/images/logo-icon.png" />
  <title>Signup • CreateBase</title>
  <!------------------ FONTS ------------------>
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap" rel="stylesheet" />
  <!------------------ ICONS ------------------>
  <script src="https://kit.fontawesome.com/b382730141.js" crossorigin="anonymous"></script>
  <!----------- DEFAULT JAVASCRIPTS ----------->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./../../public/javascripts/moment.js"></script>
  <!------------ CUSTOM JAVASCRIPTS ----------->
  <script src="./../../public/javascripts/nav.js"></script>
  <script src="./../../public/javascripts/signup.js"></script>
  <!---------------- STYLESHEET --------------->
  <link rel="stylesheet" href="./../../public/stylesheets/signup.css" />
</head>

<body onload="navInit(); signupInit();">
  <nav class="nav-container">
    <div class="nav-darken-overlay"></div>
    <div class="nav-top-bar">
      <button class="hamburger hamburger-spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <a href="/" class="nav-home-btn">
        <img src="./../../public/images/logo-icon.png" class="nav-logo" alt="CreateBase" />
      </a>
      <div class="nav-user-icon">
        <img src="./../../public/images/user-out-highlight.png" class="nav-user-hlt" alt="User" />
        <img src="./../../public/images/user-out.png" class="nav-user-reg" alt="User" />
        <img src="./../../public/images/user-x.png" class="nav-user-x" alt="User" />
      </div>
      <div class="nav-user-button">
        <a href="/login" class="nav-user-login">LOG IN</a>
        <a href="/signup" class="nav-user-signup">SIGN UP</a>
      </div>
    </div>
    <div class="nav-side-menus">
      <div class="nav-left-menu-wrap">
        <div class="nav-left-menu">
          <div class="nav-side-menu-links">
            <p class="nav-side-header">SERVICES</p>
            <a href="/services/3d-printing" class="nav-side-item">3D PRINTING</a>
            <a href="/services/marketplace" class="nav-side-item">MARKETPLACE</a>
            <div class="nav-sep"></div>
            <p class="nav-side-header">PRODUCTS</p>
            <a href="/products/engkits" class="nav-side-item">ENGINEERING KITS</a>
            <div class="nav-sep"></div>
            <p class="nav-side-header">CREATEBASE</p>
            <a href="/story" class="nav-side-item">OUR STORY</a>
            <a href="/team" class="nav-side-item">OUR TEAM</a>
          </div>
          <div class="nav-side-socials">
            <a href="https://www.facebook.com/" class="fab fa-facebook-square" target="_blank"></a>
            <a href="https://www.instagram.com/" class="fab fa-instagram" target="_blank"></a>
            <a href="https://twitter.com/" class="fab fa-twitter" target="_blank"></a>
            <a href="https://www.youtube.com/user/LouiiL" class="fab fa-youtube" target="_blank"></a>
          </div>
        </div>
      </div>
      <div class="nav-right-menu-out">
        <div class="nav-right-menu">
          <p class="nav-side-header">WELCOME BACK</p>
          <a href="/login" class="nav-side-item">LOG IN</a>
          <div class="nav-sep"></div>
          <p class="nav-side-header">FIRST TIME?</p>
          <a href="/signup" class="nav-side-item">SIGN UP</a>
        </div>
      </div>
      <div class="nav-right-menu-in">
        <div class="nav-right-menu">
          <p class="nav-side-header">PROJECTS</p>
          <a href="#" class="nav-side-item">MY PROJECTS</a>
          <div class="nav-sep"></div>
          <p class="nav-side-header">ACCOUNT</p>
          <a href="#" class="nav-side-item">MY PROFILE</a>
          <a href="#" class="nav-side-item">SETTINGS</a>
          <a href="/logout" class="nav-side-signout">SIGN OUT</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="main-page">
    <img src="./../../public/images/signup-desktop.png" class="signup-mobile-bg" alt="Theme">
    
    <div class="logo-anim-container">
      <div class="layer layer-1"></div>
      <div class="layer layer-2"></div>
      <div class="layer layer-3"></div>
    </div>
  
    <div class="signup-form-container">
      <form class="sign-up-form" action="/signup/customer" method="post" novalidate="novalidate">
        <p class="mini-caps-title" id="signup-title">CREATE <span>YOUR</span> BASE</p>
        <div class="sign-up-fld input-decor" id="signup-display">
          <input type="text" name="displayName" id="sign-up-dspl-name" required />
          <label class="input-label" for="displayName">Display Name</label>
          <label class="input-error" for="displayName">Name unavailable, please try again.</label>
        </div>
        <div class="sign-up-fld input-decor" id="signup-email">
          <input type="text" name="email" id="sign-up-eml" required />
          <label class="input-label" for="email">Email</label>
          <label class="input-error" for="displayName">Invalid email, please try again.</label>
        </div>
        <div class="sign-up-fld input-decor" id="enter-pass">
          <input type="password" name="password" id="sign-up-pwd" required />
          <label class="input-label" for="password">Password</label>
          <label class="input-error" for="displayName">Your password is too short, please try again.</label>
        </div>
        <div class="sign-up-fld input-decor" id="confirm-pass">
          <input type="password" name="confirm" id="sign-up-cfrm-pwd" required />
          <label class="input-label" for="confirm-password">Confirm Password</label>
          <label class="input-error" for="displayName">Passwords do not match, please try again.</label>
        </div>
        <div class="sign-up-fld" id="signup-submit">
          <a href="/" class="reg-btn" id="signup-btn">CREATE ACCOUNT</a>
        </div>
        <div class="message" id="signup-message">
          <p class="rmv-p-css">
            Already a member?
            <a class="rmv-link-css" href="/login">Log in</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</body>

</html>