<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="images/logo-icon.png">
    <title>Signup | Creaft</title>
    <!------------------------------ 
    Fonts 
    ------------------------------->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap" rel="stylesheet"> 
    <!------------------------------
    Default CSS
    ------------------------------->
    <link rel="stylesheet" href="stylesheets/signup.css" />
    <!------------------------------
    Default JavaScript
    ------------------------------->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!------------------------------
    Custom CSS / JavaScript
    ------------------------------->
    <link rel="stylesheet" href="stylesheets/login.css" />
    <script src="javascripts/login.js"></script>
  </head>

  <body onload="indexInit();">
    <div class="logo-anim">
      <div class="layer layer-1"></div>
      <div class="layer layer-2"></div>
      <div class="layer layer-3"></div>
    </div>
  </body>
</html>
