<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="./../../public/images/logo-icon.png" />
  <title>Our Team | CreateBase</title>
  <!------------------ FONTS ------------------>
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap" rel="stylesheet" />
  <!------------------ ICONS ------------------>
  <script src="https://kit.fontawesome.com/b382730141.js" crossorigin="anonymous"></script>
  <!----------- DEFAULT JAVASCRIPTS ----------->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./../../public/javascripts/moment.js"></script>
  <!------------ CUSTOM JAVASCRIPTS ----------->
  <script src="./../../public/javascripts/nav.js"></script>
  <!---------------- STYLESHEET --------------->
  <link rel="stylesheet" href="./../../public/stylesheets/team.css" />
</head>

<body onload="navInit();">
  <nav class="nav-container">
    <div class="nav-darken-overlay"></div>
    <div class="nav-top-bar">
      <button class="hamburger hamburger-spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <a href="/" class="nav-home-btn">
        <img src="./../../public/images/logo-icon.png" class="nav-logo" alt="CreateBase" />
      </a>
      <div class="nav-user-icon">
        <img src="./../../public/images/user-out-highlight.png" class="nav-user-hlt" alt="User" />
        <img src="./../../public/images/user-out.png" class="nav-user-reg" alt="User" />
        <img src="./../../public/images/user-x.png" class="nav-user-x" alt="User" />
      </div>
      <div class="nav-user-button">
        <a href="/login" class="nav-user-login">LOG IN</a>
        <a href="/signup" class="nav-user-signup">SIGN UP</a>
      </div>
    </div>
    <div class="nav-side-menus">
      <div class="nav-left-menu-wrap">
        <div class="nav-left-menu">
          <div class="nav-side-menu-links">
            <p class="nav-side-header">SERVICES</p>
            <a href="/printing" class="nav-side-item">3D PRINTING</a>
            <a href="/market" class="nav-side-item">MARKETPLACE</a>
            <div class="nav-sep"></div>
            <p class="nav-side-header">PRODUCTS</p>
            <a href="/engkits" class="nav-side-item">ENGINEERING KITS</a>
            <div class="nav-sep"></div>
            <p class="nav-side-header">CREATEBASE</p>
            <a href="/story" class="nav-side-item">OUR STORY</a>
            <a href="/team" class="nav-side-item">OUR TEAM</a>
          </div>
          <div class="nav-side-socials">
            <a href="https://www.facebook.com/" class="fab fa-facebook-square" target="_blank"></a>
            <a href="https://www.instagram.com/" class="fab fa-instagram" target="_blank"></a>
            <a href="https://twitter.com/" class="fab fa-twitter" target="_blank"></a>
            <a href="https://www.youtube.com/user/LouiiL" class="fab fa-youtube" target="_blank"></a>
          </div>
        </div>
      </div>
      <div class="nav-right-menu-out">
        <div class="nav-right-menu">
          <p class="nav-side-header">WELCOME BACK</p>
          <a href="/login" class="nav-side-item">LOG IN</a>
          <div class="nav-sep"></div>
          <p class="nav-side-header">FIRST TIME?</p>
          <a href="/signup" class="nav-side-item">SIGN UP</a>
        </div>
      </div>
      <div class="nav-right-menu-in">
        <div class="nav-right-menu">
          <p class="nav-side-header">PROJECTS</p>
          <a href="#" class="nav-side-item">MY PROJECTS</a>
          <div class="nav-sep"></div>
          <p class="nav-side-header">ACCOUNT</p>
          <a href="#" class="nav-side-item">MY PROFILE</a>
          <a href="#" class="nav-side-item">SETTINGS</a>
          <a href="/logout" class="nav-side-signout">SIGN OUT</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="main-page">
    
  </div>
</body>

</html>